<template>
  <div class="my-3" id="requests-view">

    <Loading v-if="showLoading" />

    <!-- <h4 class="color1 ml-4">TRANSACTION NUMBER: {{ $route.params.id }} {{ transactionStatus }}</h4> -->
    <!-- <center>
      <b-card style="width:700px;height:80px">
        <h3 class="color1">TRANSACTION NUMBER: {{ $route.params.id }}</h3>
      </b-card>
    </center> -->
    <div class="transaction">
      <div class="transaction__details">
        <!-- png/jpg file -->
        <div v-if="form.transaction_type == 'Unahco'">
          <b-img
            src="/unahco.png"
            style="width: 100%; max-width: 300px;"
            center
          ></b-img>
        </div>
        <div v-else>
          <b-img
            src="/weightslip.png"
            style="width: 60%; max-width:80%;"
            center
          ></b-img>
        </div>
        <!-- <p>TICKET NUMBER</p> -->
        <b-card
          style="background-color: #171717"
          body-text-variant="light"
          class="mt-2 card-shadow"
        >
          <h5>
            <!-- <b>{{ $route.params.id }} | {{ form.transaction_type }} </b> -->
            <b>{{ this.form.ticket_number }} | {{ form.transaction_type }} </b>
          </h5>
        </b-card>

        <div class="mt-4 h7 text-center" style="border-radius: 0.2rem;">
          <h6 style="font-size: 1.1em">Delivery Details</h6>
        </div>
        <div class="transaction__details__items">
          <div class="item mr-3">
            <span>
              <b>{{ form.raw_material }}</b>
            </span><br />
            <span style="font-size: 11px; color: green">Commodity</span>
          </div>
          <div class="item">
            <span>
              <b>{{ form.numBags }} {{ form.uom_ts }}</b>
            </span><br />
            <span style="font-size: 11px; color: green">Quantity</span>
          </div>
        </div>

        <div class="mt-4 h7 text-center" style="border-radius: 0.2rem;">
          <h6 style="font-size: 1.1em">Transaction Details</h6>
        </div>
        <div class="transaction__details__items">
          <div class="item mr-3">
            <span>
              <b>{{ form.driver_name }}</b> </span
            ><br />
            <hr />
            <span>
              <b>{{ form.plate_number }}</b> </span
            ><br />
            <span style="font-size: 11px; color: green">Driver Details</span>
          </div>
          <div class="item">
            <span>
              <b>{{ form.supplier_name }}</b> </span
            ><br />
            <hr />
            <span>
              <b>{{ form.supplier_add }}</b> </span
            ><br />
            <span style="font-size: 11px; color: green">Supplier Details</span>
          </div>
        </div>
      </div>

      <div class="transaction__scale">
        <div class="weight">
          <div id="weightTitle">
            <b></b>
          </div>
          <div id="inboundLabel">
            <div class="customTitle">
              <p>Inbound Transaction</p>
            </div>
            <span>{{ inboundWeightType }} Weight</span>
          </div>

          <div id="inboundWeight">
            <h4 class="digital__7">{{ inboundValue }}</h4>
          </div>

            <!-- <b-button v-if="transactionStatus === 'others'" @click="saveInbound">save</b-button> -->

          <div id="inboundUnit">
            <h4 class="digital">KGS</h4>
          </div>
          <button
            id="inboundLock"
            v-if="hideInboundLock == true"
            @click="inboundLockOrUnlock"
          >
            <div v-if="lockColor">
              <font-awesome-icon
                style="color: green; height: 1.6rem; width: 1.6rem"
                :icon="inboundLockAndUnlockIcon"
              />
            </div>
            <div v-else>
              <font-awesome-icon
                style="color: red; height: 1.6rem; width: 1.6rem"
                :icon="inboundLockAndUnlockIcon"
              />
            </div>
          </button>
          
          <div id="outboundLabel">
            <div class="customTitle">
              <p>Outbound Transaction</p>
            </div>
            <span>{{ outboundWeightType }} Weight</span>
          </div>
          <div id="outboundWeight">
            <h4 class="digital__7">{{ outboundValue }}</h4>
          </div>

          <div id="outboundUnit">
            <h4 class="digital">KGS</h4>
          </div>
          <button
          id="outboundLock"
            v-if="
              (hideOutboundLock == true &&
                transactionStatus == 'For Outbound') ||
                transactionStatus == 'Others'
            "
            variant="none"
            @click="outboundLockOrUnlock"
          >
            <div v-if="lockColor">
              <font-awesome-icon
              style="color: green; height: 1.6rem; width: 1.6rem"
                :icon="outboundLockAndUnlockIcon"
              />
            </div>
            <div v-else>
              <font-awesome-icon
                style="color: red; height: 1.6rem; width: 1.6rem"
                :icon="outboundLockAndUnlockIcon"
              />
            </div>
          </button>
          <!-- <b-button id="btnLogout" variant="none">
                  <font-awesome-icon
                    style="color: gray; height: 22px; width: 22px"
                    icon="unlock"
                  />
                </b-button> -->

          <hr id="totaline" />

          <div id="netLabel">
            <h4><b>NET WEIGHT</b></h4>
          </div>

          <div id="netWeight">
            <h4 class="digital__7">{{ netWeight }}</h4>
          </div>
          <!-- <b-button v-if="transactionStatus === 'others'" @click="saveOutbound">Save</b-button> -->
          <div id="netUnit">
            <h4 class="digital">KGS</h4>
          </div>
        </div>

        <div class="remarks">
          <center>
            <div v-if="transactionStatus == 'Completed'">
              <p>
                <b>Remarks:</b>
                <b-form-textarea
                  id="textarea"
                  v-model="remarks"
                  placeholder=" "
                  rows="3"
                  max-rows="6"
                  disabled
                ></b-form-textarea>
              </p>
            </div>
            <div v-else>
              <p>
                <b>Remarks:</b>
                <b-form-textarea
                  id="textarea"
                  v-model="remarks"
                  placeholder=" "
                  rows="3"
                  max-rows="6"
                  :maxlength="text_area_max_length"
                ></b-form-textarea>
                You have used {{ remarks ? remarks.length : 0 }} of
                {{ text_area_max_length }} characters
              </p>
            </div>
            <!-- #region VeryLongComment -->
            <!-- <div
                      v-if="
                        transactionStatus === 'For Outbound' ||
                          transactionStatus === 'Pending'
                      "
                    >
                      <b>Remarks:</b>
                      <div
                        v-if="
                          offlineModeData.inbound_weight != null &&
                            sub_type == 'Delivery'
                        "
                      >
                        <b-form-radio-group
                          id="radio-group-type"
                          v-model="remarks1"
                        >
                          <b-form-radio value="DELIVERED"
                            >Delivered</b-form-radio
                          >
                          <b-form-radio value="DIRECT DELIVERED"
                            >Direct Delivered</b-form-radio
                          >
                        </b-form-radio-group>
                      </div> -->

            <!-- <b-form-textarea
                        size="sm"
                        id="textarea"
                        v-model="remarks"
                        placeholder=" "
                        rows="6"
                        max-rows="6"
                        class="my-2"
                        :maxlength="text_area_max_length"
                        @keydown.enter.prevent
                      ></b-form-textarea> -->

            <!-- <b-form-textarea
                        id="textarea"
                        v-model="remarks"
                        placeholder=" "
                        rows="6"
                        max-rows="6"
                        class="my-2"
                        :maxlength="text_area_max_length"
                      ></b-form-textarea>
                      You have used {{ remarks ? remarks.length : 0 }} of
                      {{ text_area_max_length }} characters
                    </div> -->

            <!-- <div v-if="transactionStatus === 'Completed'">
                      <b>Remarks:</b>

                      <b-form-textarea
                        id="textarea"
                        v-model="offlineModeData.remarks"
                        placeholder=" "
                        rows="3"
                        max-rows="6"
                        class="my-2"
                        disabled
                      ></b-form-textarea>
                    </div> -->
            <!-- #endregion -->
          </center>
        </div>
        <div class="transBtn">
          
          <button
            @click="determineAction"
            variant="success"
            class="mr-2 transBtn__save"
            style="font-size: 14px"
            >{{ saveButton }}</button
          >
          <b-button
            href="/transaction"
            variant="danger"
            class="transBtn__cancel"
            style="font-size: 14px"
            >Cancel</b-button
          >
        </div>
      </div>
    </div>

    <b-modal
      id="transactionDoneConfirmationModal"
      no-close-on-backdrop
      hide-header-close
      header-bg-variant="success"
      header-text-variant="light"
    >
      <template v-slot:modal-title>
        <h5>Confirmation</h5>
      </template>
      <div>
        <h5>Lock this transaction?</h5>
        <h6>Note: Locking this transaction disables special case.</h6>
      </div>

      <template v-slot:modal-footer>
        <b-button
          id="save"
          size="sm"
          variant="success"
          class="greenBtn"
          style="font-size: 13px; border: 0px"
          @click="saveWeight(1)"
          >Yes</b-button
        >
        <b-button
          v-if="form.tracking_code && specialCase != 1"
          id="cancel"
          size="sm"
          class="greyBtn"
          style="font-size: 13px; border: 0px"
          @click="saveWeight(0)"
          >No</b-button
        >
        <b-button
          id="cancel"
          size="sm"
          class="greyBtn"
          style="font-size: 13px; border: 0px"
          @click="closeConfirmation"
          >Cancel</b-button
        >
      </template>
    </b-modal>

    <!-- <b-row
      v-if="
        form.transaction_type === 'Others' ||
          (form.transaction_type === 'Withdrawal' &&
            transactionStatus === 'completed')
      "
      align-h="end"
      class="fixed my-3"
    >
      <b-button
        href="/transaction"
        variant="danger"
        class="mr-2 my-2 block"
        style="font-size:14px"
      >Back</b-button>

      <b-button
        class="button1 block mr-4 my-2"
        @click="printWeightSlip()"
        style="font-size:14px"
      >Print Weight Slip</b-button>
    </b-row>-->

    <!-- <alert/> -->
    <!-- ALERT SUCCESSFUL -->
    <b-modal
      id="pin"
      no-close-on-backdrop
      hide-header-close
      header-bg-variant="success"
      header-text-variant="light"
    >
      <template v-slot:modal-title>
        <h4>Security Purpose</h4>
      </template>
      <div class="container1">
        <h5>Enter Your Pincode</h5>
        <div class="pinBox">
          <div></div>
          <div></div>
          <div></div>
          <div></div>
        </div>
          <input
            id="input-code"
            class="pinEntry"
            ref="pins"
            v-model="pincode"
            type="password"
            maxlength="4"
            name="pin"
            pattern="[0-9]{4}"
            @keyup.enter="confirmpin()"
          />
        <button v-b-tooltip.hover.right positioning="right" title="Clear Pincode" @click="clearPincode" class="clearPin mt-4">
          <i class="fa fa-trash-alt"></i>
        </button>
      </div>

      <template v-slot:modal-footer>
        <p class="pinError">{{ pinError }}</p>
        <b-button
          id="save"
          class="greenBtn"
          variant="success"
          @click="confirmpin()"
          style="font-size: 13px"
          >Save</b-button
        >
        <b-button
          id="cancel"
          class="greyBtn"
          @click="closePinModal()"
          style="font-size: 13px"
          >Cancel</b-button
        >
      </template>
    </b-modal>

    <!-- signature modal -->
    <b-modal
      id="signature"
      no-close-on-backdrop
      header-bg-variant="success"
      header-text-variant="light"
      size="xl"
      hide-header-close
    >
      <template v-slot:modal-title>
        <h4>Draw Signature</h4>
      </template>

      <div>
        <div class="col-12">
          <VueSignaturePad
            id="signature"
            width="100%"
            height="450px"
            ref="signaturePad"
            :options="{
              onBegin: () => {
                $refs.signaturePad.resizeCanvas();
              }
            }"
          />
        </div>
        <div class="col-3 mt-2">
          <b-button
            variant="dark"
            style="font-size: 13px;"
            @click="clear"
            >Undo</b-button
          >
        </div>
      </div>

      <template v-slot:modal-footer>
        <b-button
          id="rmaf-verify"
          class="greenBtn"
          variant="success"
          @click="addSignature()"
          style="font-size: 13px"
          >Save</b-button
        >
        <b-button
          id="rmaf-verify-cancel"
          class="greyBtn"
          @click="closeSignatureModal()"
          style="font-size: 13px;"
          >Cancel</b-button
        >
      </template>
    </b-modal>
    <!-- ALERT SUCCESSFULL -->
    <b-alert
      :show="showSuccess"
      dismissible
      fade
      class="button1 fixed"
      @dismiss-count-down="countDownChangedSuccess"
      ><font-awesome-icon icon="check-circle" /> {{ successMsg }}</b-alert
    >
    <b-alert
      id="alertdanger"
      :show="dismissCountDownErr"
      dismissible
      fade
      class="err fixed"
      @dismiss-count-down="countDownChangedErr"
      > <font-awesome-icon icon="times-circle" /> {{ errorMsg }}</b-alert
    >
  </div>
</template>

<script>
// import alert from "@/components/Alert/Successful";
import VueSignaturePad from "vue-signature-pad";
import axios from "axios";
import { tan } from "color-name";
import io from "socket.io-client";
import moment from "moment";
import Loading from "~/components/LoadingOverlay/Loadings.vue";

export default {
  components: {
    Loading,
    VueSignaturePad
  },
  // components: {
  //   alert
  // },
  async created() {
    // await this.getTruckInfos();
    // await this.getDrivers();
    this.showLoading = true;
    await this.getCOMport();
    await this.getTransaction();
    await this.determineTransaction();

    this.transaction_id = this.$route.params.id;

    this.getPrintLogsLocation();
    this.showLoading = false;
    //
  },
  middleware: "pageValidator",
  meta: {
    access: { right: "view transactions" }
  },
  computed: {
    netWeight() {
      if (
        this.commaSeparateToNum(this.inboundValue) &&
        this.commaSeparateToNum(this.outboundValue)
      ) {
        if (this.form.transaction_type.toLowerCase() === "withdrawal") {
          const net =
            this.commaSeparateToNum(this.outboundValue) -
            this.commaSeparateToNum(this.inboundValue);

          return this.commaSeparate(Math.abs(net.toFixed(3)));
        } else {
          const net =
            this.commaSeparateToNum(this.inboundValue) -
            this.commaSeparateToNum(this.outboundValue);

          return this.commaSeparate(Math.abs(net.toFixed(3)));
        }
      } else {
        return 0;
      }
    }
  },
  watch: {
    inboundValue() {
      if (
        this.transactionStatus.toLowerCase() == "for inbound" &&
        this.socket
      ) {
        this.socket.emit("log", {
          transaction_id: this.$route.params.id,
          value: this.inboundValue,
          type: this.transactionStatus
        });
      }
    },
    outboundValue() {
      if (
        this.transactionStatus.toLowerCase() == "for outbound" &&
        this.socket
      ) {
        this.socket.emit("log", {
          transaction_id: this.$route.params.id,
          value: this.outboundValue,
          type: this.transactionStatus
        });
      }
    }
  },

  data() {
    return {
      rmrsTransStatus: null,
      rmrsId: null,
      specialCase: null,
      fsqrTransactionId: null,

      text_area_max_length: 100,
      successMsg: null,
      saveButton: "Save", // text in save button
      showLoading: false,
      form: {
        plate_number: null,
        truck_model: null,
        driver_name: null,

        supplier_name: null,
        supplier_add: null,

        transaction_type: null,
        raw_material: null,
        plot_code: null
      },
      inboundWeightType: null,
      outboundWeightType: null,
      port: null,
      plateNumberList: [],
      driverList: [],
      transactionStatus: null,
      errorMsg: null,
      dismissCountDownErr: 0,
      showSuccess: 0,
      dismissSecs: 5,
      dismissCountDown: 0,
      showDismissibleAlert: false,
      inboundValue: 0,
      inboundBool: false, // on off receive data
      outboundBool: false, // on off receive data
      inboundCounter: 0, // determine to save data or not
      outboundCounter: 0, // determine to save data or not
      outboundValue: 0,
      weightValues: null,
      drivers_id: null,
      truck_info_id: null,
      signaturePath: null,
      remarks: null,
      pincode: null,
      pinError: null,
      trackingCode: null,
      socket: null,
      suppHeader: "Supplier Details",
      fsqrTrnsId: null,
      inboundLockAndUnlockIcon: "unlock",
      outboundLockAndUnlockIcon: "unlock",
      hideInboundLock: null,
      hideOutboundLock: null,
      company: null,
      transaction_id: null,
      printLocations: [],
      itemsWS: null,
      rawPrintIndex: 0, // for printing one by one
      defaultUom: "KILOGRAM",
      lockColor: false
    };
  },
  methods: {
    clearPincode(){
      this.pincode = ''
      document.getElementById("input-code").focus()
    },
    generateDataForPrinting() {
      this.itemsWS = {
        created_at: this.form.date_time,
        tracking_code: this.form.tracking_code
          ? this.form.tracking_code
          : "N/A",
        transaction_id: this.transaction_id,
        ticket_number: this.form.ticket_number,
        company: this.form.company,
        transaction_type: this.form.transaction_type,
        formatted_transaction_type: `${this.form.company} (${this.form.transaction_type})`,
        plate_number: this.form.plate_number,
        supplier: this.form.supplier_name,
        address: this.form.supplier_add,
        raw_material: this.form.raw_material,
        plot_code: this.form.plot_code,
        driver: this.form.driver_name,
        quantity: `${this.form.numBags} ${this.form.uom_ts}`,
        qty: [],
        uom: this.form.uom,
        uom_ts: this.form.uom_ts,
        dr_number: this.form.dr_number,
        status: this.transactionStatus,
        weight: [
          {
            ib: this.commaSeparateToNum(this.inboundValue),
            ib_remarks: "",
            ib_weigher: "",
            ib_date: this.form.ibdate,
            ib_time: this.form.ibtime,
            ob: this.commaSeparateToNum(this.outboundValue),
            net: this.commaSeparateToNum(this.netWeight),
            ob_remarks: this.remarks,
            ob_weigher: this.form.weigher
              ? this.form.weigher
              : localStorage.name,
            ob_date: this.form.obdate,
            ob_time: this.form.obtime,
            signature: this.form.obSign
          }
        ]
      };
    },
    getAcronym(location) {
      const str = location;
      const matches = str.match(/\b(\w)/g);
      const acronym = matches.join("");
      return acronym;
    },
    async getPrintLogsLocation() {
      try {
        // get print count and limit
        const res = await axios({
          method: "POST",
          url: `${this.$axios.defaults.baseURL}/print-logs/count`,
          data: {
            mode: 1,
            modules: JSON.parse(localStorage.modules),
            id: this.transaction_id
          },
          headers: {
            authorization: `B1SESSION=${localStorage.session}`
          }
        });

        const data = res.data.view[0].location;
        for (let i = 0; i < data.length; i++) {
          const e = data[i];
          const acronym = this.getAcronym(e.U_PRINT_LOC);
          if(e.U_TS_STATUS == "active" || e.U_TS_STATUS == "Active"){
            this.printLocations.push(acronym);
          }
        }
      } catch (e) {
        console.log("Error on getting print logs location: ", e);
      }
    },
    outboundLockOrUnlock() {
      if (this.outboundBool) {
        this.outboundLockAndUnlockIcon = "lock";
        this.lockColor = true;
      } else {
        this.outboundLockAndUnlockIcon = "unlock";
        this.lockColor = false;
      }

      this.outboundBool = !this.outboundBool;
    },
    inboundLockOrUnlock() {
      if (this.inboundBool) {
        this.inboundLockAndUnlockIcon = "lock";
        this.lockColor = true;
      } else {
        this.inboundLockAndUnlockIcon = "unlock";
        this.lockColor = false;
      }
      this.inboundBool = !this.inboundBool;
    },
    onOffReceiveInbound() {
      // this.inboundBool = !this.inboundBool;
      if (this.inboundCounter == 0) {
        this.inboundCounter = 1;
      } else {
        this.inboundCounter = 0;
      }
      return;
    },
    onOffReceiveOutbound() {
      // this.outboundBool = !this.outboundBool;
      if (this.outboundCounter == 0) {
        this.outboundCounter = 1;
      } else {
        this.outboundCounter = 0;
      }
      return;
    },
    countDownChangedErr(dismissCountDown) {
      this.dismissCountDownErr = dismissCountDown;
    },
    showAlertErr() {
      this.dismissCountDownErr = this.dismissSecs;
    },
    showSuccessAlert() {
      this.showSuccess = this.dismissSecs;
    },
    countDownChangedSuccess(showSuccess) {
      this.showSuccess = showSuccess;
    },
    toLowerCases(str) {
      return str.toLowerCase();
    },
    async determineAction() {
      if (this.transactionStatus.toLowerCase() == "for inbound") {
        if (this.inboundLockAndUnlockIcon == "lock" && !this.inboundBool) {
          this.onOffReceiveInbound();
          this.$bvModal.show("pin");
          setTimeout(() => {
            this.$refs.pins.focus();
          }, 500);
          return;
        } else {
          this.errorMsg = "Please lock first before saving.";
          return this.showAlertErr();
        }
      }
      if (this.transactionStatus.toLowerCase() == "second scale") {
        if (this.inboundLockAndUnlockIcon == "lock" && !this.inboundBool) {
          this.onOffReceiveInbound();
          this.$bvModal.show("pin");
          setTimeout(() => {
            this.$refs.pins.focus();
          }, 500);
          return;
        } else {
          this.errorMsg = "Please lock first before saving.";
          return this.showAlertErr();
        }
      }
      if (this.transactionStatus.toLowerCase() == "for outbound") {
        if (this.outboundLockAndUnlockIcon == "lock" && !this.outboundBool) {
          if (this.saveButton == "Print Weight Slip") {
            // print weight slip
            this.rawPrint();
          } else {
            if (this.form.transaction_type.toLowerCase() === "withdrawal" && parseInt(this.netWeight) < 0) {
            this.errorMsg = "Net weight must not have negative value";
            this.showAlertErr();
          } else if (this.form.transaction_type.toLowerCase() === "delivery" && parseInt(this.netWeight) < 0) {
            this.errorMsg = "Net weight must not have negative value";
            this.showAlertErr();
          } else {
            // show input pin
            this.onOffReceiveOutbound();
            this.$bvModal.show("pin");
            setTimeout(() => {
              this.$refs.pins.focus();
            }, 500);
              return;
          }
          }
        } else {
          this.errorMsg = "Please lock first before saving.";
          return this.showAlertErr();
        }
      }
      if (this.transactionStatus.toLowerCase() == "others") {
        if (this.inboundLockAndUnlockIcon == "lock" && !this.inboundBool) {
          this.onOffReceiveInbound();
          this.$bvModal.show("pin");
          setTimeout(() => {
            this.$refs.pins.focus();
          }, 500);
          return;
        } else {
          if (this.inboundBool) {
            this.errorMsg = "Please inbound lock first before saving.";
            return this.showAlertErr();
          }
        }
        if (this.outboundLockAndUnlockIcon == "lock" && !this.outboundBool) {
          this.onOffReceiveOutbound();
          this.$bvModal.show("pin");
          setTimeout(() => {
            this.$refs.pins.focus();
          }, 500);
          return;
        } else {
          if (this.outboundBool) {
            this.errorMsg = "Please outbound lock first before saving.";
            return this.showAlertErr();
          }
        }
      }

      if (this.transactionStatus.toLowerCase() == "rejected") {
        // if rejected
        this.errorMsg = "Outbound is not allowed.";
        this.showAlertErr();
        setTimeout(() => {
          this.$router.push("/transaction");
        }, 1000);
        return;
      }

      // if transaction type is others; then completed; print weight slip
      if (this.transactionStatus.toLowerCase() == "completed") {
        this.rawPrint();
      }
      return;
    },
    async closePinModal() {
      if (this.transactionStatus.toLowerCase() == "for inbound") {
        this.onOffReceiveInbound();
        this.pincode = null;
        this.$bvModal.hide("pin");
        return;
      }
      if (this.transactionStatus.toLowerCase() == "for outbound") {
        this.onOffReceiveOutbound();
        this.pincode = null;
        this.$bvModal.hide("pin");
        return;
      }
      if (this.transactionStatus.toLowerCase() == "others") {
        if (this.inboundBool == false && this.inboundCounter == 1) {
          this.onOffReceiveInbound();
          this.pincode = null;
          this.$bvModal.hide("pin");
          return;
        }
        if (this.outboundBool == false && this.outboundCounter == 1) {
          this.onOffReceiveOutbound();
          this.pincode = null;
          this.$bvModal.hide("pin");
          return;
        }
      }
    },
    closeConfirmation() {
      this.$bvModal.hide("transactionDoneConfirmationModal");
      this.$bvModal.hide("signature");
    },
    async confirmpin() {
      try {
        this.showLoading = true;

        const res = await axios({
          method: "POST",
          url: `${this.$axios.defaults.baseURL}/users/check-pin`,
          data: {
            id: localStorage.id,
            pin: this.pincode,
            mode: localStorage.mode
          },
          headers: {
            authorization: `B1SESSION=${localStorage.session}`
          }
        });
        this.showLoading = false;

        if (res.status === 200) {
          try {
            if (this.form.transaction_type.toLowerCase() == "others") {
              if (!this.outboundBool && this.outboundCounter == 0) {
                await this.saveWeight();
                return;
              }
              if (!this.outboundBool && this.outboundCounter == 1) {
                this.$bvModal.hide("pin");
                this.$bvModal.show("signature");
                return;
              }
            }

            if (
              this.form.transaction_type.toLowerCase() == "delivery" ||
              this.form.transaction_type.toLowerCase() == "withdrawal"
            ) {
              if (this.transactionStatus.toLowerCase() != "for outbound") {
                await this.saveWeight();
              } else {
                this.$bvModal.show("signature");
              }
            }

            this.pincode = null;
            this.$bvModal.hide("pin");
          } catch (e) {
            console.log("Error: ", e);
            const err = JSON.parse(e.response.data.error);
            this.errorMsg = err.msg;
            this.showAlertErr();
          }
        }
      } catch (er) {
        this.showLoading = false;
        this.pinError = er.response.data.error;
        setTimeout(() => {
          this.pinError = null;
        }, 2000);
      }
    },
    async addSignature() {
      this.showLoading = true;

      const employeeId = localStorage.id;

      function srcToFile(src, fileName, mimeType) {
        return fetch(src)
          .then(function(res) {
            return res.arrayBuffer();
          })
          .then(function(buf) {
            return new File([buf], fileName, { type: mimeType });
          });
      }

      const data = this.$refs.signaturePad.saveSignature();

      if (data.data) {
        const image = new Image();
        image.src = data.data;
        // const fileName =
        //   moment().format("YYYY-MM-DD_HHmmss") + "_" + employeeId;

        const time = moment().format("YYYY-MM-DD_HHmmss");
        const fileName = `${time}-${employeeId}.png`;
        const url = this.$axios.defaults.baseURL;
        const path = await srcToFile(image.src, fileName, "image/png").then(
          async function(file) {
            var fd = new FormData();
            fd.append("image", file, file.name);
            fd.append("mode", localStorage.mode);

            const res = await axios.post(`${url}/files/uploads`, fd, {
              headers: { Authorization: `B1SESSION=${localStorage.session}` }
            });

            const path = res.data.imagePath;

            return path;
          }
        );

        this.signaturePath = path;
        this.showLoading = false;

        // for non others printing
        this.form.obSign = path;

        if (this.form.transaction_type.toLowerCase() !== "others")
          this.$bvModal.show("transactionDoneConfirmationModal");
        else {
          // if others
          await this.saveWeight();
        }

        // update status to outbound; withdrawal only and for outbound;
        if (
          this.transactionStatus.toLowerCase() == "for outbound" &&
          this.form.transaction_type.toLowerCase() == "withdrawal"
        ) {
          const fsqr = async () => {
            const req = await axios({
              method: "POST",
              url: `${process.env.fsqrURL}/transactions/transactions/change-status`,
              data: {
                trnsId: this.fsqrTrnsId,
                status: "for outbound"
              },
              headers: {
                authorization: "Bearer "
              }
            });

            return req;
          };

          // request 5 times til success;
          let counter = 5;
          let req = null;

          while (counter !== 0) {
            req = await fsqr();

            if (req.status !== 200) req = await fsqr();
            else {
              counter = 0;
              break;
            }
          }
        }
      } else {
        this.showLoading = false;
        this.errorMsg = "Please draw your signature.";
        this.showAlertErr();
      }
    },
    closeSignatureModal() {
      if (this.transactionStatus.toLowerCase() == "for inbound") {
        this.onOffReceiveInbound();
        this.pincode = null;
        this.$bvModal.hide("signature");
        return;
      }
      if (this.transactionStatus.toLowerCase() == "for outbound") {
        this.onOffReceiveOutbound();
        this.pincode = null;
        this.$bvModal.hide("signature");
        return;
      }
      if (this.transactionStatus.toLowerCase() == "others") {
        if (this.inboundBool == false && this.inboundCounter == 1) {
          this.onOffReceiveInbound();
          this.pincode = null;
          this.$bvModal.hide("signature");
          return;
        }
        if (this.outboundBool == false && this.outboundCounter == 1) {
          this.onOffReceiveOutbound();
          this.pincode = null;
          this.$bvModal.hide("signature");
          return;
        }
      }
    },
    clear() {
      this.$refs.signaturePad.undoSignature();
    },
    convertCase(str) {
      if (str) {
        const splitStr = str.toLowerCase().split(" ");
        for (let i = 0; i < splitStr.length; i++) {
          splitStr[i] =
            splitStr[i].charAt(0).toUpperCase() + splitStr[i].substring(1);
        }
        return splitStr.join(" ");
      } else {
        return str;
      }
    },
    unachoOrNot(str) {
      // check if transaction is unacho or not
      let bool = false;

      const s = str.split("-");

      const businessEntity = s[0];

      if (businessEntity.toLowerCase() == "unc") {
        bool = true;
      }
      return bool;
    },
    async rawPrint() {
      try {
        if (localStorage.mode == 1) {
          // add print logs; and raw printing
          this.showLoading = true;
          // generate data
          await this.generateDataForPrinting();
          console.log(this.itemsWS, "DETAILS");

          // print one by one
          if (this.rawPrintIndex < this.printLocations.length) {
            // insert to print logs and print
            await axios({
              method: "POST",
              url: `${this.$axios.defaults.baseURL}/print-logs/add`,
              data: {
                mode: localStorage.mode,
                modules: JSON.parse(localStorage.modules),
                transaction_id: this.transaction_id,
                employee_id: localStorage.id,
                acronym: this.printLocations[this.rawPrintIndex],
                item: this.itemsWS,
                printCounts: 0
              },
              headers: {
                authorization: `B1SESSION=${localStorage.session}`
              }
            });
            // end raw print
            this.rawPrintIndex++; // increment
          }

          this.showLoading = false;
          this.successMsg = "Transaction Printed!";
          this.showSuccessAlert();
        } else {
          // offline
        }
      } catch (e) {
        this.showLoading = false;

        console.log("Error on print weight slip: ", e);
      }
    },
    printWeightSlip() {
      // compute net weight
      //     const net =
      //       parseFloat(this.commaSeparateToNum(this.inboundValue)) -
      //       parseFloat(this.commaSeparateToNum(this.outboundValue));
      //     const netWeight = net.toFixed(2); // round off two decimal places

      //     var mywindow = window.open("", "PRINT", "height=600,width=1000");

      //     mywindow.document.write("<html><head><title> </title>");
      //     mywindow.document.write(
      //       '<link href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/css/bootstrap.min.css" rel="stylesheet">'
      //     );
      //     mywindow.document.write("</head><body>");
      //     //content
      //     mywindow.document.write(`
      //  <div class="col-4 border border-dark" style="border:10px;">

      //               <h1>Weight Slip</h1>
      //               <p>Ticket No: ${this.$route.params.id}</p>
      //               <p>Customer: N/A</p>
      //               <p>Address: N/A</p>
      //               <p>Commodity: N/A</p>
      //               <p>Plate #: ${this.form.plate_number}</p>
      //               <p>Driver: ${this.form.driver_name}</p>
      //               <p>Weigher: </p>
      //               <p>No. of Bags: N/A</p>
      //               <p>Inbound Wt kg: ${this.inboundValue}</p>
      //               <p>&nbsp;Date Taken: </p>
      //               <p>Outbound Wt kg: ${this.outboundValue}</p>
      //               <p>&nbsp;Date Taken: </p>
      //               <p>Net Wt kg: ${netWeight}</p>

      //   </div>

      //   `);

      //     mywindow.document.write("</body></html>");

      //     mywindow.document.close(); // necessary for IE >= 10
      //     mywindow.focus(); // necessary for IE >= 10*/

      //     mywindow.print();
      //     mywindow.close();

      // ########
      const ttype = this.form.transaction_type;
      var mywindow = window.open("", "PRINT", "height=600,width=1000");
      mywindow.document.write("<html><head><title> </title>");
      mywindow.document.write(
        '<link href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/css/bootstrap.min.css" rel="stylesheet">'
      );
      mywindow.document.write("</head><body>");

      if (this.trackingCode) {
        // if there is tracking code; determine whether unacho or not
        const isUnacho = this.unachoOrNot(this.trackingCode);

        //content
        if (!isUnacho) {
          // not unacho
          const net =
            this.commaSeparateToNum(this.inboundValue) -
            this.commaSeparateToNum(this.outboundValue);
          mywindow.document.write(`
   <div class="col-4 border border-dark" style="border:10px;">
                <img src="/weightslip.png"  width="300" height="130">
                <center><h4>Weight Slip</h4></center>
                <hr>
                <p>Ticket No: ${this.$route.params.id}</p>
                <p>Supplier Code: ${
                  this.trackingCode ? this.trackingCode : ""
                }</p>
                <p>Customer: ${
                  this.form.supplier_name
                    ? this.convertCase(this.form.supplier_name)
                    : ""
                }</p>
                <p>Address: ${
                  this.form.supplier_add
                    ? this.convertCase(this.form.supplier_add)
                    : ""
                }</p>
                <p>Commodity: ${
                  this.form.raw_material
                    ? this.convertCase(this.form.raw_material)
                    : ""
                }</p>
                <p>Plate # : ${
                  this.form.plate_number
                    ? this.form.plate_number.toUpperCase()
                    : ""
                }</p>
                <p>Driver: ${
                  this.form.driver_name
                    ? this.convertCase(this.form.driver_name)
                    : ""
                }</p>
                <p>No. of Bags: ${this.form.numBags}</p>
                <p>&nbsp;&nbsp;Inbound Wt kg: ${this.inboundValue}</p>
                <p>&nbsp;&nbsp;&nbsp;Date: ${this.form.ibdate} </p>
                <p>&nbsp;&nbsp;Outbound Wt kg: ${this.outboundValue}</p>
                <p>&nbsp;&nbsp;&nbsp;Date: ${this.form.obdate}</p>
                <p>&nbsp;&nbsp; Net Weight: <b>${this.commaSeparate(
                  net.toFixed(3)
                )}</b></p>
                  <center><img src="${this.$axios.defaults.baseURL}${
            this.form.obSign
          }" alt="Trulli" width="300" height="100">
                <p>Outbound Weigher: ${this.form.weigher}</p> </center>

          <br>
    </div>


    `);

          mywindow.document.write("</body></html>");
          mywindow.document.addEventListener(
            "load",
            function() {
              mywindow.focus();
            },
            true
          );
        } else {
          // unacho
          const net =
            this.commaSeparateToNum(this.inboundValue) -
            this.commaSeparateToNum(this.outboundValue);
          mywindow.document.write(`
   <div class="col-4 border border-dark" style="border:10px;">
                <img src="/unacho.jpg"  width="300" height="130">
                <center><h4>Weight Slip</h4></center>
                <hr>
                <p>Ticket No: ${this.$route.params.id}</p>
                <p>Supplier Code: ${
                  this.trackingCode ? this.trackingCode : ""
                }</p>
                <p>Customer: ${
                  this.form.supplier_name
                    ? this.convertCase(this.form.supplier_name)
                    : ""
                }</p>
                <p>Address: ${
                  this.form.supplier_add
                    ? this.convertCase(this.form.supplier_add)
                    : ""
                }</p>
                <p>Commodity: ${
                  this.form.raw_material
                    ? this.convertCase(this.form.raw_material)
                    : ""
                }</p>
                <p>Plate # : ${
                  this.form.plate_number
                    ? this.form.plate_number.toUpperCase()
                    : ""
                }</p>
                <p>Driver: ${
                  this.form.driver_name
                    ? this.convertCase(this.form.driver_name)
                    : ""
                }</p>
                <p>No. of Bags: ${this.form.numBags}</p>
                <p>&nbsp;&nbsp;Inbound Wt kg: ${this.inboundValue}</p>
                <p>&nbsp;&nbsp;&nbsp;Date: ${this.form.ibdate} </p>
                <p>&nbsp;&nbsp;Outbound Wt kg: ${this.outboundValue}</p>
                <p>&nbsp;&nbsp;&nbsp;Date: ${this.form.obdate}</p>
                <p>&nbsp;&nbsp; Net Weight: <b>${this.commaSeparate(
                  net.toFixed(3)
                )}</b></p>
                  <center><img src="${this.$axios.defaults.baseURL}${
            this.form.obSign
          }" alt="Trulli" width="300" height="100">
                <p>Outbound Weigher: ${this.form.weigher}</p> </center>

          <br>
    </div>


    `);

          mywindow.document.write("</body></html>");
          mywindow.document.addEventListener(
            "load",
            function() {
              mywindow.focus();
            },
            true
          );
        }
      } else {
        // no tracking code
        // not unacho
        const net =
          this.commaSeparateToNum(this.inboundValue) -
          this.commaSeparateToNum(this.outboundValue);
        mywindow.document.write(`
   <div class="col-4 border border-dark" style="border:10px;">
                <img src="/weightslip.png"  width="300" height="130">
                <center><h4>Weight Slip</h4></center>
                <hr>
                <p>Ticket No: ${this.$route.params.id}</p>
                <p>Supplier Code: ${
                  this.trackingCode ? this.trackingCode : ""
                }</p>
                <p>Customer: ${
                  this.form.supplier_name
                    ? this.convertCase(this.form.supplier_name)
                    : ""
                }</p>
                <p>Address: ${
                  this.form.supplier_add
                    ? this.convertCase(this.form.supplier_add)
                    : ""
                }</p>
                <p>Commodity: ${
                  this.form.raw_material
                    ? this.convertCase(this.form.raw_material)
                    : ""
                }</p>
                <p>Plate # : ${
                  this.form.plate_number
                    ? this.form.plate_number.toUpperCase()
                    : ""
                }</p>
                <p>Driver: ${
                  this.form.driver_name
                    ? this.convertCase(this.form.driver_name)
                    : ""
                }</p>
                <p>No. of Bags: ${this.form.numBags}</p>
                <p>&nbsp;&nbsp;Inbound Wt kg: ${this.inboundValue}</p>
                <p>&nbsp;&nbsp;&nbsp;Date: ${this.form.ibdate} </p>
                <p>&nbsp;&nbsp;Outbound Wt kg: ${this.outboundValue}</p>
                <p>&nbsp;&nbsp;&nbsp;Date: ${this.form.obdate}</p>
                <p>&nbsp;&nbsp; Net Weight: <b>${this.commaSeparate(
                  net.toFixed(3)
                )}</b></p>
                  <center><img src="${this.$axios.defaults.baseURL}${
          this.form.obSign
        }" alt="Trulli" width="300" height="100">
                <p>Outbound Weigher: ${this.form.weigher}</p> </center>

          <br>
    </div>


    `);

        mywindow.document.write("</body></html>");
        mywindow.document.addEventListener(
          "load",
          function() {
            mywindow.focus();
          },
          true
        );
      }
    },
    countDownChanged(dismissCountDown) {
      this.dismissCountDown = dismissCountDown;
    },
    showAlert() {
      this.dismissCountDown = this.dismissSecs;
    },

    onFiltered(filteredItems) {
      // Trigger pagination to update the number of buttons/pages due to filtering
      this.totalRows = filteredItems.length;
      this.currentPage = 1;
    },
    async getTransaction() {
      try {
        if (localStorage.mode == 1) {
          this.showLoading = true;
          const res = await axios({
            method: "POST",
            url: `${this.$axios.defaults.baseURL}/transactions/select`,
            data: {
              id: this.$route.params.id,
              mode: localStorage.mode,
              modules: JSON.parse(localStorage.modules)
            },
            headers: {
              authorization: `B1SESSION=${localStorage.session}`
            }
          });
          // console.log(res, "transa");
          if (res.status == 200) {
            this.specialCase = res.data.view.transactionDetails.specialCase
            // transaction details
            // format delivery
            this.rmrsId = res.data.view.transactionDetails.rmrsId

            if (res.data.view.transactionType) {
              const transactionType = res.data.view.transactionType;
              const tType = transactionType.toLowerCase();
              const status = res.data.view.transactionDetails.U_TS_STATUS.toLowerCase();
              this.transactionStatus = this.convertCase(status);

              if (tType == "delivery") {
                if (status == "completed") {
                  // nothing; coz change status to outbound when re-scan
                  this.$router.push(`/transaction`);
                } else {
                  // inbound or outbound
                  console.log(
                    res.data.view.transactionDetails,
                    "TANSACTION DETT"
                  );
                  console.log(res.data.view, "TANSACTION DETT");
                  if (res.data.view.transactionDetails) {
                    const supplierInfo = res.data.view.transactionDetails;
                    const itemInfo = res.data.view.transactionDetails;

                    this.form.supplier_name = supplierInfo.U_TS_SUPPLIER;
                    this.form.supplier_add = supplierInfo.U_TS_SUPPLIER_ADD;
                    this.form.raw_material = itemInfo.U_TS_ITEMNAME;
                    this.form.dr_number = itemInfo.U_TS_DRNUMBER;
                    this.form.plot_code = itemInfo.U_TS_PLOT_CODE;
                    // this.defaultUom = itemInfo.U_UOM;
                    // this.form.ibdate = itemInfo.BFI_TS_IBTRNCollection[0].U_TS_CREATEDATE;
                    // this.form.obdate = itemInfo.BFI_TS_OBTRNCollection[0].U_TS_CREATEDATE;
                    // this.form.ibtime = itemInfo.BFI_TS_IBTRNCollection[0].U_TS_CREATETIME;
                    // this.form.obtime = itemInfo.BFI_TS_OBTRNCollection[0].U_TS_CREATETIME;

                    this.form.ticket_number = itemInfo.U_TS_TICKETNUMBER;
                  }
                  // if (res.data.view.items) {
                  //   const items = res.data.view.items;

                  //   console.log(res.data.views);

                  //   this.form.raw_material = items;
                  // }
                  this.form.transaction_type = this.convertCase(tType);
                  const truckInfo = res.data.view.truckInfoDetails[0];
                  const driverInfo = res.data.view.driverDetails[0];

                  this.form.plate_number = truckInfo.U_BFI_TS_TRINFO.U_TS_PLATE_NUM.toUpperCase();

                  this.form.truck_model = this.convertCase(
                    truckInfo.U_BFI_TS_TRTYPE.U_TS_TRMODEL
                  );
                  this.form.driver_name = this.convertCase(
                    `${driverInfo.U_TS_LN}, ${driverInfo.U_TS_FN}`
                  );

                  this.drivers_id = driverInfo.Code;

                  this.truck_info_id = truckInfo.U_BFI_TS_TRINFO.Code;


                  // inbound details
                  const ib = res.data.view.inboundDetails[0];

                  // outbound details
                  const ob = res.data.view.outboundDetails[0];
                  // ##

                  this.form.ibtime = this.timeStringToFloat(
                    res.data.view.transactionDetails.BFI_TS_IBTRNCollection[0]
                      .U_TS_UPDATETIME
                  );

                  this.form.obtime = this.timeStringToFloat(
                    res.data.view.transactionDetails.BFI_TS_OBTRNCollection[0]
                      .U_TS_UPDATETIME
                  );

                  this.inboundWeightType = this.convertCase(ib.U_TS_WEIGHT);
                  this.outboundWeightType = this.convertCase(ob.U_TS_WEIGHT);

                  const inbound =
                    res.data.view.transactionDetails.BFI_TS_IBTRNCollection;
                  this.inboundNo = inbound.length

                  const outbound =
                    res.data.view.transactionDetails.BFI_TS_OBTRNCollection;

                  const ib_data = inbound[inbound.length - 1];
                  const ob_data = outbound[outbound.length - 1];

                  // if(status == "second scale"){
                  //   this.inboundValue = 0;
                  // }else{
                  //   this.inboundValue = this.commaSeparate(
                  //     ib_data.U_TS_IB_WEIGHT
                  //   );
                  // }
                  this.inboundValue = this.commaSeparate(
                    ib_data.U_TS_IB_WEIGHT
                  );
                  this.outboundValue = this.commaSeparate(
                    ob_data.U_TS_OB_WEIGHT
                  );

                  // get number of bags; if null default 0
                  this.form.numBags = res.data.view.transactionDetails
                    ? `${res.data.view.transactionDetails.U_TS_NUM_BAGS ? res.data.view.transactionDetails.U_TS_NUM_BAGS : 0}`
                    : "";
                  // res.data.view.transactionDetails
                    // .res.data.view.transactionDetailsres.data.view.transactionDetails
                    // ? res.data.view.transactionDetails.U_TS_NUM_BAGS
                    // : 0;

                  // get number of bags; if null default 0
                  this.form.uom = res.data.view.transactionDetails.U_UOM
                    ? res.data.view.transactionDetails.U_UOM
                    : "";

                  // get number of bags; if null default 0
                  this.form.uom_ts = res.data.view.transactionDetails.U_UOM_TS
                    ? res.data.view.transactionDetails.U_UOM_TS
                    : "";

                  // get number of bags; if null default 0
                  this.form.tracking_code = res.data.view.transactionDetails
                    .U_TS_TRCK_CODE
                    ? res.data.view.transactionDetails.U_TS_TRCK_CODE
                    : "";

                  // show inbound remarks;
                  this.remarks = ib_data.U_TS_REMARKS;

                  // get company of transaction
                  this.company = res.data.view.transactionDetails.U_COMPANY
                    ? this.convertCase(
                        res.data.view.transactionDetails.U_COMPANY
                      )
                    : "N/A";

                  if(res.data.view.transactionDetails.U_TS_TRCK_CODE != null){
                  const fsqrResponse = await axios({
                    method: "POST",
                    url: `${process.env.fsqrURL}/transactions/transactions/find_transaction`,
                    data: {
                      employee_id: "truck_scale",
                      supplier_code:
                        res.data.view.transactionDetails.U_TS_TRCK_CODE,
                      getWeight: true
                    },
                    headers: {
                      authorization: "Bearer "
                    }
                  });

                  this.fsqrTransactionId = fsqrResponse.data.transactions[0].id;
                  this.fsqrCompany = fsqrResponse.data.transactions[0].company;
                  }

                  this.showLoading = false;
                }
              }
              if (tType == "withdrawal") {
                // get data in SO;
                console.log(res.data.view.so, "SOO");
                if (res.data.view.so) {
                  console.log("SO SCAN DATA");
                  const soInfo = res.data.view.so[0];

                  this.form.supplier_name = soInfo.supplier;
                  this.form.supplier_add = soInfo.address;
                  //  this.form.ticket_number = soinfo.U_TS_TICKETNUMBER;
                  this.form.raw_material = soInfo.item;

                  // get number of bags; if null default 0
                  this.form.numBags = soInfo
                    ? `${soInfo.qty ? soInfo.qty : 0}`
                    : "";
                  this.form.uom_ts = soInfo
                    ? `${soInfo.uom ? soInfo.uom : ""}`
                    : "";
                }
                // wee
                console.log(res.data.view.transactionDetails, "TRANSDETAILS");
                if (res.data.view.transactionDetails) {
                  const info = res.data.view.transactionDetails;
                  this.company = info.U_COMPANY;
                  this.form.supplier_name = info.U_TS_SUPPLIER;
                  this.form.supplier_add = info.U_TS_SUPPLIER_ADD;
                  this.form.ticket_number = info.U_TS_TICKETNUMBER;
                  this.form.raw_material = info.U_TS_ITEMNAME;
                  this.form.uom_ts = info.U_UOM_TS;
                  this.form.tracking_code = info.U_TS_TRCK_CODE;
                  // this.form.dr_number = info.U_TS_DRNUMBER;
                  // ##

                  this.form.ibtime = this.timeStringToFloat(
                    res.data.view.transactionDetails.BFI_TS_IBTRNCollection[0]
                      .U_TS_UPDATETIME
                  );

                  this.form.obtime = this.timeStringToFloat(
                    res.data.view.transactionDetails.BFI_TS_OBTRNCollection[0]
                      .U_TS_UPDATETIME
                  );
                  // this.defaultUom = info.U_UOM;
                  // this.form.uom = info.U_UOM;
                  // this.form.ibdate = info.BFI_TS_IBTRNCollection[0].U_TS_CREATEDATE;
                  //   this.form.obdate = info.BFI_TS_OBTRNCollection[0].U_TS_CREATEDATE;
                  //   this.form.ibtime = info.BFI_TS_IBTRNCollection[0].U_TS_CREATETIME;
                  //   this.form.obtime = info.BFI_TS_OBTRNCollection[0].U_TS_CREATETIME;
                  // get number of bags; if null default 0
                  this.form.numBags = info
                    ? `${info.U_TS_NUM_BAGS ? info.U_TS_NUM_BAGS : 0}`
                    : "";
                   this.form.uom_ts = info ? `${
                        info.U_UOM_TS ? info.U_UOM_TS : ""}`
                    : "";
                }

                // get data in SO;
                //  console.log(res.data.view.so, "SO02")
                if (res.data.view.so) {
                  console.log("SO SCAN DATA 222");
                  const soInfo = res.data.view.so[0];

                  this.form.supplier_name = soInfo.supplier;
                  this.form.supplier_add = soInfo.address;

                  this.form.raw_material = soInfo.item;
                }
                if(res.data.view.transactionDetails.U_TS_TRCK_CODE != null){
                  const a = res.data.view.transactionDetails.U_TS_TRCK_CODE;
                  // console.log(a, "TRACK CODE")
                  const str = a.slice(0, 3);

                  if (str == "FMP") {
                    const fsqrResponse = await axios({
                      method: "POST",
                      url: `${process.env.fsqrURL}/transactions/transactions/find_transaction`,
                      data: {
                        employee_id: "truck_scale",
                        supplier_code:
                          res.data.view.transactionDetails.U_TS_TRCK_CODE,
                        getWeight: true
                      },
                      headers: {
                        authorization: "Bearer "
                      }
                    });
                    const info = res.data.view.transactionDetails;
                    const response = fsqrResponse.data.transactions;
                    console.log(response[0], "TEST FMP");
                    const receipt = response[0].delivery_receipt[0];
                    // console.log(receipt, "REC")
                    this.form.ticket_number = info.U_TS_TICKETNUMBER;
                    this.form.tracking_code = info.U_TS_TRCK_CODE;
                    // this.form.dr_number = itemInfo.U_TS_DRNUMBER;
                    this.form.supplier_name = response[0].customer;
                    this.form.supplier_add = response[0].customerAddress;
                    this.form.raw_material = response[0].item;
                    this.form.uom_ts = receipt.unit;
                    this.form.uom = receipt.unit;
                  }
                }
                this.suppHeader = "Customer Details"; // change header of b-card

                this.form.transaction_type = this.convertCase(tType);
                const truckInfo = res.data.view.truckInfoDetails[0];
                const driverInfo = res.data.view.driverDetails[0];

                this.form.plate_number = truckInfo.U_BFI_TS_TRINFO.U_TS_PLATE_NUM.toUpperCase();
                this.form.truck_model = this.convertCase(
                  truckInfo.U_BFI_TS_TRTYPE.U_TS_TRMODEL
                );
                this.form.driver_name = this.convertCase(
                  `${driverInfo.U_TS_LN}, ${driverInfo.U_TS_FN}`
                );

                this.drivers_id = driverInfo.Code;

                this.truck_info_id = truckInfo.U_BFI_TS_TRINFO.Code;

                // inbound details
                const ib = res.data.view.inboundDetails[0];

                // outbound details
                const ob = res.data.view.outboundDetails[0];
                // ##

                this.form.ibtime = this.timeStringToFloat(
                  res.data.view.transactionDetails.BFI_TS_IBTRNCollection[0]
                    .U_TS_UPDATETIME
                );

                this.form.obtime = this.timeStringToFloat(
                  res.data.view.transactionDetails.BFI_TS_OBTRNCollection[0]
                    .U_TS_UPDATETIME
                );
                // opposite to delivery; just for displaying
                this.inboundWeightType = this.convertCase(ob.U_TS_WEIGHT);
                this.outboundWeightType = this.convertCase(ib.U_TS_WEIGHT);

                const inbound =
                  res.data.view.transactionDetails.BFI_TS_IBTRNCollection;

                const outbound =
                  res.data.view.transactionDetails.BFI_TS_OBTRNCollection;

                const ib_data = inbound[inbound.length - 1];
                const ob_data = outbound[outbound.length - 1];

                this.inboundValue = this.commaSeparate(ib_data.U_TS_IB_WEIGHT);
                this.outboundValue = this.commaSeparate(ob_data.U_TS_OB_WEIGHT);

                // show inbound remarks;
                this.remarks = ib_data.U_TS_REMARKS;

                // get data to update status to outbound in FSQR transaction
                if(res.data.view.transactionDetails.U_TS_TRCK_CODE != null){
                if (this.transactionStatus.toLowerCase() == "for outbound") {
                  const code = res.data.view.transactionDetails.U_TS_TRCK_CODE; // supplier code from FSQR
                  // select transaction
                  const fsqr = async () => {
                    const req = await axios({
                      method: "POST",
                      url: `${process.env.fsqrURL}/transactions/transactions/find_transaction`,
                      data: {
                        employee_id: "truck_scale",
                        supplier_code: code,
                        getWeight: true
                      },
                      headers: {
                        authorization: "Bearer "
                      }
                    });

                    return req;
                  };

                  // request 5 times til success;
                  let counter = 5;
                  let req = null;

                  while (counter !== 0) {
                    req = await fsqr();

                    if (req.status !== 200) req = await fsqr();
                    else {
                      counter = 0;
                      break;
                    }
                  }

                  // if request unsuccessfull
                  if (!req) {
                    this.errorMsg =
                      "Failed to retrieve FSQR data, please refresh page.";
                    return this.showAlertErr();
                  }

                  this.fsqrTrnsId = req.data.transactions[0].id;
                }
                }
                else {
                  this.fsqrTrnsId = this.$route.params.id;
                }
                this.showLoading = false;
              }
              return;
            } else {
              // no transaction type in return;
              const data = res.data.view.transactionDetails.value[0];

              const transactionType = data.U_BFI_TS_TRNSTYPE.U_TS_TRNSTYPE;
              const tType = transactionType.toLowerCase();

              if (tType == "others") {
                // others
                // console.log(data.BFITSUDO001, "OTHERSSS")
                // save tracking code; to determine if unacho or not

                this.form.ticket_number = data.BFITSUDO001.U_TS_TICKETNUMBER;
                // this.form.dr_number = data.BFITSUDO001.U_TS_DRNUMBER;
                this.transactionStatus = this.convertCase(
                  data.BFITSUDO001.U_TS_STATUS
                );
                const status = this.transactionStatus.toLowerCase();

                // change text of save button depends on status
                if (status == "completed") {
                  this.saveButton = "Print Weight Slip";
                }

                // display data
                this.company = data.BFITSUDO001.U_COMPANY;
                this.form.supplier_name = data.BFITSUDO001.U_TS_SUPPLIER;
                this.form.supplier_add = data.BFITSUDO001.U_TS_SUPPLIER_ADD;
                this.form.raw_material = ` ${data.BFITSUDO001.U_TS_ITEMNAME}`;
                this.form.ticket_number = data.BFITSUDO001.U_TS_TICKETNUMBER;
                this.form.tracking_code = data.BFITSUDO001.U_TS_TRCK_CODE;
                this.form.dr_number = data.BFITSUDO001.U_TS_DRNUMBER;
                // this.form.dr_number = data.BFITSUDO001.U_TS_DRNUMBER;
                this.form.uom_ts = "";
                // this.form.ticket_number = data.BFITSUDO001.U_TS_TICKETNUMBER;

                this.form.transaction_type = this.convertCase(tType);
                let qtyUom = "";
                if (data.BFITSUDO001.U_TS_NUM_BAGS)
                  qtyUom = data.BFITSUDO001.U_TS_NUM_BAGS;
                else qtyUom = 0;

                if (data.BFITSUDO001.U_UOM) {
                  if (data.BFITSUDO001.U_COMPANY == "unahco") {
                    qtyUom += ` ${data.BFITSUDO001.U_UOM_TS}`;
                  } else {
                    qtyUom += ` ${data.BFITSUDO001.U_UOM}`;
                  }
                }
                this.form.numBags = qtyUom;
                this.form.ibdate =
                  data["BFITSUDO001/BFI_TS_IBTRNCollection"].U_TS_UPDATEDATE;
                this.form.ibtime =
                  data["BFITSUDO001/BFI_TS_IBTRNCollection"].U_TS_UPDATETIME;
                this.form.obdate =
                  data["BFITSUDO001/BFI_TS_OBTRNCollection"].U_TS_UPDATEDATE;
                this.form.obtime =
                  data["BFITSUDO001/BFI_TS_OBTRNCollection"].U_TS_UPDATETIME;

                this.form.date_time = `${data.BFITSUDO001.CreateDate} ${data.BFITSUDO001.CreateTime}`;

                this.form.company = data.BFITSUDO001.U_COMPANY
                  ? data.BFITSUDO001.U_COMPANY
                  : "";

                this.form.weigher = res.data.view.weigher;

                this.form.obSign =
                  data["BFITSUDO001/BFI_TS_OBTRNCollection"].U_TS_OB_SIGN;

                const truckInfo = res.data.view.truckInfoDetails[0];
                const driverInfo = res.data.view.driverDetails[0];

                this.form.plate_number = truckInfo.U_BFI_TS_TRINFO.U_TS_PLATE_NUM.toUpperCase();

                this.form.truck_model = this.convertCase(
                  truckInfo.U_BFI_TS_TRTYPE.U_TS_TRMODEL
                );
                this.form.driver_name = this.convertCase(
                  `${driverInfo.U_TS_LN} ${driverInfo.U_TS_FN}`
                );

                this.drivers_id = driverInfo.Code;

                this.truck_info_id = truckInfo.U_BFI_TS_TRINFO.Code;

                // inbound details
                const ib = res.data.view.inboundDetails[0];

                // outbound details
                const ob = res.data.view.outboundDetails[0];
                // ##

                this.inboundWeightType = this.convertCase(ib.U_TS_WEIGHT);
                this.outboundWeightType = this.convertCase(ob.U_TS_WEIGHT);

                // weights

                this.inboundValue = this.commaSeparate(
                  data["BFITSUDO001/BFI_TS_IBTRNCollection"].U_TS_IB_WEIGHT
                );

                this.outboundValue = this.commaSeparate(
                  data["BFITSUDO001/BFI_TS_OBTRNCollection"].U_TS_OB_WEIGHT
                );

                // show remarks
                const ibRemarks =
                  data["BFITSUDO001/BFI_TS_IBTRNCollection"].U_TS_REMARKS;
                const obRemarks =
                  data["BFITSUDO001/BFI_TS_OBTRNCollection"].U_TS_REMARKS;

                this.remarks = obRemarks ? obRemarks : ibRemarks;
              }
            }
          }

          this.showLoading = false;
        } else {
          // offline mode
          const res = await axios({
            method: "POST",
            url: `${this.$axios.defaults.baseURL}/transactions/select`,
            data: {
              id: this.$route.params.id
            },
            headers: {
              authorization: "Bearer " + localStorage.token
            }
          });

          if (res.status === 200) {
            let data = res.data.view[0].transactionDetails[0];

            this.transactionStatus = data.status;
            this.form.supplier_name = data.suppliers[0].suppliername;
            this.form.supplier_add = data.suppliers[0].supplieraddress;

            this.form.transaction_type =
              data.transactionType[0].transaction_type_name;
            this.form.raw_material = data.rawMaterial[0].rawmaterial;

            if (
              this.transactionStatus === "completed" &&
              this.form.transaction_type === "Delivery"
            ) {
              //where inbound is assigned the outbound value
              this.inboundValue = this.commaSeparate(
                data.outbound[data.outbound.length - 1].ob_weight
              );
            } else {
              this.inboundValue = this.commaSeparate(data.inbound[0].ib_weight);
              this.outboundValue = this.commaSeparate(
                data.outbound[0].ob_weight
              );
            }
          
            this.form.plate_number = data.inbound[0].driverInfo.platenumber;
            this.form.truck_model = data.inbound[0].driverInfo.truckmodel;
            this.form.driver_name = `${data.inbound[0].driverInfo.firstname} ${data.inbound[0].driverInfo.lastname}`;

            this.inboundWeightType = data.inbound[0].weightInfo.name;
            this.outboundWeightType = data.outbound[0].weightInfo.name;

            this.drivers_id = data.inbound[0].driverInfo.id;

            this.truck_info_id = data.inbound[0].driverInfo.truckinfo_id;
          }
        }
      } catch (e) {
        if (localStorage.mode == 1) {
          this.showLoading = false;
          try {
            // JSON error
            console.log(e);
            const err = JSON.parse(e.response);
            this.errorMsg = err.msg;
            this.showAlertErr();
          } catch (er) {
            // not JSON
            console.log(er);
            this.errorMsg = er.response;
            this.showAlertErr();
          }
        } else {
        }
      }
    },
    async updateTransactionStatus(data) {
      // this.showLoading = true;
      this.rmrsTransStatus = ''

      if(data.ib_weight && !data.ob_weight){
        this.rmrsTransStatus = "Inbound"
      }else if(data.ob_weight){
        this.rmrsTransStatus = "Outbound"
      }
      const employee = JSON.parse(localStorage.employee);

      await axios({
        method: "PUT",
        url: `${process.env.fsqrURL}/transactions/transactions/update_transaction`,
        headers: {
          authorization: `B1SESSION=${employee.token}`,
        },
        data: {
          id: parseInt(this.rmrsId),
          status: this.rmrsTransStatus,
          updateStatus: true,
          updated_by: localStorage.emp_id,
          update_time: data.updated_time
          // employee_id: employee.id,
          // modules: employee.modules,
        },
      })
        .then((res) => {
          this.showAlert("Transaction status updated!", "success");
          // location.reload();
          // this.showLoading = false;
        })
        .catch((error) => {
          this.showLoading = false;
          // this.displayErrorToast(error.response);
          this.showAlert(error.response, "danger")
          this.updateTransactionStatus()
        });
    },
    // save inbound; for others
    async saveInbound() {
      try {
        if (localStorage.mode == 1) {
          this.showLoading = true;

          const d = new Date().toDateString();
          const t = new Date().toTimeString();
          const date = moment(d).format("YYYY-MM-DD");
          const time = await this.fixTime(t);

          // determine if unacho or not
          let bool = false;

          if (this.trackingCode) {
            bool = this.unachoOrNot(this.trackingCode);
          }

          const data = {
            id: this.$route.params.id,
            ib_weight: this.commaSeparateToNum(this.inboundValue),
            updated_date: date,
            updated_time: time,
            userId: localStorage.id,
            unacho: bool,
            remarks: this.remarks
          };

          const res = await axios({
            method: "POST",
            url: `${this.$axios.defaults.baseURL}/transactions/inbound/add`,
            data: {
              ...data,
              mode: localStorage.mode,
              modules: JSON.parse(localStorage.modules)
            },
            headers: {
              authorization: `B1SESSION=${localStorage.session}`
            }
          });
          this.showLoading = false;

          const status = res.status;
          if (status == 201) {
            if (this.transactionStatus.toLowerCase() == "for inbound") {
              this.$router.push("/default");
              return;
            }
            this.pincode = null;
            this.$bvModal.hide("pin");
            this.getTransaction();
            this.inboundBool = false;
            this.inboundCounter = 0;
            this.outboundBool = true;
            this.hideInboundLock = false;
            this.hideOutboundLock = true;
            this.inboundLockAndUnlockIcon = "unlock";
          }
        } else {
          // offline mode
          let mockData = {
            transaction_id: this.$route.params.id,
            // ib_weight: 1050,
            ib_weight: this.inboundValue,
            truckscale_id: localStorage.truckscale,
            users_id: localStorage.id,
            drivers_id: this.drivers_id,
            truck_info_id: this.truck_info_id
          };
          axios({
            method: "POST",
            url: `${this.$axios.defaults.baseURL}/transactions/inbound/add`,
            data: {
              ...mockData
            },
            headers: {
              authorization: "Bearer " + localStorage.token
            }
          })
            .then(res => {
              this.getTransaction();
              this.inboundBool = false;
              this.outboundBool = true;
            })
            .catch(error => {});
        }
      } catch (e) {
        this.showLoading = false;
        console.log("Error add inbound, others:", e);
        if (e.response.data.error) {
          const err = e.response.data.error;
          this.errorMsg = err;
          this.showAlertErr();
        }
      }
    },
    async fixTime(t) {
      try {
        const arr = t.split(":", 2);
        const raw = `${arr[0]}${arr[1]}`;
        const time = raw;
        return time;
      } catch (e) {
        console.log("Error: ", e);
      }
    },
    // save outbound; for others
    async saveOutbound() {
      try {
        if (localStorage.mode == 1) {
          this.showLoading = true;
          const d = new Date().toDateString();
          const t = new Date().toTimeString();
          const date = moment(d).format("YYYY-MM-DD");
          const time = await this.fixTime(t);

          // #  remarks: this.remarks ? add to UI
          const data = {
            id: this.$route.params.id,
            ob_weight: this.commaSeparateToNum(this.outboundValue),
            uom: this.defaultUom,
            updated_date: date,
            updated_time: time,
            sign: this.signaturePath,
            remarks: this.remarks,
            userId: localStorage.id
          };

          const res = await axios({
            method: "POST",
            url: `${this.$axios.defaults.baseURL}/transactions/outbound/add`,
            data: {
              ...data,
              mode: localStorage.mode,
              modules: JSON.parse(localStorage.modules)
            },
            headers: {
              authorization: `B1SESSION=${localStorage.session}`
            }
          });
          this.showLoading = false;
          if (res.status == 201) {
            this.remarks = null;
            this.pincode = null;
            this.hideOutboundLock = false;
            this.getTransaction();
            this.outboundLockAndUnlockIcon = "unlock";
          }
        } else {
          // offline mode
          let mockData = {
            transaction_id: this.$route.params.id,
            // ob_weight: 500,
            ob_weight: this.outboundValue,
            uom: this.defaultUom,
            truckscale_id: localStorage.truckscale,
            users_id: localStorage.id,
            drivers_id: this.drivers_id,
            truck_info_id: this.truck_info_id
          };
          axios({
            method: "POST",
            url: `${this.$axios.defaults.baseURL}/transactions/outbound/add`,
            data: {
              ...mockData
            },
            headers: {
              authorization: "Bearer " + localStorage.token
            }
          })
            .then(res => {
              this.getTransaction();
            })
            .catch(error => {});
        }
      } catch (e) {
        this.showLoading = false;

        console.log("Error save outbound others: ", e);
      }
    },
    async getTruckInfos() {
      // plateNumberList
      try {
        if (localStorage.mode == 1) {
          this.showLoading = true;
          const res = await axios({
            method: "POST",
            url: `${this.$axios.defaults.baseURL}/truck-infos/select`,
            headers: {
              "Content-Type": "application/json",
              "X-HTTP-Method-Override": "GET",
              authorization: `B1SESSION=${localStorage.session}`
            },
            data: {
              mode: localStorage.mode,
              modules: JSON.parse(localStorage.modules)
            }
          });
          this.showLoading = false;

          const data = res.data.view;
          for (let i = 0; i < data.length; i++) {
            const e = data[i];
            this.plateNumberList.push({
              value: e.U_BFI_TS_TRINFO.Code,
              text: e.U_BFI_TS_TRINFO.U_TS_PLATE_NUM
            });
          }
        } else {
          axios({
            method: "GET",
            url: `${this.$axios.defaults.baseURL}/truck-infos/select`,
            headers: {
              authorization: "Bearer " + localStorage.token
            }
          })
            .then(res => {
              for (let i = 0; i < res.data.view.length; i++) {
                this.plateNumberList.push({
                  value: res.data.view[i].truckinfo_id,
                  text: res.data.view[i].plate_number
                });
              }
            })
            .catch(error => {});
        }
      } catch (e) {
        this.showLoading = false;

        console.log("Error get truck info: ", e);
      }
    },

    async getDrivers() {
      try {
        if (localStorage.mode == 1) {
          this.showLoading = true;

          const res = await axios({
            method: "POST",
            url: `${this.$axios.defaults.baseURL}/drivers/select`,
            headers: {
              "Content-Type": "application/json",
              "X-HTTP-Method-Override": "GET",
              authorization: `B1SESSION=${localStorage.session}`
            },
            data: {
              mode: localStorage.mode,
              modules: JSON.parse(localStorage.modules)
            }
          });
          this.showLoading = false;

          const data = res.data.view;

          for (let i = 0; i < data.length; i++) {
            const e = data[i];

            let name = `${e.U_TS_FN} ${e.U_TS_LN}`;
            this.driverList.push({
              value: e.Code,
              text: name
            });
          }
        } else {
          axios({
            method: "GET",
            url: `${this.$axios.defaults.baseURL}/drivers/select`,
            headers: {
              authorization: "Bearer " + localStorage.token
            }
          })
            .then(res => {
              for (let i = 0; i < res.data.view.length; i++) {
                let name = `${res.data.view[i].firstname} ${res.data.view[i].lastname}`;
                this.driverList.push({
                  value: res.data.view[i].id,
                  text: name
                });
              }
            })
            .catch(error => {});
        }
      } catch (e) {
        console.log("Error select drivers: ", e);
      }
    },

    async saveWeight(isDone) {
      try {
        if (this.form.transaction_type.toLowerCase() == "others") {
          if (this.transactionStatus.toLowerCase() !== "completed") {
            if (this.inboundBool == false && this.inboundCounter == 1) {
              this.$bvModal.hide("signature");
              await this.saveInbound();
              this.$router.push("/transaction");
              return;
            }
            if (this.outboundBool == false && this.outboundCounter == 1) {
              this.$bvModal.hide("signature");
              this.outboundBool = false;
              await this.saveOutbound();
              this.successMsg = "Transaction Completed!";
              this.showSuccessAlert();
              return;
            }
          }
        } else {
          //
          this.showLoading = true;
          const d = new Date().toDateString();
          const t = new Date().toTimeString();
          const date = moment(d).format("YYYY-MM-DD");
          const time = await this.fixTime(t);

          if (this.remarks) {
            if (this.remarks.length > 100) {
              // JSON error
              this.errorMsg = "The remarks is more than the required length!";
              return this.showAlertErr();
            }
          }

          if (this.inboundBool == false && this.inboundCounter == 1) {
            const data = {
              id: this.$route.params.id,
              ib_weight: this.commaSeparateToNum(this.inboundValue),
              updated_date: date,
              updated_time: time,
              truckscale_id: localStorage.truckscale,
              mode: localStorage.mode,
              modules: JSON.parse(localStorage.modules),
              remarks: this.remarks,
              userId: localStorage.id
            };

            const res = await axios({
              method: "POST",
              url: `${this.$axios.defaults.baseURL}/transactions/inbound/add`,
              data: {
                ...data
              },
              headers: {
                authorization: `B1SESSION=${localStorage.session}`
              }
            });

            if (res.status == 201) {
              if(this.rmrsId != null){
                await this.updateTransactionStatus(data)
              }
              this.$router.push(`/default`);
            }
          }

          if (this.outboundBool == false && this.outboundCounter == 1) {
            const data = {
              id: this.$route.params.id,
              is_done: isDone,
              net_weight: this.commaSeparateToNum(this.netWeight),
              ob_weight: this.commaSeparateToNum(this.outboundValue),
              uom: this.defaultUom,
              updated_date: date,
              updated_time: time,
              truckscale_id: localStorage.truckscale,
              remarks: this.remarks,
              mode: localStorage.mode,
              modules: JSON.parse(localStorage.modules),
              sign: this.signaturePath,
              userId: localStorage.id,
              fsqr_id: this.fsqrTransactionId,
              company: this.fsqrCompany
            };

            const res = await axios({
              method: "POST",
              url: `${this.$axios.defaults.baseURL}/transactions/outbound/add`,
              data: {
                ...data
              },
              headers: {
                authorization: `B1SESSION=${localStorage.session}`
              }
            });

            if (res.status == 201) {
              if(this.rmrsId != null){
                await this.updateTransactionStatus(data)
              }
              this.closeConfirmation(); // close confirmation modal
              this.form.obtime = this.timeStringToFloat(
                moment().format("HH:mm:ss")
              );
              this.saveButton = "Print Weight Slip";
              this.transactionStatus = "Completed";
              this.successMsg = "Transaction Completed!";
              this.showSuccessAlert();
              // this.$router.push(`/default`);
            }
          }
          this.showLoading = false;
          return;
        }
      } catch (e) {
        this.showLoading = false;
        if (e.response.data.error) {
          const err = e.response.data.error;
          this.errorMsg = err;
          this.showAlertErr();
        }
      }
    },
    timeStringToFloat(time) {
      var hoursMinutes = time.split(":");
      var hours = hoursMinutes[0];
      var minutes = hoursMinutes[1];
      var time = hours + minutes;
      return parseInt(time);
    },
    // COM PORT
    // get com port
    async getCOMport() {
      try {
        this.showLoading = true;

        const res = await axios({
          method: "POST",
          url: `${this.$axios.defaults.baseURL}/ports/select`,
          headers: {
            "Content-Type": "application/json",
            "X-HTTP-Method-Override": "GET",
            authorization: `B1SESSION=${localStorage.session}`
          },
          data: {
            mode: localStorage.mode,
            modules: JSON.parse(localStorage.modules)
          }
        });
        this.showLoading = false;
        this.port = res.data[0].port[0]; // should be only one com port. it will error if many

        await this.getDataFromCOMPort(); // get data from com port
      } catch (e) {
        console.log("Error: ", e);
      }
    },

    // get data from com port
    async getDataFromCOMPort() {
      try {
        if (localStorage.mode == 1) {
          this.showLoading = true;
          const res = await axios({
            method: "POST",
            url: `${this.$axios.defaults.baseURL}/ports/receive`,
            headers: {
              authorization: `B1SESSION=${localStorage.session}`
            },
            data: {
              comPort: this.port,
              mode: localStorage.mode
            }
          });
          this.showLoading = false;
          this.socket = io.connect(process.env.socketUrl, { secure: true }); //connect to server
          this.socket.on("num", data => {
            this.displayData(data);
          });
        } else {
          const res = await axios({
            method: "POST",
            url: `${this.$axios.defaults.baseURL}/ports/receive`,
            headers: {
              authorization: "Bearer " + localStorage.token
            },
            data: {
              comPort: this.port
            }
          });
          //
          this.socket = io.connect(process.env.socketUrl, { secure: true }); //connect to server
          this.socket.on("num", data => {
            this.displayData(data);
          });
        }
      } catch (e) {
        if (localStorage.mode == 1) {
          this.showLoading = false;
          try {
            // JSON error
            const err = JSON.parse(e.response.data.error);
            this.errorMsg = err.msg;
            this.showAlertErr();
          } catch (er) {
            // not JSON
            this.errorMsg = e.response.data.error;
            this.showAlertErr();
          }
        } else {
        }
      }
    },

    // display data from com port
    async displayData(val) {
      try {
        const data = val.num;
        this.weightValues = data.match(/[+-]?\d+(?:\.\d+)?/g); //extract only numbers from garbage string
        // console.log(this.weightValues[0]);
        // to display
        if (this.inboundBool === true) {
          this.inboundValue = this.commaSeparate(this.weightValues[0]);
          return;
        }
        if (this.outboundBool === true) {
          this.outboundValue = this.commaSeparate(this.weightValues[0]);
          return;
        }
      } catch (e) {
        console.log("Error: ", e);
      }
    },

    // determine transaction; to which data to stream serial data
    async determineTransaction() {
      try {
        if (this.inboundValue === 0 || this.inboundValue === null) {
          // show hide lock
          this.hideInboundLock = true;
          this.inboundBool = true;
          this.inboundValue = this.commaSeparate((5000).toFixed(2));
          return;
        }

        if (this.outboundValue === 0 || this.outboundValue === null) {
          // show hide lock
          this.hideOutboundLock = true;
          this.outboundBool = true;
          this.outboundValue = this.commaSeparate((4000).toFixed(2));

          return;
        }
      } catch (e) {
        console.log("Error: ", e);
      }
    },
    commaSeparate(num) {
      if (num) {
        num = parseFloat(num).toFixed(2);
        const num_parts = num.toString().split(".");
        num_parts[0] = num_parts[0].replace(/\B(?=(\d{3})+(?!\d))/g, ",");
        const newNum = num_parts.join(".");
        return newNum;
      } else {
        return 0;
      }
    },
    commaSeparateToNum(num) {
      if (num) {
        return parseFloat(num.replace(/,/g, ""));
      } else {
        return 0;
      }
    }
  },

  layout: "sidebar"
};
</script>

<style scoped>
.pinError {
  margin: 0;
  text-align: left;
  color: red;
}
.h7 {
  margin-bottom: 20px;
  height: 25px;
  width: 100%;
  background-color: #00803e;
  color: white;
}
.button1 {
  background-color: #00803e;
  color: white;
}
.color1 {
  color: #00803e;
}
.icon {
  margin-left: 5px;
  margin-right: 10px;
}
.fixed {
  position: fixed;
  bottom: 0%;
  right: 2%;
  z-index: 999999;
}
.err {
  background-color: #f12d2d;
  color: white;
}
.fixed {
  position: fixed;
  bottom: 0%;
  right: 2%;
}
.button1 {
  background-color: #00803e;
  color: white;
}
</style>
