<template>
  <div class="my-3" id="requests-view">
    <Loading v-if="showLoading" />
    <h4 class="color1 ml-4">
      <font-awesome-icon icon="user-edit" class="icon" />Requests
    </h4>
    <b-card class="mainContent">
      <b-alert
        id="alertdanger"
        :show="dismissCountDownErr"
        dismissible
        fade
        class="err fixed"
        @dismiss-count-down="countDownChangedErr"
      >
        <font-awesome-icon icon="times-circle" /> {{ errorMsg }}</b-alert
      >

      <b-alert
        id="alertsuccess"
        :show="dismissCountDown"
        dismissible
        fade
        class="succ fixed"
        @dismiss-count-down="countDownChanged"
        ><font-awesome-icon icon="check-circle" /> {{ successMsg }}</b-alert
      >

      <b-row>
        <b-col cols="3">
          <b-input-group size="sm">
            <b-form-input
              v-model="filter"
              type="search"
              id="searchinput"
              class="searchbar no-outline"
              placeholder="Type to Search"
            ></b-form-input>
            <b-input-group-append>
              <b-button
                id="btnClearSearch"
                :disabled="!filter"
                @click="filter = ''"
                >Clear</b-button
              >
            </b-input-group-append>
          </b-input-group>
        </b-col>

        <b-col cols="3">
          <b-input-group prepend="Date" size="sm">
            <date-range-picker
              id="datepicker"
              class="date"
              ref="picker"
              :opens="opens"
              :locale-data="localeData"
              :autoApply="true"
              :singleDatePicker="false"
              :showWeekNumbers="true"
              v-model="datePicker"
              @update="updateValues"
            >
              <div slot="input" class="date__range">
                {{ datePicker.startDate }} - {{ datePicker.endDate }}
              </div>
            </date-range-picker>
            <b-input-group-append>
              <b-button
                @click="resetDate"
                id="date-reset"
                class="date__reset"
                >Reset</b-button
              >
            </b-input-group-append>
          </b-input-group>
        </b-col>
        <b-col cols="2"></b-col>
        <!-- <b-col cols="2"></b-col> -->
        <!-- <b-col cols="2" class="mb-1">
          <b-dropdown
            size="sm"
            id="dropdown-grouped"
            class="searchbar customFilter"
            style="float:right;"
            dropleft
            title="Filter"
            v-b-tooltip.hover
          >
            <template #button-content>
              <i class="fas fa-filter"></i>
            </template>

            <b-dropdown-group header="Status">
              <b-form-checkbox-group size="sm" v-model="selectedFilters" class="ml-4">
                <b-form-checkbox
                  size="sm"
                  :id="'statusFilter' + index"
                  v-for="(item, index) in statusFilters"
                  :key="index"
                  :value="item"
                  >{{ item }}</b-form-checkbox
                >
              </b-form-checkbox-group>
            </b-dropdown-group>
          </b-dropdown>
        </b-col> -->
      </b-row>

      <!-- Main table element -->
      <div>
        <b-table
          id="table"
          class="my-3 printableTable limitedHTable"
          style="font-size: 13px"
          show-empty
          small
          fixed
          responsive
          selectable
          no-border-collapse
          select-mode="single"
          key="rowIndexToHighlight"
          sticky-header
          :busy="isbusy"
          :items="items"
          :fields="fields"
          :current-page="currentPage"
          :per-page="perPage"
          :filter="filter"
          :filterIncludedFields="filterOn"
          :sort-desc.sync="sortDesc"
          :sort-direction="sortDirection"
          ref="selectableTable"
          @filtered="onFiltered"
          @row-clicked="clickPrint"
        >
          <template #table-busy>
            <div class="text-center text-secondary my-2">
              <b-spinner class="align-middle"></b-spinner>
              <strong>&nbsp;Loading...</strong>
            </div>
          </template>
          <template v-slot:cell(status)="row">
            <div
              class="badge-font-size"
              v-if="row.item.status.toLowerCase() == 'approved'"
            >
              <b-badge pill block variant="success" style="font-size: 10px">{{
                row.item.status
              }}</b-badge>
            </div>
            <div
              class="badge-font-size"
              v-else-if="row.item.status.toLowerCase() == 'disapproved'"
            >
              <b-badge pill block variant="secondary" style="font-size: 10px; background:#525C66;">{{
                row.item.status
              }}</b-badge>
            </div>
            <div
              class="badge-font-size"
              v-else-if="row.item.status.toLowerCase() == 'pending'"
            >
              <b-badge pill block variant="warning" style="font-size: 10px">{{
                row.item.status
              }}</b-badge>
            </div>
            <div
              class="badge-font-size"
              v-else-if="row.item.status.toLowerCase() == 'validated'"
            >
              <b-badge pill block style="font-size: 10px; background: var(--primary)">{{
                row.item.status
              }}</b-badge>
            </div>
            <div
              class="badge-font-size"
              v-else-if="row.item.status.toLowerCase() == 'cancelled'"
            >
              <b-badge
                pill
                block
                style="font-size: 10px; background-color: var(--hoverDanger)"
                >{{ row.item.status }}</b-badge
              >
            </div>
          </template>

          <template v-slot:cell(actions)="row">
            <div
              v-if="
                row.item.status.toLowerCase() == 'pending' ||
                  row.item.status.toLowerCase() == 'validated'
              "
            >
              <!-- validate -->
              <button
                id="createDRm"
                :disabled="isbusy2"
                :class="isbusy2 ? 'disabledBtn':'validateBtn'"
                v-if="
                  accessRightExists('validate requests') &&
                    row.item.status.toLowerCase() != 'validated'
                "
                @click="openValidateModal(row)"
                v-b-tooltip.hover.bottom="'Validate'"
              >
                <b-spinner v-if="isbusy2 === true" class="disabledIcon" small></b-spinner>
                <font-awesome-icon v-else icon="check" class="validateIcon" small />
              </button>

              <!-- approve -->
              <button
                id="createDRm"
                :class="isbusy2?'disabledBtn':'approveBtn'"
                :disabled="isbusy2"
                v-if="accessRightExists('approve requests')"
                @click="openApproveModal(row)"
                v-b-tooltip.hover.bottom="'Approve'"
              >
                <b-spinner v-if="isbusy2 === true" class="disabledIcon" small></b-spinner>
                <font-awesome-icon
                  v-else
                  icon="thumbs-up"
                  title="Approve"
                  class="approveIcon"
                  small
                />
              </button>

              <!-- disapprove -->
              <button
                id="createDRm"
                class="disapproveBtn"
                v-if="accessRightExists('disapprove requests')"
                @click="openDisapproveModal(row)"
                v-b-tooltip.hover.bottom="'Disapprove'"
              >
                <font-awesome-icon
                  icon="thumbs-down"
                  class="disapproveIcon"
                  small
                />
              </button>

              <!-- cancel -->
              <button
                id="createDRm"
                class="resetBtn"
                v-if="
                  accessRightExists('cancel requests') &&
                    row.item.status.toLowerCase() == 'pending' &&
                    row.item.requester_id == user_id
                "
                @click="openCancelModal(row)"
                v-b-tooltip.hover.bottom="'Cancel'"
              >
                <font-awesome-icon icon="times" class="resetIcon" small />
              </button>
            </div>
          </template>

          <!-- <template v-slot:table-caption>
            <b-row align-h="end">
              <b-col>{{ bottomLabel }}</b-col>

              <b-col cols="6">
                <b-pagination
                  id="pagination"
                  pills
                  v-model="currentPage"
                  :total-rows="totalRows"
                  :per-page="perPage"
                  align="right"
                  size="sm"
                ></b-pagination>
              </b-col>
            </b-row>
          </template> -->
        </b-table>
        <p class="label" style="color:var(--secondary);">{{ bottomLabel }}</p>
      </div>

      <b-modal
        header-bg-variant="success"
        header-text-variant="light"
        id="confirm-approve-modal"
        no-close-on-backdrop
      >
        <template v-slot:modal-title>
          <h4>Approve Request</h4>
        </template>

        <b-row>
          <b-col>
            <h6>Are you sure you want to approve this request?</h6>
          </b-col>
        </b-row>
        <template v-slot:modal-footer="{ cancel }">
          <b-button
            id="add_pos"
            size="sm"
            variant="success"
            style="font-size: 13px"
            class="greenBtn"
            @click="approveRequest"
            >Yes</b-button
          >
          <b-button
            id="close_pos"
            class="greyBtn"
            size="sm"
            style="font-size: 13px"
            @click="cancel()"
            >No</b-button
          >
        </template>
      </b-modal>

      <b-modal
        header-bg-variant="success"
        header-text-variant="light"
        id="confirm-approve-edit-modal"
        no-close-on-backdrop
      >
        <template v-slot:modal-title>
          <h5>Approve Request</h5>
        </template>

        <b-row>
          <b-col>
            <h6>Are you sure you want to approve this request?</h6>
          </b-col>
        </b-row>
        <template v-slot:modal-footer="{ cancel }">
          <b-button
            id="add_pos"
            size="sm"
            variant="success"
            style="font-size: 13px"
            class="greenBtn"
            @click="editApproveRequest"
            >Yes</b-button
          >
          <b-button
            id="close_pos"
            class="greyBtn"
            size="sm"
            style="font-size: 13px"
            @click="cancel()"
            >No</b-button
          >
        </template>
      </b-modal>

      <b-modal
        header-bg-variant="success"
        header-text-variant="light"
        id="confirm-disapprove-modal"
        no-close-on-backdrop
        hide-header-close
      >
        <template v-slot:modal-title>
          <h4>Disapprove Request</h4>
        </template>

        <b-row>
          <b-col>
            <h6>Are you sure you want to disapprove this request?</h6>
          </b-col>
        </b-row>
        <template v-slot:modal-footer="{ cancel }">
          <b-button
            id="add_pos"
            size="sm"
            variant="success"
            style="font-size: 13px"
            class="greenBtn"
            @click="disapproveRequest"
            >Yes</b-button
          >
          <b-button
            id="close_pos"
            class="greyBtn"
            size="sm"
            style="font-size: 13px"
            @click="cancel()"
            >No</b-button
          >
        </template>
      </b-modal>

      <b-modal
        header-bg-variant="danger"
        header-text-variant="light"
        id="confirm-cancel-modal"
        no-close-on-backdrop
        hide-header-close
      >
        <template v-slot:modal-title>
          <h4>Cancel Request</h4>
        </template>

        <b-row>
          <b-col>
            <h6>Are you sure you want to cancel this request?</h6>
          </b-col>
        </b-row>
        <template v-slot:modal-footer="{ cancel }">
          <b-button
            id="add_pos"
            size="sm"
            variant="danger"
            style="font-size: 13px"
            class="redBtn"
            @click="cancelRequest"
            >Yes</b-button
          >
          <b-button
            id="close_pos"
            class="greyBtn"
            size="sm"
            style="font-size: 13px"
            @click="cancel()"
            >No</b-button
          >
        </template>
      </b-modal>

      <b-modal
        header-bg-variant="success"
        header-text-variant="light"
        id="confirm-validate-modal"
        no-close-on-backdrop
      >
        <template v-slot:modal-title>
          <h4>Validate Request</h4>
        </template>

        <b-row>
          <b-col>
            <h6>Are you sure you want to validate this request?</h6>
          </b-col>
        </b-row>
        <template v-slot:modal-footer="{ cancel }">
          <b-button
            id="add_pos"
            size="sm"
            variant="success"
            style="font-size: 13px"
            class="greenBtn"
            @click="validateRequest"
            >Yes</b-button
          >
          <b-button
            id="close_pos"
            class="greyBtn"
            size="sm"
            style="font-size: 13px"
            @click="cancel()"
            >No</b-button
          >
        </template>
      </b-modal>

      <b-modal
        ref="editApproveModal"
        id="editApproveModal"
        header-bg-variant="success"
        header-text-variant="light"
        hide-footer
        hide-header-close
        no-close-on-backdrop
        size="xl"
      >
        <template v-slot:modal-title>APPROVE EDIT REQUEST</template>
        <div class="d-block text-center">
          <div>
            <b-row>
              <b-col>
                <b-card
                  class="text-left"
                  style="border-left: 6px solid #00a651"
                >
                  <label>
                    <strong
                      style="color: #00a651; font-size: 1.1rem"
                      class="ml-3"
                      >Current Value</strong
                    >
                  </label>

                  <ul class="list-unstyled mt-2">
                    <li
                      v-for="(data, index) in displayCurrent"
                      :key="index"
                      style="
                        border-radius: 0px;
                        padding-left: 1rem;
                        background-color: #fff;
                      "
                      class="mb-2"
                    >
                      <font-awesome-icon
                        style="font-size: 11px; color: #00a651"
                        icon="circle"
                      />

                      <span style="background-color: white" class="px-2">
                        <b>{{ data.label }}</b>
                        {{ data.value }}
                      </span>
                    </li>
                  </ul>
                </b-card>
              </b-col>

              <b-col>
                <b-card
                  class="text-left"
                  style="border-left: 6px solid #00a651"
                >
                  <label>
                    <strong
                      style="color: #00a651; font-size: 1.1rem"
                      class="ml-3"
                      >New Value</strong
                    >
                  </label>

                  <ul class="list-unstyled mt-2">
                    <li
                      v-for="(data, index) in displayNew"
                      :key="index"
                      style="
                        border-radius: 0px;
                        padding-left: 1rem;
                        background-color: #fff;
                      "
                      class="mb-2"
                    >
                      <font-awesome-icon
                        style="font-size: 11px; color: #00a651"
                        icon="circle"
                      />

                      <span :style="getCss(index)" class="px-2">
                        <b>{{ data.label }}</b>
                        {{ data.value }}
                      </span>
                    </li>
                  </ul>
                </b-card>
              </b-col>
            </b-row>
            <hr />
            <b-button
              id="btnEditReport"
              @click="$bvModal.show('confirm-approve-edit-modal')"
              variant="success"
              class="ml-10 greenBtn mr-2"
              >Confirm</b-button
            >
            <b-button
              id="btnEditReport"
              class="ml-10 greyBtn"
              @click="$bvModal.hide('editApproveModal')"
              >Cancel</b-button
            >
          </div>
        </div>
      </b-modal>

      <b-modal
        ref="validateModal"
        id="validateModal"
        header-bg-variant="success"
        header-text-variant="light"
        hide-footer
        hide-header-close
        no-close-on-backdrop
        size="xl"
      >
        <template v-slot:modal-title>VALIDATE REQUEST</template>
        <div class="d-block text-center">
          <div>
            <b-row>
              <b-col>
                <b-card
                  class="text-left"
                  style="border-left: 6px solid #00a651"
                >
                  <label>
                    <strong
                      style="color: #00a651; font-size: 1.1rem"
                      class="ml-3"
                      >Current Value</strong
                    >
                  </label>

                  <ul class="list-unstyled mt-2">
                    <li
                      v-for="(data, index) in displayCurrent"
                      :key="index"
                      style="
                        border-radius: 0px;
                        padding-left: 1rem;
                        background-color: #fff;
                      "
                      class="mb-2"
                    >
                      <font-awesome-icon
                        style="font-size: 11px; color: #00a651"
                        icon="circle"
                      />

                      <span style="background-color: white" class="px-2">
                        <b>{{ data.label }}</b>
                        {{ data.value }}
                      </span>
                    </li>
                  </ul>
                </b-card>
              </b-col>

              <b-col>
                <b-card
                  class="text-left"
                  style="border-left: 6px solid #00a651"
                >
                  <label>
                    <strong
                      style="color: #00a651; font-size: 1.1rem"
                      class="ml-3"
                      >New Value</strong
                    >
                  </label>

                  <ul class="list-unstyled mt-2">
                    <li
                      v-for="(data, index) in displayNew"
                      :key="index"
                      style="
                        border-radius: 0px;
                        padding-left: 1rem;
                        background-color: #fff;
                      "
                      class="mb-2"
                    >
                      <font-awesome-icon
                        style="font-size: 11px; color: #00a651"
                        icon="circle"
                      />

                      <span :style="getCss(index)" class="px-2">
                        <b>{{ data.label }}</b>
                        {{ data.value }}
                      </span>
                    </li>
                  </ul>
                </b-card>
              </b-col>
            </b-row>
            <hr />
            <b-button
              id="btnEditReport"
              @click="$bvModal.show('confirm-validate-modal')"
              variant="success"
              class="ml-10 mr-2 greenBtn"
              >Confirm</b-button
            >
            <b-button
              id="btnEditReport"
              class="ml-10 greyBtn"
              @click="$bvModal.hide('validateModal')"
              >Cancel</b-button
            >
          </div>
        </div>
      </b-modal>
      <!-- request print modal -->
      <b-modal
        size="sm"
        header-bg-variant="success"
        header-text-variant="light"
        id="confirm-print-modal"
        no-close-on-backdrop
        @close="(transaction_id = null), (selectedLocationAcronym = null)"
      >
        <template v-slot:modal-title>
          <h5>Print Weight Slip</h5>
        </template>

        <b-row>
          <b-col>
            <h6>Are you sure you want to print this document?</h6>
          </b-col>
        </b-row>

        <b-row>
          <b-col>
            <h6>Print Count: {{ printed_documents }}/{{ print_limit }}</h6>
          </b-col>
        </b-row>

        <b-row>
          <b-col>
            <b-form-select
              v-model="selectedLocation"
              :options="printLocations"
              @change="getAcronym"
            ></b-form-select>
          </b-col>
        </b-row>

        <template v-slot:modal-footer="{ cancel }">
          <div class="btnContainer">
            <b-button
              id="add_pos"
              size="sm"
              variant="success"
              @click="rawPrint(itemsWS)"
              style="font-size: 13px"
              class="greenBtn mr-2"
              >Print</b-button
            >
            <b-button
              id="close_pos"
              class="greyBtn"
              size="sm"
              @click="cancel()"
              style="font-size: 13px;"
              >Cancel</b-button
            >
          </div>
        </template>
      </b-modal>
    </b-card>
  </div>
</template>

<script>
import moment, { version } from "moment";
import axios from "axios";
import DateRangePicker from "vue2-daterange-picker";
import "vue2-daterange-picker/dist/vue2-daterange-picker.css";
import Loading from "~/components/LoadingOverlay/Loadings.vue";
import VueBootstrapTypeahead from "vue-bootstrap-typeahead";
import io from "socket.io-client";

export default {
  components: { DateRangePicker, Loading, VueBootstrapTypeahead },

  data() {
    return {
      rowIndexToHighlight:null,
      requestId:null,
      user_id: null,
      displayCurrent: [],
      displayNew: [],
      text_area_max_length: 100,
      draftData: {
        plate_number: null,
        driver: null,
        supplier: null,
        supplier_address: null,
        item: null,
        quantity: null,
        id: null,
        unit_of_measure: null,
        remarks: null
      },

      editApproveModalData: {
        plate_number: null,
        driver: null,
        supplier: null,
        supplier_address: null,
        item: null,
        quantity: null,
        id: null,
        unit_of_measure: null,
        remarks: null
      },

      printed_documents: null,
      print_limit: null,
      selectedLocation: null,
      selectedLocationAcronym: null,
      locationOptions: [
        { value: null, text: "Please choose location", disabled: true }
      ],
      printLocations: [
        { value: null, text: "Please choose location", disabled: true }
      ],

      itemsWS: null,
      uomOptions: [],
      plateNumberOptions: [],
      driverOptions: [],
      supplierOptions: [],
      itemOptions: [],

      showLoading: false,
      isbusy: false,
      isbusy2: false,
      opens: "center",
      currentPage: 1,
      settings: [],
      transaction_types: [],
      datePicker: {
        startDate: moment().format("MMM DD, YYYY"),
        endDate: moment().format("MMM DD, YYYY")
      },
      dateRange: {
        date_from: moment().format("YYYY-MM-DD"),
        date_to: moment().format("YYYY-MM-DD")
      },
      localeData: {
        direction: "ltr",
        format: moment().format("MMM DD, YYYY"),
        separator: " - "
      },

      items: [],

      fields: [
        {
          key: "date_requested",
          label: "Date Requested",
          sortable: true,
        },
        {
          key: "ticket_number",
          label: "Ticket Number",
          sortable: true,
          class: "text-center",
        },
        {
          key: "requester_name",
          label: "Requester",
          sortable: true,
          class: "text-center",
        },
        {
          key: "request_type",
          label: "Type",
          sortable: true,
          class: "text-center"
        },
        {
          key: "request_reason",
          label: "Reason",
          sortable: true,
          class: "text-center"
        },
        {
          key: "print_count",
          label: "Additional Print",
          sortable: true,
          class: "text-center"
        },
        {
          key: "status",
          label: "Status",
          sortable: true,
          class: "text-center"
        },
        {
          key: "actions",
          label: "Actions",
          class: "text-center"
        }
      ],
      perPage: 100,
      totalRows: 1,
      // sortBy: "date_requested",
      sortDesc: true,
      sortDirection: "desc",
      filter: null,
      filterOn: [],

      approveData: null,
      disapproveData: null,
      validateData: null,
      cancelData: null,

      dismissCountDownErr: 0,
      errorMsg: null,

      dismissCountDown: 0,
      successMsg: null,

      dismissSecs: 3,

      socket: null // for socket io
    };
  },
  async created() {
    this.isbusy = true;
    this.user_id = localStorage.id;
    this.request_id = localStorage.request_id;
    // localStorage.removeItem('notiTime')
    await this.connectSocket();
    await this.getRequests();
    await this.selectNotiRow();
    // await this.selectTrans(this.items);
    this.isbusy = false;
    this.isbusy2 = true;
    await this.getUoms();
    // await this.getDrivers();
    await this.getPlateNumbers();
    await this.getSuppliers();
    // await this.getItems();
    this.totalRows = this.items.length;
    this.isbusy2 = false;
  },
  computed: {
    sortOptions() {
      // Create an options list from our fields
      return this.fields
        .filter(f => f.sortable)
        .map(f => {
          return { text: f.label, value: f.key };
        });
    },
    bottomLabel() {
      let end = this.perPage * this.currentPage;
      let start = end - this.perPage + 1;

      if (end > this.items.length) {
        end = this.items.length;
      }

      if (this.items.length === 0) {
        start = 0;
      }
      return `Showing ${start} to ${end} of ${this.items.length} entries`;
    }
  },
  mounted() {
    console.log("Mounted refs",this.$refs.selectableTable);
    this.$root.$on('selectNotiRow', () => {
      this.selectNotiRow();
    })
  },
  beforeUpdate() {
  },
  methods: {
    async selectNotiRow() {
      this.requestId = localStorage.request_id;
      // this.isbusy = true;
      // await this.getRequests()
      // this.isbusy = false;
      this.rowIndexToHighlight = this.items.findIndex(x => x.id == this.requestId)
      await this.$refs.selectableTable.selectRow(this.rowIndexToHighlight)
      this.rowIndexToHighlight = ""
      localStorage.removeItem("request_id")
    },
    async connectSocket() {
      this.socket = io.connect(process.env.socketUrl, { secure: true }); //connect to server

      this.socket.on("request", data => {
        const { req } = data;

        // remove and replace old data;
        const id = req.id;

        // find the index of old data;
        const pos = this.items
          .map(function(e) {
            return e.id;
          })
          .indexOf(id);

        this.items.splice(pos, 1); // remove

        // append new data;

        let request_type;

        // determine
        if (req.is_edit && req.is_reprint) {
          request_type = "Edit and Reprint";
        } else if (req.is_edit && !req.is_reprint) {
          request_type = "Edit";
        } else if (!req.is_edit && req.is_reprint) {
          request_type = "Reprint";
        }

        const draft_data = JSON.parse(req.draft_data);

        this.items.unshift({
          id: req.id,
          requester_name: req.requester_name,
          ticket_number: req.ticket_number,
          ticket_no: req.transaction_id,
          request_reason: req.request_reason,
          print_count: req.print_count,
          date_requested: this.formatDate(req.created_at),
          status: this.convertCase(req.status),
          request_type,
          is_edit: req.is_edit,
          draft_data,
          requester_id: req.created_by,
          current_print_count: req.current_print_count
        });
      });
    },

    getCss(index) {
      if (this.displayCurrent[index].value == this.displayNew[index].value) {
        return "background-color: white";
      } else {
        if (this.displayNew[index].label == "Remarks:"){
          var color
          this.displayNew[index].value == "" || null ? color = "background-color: white": color = "background-color: yellow"
          return color
        }
        return "background-color: yellow";
      }
    },

    async getItems() {
      // this.showLoading = true;
      this.isbusy = true;

      this.itemOptions = [];
      const res = await axios({
        method: "POST",
        url: `${this.$axios.defaults.baseURL}/items/select`,
        headers: {
          "Content-Type": "application/json",
          "X-HTTP-Method-Override": "GET",
          authorization: "Bearer " + localStorage.session
        },
        data: {
          mode: localStorage.mode,
          modules: JSON.parse(localStorage.modules)
        }
      });
      this.showLoading = false;
      this.isbusy = false;

      if (res.status === 200) {
        const data = res.data.view;
        for (let i = 0; i < data.length; i++) {
          const e = data[i];

          this.itemOptions.push(e.name);
        }
      }
    },

    async getSuppliers() {
      // this.showLoading = true;
      // this.isbusy = true;
      this.supplierOptions = [];

      const res = await axios({
        method: "POST",
        url: `${this.$axios.defaults.baseURL}/suppliers/select`,
        headers: {
          "Content-Type": "application/json",
          "X-HTTP-Method-Override": "GET",
          authorization: "Bearer " + localStorage.session
        },
        data: {
          mode: localStorage.mode,
          modules: JSON.parse(localStorage.modules)
        }
      });

      this.showLoading = false;
      // this.isbusy = false;

      if (res.status === 200) {
        const data = res.data.view;
        for (let i = 0; i < data.length; i++) {
          const e = data[i];

          this.supplierOptions.push(e.name);
        }
      }
    },

    async getPlateNumbers() {
      // this.showLoading = true;
      // this.isbusy = true;
      this.plateNumberOptions = [];

      const res = await axios({
        method: "POST",
        url: `${this.$axios.defaults.baseURL}/truck-infos/select`,
        headers: {
          "Content-Type": "application/json",
          "X-HTTP-Method-Override": "GET",
          authorization: "Bearer " + localStorage.session
        },
        data: {
          mode: localStorage.mode,
          modules: JSON.parse(localStorage.modules)
        }
      });

      this.showLoading = false;
      // this.isbusy = false;

      if (res.status === 200) {
        const data = res.data.view;
        for (let i = 0; i < data.length; i++) {
          const e = data[i];

          this.plateNumberOptions.push(e.plate_number.toUpperCase());
        }
      }
    },

    async getDrivers() {
      // this.showLoading = true;
      this.isbusy = true;
      this.driverOptions = [];

      const res = await axios({
        method: "POST",
        url: `${this.$axios.defaults.baseURL}/drivers/select`,
        headers: {
          "Content-Type": "application/json",
          "X-HTTP-Method-Override": "GET",
          authorization: "Bearer " + localStorage.session
        },
        data: {
          mode: localStorage.mode,
          modules: JSON.parse(localStorage.modules)
        }
      });

      this.showLoading = false;
      this.isbusy = false;

      if (res.status === 200) {
        const data = res.data.view;

        for (let i = 0; i < data.length; i++) {
          const e = data[i];

          const name = this.convertCase(`${e.last_name}, ${e.first_name}`);

          this.driverOptions.push(name);
        }
      }
    },
    async getUoms() {
      try {
        if (localStorage.mode == 1) {
          // online
          // this.showLoading = true;
          // this.isbusy = true;

          this.uomOptions = [];

          const res = await axios({
            method: "POST",
            url: `${this.$axios.defaults.baseURL}/transactions/uom`,
            headers: {
              "Content-Type": "application/json",
              "X-HTTP-Method-Override": "GET",
              authorization: `B1SESSION=${localStorage.session}`
            },
            data: {
              mode: localStorage.mode
            }
          });

          const v = res.data.view;
          if (res.status == 200) {
            for (let i = 0; i < v.length; i++) {
              this.uomOptions.push({
                value: v[i].UomEntry,
                text: this.convertCase(v[i].UomName)
              });
            }
          }

          this.showLoading = false;
          // this.isbusy = false;
        } else {
          // offline
        }
      } catch (e) {
        this.showLoading = false;
        this.isbusy = false;
        console.log(e);
      }
    },

    countDownChangedErr(dismissCountDown) {
      this.dismissCountDownErr = dismissCountDown;
    },
    showAlertErr() {
      this.dismissCountDownErr = this.dismissSecs;
    },
    countDownChanged(dismissCountDown) {
      this.dismissCountDown = dismissCountDown;
    },
    showAlert() {
      this.dismissCountDown = this.dismissSecs;
    },
    getAcronym() {
      const str = this.selectedLocation;
      const matches = str.match(/\b(\w)/g);
      const acronym = matches.join("");
      this.selectedLocationAcronym = acronym;
    },
    async clickPrint(items, index) {
      const role = localStorage.role;
      if (
        (items.status == "Approved" && role == "controller") ||
        (items.status == "Approved" && role == "admin")
      ) {
        try {
          // console.log(items, "Request Items");
          this.showLoading = true;
          // this.isbusy = true;

          this.transaction_id = items.ticket_no;

          // get print count and limit
          const res = await axios({
            method: "POST",
            url: `${this.$axios.defaults.baseURL}/print-logs/count`,
            data: {
              mode: 1,
              modules: JSON.parse(localStorage.modules),
              id: this.transaction_id
            },
            headers: {
              authorization: `B1SESSION=${localStorage.session}`
            }
          });

          this.showLoading = false;
          this.isbusy = false;

          const data = res.data.view[0];

          this.printed_documents = data.PRINTED_DOCUMENTS;
          this.print_limit = data.PRINT_LIMIT;

          this.printLocations = [
            { value: null, text: "Please choose location", disabled: true }
          ];
          for (let i = 0; i < data.location.length; i++) {
            const e = data.location[i].U_PRINT_LOC;
            const a = data.location[i].U_TS_STATUS;
            // if the status of print location is inactive, it will not display
            if (a == "active" || a == "Active") {
              this.printLocations.push({
                value: this.convertCase(e),
                text: this.convertCase(e)
              });
            }
          }

          this.selectedLocation = null;
          this.itemsWS = items;
          this.$bvModal.show("confirm-print-modal");
        } catch (e) {
          this.showLoading = false;
          this.isbusy = false;

          console.log("Error click print weight slip: ", e);
        }
      }
    },
    async rawPrint() {
      try {
        if (localStorage.mode == 1) {
          // online
          this.showLoading = true;
          this.isbusy = true;
          if (!this.selectedLocationAcronym) {
            this.showLoading = false;
            this.isbusy = false;

            this.errorMsg = "Please select print location.";
            return this.showAlertErr();
          }

          // check printing count
          if (this.printed_documents == this.print_limit) {
            this.showLoading = false;
            this.isbusy = false;

            this.errorMsg = "Already reached the printing limit.";
            return this.showAlertErr();
          }

          // add print logs; and raw printing
          const res = await axios({
            method: "POST",
            url: `${this.$axios.defaults.baseURL}/print-logs/add`,
            data: {
              mode: localStorage.mode,
              modules: JSON.parse(localStorage.modules),
              transaction_id: this.transaction_id,
              employee_id: localStorage.id,
              acronym: this.selectedLocationAcronym,
              item: this.itemsWS,
              printCounts: this.printed_documents
            },
            headers: {
              authorization: `B1SESSION=${localStorage.session}`
            }
          });

          this.showLoading = false;
          this.isbusy = false;
          if (res.data.posted.status == 201) {
            // success
            this.$bvModal.hide("confirm-print-modal");
            this.successMsg = "Printed successfully";
            this.selectedLocationAcronym = null;
            this.transaction_id = null;
            return this.showAlert();
          } else {
            // error
            this.errorMsg = "Error on inserting print logs, please try again.";
            return this.showAlertErr();
          }
        } else {
          // offline
        }
      } catch (e) {
        this.showLoading = false;
        this.isbusy = false;

        console.log("Error on print weight slip: ", e);
      }
    },

    async editApproveRequest() {
      try {
        this.showLoading = true;
        // this.isbusy = true;

        const editReportPayload = {
          mode: localStorage.mode,
          modules: JSON.parse(localStorage.modules),
          driver_id: this.draftData.driver,
          truck_info_id: this.draftData.plate_number,
          supplier: this.draftData.supplier,
          number_of_bags: this.draftData.quantity,
          item: this.draftData.item,
          updated_by: localStorage.id,
          supplier_address: this.draftData.supplier_address,
          uom_id: this.draftData.unit_of_measure,
          remarks: this.draftData.remarks
        };

        const resEdit = await axios({
          method: "PUT",
          url: `${this.$axios.defaults.baseURL}/transactions/request/update/${this.approveData.id}`,
          data: {
            mode: localStorage.mode,
            modules: JSON.parse(localStorage.modules),
            ...this.approveData,
            updated_by: localStorage.id,
            isApprove: true
          },
          headers: {
            authorization: `B1SESSION=${localStorage.session}`
          }
        });

        if (resEdit.status == 200) {
          // await this.getUoms();
          // await this.getDrivers();
          // await this.getPlateNumbers();
          // await this.getSuppliers();
          // await this.getItems();
          // await this.getRequests(); // reload using socket io
          this.successMsg = "Approved request successfully.";
          this.showAlert();
          this.$bvModal.hide("editApproveModal");
          this.$bvModal.hide("confirm-approve-edit-modal");
        }

        this.showLoading = false;
        this.isbusy = false;
      } catch (e) {
        console.log(e);
        this.showLoading = false;
        this.isbusy = false;
        this.errorMsg = e.response.data.error;
        this.showAlertErr();
      }
    },

    async approveRequest() {
      try {
        if (localStorage.mode == 1) {
          // online
          this.showLoading = true;
          // this.isbusy = true;

          const res = await axios({
            method: "PUT",
            url: `${this.$axios.defaults.baseURL}/transactions/request/update/${this.approveData.id}`,
            data: {
              mode: localStorage.mode,
              modules: JSON.parse(localStorage.modules),
              ...this.approveData,
              updated_by: localStorage.id,
              isApprove: true
            },
            headers: {
              authorization: `B1SESSION=${localStorage.session}`
            }
          });

          this.showLoading = false;
          this.isbusy = false;

          if (res.status == 200) {
            // await this.getRequests();
            this.successMsg = "Approved request successfully.";
            this.showAlert();
            this.$bvModal.hide("confirm-approve-modal");
          }
          await this.selectNotiRow()
        } else {
          // offline
        }
      } catch (e) {
        console.log(e);
        this.showLoading = false;
        this.isbusy = false;
        this.errorMsg = e.response.data.error;
        this.showAlertErr();
      }
    },

    async disapproveRequest() {
      try {
        this.showLoading = true;
        // this.isbusy = true;

        const res = await axios({
          method: "PUT",
          url: `${this.$axios.defaults.baseURL}/transactions/request/update/${this.disapproveData.id}`,
          data: {
            mode: localStorage.mode,
            modules: JSON.parse(localStorage.modules),
            updated_by: localStorage.id,
            isDisapprove: true
          },
          headers: {
            authorization: `B1SESSION=${localStorage.session}`
          }
        });

        this.showLoading = false;
        if (res.status == 200) {
          // await this.getRequests(); // reload using socket io
          // await this.getRequests()
          this.successMsg = "Request disapproved successfully!";
          this.showAlert();
          this.$bvModal.hide("confirm-disapprove-modal");
          this.isbusy = false;
        }
        await this.selectNotiRow()
      } catch (e) {
        console.log(e);
        this.showLoading = false;
        this.isbusy = false;
        this.errorMsg = e.response.data.error;
        this.showAlertErr();
      }
    },

    async cancelRequest() {
      try {
        this.showLoading = true;
        // this.isbusy = true;
        const res = await axios({
          method: "PUT",
          url: `${this.$axios.defaults.baseURL}/transactions/request/update/${this.cancelData.id}`,
          data: {
            mode: localStorage.mode,
            modules: JSON.parse(localStorage.modules),
            updated_by: localStorage.id,
            isCancel: true
          },
          headers: {
            authorization: `B1SESSION=${localStorage.session}`
          }
        });

        this.showLoading = false;
        this.isbusy = false;

        if (res.status == 200) {
          // await this.getRequests(); // reload will be socket io
          this.successMsg = "Cancelled request successfully.";
          this.showAlert();
          this.$bvModal.hide("confirm-cancel-modal");
        }
        await this.selectNotiRow()
      } catch (e) {
        console.log(e);
        this.showLoading = false;
        this.isbusy = false;
        this.errorMsg = e.response.data.error;
        this.showAlertErr();
      }
    },

    async validateRequest() {
      try {
        this.showLoading = true;
        // this.isbusy = true;

        const res = await axios({
          method: "PUT",
          url: `${this.$axios.defaults.baseURL}/transactions/request/update/${this.validateData.id}`,
          data: {
            mode: localStorage.mode,
            modules: JSON.parse(localStorage.modules),
            updated_by: localStorage.id,
            isValidate: true
          },
          headers: {
            authorization: `B1SESSION=${localStorage.session}`
          }
        });

        this.showLoading = false;
        this.isbusy = false;

        if (res.status == 200) {
          // await this.getRequests(); // reload will be socket io
          this.successMsg = "Request validated successfully.";
          this.showAlert();
          this.$bvModal.hide("confirm-validate-modal");
          this.$bvModal.hide("validateModal");
        }
        await this.selectNotiRow()
      } catch (e) {
        console.log(e);
        this.showLoading = false;
        this.isbusy = false;
        this.errorMsg = e.response.data.error;
        this.showAlertErr();
      }
    },

    cancel() {
      this.approveData = null;
      this.disapproveData = null;

      this.$bvModal.hide("confirm-approve-modal");
      this.$bvModal.hide("confirm-disapprove-modal");
      this.$bvModal.hide("confirm-approve-edit-modal");
      this.$bvModal.hide("confirm-validate-modal");
      this.$bvModal.hide("confirm-cancel-modal");
    },

    
    async openValidateModal(row) {
      await this.$refs.selectableTable.selectRow(row.index)
      try {
        const data = row.item;

        this.validateData = row.item;

        this.displayCurrent = [];
        this.displayNew = [];
        // if (condition) {
          
        // }
        if (data.is_edit) {
          this.showLoading = true;
          // this.isbusy = true;

          const res = await axios({
            method: "POST",
            url: `${this.$axios.defaults.baseURL}/transactions/select`,
            data: {
              id: data.ticket_no,
              mode: localStorage.mode,
              modules: JSON.parse(localStorage.modules)
            },
            headers: {
              authorization: `B1SESSION=${localStorage.session}`
            }
          });

          this.showLoading = false;
          this.isbusy = false;

          const v = res.data.view;
          
          this.$bvModal.show("validateModal");

          const driverInfo = v.driverDetails[0];
          const driver_name = this.convertCase(`${driverInfo.U_TS_LN}, ${driverInfo.U_TS_FN}`);

          var transroute;
          var transroute2;

          if(!v.transactionType){
            transroute = v.transactionDetails.value[0].BFITSUDO001;
            transroute2 = v.transactionDetails.value[0]["BFITSUDO001/BFI_TS_OBTRNCollection"];
          }else{
            transroute = v.transactionDetails;
            transroute2 = v.transactionDetails;
          }

          const truckInfo = v.truckInfoDetails[0];

          const trnsInfo = transroute;

          const obDetails = transroute2;

          this.editApproveModalData.plate_number =
            truckInfo.U_BFI_TS_TRINFO.U_TS_PLATE_NUM;
          this.editApproveModalData.driver = driver_name;
          this.editApproveModalData.supplier = trnsInfo.U_TS_SUPPLIER;
          this.editApproveModalData.supplier_address =
            trnsInfo.U_TS_SUPPLIER_ADD;
          this.editApproveModalData.item = trnsInfo.U_TS_ITEMNAME;
          this.editApproveModalData.quantity = trnsInfo.U_TS_NUM_BAGS;
          this.editApproveModalData.id = trnsInfo.DocEntry;
          this.editApproveModalData.unit_of_measure = trnsInfo.U_UOM;
          this.editApproveModalData.remarks = obDetails.U_TS_REMARKS;

          const currentUom = await this.uomOptions.find(
            uom => uom.text.toLowerCase() == trnsInfo.U_UOM_TS.toLowerCase()
          ).text;

          this.displayCurrent.push({
            label: "Plate Number:",
            value: truckInfo.U_BFI_TS_TRINFO.U_TS_PLATE_NUM.toUpperCase()
          });
          this.displayCurrent.push({
            label: "Driver:",
            value: this.convertCase(driver_name)
          });
          this.displayCurrent.push({
            label: "Supplier:",
            value: trnsInfo.U_TS_SUPPLIER.toUpperCase()
          });
          this.displayCurrent.push({
            label: "Supplier Address:",
            value: trnsInfo.U_TS_SUPPLIER_ADD.toUpperCase()
          });
          this.displayCurrent.push({
            label: "Item:",
            value: trnsInfo.U_TS_ITEMNAME
          });
          this.displayCurrent.push({
            label: "Unit Of Measure:",
            value: this.convertCase(currentUom)
          });
          this.displayCurrent.push({
            label: "Quantity:",
            value: trnsInfo.U_TS_NUM_BAGS
          });
          this.displayCurrent.push({
            label: "Remarks:",
            value: obDetails.BFI_TS_OBTRNCollection[0].U_TS_REMARKS
          });

          this.draftData = JSON.parse(data.draft_data);

          const newUom = await this.uomOptions.find(
            uom => uom.text.toLowerCase() == this.draftData.uom.toLowerCase()
          ).text;

          this.displayNew.push({
            label: "Plate Number:",
            value: this.draftData.plateNumber.toUpperCase()
          });
          this.displayNew.push({
            label: "Driver:",
            value: this.convertCase(this.draftData.driver)
          });
          this.displayNew.push({
            label: "Supplier:",
            value: this.draftData.supplier.toUpperCase()
          });
          this.displayNew.push({
            label: "Supplier Address:",
            value: this.draftData.address.toUpperCase()
          });
          this.displayNew.push({ label: "Item:", value: this.draftData.item });
          this.displayNew.push({
            label: "Unit Of Measure:",
            value: this.convertCase(newUom)
          });
          this.displayNew.push({
            label: "Quantity:",
            value: this.draftData.qty
          });
          this.displayNew.push({
            label: "Remarks:",
            value: this.draftData.remarks
          });
        } else {
          this.$bvModal.show("confirm-validate-modal");
        }
      } catch (e) {
        this.showLoading = false;
        this.isbusy = false;

        console.log(e);
      }
    },

    async openApproveModal(row) {
      await this.$refs.selectableTable.selectRow(row.index)
      try {
        const data = row.item;
        this.displayCurrent = [];
        this.displayNew = [];
        
        if (data.is_edit) {
          this.showLoading = true;
          // this.isbusy = true;
          const res = await axios({
            method: "POST",
            url: `${this.$axios.defaults.baseURL}/transactions/select`,
            data: {
              id: data.ticket_no,
              mode: localStorage.mode,
              modules: JSON.parse(localStorage.modules)
            },
            headers: {
              authorization: `B1SESSION=${localStorage.session}`
            }
          });
          this.showLoading = false;
          this.isbusy = false;

          const v = res.data.view;

          this.$bvModal.show("editApproveModal");

          const driverInfo = v.driverDetails[0];
          const driver_name = this.convertCase(`${driverInfo.U_TS_LN}, ${driverInfo.U_TS_FN}`);

          var transroute;
          var transroute2;

          if(!v.transactionType){
            transroute = v.transactionDetails.value[0].BFITSUDO001;
            transroute2 = v.transactionDetails.value[0]["BFITSUDO001/BFI_TS_OBTRNCollection"];
          }else{
            transroute = v.transactionDetails;
            transroute2 = v.transactionDetails;
          }

          const truckInfo = v.truckInfoDetails[0];
          const trnsInfo = transroute;

          const obDetails = transroute2;

          this.editApproveModalData.plate_number =
            truckInfo.U_BFI_TS_TRINFO.U_TS_PLATE_NUM;
          this.editApproveModalData.driver = driver_name;
          this.editApproveModalData.supplier = trnsInfo.U_TS_SUPPLIER;
          this.editApproveModalData.supplier_address =
            trnsInfo.U_TS_SUPPLIER_ADD;
          this.editApproveModalData.item = trnsInfo.U_TS_ITEMNAME;
          this.editApproveModalData.quantity = trnsInfo.U_TS_NUM_BAGS;
          this.editApproveModalData.id = trnsInfo.DocEntry;
          this.editApproveModalData.unit_of_measure = trnsInfo.U_UOM;
          this.editApproveModalData.remarks = obDetails.U_TS_REMARKS;

          const currentUom = await this.uomOptions.find(
            uom => uom.text.toLowerCase() == trnsInfo.U_UOM_TS.toLowerCase()
          ).text;

          this.displayCurrent.push({
            label: "Plate Number:",
            value: truckInfo.U_BFI_TS_TRINFO.U_TS_PLATE_NUM.toUpperCase()
          });
          this.displayCurrent.push({
            label: "Driver:",
            value: this.convertCase(driver_name)
          });
          this.displayCurrent.push({
            label: "Supplier:",
            value: trnsInfo.U_TS_SUPPLIER.toUpperCase()
          });
          this.displayCurrent.push({
            label: "Supplier Address:",
            value: trnsInfo.U_TS_SUPPLIER_ADD.toUpperCase()
          });
          this.displayCurrent.push({
            label: "Item:",
            value: trnsInfo.U_TS_ITEMNAME
          });
          this.displayCurrent.push({
            label: "Unit Of Measure:",
            value: this.convertCase(currentUom)
          });
          this.displayCurrent.push({
            label: "Quantity:",
            value: trnsInfo.U_TS_NUM_BAGS
          });
          this.displayCurrent.push({
            label: "Remarks:",
            value: obDetails.BFI_TS_OBTRNCollection[0].U_TS_REMARKS
          });

          this.draftData = JSON.parse(data.draft_data);

          const newUom = await this.uomOptions.find(
            uom => uom.text.toLowerCase() == this.draftData.uom.toLowerCase()
          ).text;

          this.displayNew.push({
            label: "Plate Number:",
            value: this.draftData.plateNumber.toUpperCase()
          });
          this.displayNew.push({
            label: "Driver:",
            value: this.convertCase(this.draftData.driver)
          });
          this.displayNew.push({
            label: "Supplier:",
            value: this.draftData.supplier.toUpperCase()
          });
          this.displayNew.push({
            label: "Supplier Address:",
            value: this.draftData.address.toUpperCase()
          });
          this.displayNew.push({ label: "Item:", value: this.draftData.item });
          this.displayNew.push({
            label: "Unit Of Measure:",
            value: this.convertCase(newUom)
          });
          this.displayNew.push({
            label: "Quantity:",
            value: this.draftData.qty
          });
          this.displayNew.push({
            label: "Remarks:",
            value: this.draftData.remarks
          });

          this.approveData = data;
        } else {
          this.approveData = data;
          this.$bvModal.show("confirm-approve-modal");
        }
      } catch (e) {
        this.showLoading = false;
        this.isbusy = false;
        console.log(e);
      }
    },

    openCancelModal(row) {
      this.$refs.selectableTable.selectRow(row.index)
      this.cancelData = row.item;
      this.$bvModal.show("confirm-cancel-modal");
    },

    openDisapproveModal(row) {
      this.$refs.selectableTable.selectRow(row.index)
      this.disapproveData = row.item;

      this.$bvModal.show("confirm-disapprove-modal");
    },
    accessRightExists(access) {
      const modules = JSON.parse(localStorage.modules);

      for (let i = 0; i < modules.length; i++) {
        for (let i2 = 0; i2 < modules[i].actions.length; i2++) {
          if (modules[i].actions[i2].actionname.toLowerCase() == access) {
            return true;
          }
        }
      }

      return false;
    },
    async getRequests() {
      try {
        // this.showLoading = true;
        // this.isbusy = true;
        this.items = [];
        this.selectedFilters = [];
        this.statusFilters = [];
        const res = await axios({
          method: "POST",
          url: `${this.$axios.defaults.baseURL}/transactions/request/select`,
          headers: {
            authorization: "Bearer " + localStorage.session
          },
          data: {
            from: this.dateRange.date_from,
            to: this.dateRange.date_to,
            mode: localStorage.mode,
            modules: JSON.parse(localStorage.modules)
          }
        });

        this.showLoading = false;
        // this.isbusy = false;

        for (let i = 0; i < res.data.view.length; i++) {
          const e = res.data.view[i];
          // console.log(e, "REQUEST TABLE");
          let request_type;

          // determine
          if (e.is_edit && e.is_reprint) {
            request_type = "Edit and Reprint";
          } else if (e.is_edit && !e.is_reprint) {
            request_type = "Edit";
          } else if (!e.is_edit && e.is_reprint) {
            request_type = "Reprint";
          }

          const draft_data = JSON.parse(e.draft_data);

          this.items.unshift({
            id: e.id,
            requester_name: e.requester_name,
            ticket_no: e.transaction_id,
            request_reason: e.request_reason,
            print_count: e.print_count,
            date_requested: this.formatDate(e.created_at),
            status: this.convertCase(e.status),
            request_type,
            is_edit: e.is_edit,
            ticket_number: e.ticket_number,
            draft_data,
            requester_id: e.created_by,
            current_print_count: e.current_print_count
          });
        }
      } catch (e) {
        this.showLoading = false;
        this.isbusy = false;
      }
    },

    formatDate(created_at) {
      return moment(created_at).format("MMM DD, YYYY hh:mm A");
    },
    convertCase(str) {
      if (str) {
        const splitStr = str.toLowerCase().split(" ");
        for (let i = 0; i < splitStr.length; i++) {
          splitStr[i] =
            splitStr[i].charAt(0).toUpperCase() + splitStr[i].substring(1);
        }
        return splitStr.join(" ");
      } else {
        return str;
      }
    },

    onFiltered(filteredItems) {
      // Trigger pagination to update the number of buttons/pages due to filtering
      this.totalRows = filteredItems.length;
      this.currentPage = 1;
    },

    async resetDate() {
      this.datePicker.startDate = moment().format("MMM DD, YYYY");
      this.datePicker.endDate = moment().format("MMM DD, YYYY");

      (this.dateRange.date_from = moment(this.datePicker.startDate).format(
        "YYYY-MM-DD"
      )),
        (this.dateRange.date_to = moment(this.datePicker.endDate).format(
          "YYYY-MM-DD"
        ));

      await this.getRequests();
    },
    async updateValues() {
      this.datePicker.startDate = moment(this.datePicker.startDate).format(
        "MMM DD, YYYY"
      );
      this.datePicker.endDate = moment(this.datePicker.endDate).format(
        "MMM DD, YYYY"
      );
      (this.dateRange.date_from = moment(this.datePicker.startDate).format(
        "YYYY-MM-DD"
      )),
        (this.dateRange.date_to = moment(this.datePicker.endDate).format(
          "YYYY-MM-DD"
        ));
      this.isbusy = true;
      await this.getRequests();
      this.isbusy = false;

      this.totalRows = this.items.length;
    }
  }
};
</script>

<style>
.reportrange-text[data-v-1cd3ebdc] {
  /* background: #fff; */
  /* cursor: pointer; */
  border: 1px solid #ccc;
  height: 2rem;
  width: 11rem;
  font-size: 12px;
}

body {
  background-color: white;
}

.reportrange-text[data-v-8cc9549e] {
  background: #fff;
  cursor: pointer;
  padding: 5px 10px;
  border: 1px solid #ccc;
  width: 100%;
  height: 2rem;
  font-size: 12px;
  text-align: center;
}
.daterangepicker.show-ranges .drp-calendar.left {
  position: relative;
  right: 8px;
}

.daterangepicker.show-ranges .drp-calendar.left {
  border-left: 0px solid #ddd;
}

.daterangepicker .ranges li.active {
  background-color: #28a745;
  color: #fff;
}
.daterangepicker td.active,
.daterangepicker td.active:hover {
  background-color: #28a745;
  border-color: transparent;
  color: #fff;
}

html {
  background-color: white;
}
.color1 {
  color: #00803e;
}
.icon {
  margin-left: 5px;
  margin-right: 10px;
}
.button1 {
  background-color: #00803e;
  color: white;
}
.button2 {
  background-color: #ff6600;
  color: white;
}
.align {
  float: right;
}
.table-fixed {
  width: 100%;
  background-color: #f3f3f3;
}
.printTable {
  padding: 100 !important;
  table-layout: fixed;
}
.err {
  background-color: #f12d2d;
  color: white;
  z-index: 999999;
}
</style>
