<template>
  <div id="requests-view" class="my-3">
    <h4 class="color1 ml-4">
      <font-awesome-icon icon="truck" class="icon" />Trucks
    </h4>
    <b-card class="mainContent" style="padding-bottom: 0 !important;">
      <!-- active-nav-item-class="font-weight-bold color-success text-success" -->
      <b-tabs id="tabs" v-model="tabIndex">
        <b-tab id="tab1" title="Truck">
          <truck />
        </b-tab>
        <b-tab id="tab2" title="Truck Type">
          <trucktype />
        </b-tab>
      </b-tabs>
    </b-card>

    <!-- ALERT SUCCESSFULL END -->
  </div>
</template>

<script>
// import alert from "@/components/Alert/Successful";
import truck from "@/components/Truck/truck";
import trucktype from "@/components/Truck/truck_type";
export default {
  head() {
    return {
      title: this.notif + " Trucks - TSIS",
      meta: [
        {
          hid: "description",
          name: "description",
          content: "Truck Scale Integrated System"
        }
      ]
    };
  },
  data() {
    return {
      tabIndex: 0,
      notif: ''
    };
  },
  middleware: "pageValidator",
  meta: {
    access: { right: "view trucks" }
  },
  async created(){
    await this.getNotif()
  },
  methods: {
    getNotif(){
      const notif = localStorage.getItem("notiCounter")
      if(notif == 0 || notif == null){
        this.notif = ""
      }else{
        this.notif = "("+notif+")"
      }
    }
  },

  components: {
    //   alert
    truck,
    trucktype
  },
  layout: "sidebar"
};
</script>

<style scoped>
.button1 {
  background-color: #00803e;
  color: white;
}

.color1 {
  color: #00803e !important;
}
.icon {
  margin-left: 5px;
  margin-right: 10px;
}
.fixed {
  position: fixed;
  bottom: 0%;
  right: 2%;
}
</style>
