<template>
  <div class="my-3" id="requests-view">
    <!-- loading overlay -->
    <Loading v-if="showLoading" />

    <!-- header -->
    <h4 class="color1 ml-4">
      <font-awesome-icon icon="id-badge" class="icon" />Users
    </h4>

    <div class="mainContent">
      <div class="tableContainer">
        <!-- table view -->

        <!-- search bar -->
        <div class="tableHeader">
          <b-form-group class="searchbar">
            <b-input-group size="sm">
              <b-form-input
                style="font-size:13px"
                v-model="filter"
                type="search"
                id="filterInput"
                class="searchbar no-outline"
                placeholder="Type to Search"
              ></b-form-input>
              <b-input-group-append>
                <b-button
                  id="inputSearchClear"
                  :disabled="!filter"
                  @click="filter = ''"
                  >Clear</b-button
                >
              </b-input-group-append>
            </b-input-group>
          </b-form-group>
          <b-dropdown
            id="dropdown-grouped"
            class="searchbar customFilter"
            style="float:right;"
            size="sm"
            right
          >
            <template #button-content>
              <i class="fas fa-filter"></i>
            </template>
            <b-dropdown-group>
              <b-form-checkbox-group
                size="sm"
                v-model="selectedStatus"
                class="ml-4"
                :options="statusFilter"
              >
              </b-form-checkbox-group>
            </b-dropdown-group>
          </b-dropdown>
        </div>

        <b-table
          id="table"
          class="my-1"
          style="font-size:13px"
          show-empty
          small
          scrollable
          stacked="md"
          selectable
          select-mode="single"
          ref="selectableTable"
          :busy="isbusy"
          :items="computedItems"
          :fields="fields"
          :current-page="currentPage"
          :per-page="perPage"
          :filter="filter"
          :filterIncludedFields="filterOn"
          :sort-by.sync="sortBy"
          :sort-desc.sync="sortDesc"
          :sort-direction="sortDirection"
          @filtered="onFiltered"
        >
          <template #table-busy>
            <div class="text-center text-secondary my-2">
              <b-spinner class="align-middle"></b-spinner>
              <strong>&nbsp;Loading...</strong>
            </div>
          </template>
          <template v-slot:cell(userStatus)="row">
            <div class="text-center" v-if="row.item.userStatus == 'active'">
              <b-badge pill variant="success">active</b-badge>
            </div>
            <div class="text-center" v-else>
              <b-badge variant="danger">inactive</b-badge>
            </div>
          </template>
          <template v-slot:cell(Actions)="row">
            <button
              id="createDRm"
              class="editBtn"
              @click="openModal(row)"
              v-b-tooltip.hover
              title="Edit User"
            >
              <font-awesome-icon icon="edit" class="editIcon" />
            </button>
            <button
              id="createDRm"
              class="disapproveBtn"
              @click="showYesNo(row)"
              v-b-tooltip.hover
              title="Reset Password"
            >
              <font-awesome-icon icon="redo" small class="disapproveIcon" />
            </button>
          </template>
          <template v-slot:table-caption>
            <b-row align-h="end">
              <b-col cols="6">{{ bottomLabel }}</b-col>

              <b-col cols="6">
                <b-pagination
                  id="pagination"
                  pills
                  v-model="currentPage"
                  :total-rows="totalRows"
                  :per-page="perPage"
                  align="right"
                  size="sm"
                ></b-pagination>
              </b-col>
            </b-row>
          </template>
        </b-table>

        <!-- end table view -->
      </div>

      <!-- add employee form -->
      <div class="addingContainer">
        <b-card-text>
          <h5 class="color1">ADD NEW TSIS USER</h5>
        </b-card-text>
        <hr />

        <!-- #region Add New TSIS Form -->
        <b-form-group
          id="empId"
          class="mb-3"
          label="Employee:"
          label-for="input-2"
          style="width:100%; font-size: 13px;"
        >
          <div
            style="display: flex; flex-direction: row; width:100%; justify-content: space-between"
          >
            <b-form-input
              style="font-size:13px; width: 80%;"
              id="EmployeeIdInput"
              class="mr-2"
              required
              readonly
              placeholder="Click Select to choose an Employee"
              v-model="employeeName"
              autocomplete="off"
            ></b-form-input>

            <b-button
              class="greenBtn"
              variant="success"
              style="font-size:13px; width: 20%; height: calc(1.5em + 0.75rem + 2px);"
              @click="modalShow = true"
              :disabled="isbusy"
            >
              Select
            </b-button>
          </div>
        </b-form-group>

        <b-form-group
          id="empId"
          label="Employee ID:"
          label-for="input-2"
          style="font-size:13px"
        >
          <b-form-input
            style="font-size:13px"
            id="empIdInput"
            autocomplete="off"
            v-model="empId"
            required
          ></b-form-input>
        </b-form-group>

        <b-form-group
          id="lname"
          label="Contact Number:"
          label-for="input-2"
          style="font-size:13px"
        >
          <b-form-input
            style="font-size:13px"
            id="LNameInput"
            autocomplete="off"
            v-model="contactNumber"
            required
          ></b-form-input>
        </b-form-group>

        <b-form-group
          id="emails"
          label="Email:"
          label-for="emailss"
          style="font-size:13px"
        >
          <b-form-input
            style="font-size:13px"
            id="emailss"
            autocomplete="off"
            v-model="email"
            required
          ></b-form-input>
        </b-form-group>

        <b-form-group
          id="addRole"
          label="Role"
          label-for="input-2"
          style="font-size:13px"
        >
          <b-form-select
            style="font-size:13px"
            id="RoleSelect"
            v-model="selectedRole"
            :options="roles"
            required
          ></b-form-select>
        </b-form-group>

        <b-form-group
          id="islicensed"
          label="Is Licensed"
          label-for="checkbox"
          style="font-size:13px"
        >
          <b-form-checkbox
            id="checkbox"
            v-model="isLicensed"
            name="check-button"
            disabled
            switch
          >
            <b>{{ isLicensed ? "Yes" : "No" }}</b>
          </b-form-checkbox>
        </b-form-group>
        <br />
        <div class="btnContainer">
          <b-button
            :disabled="isbusy"
            @click="addUser"
            variant="success"
            class="greenBtn mr-2"
            style="font-size: 13px;"
          >
            Add
          </b-button>
          <button
            @click="clearFields()"
            class="greyBtn"
            style="font-size: 13px;"
          >
            Clear
          </button>
        </div>
        <!-- #endregion -->
      </div>
      <!-- end employee form -->
    </div>
    <!--#region select modal or add new employee to SAP -->
    <b-modal
      v-model="modalShow"
      id="modal-xl"
      size="xl"
      title="Select Employee"
      no-close-on-backdrop
      hide-footer
      header-text-variant="light"
      header-bg-variant="success"
    >
      <div style="width: auto; display: flex; flex-direction:row">
        <div class="addingContainer" style="float: left; margin: 0 1rem 0 0;">
          <h5 class="color1 mb-3 d-flex justify-content-center">
            Add Employee to SAP
          </h5>
          <hr />
          <b-form-group
            id="selectCompany"
            label="Company:"
            label-for="input-2"
            style="font-size:13px"
          >
            <b-form-select
              style="font-size:13px"
              id="companySelect"
              v-model="selectedCompany"
              :options="companies"
              @keyup.enter="addOtherUser()"
              required
            ></b-form-select>
          </b-form-group>
          <b-form-group
            id="empId_others"
            label="Employee ID:"
            style="font-size:13px"
          >
            <b-form-input
              style="font-size:13px"
              id="empIdOthers"
              type="number"
              autocomplete="off"
              v-model="empId_others"
              @keyup.enter="addOtherUser()"
              required
            ></b-form-input>
          </b-form-group>
          <b-form-group
            id="fname_others"
            label="First Name:"
            style="font-size:13px"
          >
            <b-form-input
              style="font-size:13px"
              id="otherUsers_fnameinput"
              autocomplete="off"
              @keyup.enter="addOtherUser()"
              v-model="firstName_others"
              required
            ></b-form-input>
          </b-form-group>

          <!-- <b-form-group id="emails" label="Middle Name:" style="font-size:13px">
            <b-form-input
              style="font-size:13px"
              id="middleNameOthers"
              placeholder="(Optional)"
              autocomplete="off"
              v-model="middleName_others"
            ></b-form-input>
          </b-form-group> -->

          <b-form-group
            id="lname_others"
            label="Last Name:"
            label-for="emails"
            style="font-size:13px"
          >
            <b-form-input
              style="font-size:13px"
              id="lastNameOthers"
              autocomplete="off"
              v-model="lastName_others"
              @keyup.enter="addOtherUser()"
              required
            ></b-form-input>
          </b-form-group>
          <!-- <b-form-group id="emails" label="Email:" style="font-size:13px">
            <b-form-input
              style="font-size:13px"
              id="emailOthers"
              autocomplete="off"
              v-model="email_others"
              required
            ></b-form-input>
          </b-form-group> -->

          <!-- <b-form-group
            id="addRole"
            label="Role"
            label-for="input-2"
            style="font-size:13px"
          >
            <b-form-select
              style="font-size:13px"
              id="RoleSelect"
              v-model="selectedRole"
              :options="roles"
              required
            ></b-form-select>
          </b-form-group> -->

          <div class="btnContainer mt-4 d-flex justify-content-center">
            <b-button
              @click="addOtherUser()"
              :disabled="isbusy"
              variant="success"
              class="greenBtn mr-2"
              style="font-size: 13px;"
            >
              Add
            </b-button>
            <button
              @click="clearOthersFields()"
              class="greyBtn"
              style="font-size: 13px;"
            >
              Clear
            </button>
          </div>
        </div>
        <div
          style="margin: 0 1rem 1rem 0"
          class="printableTable tableContainer"
        >
          <b-col>
            <!-- search bar -->
            <b-form-group
              style="font-size:13px"
              label="Search"
              label-cols-sm="3"
              label-align-sm="left"
              label-size="sm"
              label-for="filterEmp"
            >
              <b-input-group size="sm">
                <b-form-input
                  style="font-size:13px"
                  v-model="filterEmp"
                  type="search"
                  id="filterEmpImput"
                  class="searchbar"
                  label-align-sm="left"
                  placeholder="Type to Search"
                ></b-form-input>
                <b-input-group-append>
                  <b-button
                    id="inputSearchClear"
                    :disabled="!filterEmp"
                    @click="filterEmp = ''"
                    >Clear</b-button
                  >
                </b-input-group-append>
              </b-input-group>
            </b-form-group>
            <!-- REVIVE OR BIOTECH USER SELECT-->
            <b-form-group
              style="font-size:13px"
              label="Company User"
              label-cols-sm="3"
              label-align-sm="left"
              label-size="sm"
              label-for="filterEmp"
            >
              <b-input-group size="sm">
                <b-form-select
                  v-model="company"
                  :options="users"
                  @change="getAllEmployees()"
                  class="mb-3"
                ></b-form-select>
              </b-input-group>
            </b-form-group>
          </b-col>

          <!-- table employees -->
          <b-table
            id="empTable"
            class="my-3 mr-3 ml-3"
            style="font-size:13px"
            show-empty
            small
            stacked="md"
            :busy="isbusy"
            :items="employees"
            :fields="fieldsEmp"
            :current-page="currentPages"
            :per-page="perPages"
            :filter="filterEmp"
            :filterIncludedFields="filterOn"
            :sort-by.sync="sortBy"
            :sort-desc.sync="sortDesc"
            :sort-direction="sortDirection"
            @row-clicked="getEmployeeId"
            @filtered="onFiltereds"
          >
            <template #table-busy>
              <div class="text-center text-secondary my-2">
                <b-spinner class="align-middle"></b-spinner>
                <strong>&nbsp;Loading...</strong>
              </div>
            </template>
            <template v-slot:table-caption>
              <b-row align-h="end">
                <b-col cols="6">{{ bottomLabels }}</b-col>

                <b-col cols="6">
                  <b-pagination
                    id="pagination"
                    pills
                    v-model="currentPages"
                    :total-rows="totalRowss"
                    :per-page="perPages"
                    align="right"
                    size="sm"
                  ></b-pagination>
                </b-col>
              </b-row>
            </template>
          </b-table>
        </div>
      </div>
    </b-modal>
    <!--#endregion end modal select employees -->

    <!--#region update employee modal -->
    <b-modal
      v-model="updateModal"
      id="modal-xl"
      size="xl"
      header-bg-variant="success"
      header-text-variant="white"
      title="Update Employee"
      hide-header-close
      no-close-on-backdrop
    >
      <b-card style="height:30%">
        <b-form-group
          id="empId"
          label="Employee"
          label-for="input-2"
          style="font-size:13px"
        >
          <b-form-input
            style="font-size:13px"
            id="EmployeeIdInput"
            required
            readonly
            v-model="userData.fullname"
            autocomplete="off"
          ></b-form-input>
        </b-form-group>

        <b-form-group
          id="empId"
          label="Employee ID:"
          label-for="input-2"
          style="font-size:13px"
        >
          <b-form-input
            style="font-size:13px"
            id="empIdInput"
            autocomplete="off"
            v-model="userData.id"
            required
          ></b-form-input>
        </b-form-group>

        <b-form-group
          id="lname"
          label="Contact Number:"
          label-for="input-2"
          style="font-size:13px"
        >
          <b-form-input
            style="font-size:13px"
            id="LNameInput"
            autocomplete="off"
            v-model="userData.contact"
            type="number"
            required
          ></b-form-input>
        </b-form-group>

        <b-form-group
          id="emails"
          label="Email:"
          label-for="emailss"
          style="font-size:13px"
        >
          <b-form-input
            style="font-size:13px"
            id="emailss"
            autocomplete="off"
            v-model="userData.email"
            required
          ></b-form-input>
        </b-form-group>

        <b-form-group
          id="addRole"
          label="Role"
          label-for="input-2"
          style="font-size:13px"
        >
          <b-form-select
            v-if="userData.role"
            style="font-size:13px"
            id="RoleSelect"
            v-model="userData.role.id"
            :options="roles"
            required
          ></b-form-select>
        </b-form-group>

        <b-row>
          <b-col>
            <b-form-group
              id="islicensed"
              label="Is Licensed"
              label-for="checkbox"
              style="font-size:13px"
            >
              <b-form-checkbox
                id="checkbox"
                v-model="userData.is_licensed"
                name="check-button"
                disabled
                switch
              >
                <b>{{ userData.is_licensed ? "Yes" : "No" }}</b>
              </b-form-checkbox>
            </b-form-group>
          </b-col>
          <b-col>
            <b-form-group
              id="userStatus"
              label="Status"
              label-for="checkbox"
              style="font-size:13px;"
            >
              <b-form-checkbox
                id="userStatuscb"
                v-model="userData.status"
                name="check-button"
                switch
              >
                <b>{{ userData.status ? "Active" : "Inactive" }}</b>
              </b-form-checkbox>
            </b-form-group>
          </b-col>
        </b-row>
        <!-- button -->
      </b-card>
        <template v-slot:modal-footer>
          <div class="btnContainer mb-3">
            <b-button
              size="sm"
              @click="updateEmployee"
              variant="success"
              class="mr-2 greenBtn"
              >Update</b-button
            >
            <b-button size="sm" @click="closeUpdateModal" class="greyBtn"
              >Close</b-button
            >
          </div>
        </template>

      <!-- alert -->
      <b-alert
        :show="dismissCountDownErrs"
        dismissible
        fade
        class="err fixed"
        @dismiss-count-down="countDownChangedErrs"
        >{{ errorMsg }}</b-alert
      >
    </b-modal>
    <!--#endregion end update employee modal -->

    <!-- yes no modal -->
    <b-modal
      ref="yes-no-modal"
      header-bg-variant="danger"
      header-text-variant="light"
      no-close-on-backdrop
      hide-header-close
    >
      <template #modal-title>
        <div style="display:flex; flex-direction:row; align-items:center">
          <i style="color:white" class="fas fa-exclamation-triangle"></i>
          <h4 style="margin-bottom:3px">&nbsp;&nbsp;WARNING!</h4>
        </div>
      </template>
      <div>
        <h5>
          The employee's password and code will be reset, do you want to
          continue?
        </h5>
      </div>
      <template v-slot:modal-footer="{ cancel }">
        <b-button
          id="add_pos"
          size="sm"
          variant="danger"
          style="font-size: 13px"
          class="redBtn"
          @click="resetPassword"
          >Yes</b-button
        >
        <b-button
          id="close_pos"
          class="greyBtn"
          size="sm"
          style="font-size: 13px;"
          @click="cancel()"
          >No</b-button
        >
      </template>
    </b-modal>
    <!-- end yes no modal -->

    <!-- messages -->
    <b-alert
      :show="dismissCountDown"
      dismissible
      fade
      class="button1 fixed"
      @dismiss-count-down="countDownChanged"
      >{{ successMsg }}</b-alert
    >
    <!-- error msg -->
    <b-alert
      :show="dismissCountDownErr"
      dismissible
      fade
      class="err fixed"
      @dismiss-count-down="countDownChangedErr"
      >{{ errorMsg }}</b-alert
    >
  </div>
</template>

<script>
import axios from "axios";
import moment from "moment";
import Loading from "~/components/LoadingOverlay/Loadings.vue";

export default {
  components: {
    Loading
  },
  middleware: "pageValidator",
  meta: {
    access: { right: "view users" }
  },
  layout: "sidebar",
  head() {
    return {
      title: "Admin | Users - TSIS",
      meta: [
        {
          hid: "description",
          name: "description",
          content: "Truck Scale Integrated System"
        }
      ]
    };
  },
  data() {
    return {
      tabIndex: 0,
      resetPwCode: [],
      isLicensed: false,
      employeeName: null,
      filterEmp: null,
      modalShow: false,
      showLoading: false,
      isbusy: true,
      filter: null,
      contactNumber: null,
      email: null,
      selectedCompany: null,
      selectedRole: null,
      roles: [],
      companies: [
        {text: "Biotech Farms Inc.", value:"biotech"},
        {text: "Revive Croptech Inc.", value:"revive"}
      ],
      company: `BIOTECH FARMS INC.`,
      users: ["BIOTECH FARMS INC.", "REVIVE"],
      employeeId: null, // when select employee
      empId: null, // form
      //   table model home view
      items: [],
      checked: true,
      statusFilter: [
        { text: "Active", value: "active" },
        { text: "Inactive", value: "inactive" }
      ],
      empId_others: null,
      firstName_others: null,
      lastName_others: null,
      contactNumber_others: null,
      fields: [
        { key: "employee_id", label: "Employee Id", sortable: true },
        { key: "email", label: "Email", sortable: true },
        { key: "fullname", label: "Full Name", sortable: true },
        { key: "role_name", label: "Role", sortable: true },
        { key: "userStatus", label: "Status", sortable: true, class:"text-center" },
        { key: "Actions", label: "Actions", class: "text-center" }
      ],
      currentPage: 1,
      perPage: 12,
      filterOn: [],
      sortBy: "",
      sortDesc: false,
      sortDirection: "asc",
      totalRows: 1,
      //   til here table home models
      //   table modal view
      employees: [],
      fieldsEmp: [
        { key: "employee_id", label: "SAP ID", sortable: true },
        { key: "employee_number", label: "Employee Number", sortable: true },
        { key: "fullname", label: "Full Name", sortable: true },
        { key: "is_user", label: "Is Licensed", sortable: true }
      ],
      currentPages: 1,
      perPages: 10,
      totalRowss: 1,
      // end table modal view
      successMsg: null,
      errorMsg: null,
      dismissCountDownErr: 0,
      dismissCountDownErrs: 0,
      dismissSecs: 3,
      dismissCountDown: 0,
      userIdUpdate: null,
      userData: {},
      updateModal: false,
      selectedStatus: ["active"]
    };
  },
  computed: {
    bottomLabel() {
      let end = this.perPage * this.currentPage;
      let start = end - this.perPage + 1;

      if (end > this.computedItems.length) {
        end = this.computedItems.length;
      }

      if (this.computedItems.length === 0) {
        start = 0;
      }

      return `Showing ${start} to ${end} of ${this.computedItems.length} entries`;
    },
    bottomLabels() {
      let end = this.perPages * this.currentPages;
      let start = end - this.perPages + 1;

      if (end > this.employees.length) {
        end = this.employees.length;
      }

      if (this.employees.length === 0) {
        start = 0;
      }

      return `Showing ${start} to ${end} of ${this.employees.length} entries`;
    },
    sortOptions() {
      return this.fields
        .filter(f => f.sortable)
        .map(f => {
          return { text: f.label, value: f.key };
        });
    },
    sortOption() {
      return this.fieldsEmp
        .filter(f => f.sortable)
        .map(f => {
          return { text: f.label, value: f.key };
        });
    },
    computedItems() {
      const pageSize = () => {
        return this.items.filter(e => {
          return this.selectedStatus.includes(e.userStatus);
        });
      };

      const pages = pageSize();
      this.totalRows = pages.length;

      return this.items.filter(e => {
        return this.selectedStatus.includes(e.userStatus);
      });
    }
  },
  async created() {
    await this.getUsers();
    await this.getAllEmployees();
    await this.getRoles();
    this.totalRows = this.computedItems.length;
    this.totalRowss = this.employees.length;
    this.isbusy = false;
  },
  methods: {
    linkClass(idx) {
      if (this.tabIndex === idx) {
        return [, "bg-success", "text-white", "font-weight-bold"];
      } else {
        return ["text-success"];
      }
    },
    onFiltereds(filteredItems) {
      this.totalRowss = filteredItems.length;
      this.currentPages = 1;
    },
    onFiltered(filteredItems) {
      this.totalRows = filteredItems.length;
      this.currentPage = 1;
    },
    // show yes no modal
    showYesNo(row) {
      this.$refs.selectableTable.selectRow(row.index)
      this.$refs["yes-no-modal"].show();
      this.resetPwCode = row;
    },
    // hide yes no modal
    hideYesNo() {
      this.$refs["yes-no-modal"].hide();
      this.resetPwCode = [];
    },
    // reset pw and pin
    async resetPassword() {
      try {
        if (localStorage.mode == 1) {
          this.showLoading = true;
          // online mode
          const row = this.resetPwCode;

          // primary key
          const id = row.item.id;

          // employee id
          const empId = row.item.employee_id;

          const data = {
            U_TS_PW: empId,
            U_TS_LOGIN_COUNT: "0",
            U_TS_PIN: null,
            mode: 1
          };

          const res = await axios({
            method: "POST",
            url: `${this.$axios.defaults.baseURL}/users/reset/${id}`,
            data: {
              ...data
            },
            headers: {
              authorization: `B1SESSION=${localStorage.session}`
            }
          });

          const status = res.data.patched.status;

          if (status == 204) {
            this.showLoading = false;
            this.hideYesNo();
            this.successMsg = "Password and code reset successfully.";
            this.showAlert();
          }
        } else {
          // offline mode
        }
      } catch (e) {
        if (localStorage.mode == 1) {
          this.showLoading = false;
          this.hideYesNo();
          try {
            // JSON error
            const err = JSON.parse(e.response.data.error);
            this.errorMsg = err.msg;
            this.showAlertErr();
          } catch (er) {
            // not JSON
            this.errorMsg = e.response.data.error;
            this.showAlertErr();
          }
        } else {
          console.log("Error: ", e);
          this.errorMsg = e.response.data.error;
          this.showAlertErr();
        }
      }
    },
    async updateEmployee() {
      try {
        if (localStorage.mode == 1) {
          this.showLoading = true;
          this.isbusy = true;
          const d = new Date().toDateString();
          const t = new Date().toTimeString();
          const date = moment(d).format("YYYY-MM-DD");
          const time = await this.fixTime(t);

          const empStatus = this.userData.status ? "active" : "inactive";
          // test
          const res = await axios({
            method: "PUT",
            url: `${this.$axios.defaults.baseURL}/users/update/${this.userIdUpdate}`,
            data: {
              U_TS_EMP_ID: this.userData.id,
              U_TS_ROLE_ID: this.userData.role.id,
              U_TS_UPDATEDATE: date,
              U_TS_UPDATETIME: time,
              U_UPDATED_BY: localStorage.id,
              U_TS_CONTACT: this.userData.contact,
              U_TS_STATUS: empStatus,
              U_EMAIL: this.userData.email,
              mode: localStorage.mode,
              modules: JSON.parse(localStorage.modules)
            },
            headers: {
              authorization: `B1SESSION=${localStorage.session}`
            }
          });
          this.showLoading = false;
          const status = res.data.patched.status;
          if (status == 204) {
            this.getUsers();
            this.closeUpdateModal();
            this.successMsg = "User updated successfully.";
            this.showAlert();
            this.isbusy = false;
          }
        } else {
          const res = await axios({
            method: "PUT",
            url: `${this.$axios.defaults.baseURL}/users/update/${this.userIdUpdate}`,
            data: {
              employee_id: this.userData.id,
              email: this.userData.email,
              firstname: this.userData.firstname,
              middlename: this.userData.middlename,
              lastname: this.userData.lastname,
              role_id: this.userData.role.id,
              users_id: localStorage.id
            },
            headers: {
              authorization: "Bearer " + localStorage.token
            }
          });
          this.getUsers();
          this.closeModal();
          this.successMsg = res.data.patched.msg;
          this.showAlert();
          this.isbusy = false;
        }
      } catch (e) {
        if (localStorage.mode == 1) {
          this.showLoading = false;
          try {
            // JSON error
            const err = JSON.parse(e.response.data.error);
            this.errorMsg = err.msg;
            this.showAlertErr();
          } catch (er) {
            console.log(e);
            // not JSON
            this.errorMsg = e.response.data.error;
            this.showAlertErr();
          }
        } else {
          console.log("Error: ", e);
          this.errorMsg = e.response.data.error;
          this.showAlertErr();
        }
      }
    },
    closeUpdateModal() {
      this.updateModal = false;
      this.userData = {};
    },
    async openModal(row) {
      this.$refs.selectableTable.selectRow(row.index)
      try {
        if (localStorage.mode == 1) {
          this.showLoading = true;
          const id = row.item.id;
          const res = await axios({
            method: "POST",
            url: `${this.$axios.defaults.baseURL}/users/select/${id}`,
            headers: {
              "Content-Type": "application/json",
              "X-HTTP-Method-Override": "GET",
              authorization: `B1SESSION=${localStorage.session}`
            },
            data: {
              mode: localStorage.mode,
              modules: JSON.parse(localStorage.modules)
            }
          });
          this.showLoading = false;

          const status = res.status;
          if (status == 200) {
            const data = res.data.view[0];
            let license = false;

            if (data.U_TS_IS_DIRECTUSER !== 0) {
              license = true;
            }

            let status = false;
            if (data.USERSTATUS) {
              if (data.USERSTATUS.toLowerCase() == "active") {
                status = true;
              }
            }

            this.userIdUpdate = data.USERCODE; // PK id

            this.userData = {
              id: data.U_TS_EMP_ID,
              email: data.email ? data.email : "",
              fullname: `${data.firstName} ${data.lastName}`,
              contact: data.U_TS_CONTACT ? data.U_TS_CONTACT : "",
              status,
              is_licensed: license,
              role: {
                id: data.ROLECODE
              },
              email: data.U_EMAIL ? data.U_EMAIL : ""
            };

            this.updateModal = true; // show modal
          }
        } else {
          const id = row.item.id;
          const res = await axios({
            method: "GET",
            url: `${this.$axios.defaults.baseURL}/users/select/${id}`,
            headers: {
              authorization: "Bearer " + localStorage.token
            }
          });
          const data = res.data.view[0];
          this.userIdUpdate = data.id; // PK id
          this.userData = {
            id: data.employee_id,
            email: data.email,
            firstname: data.firstname,
            middlename: data.middlename,
            lastname: data.lastname,
            role: {
              id: data.role_id,
              name: data.role_name
            }
          };

          this.Action = true; // show modal
        }
      } catch (e) {
        console.log("Error: ", e);
      }
    },
    async fixTime(t) {
      try {
        const arr = t.split(":", 2);
        const raw = `${arr[0]}${arr[1]}`;
        const time = raw;
        return time;
      } catch (e) {
        console.log("Error: ", e);
      }
    },
    // messages
    countDownChanged(dismissCountDown) {
      this.dismissCountDown = dismissCountDown;
    },
    showAlert() {
      this.dismissCountDown = this.dismissSecs;
    },
    countDownChangedErr(dismissCountDown) {
      this.dismissCountDownErr = dismissCountDown;
    },
    showAlertErr() {
      this.dismissCountDownErr = this.dismissSecs;
    },
    countDownChangedErrs(dismissCountDown) {
      this.dismissCountDownErrs = dismissCountDown;
    },
    showAlertErrs() {
      this.dismissCountDownErrs = this.dismissSecs;
    },
    async getRoles() {
      try {
        if (localStorage.mode == 1) {
          // this.showLoading = true;
          this.isbusy = true;
          const res = await axios({
            method: "POST",
            url: `${this.$axios.defaults.baseURL}/Roles/select`,
            headers: {
              "Content-Type": "application/json",
              "X-HTTP-Method-Override": "GET",
              authorization: `B1SESSION=${localStorage.session}`
            },
            data: {
              mode: localStorage.mode,
              modules: JSON.parse(localStorage.modules)
            }
          });
          const status = res.data.view.status;

          if (status == 401) {
            // invalid session; logout?
            this.errorMsg = "Unauthorized, Invalid Session.";
            this.showAlertErr();
          }

          this.showLoading = false;
          this.isbusy = false;

          const data = res.data.view;

          for (let i = 0; i < data.length; i++) {
            const e = data[i];

            if (e.U_TS_STATUS === "active") {
              this.roles.push({
                value: e.Code,
                text: this.convertCase(e.U_TS_NAME)
              });
            }
          }
        } else {
          await axios({
            method: "GET",
            url: `${this.$axios.defaults.baseURL}/Roles/select`,
            headers: {
              authorization: "Bearer " + localStorage.token
            }
          })
            .then(res => {
              for (let i = 0; i < res.data.view.length; i++) {
                if (res.data.view[i].rolestatus === "active") {
                  this.RoleNameSelect.push({
                    value: res.data.view[i].id,
                    text: res.data.view[i].rolename
                  });
                }
              }
            })
            .catch(error => {
              console.log(error);
            });
        }
      } catch (e) {
        this.showLoading = false;
        this.isbusy = false;

        console.log("Error: ", e);
      }
    },
    clearFields() {
      this.employeeName = null;
      this.employeeId = null; //selected from table
      this.isLicensed = false;
      this.empId = null; // input
      this.contactNumber = null;
      this.selectedRole = null;
      this.email = null;
    },
    clearOthersFields() {
      this.selectedCompany = null;
      this.empId_others = null;
      this.firstName_others = null;
      this.lastName_others = null;
    },
    async addOtherUser() {
      try {
        this.isbusy = true;
        if (localStorage.mode == 1) {
          // this.showLoading = true;
          const d = new Date().toDateString();
          const t = new Date().toTimeString();
          const date = moment(d).format("YYYY-MM-DD");
          const time = await this.fixTime(t);

          const res = await axios({
            method: "POST",
            url: `${this.$axios.defaults.baseURL}/users/sap/add`,
            data: {
              mode: localStorage.mode,
              modules: JSON.parse(localStorage.modules),
              Company: this.selectedCompany,
              ExternalEmployeeNumber: this.empId_others,
              UserCode: this.empId_others,
              FirstName: this.firstName_others,
              LastName: this.lastName_others
            },
            headers: {
              authorization: `B1SESSION=${localStorage.session}`
            }
          });
          const status = res.data.posted.status;
          if (status == 201) {
            this.successMsg = "Added user successfully.";
            this.getUsers();
            this.getAllEmployees();
            this.showAlert();
            this.clearOthersFields();
            console.log(
              "🚀 ~ file: index.vue ~ line 1235 ~ addOtherUser ~ res",
              res
            );
            this.isbusy = false;
          }
          this.showLoading = false;
        } else {
          const res = await axios({
            method: "POST",
            url: `${this.$axios.defaults.baseURL}/users/add`,
            data: {
              created_by: localStorage.id,
              employee_id: this.employee_id,
              email: this.email,
              firstname: this.firstname,
              middlename: this.middlename,
              lastname: this.lastname,
              password: this.employee_id,
              role_id: this.selected
            },
            headers: {
              authorization: "Bearer " + localStorage.token
            }
          });

          this.successMsg = res.data.posted.msg;
          this.getUsers();
          this.showAlert();
          this.clearUsers();
        }
      } catch (e) {
        if (localStorage.mode == 1) {
          console.log("🚀 ~ file: index.vue ~ line 1269 ~ addOtherUser ~ e", e);
          this.showLoading = false;
          this.isbusy = false;
          try {
            // JSON error
            const err = JSON.parse(e.response.data.error);
            this.errorMsg = err.msg;
            this.showAlertErr();
          } catch (er) {
            // not JSON
            this.errorMsg = e.response.data.error;
            this.showAlertErr();
          }
        } else {
          console.log("Error: ", e);
          this.errorMsg = e.response.data.error;
          this.showAlertErr();
        }
      }
    },
    async addUser() {
      try {
        this.isbusy = true;
        if (localStorage.mode == 1) {
          // this.showLoading = true;
          const d = new Date().toDateString();
          const t = new Date().toTimeString();
          const date = moment(d).format("YYYY-MM-DD");
          const time = await this.fixTime(t);

          const res = await axios({
            method: "POST",
            url: `${this.$axios.defaults.baseURL}/users/add`,
            data: {
              U_TS_ROLE_ID: this.selectedRole,
              U_APP_EMP_ID: this.employeeId,
              U_TS_EMP_ID: this.empId,
              U_TS_CONTACT: this.contactNumber,
              U_TS_STATUS: "active",
              mode: localStorage.mode,
              modules: JSON.parse(localStorage.modules),
              U_TS_CREATEDATE: date,
              U_TS_CREATETIME: time,
              U_TS_UPDATEDATE: date,
              U_TS_UPDATETIME: time,
              U_CREATED_BY: localStorage.id,
              U_UPDATED_BY: localStorage.id,
              U_EMAIL: this.email,
              U_TS_IS_BIOTECH: this.company == `BIOTECH FARMS INC.` ? 1 : 0,
              U_TS_IS_REVIVE: this.company == `REVIVE` ? 1 : 0
            },
            headers: {
              authorization: `B1SESSION=${localStorage.session}`
            }
          });

          const status = res.data.posted.status;
          if (status == 201) {
            this.successMsg = "User added successfully.";
            this.getUsers();
            this.showAlert();
            this.clearFields();
          }
          this.showLoading = false;
          this.isbusy = false;
        } else {
          const res = await axios({
            method: "POST",
            url: `${this.$axios.defaults.baseURL}/users/add`,
            data: {
              created_by: localStorage.id,
              employee_id: this.employee_id,
              email: this.email,
              firstname: this.firstname,
              middlename: this.middlename,
              lastname: this.lastname,
              password: this.employee_id,
              role_id: this.selected
            },
            headers: {
              authorization: "Bearer " + localStorage.token
            }
          });

          this.successMsg = res.data.posted.msg;
          this.getUsers();
          this.showAlert();
          this.clearUsers();
          this.isbusy = false;
        }
      } catch (e) {
        if (localStorage.mode == 1) {
          this.showLoading = false;
          this.isbusy = false;
          try {
            // JSON error
            const err = JSON.parse(e.response.data.error);
            this.errorMsg = err.msg;
            this.showAlertErr();
          } catch (er) {
            // not JSON
            this.errorMsg = e.response.data.error;
            this.showAlertErr();
          }
        } else {
          console.log("Error: ", e);
          this.errorMsg = e.response.data.error;
          this.showAlertErr();
        }
      }
    },
    convertCase(str) {
      if (str) {
        const splitStr = str.toLowerCase().split(" ");
        for (let i = 0; i < splitStr.length; i++) {
          splitStr[i] =
            splitStr[i].charAt(0).toUpperCase() + splitStr[i].substring(1);
        }
        return splitStr.join(" ");
      } else {
        return str;
      }
    },
    async getUsers() {
      try {
        if (localStorage.mode == 1) {
          // this.showLoading = true;

          this.items = [];
          const res = await axios({
            method: "POST",
            url: `${this.$axios.defaults.baseURL}/users/select`,
            headers: {
              "Content-Type": "application/json",
              "X-HTTP-Method-Override": "GET",
              authorization: `B1SESSION=${localStorage.session}`
            },
            data: {
              mode: localStorage.mode,
              modules: JSON.parse(localStorage.modules)
            }
          });
          this.showLoading = false;

          const status = res.data.view.status;

          if (status == 401) {
            // invalid session; logout?
            this.errorMsg = "Unauthorized, Invalid Session.";
            this.showAlertErr();
            return;
          }

          const data = res.data.view;
          for (let i = 0; i < data.length; i++) {
            const e = data[i];
            this.items.push({
              id: e.USERCODE,
              employee_id: e.U_TS_EMP_ID,
              email: e.EMAIL ? e.EMAIL : null,
              userStatus: e.USERSTATUS ? e.USERSTATUS : null,
              fullname:
                e.lastName && e.firstName ? this.convertCase(`${e.lastName}, ${e.firstName}`)
              : e.lastName_revive && e.firstName_revive ? this.convertCase(`${e.lastName_revive}, ${e.firstName_revive}`): "",
              role_name: this.convertCase(e.U_TS_NAME),
              contact_number: e.U_TS_CONTACT ? e.U_TS_CONTACT : null
            });
            if((!e.lastName && !e.firstName) && (!e.lastName_revive && !e.firstName_revive)){
              this.items.pop(data[i])
            }
          }
        } else {
          await axios({
            method: "GET",
            url: `${this.$axios.defaults.baseURL}/users/select`,
            headers: {
              authorization: "Bearer " + localStorage.token
            }
          })
            .then(res => {
              this.items = [];
              for (let i = 0; i < res.data.view.length; i++) {
                //  if (res.data.view[i].module[0].modules_status === 'inactive' && res.data.view[i].status === 'inactive'){
                this.items.push({
                  id: res.data.view[i].id,
                  employee_id: res.data.view[i].employee_id,
                  email: res.data.view[i].email,
                  fullname: res.data.view[i].fullname,
                  role_name: res.data.view[i].role_name,
                  // employee_image: res.data.view[i].employee_image,
                  // employee_signature: res.data.view[i].employee_signature,
                  contact_number: res.data.view[i].contact_number
                  // EmployeeId: res.data.view[i].description,
                  // ModuleName: res.data.view[i].module[0].descriptions,
                  // moduleId: res.data.view[i].module[0].modules_id,
                  // status: res.data.view[i].status,
                  // createdBy: `${res.data.view[i].created_by[0].firstname} ${res.data.view[i].created_by[0].middlename} ${res.data.view[i].created_by[0].lastname}`,
                  // createdAt: "n/a"
                });
              }
            })
            .catch(error => {
              console.log(error);
            });
        }
      } catch (e) {
        this.showLoading = false;
        console.log("Error select all employee: ", e);
      }
    },
    async getAllEmployees() {
      try {
        if (localStorage.mode == 1) {
          // this.showLoading = true;
          this.employees = [];

          const res = await axios({
            method: "POST",
            url: `${this.$axios.defaults.baseURL}/users/select-employeeInfos`,
            headers: {
              "Content-Type": "application/json",
              "X-HTTP-Method-Override": "GET",
              authorization: `B1SESSION=${localStorage.session}`
            },
            data: {
              mode: localStorage.mode,
              modules: JSON.parse(localStorage.modules),
              company: this.company == "BIOTECH FARMS INC." ? true : false
            }
          });
          this.showLoading = false;

          if (res.status == 200) {
            const data = res.data.view;

            for (let i = 0; i < data.length; i++) {
              const e = data[i];
              this.employees.push({
                employee_id: e.empID,
                employee_number: e.ExtEmpNo,
                fullname: `${e.lastName}, ${e.firstName}`,
                is_user: e.userId ? "Yes" : "No"
              });
            }
          }
          return;
        }
      } catch (e) {
        console.log("Error get all employees: ", e);
      }
    },
    async getEmployeeId(row) {
      try {
        // this.showLoading = true;

        const { employee_id, fullname, is_user, employee_number } = row;
        this.employeeName = fullname;
        this.employeeId = employee_id;
        this.empId = employee_number;

        if (is_user.toLowerCase() == "yes") {
          this.isLicensed = true;
        } else {
          this.isLicensed = false;
        }

        this.showLoading = false;
        this.modalShow = false;
      } catch (e) {
        console.log("Error passing Employee ID: ", e);
      }
    }
  },
  mounted() {
    // Set the initial number of items
    // this.totalRows = this.items.length;
    // this.totalRowss = this.employees.length;
  }
};
</script>

<style scoped>
.button1 {
  background-color: #00803e;
  color: white;
}

.resetPw {
  background-color: #da3b3b;
  color: white;
}

.buttons {
  background-color: #00803e;
  color: white;
  padding: 3px;
  margin-top: 3px;
}

.err {
  background-color: #f12d2d;
  color: white;
}
.color1 {
  color: #00803e;
}
.icon {
  margin-left: 0%;
  margin-right: 1%;
}
.fixed {
  position: fixed;
  bottom: 0%;
  right: 2%;
  z-index: 99999;
}
.page-item.active .page-link {
  background-color: #00a651 !important;
  border-color: #00a651 !important;
  transition: background-color 0.3s;
}
.page-item .page-link {
  color: black;
}
#filterInput {
  height: 31px;
}
</style>
