<template>
  <div id="requests-view" class="my-3">
    <h4 class="color1 ml-4">
      <font-awesome-icon icon="truck-loading" class="icon"></font-awesome-icon
      >Truckscale and Locations
    </h4>
    <b-card class="mainContent" style="padding-bottom: 0 !important;">
      <!-- tab -->
      <b-tabs
        id="tabs"
        class="truckscaleTabs"
        v-model="tabIndex"
        content-class="mt-3"
      >
        <b-tab id="tab1" title="Truck Scale">
          <Truckscale />
        </b-tab>
        <b-tab id="tab2" title="Locations">
          <Locations />
        </b-tab>
        <b-tab id="tab2" title="Print Locations">
          <PrintLocations />
        </b-tab>
      </b-tabs>
    </b-card>
    <!-- </div> -->
  </div>
</template>

<script>
import Truckscale from "~/components/Truckscale/index.vue";
import Locations from "~/components/Locations/index.vue";
import PrintLocations from "~/components/PrintLocations/index.vue";

export default {
  head() {
    return {
      title: "Admin | Truckscale and Locations - TSIS",
      meta: [
        {
          hid: "description",
          name: "description",
          content: "Truck Scale Integrated System"
        }
      ]
    };
  },
  layout: "sidebar",
  components: {
    Truckscale,
    Locations,
    PrintLocations
  },
  middleware: "pageValidator",
  meta: {
    access: { right: "view truckscales" }
  },
  data() {
    return {
      tabIndex: 0
    };
  },
  methods: {}
};
</script>

<style scoped>
.button1 {
  background-color: #00803e;
  color: white;
}

.color1 {
  color: #00803e !important;
}
.icon {
  margin-left: 5px;
  margin-right: 10px;
}
.fixed {
  position: fixed;
  bottom: 0%;
  right: 2%;
}
</style>
