<template>
  <div id="app">
    <Loading v-if="showLoading" />
    <!-- main view -->
    <div class="tableHeader">
        <!-- dropdown filter -->
          <b-form-group
            style="font-size: 13px"
            class="searchbar"
            label-size="sm"
            label-for="filterInput"
          >
            <b-input-group size="sm">
              <b-form-input
                style="font-size: 13px"
                class="searchbar no-outline"
                type="search"
                id="inputSearch"
                label-align-sm="left"
                placeholder="Type to Search"
                v-model="filter"
              ></b-form-input>
              <b-input-group-append>
                <b-button
                  id="buttonClearSearch"
                  :disabled="!filter"
                  @click="filter = ''"
                  >Clear</b-button
                >
              </b-input-group-append>
            </b-input-group>
          </b-form-group>
        </b-col>
        <div>
          <b-dropdown
            size="sm"
            class="searchbar customFilter mr-2"
            id="dropdown-grouped"
            v-b-tooltip.hover
            title="Filters"
            right
          >
            <template #button-content>
              <i class="fas fa-filter"></i>
            </template>
            <!-- company filter -->
            <b-dropdown-group header="Locations">
              <b-form-checkbox-group
                size="sm"
                v-model="selectedLocationFilter"
                class="ml-4"
              >
                <b-form-checkbox
                  size="sm"
                  :id="'locationFilters' + index"
                  v-for="(item, index) in locationFilters"
                  :key="index"
                  :value="item"
                  >{{ item }}</b-form-checkbox
                >
              </b-form-checkbox-group>
            </b-dropdown-group>
          </b-dropdown>

          <b-button
            id="show-btn"
            style="width: 10rem;"
            size="sm"
            variant="success"
            class="greenBtn searchbar"
            :disabled="isbusy"
            @click="$bvModal.show('addPrintLoc')"
            ><font-awesome-icon icon="plus" small /> Add print location
          </b-button>
        </div>
</div>
      <!-- table -->
      <b-table
        id="table"
        class="my-1"
        style="font-size: 13px"
        show-empty
        small
        fixed
        scrollable
        stacked="md"
        selectable
        select-mode="single"
        ref="selectableTable"
        :busy="isbusy"
        :items="computedItems"
        :fields="fields"
        :current-page="currentPage"
        :per-page="perPage"
        :filter="filter"
        :filterIncludedFields="filterOn"
        :sort-by.sync="sortBy"
        :sort-desc.sync="sortDesc"
        :sort-direction="sortDirection"
        @filtered="onFiltered"
      >
        <template #table-busy>
          <div class="text-center text-secondary my-2">
            <b-spinner class="align-middle"></b-spinner>
            <strong>&nbsp;Loading...</strong>
          </div>
        </template>
        <!-- action -->
        <template v-slot:cell(actions)="row">
          <button
            id="createDRm"
            class="editBtn"
            @click="editPrintLoc(row)"
            v-b-tooltip.hover
            title="Edit Print Location"
          >
            <font-awesome-icon icon="edit" small class="editIcon" />
          </button>
        </template>

        <!-- label -->
        <template v-slot:table-caption>
          <b-row align-h="end">
            <b-col cols="6">{{ bottomLabel }}</b-col>

            <b-col cols="6">
              <b-pagination
                id="pagination"
                pills
                v-model="currentPage"
                :total-rows="totalRows"
                :per-page="perPage"
                align="right"
                size="sm"
              ></b-pagination>
            </b-col>
          </b-row>
        </template>
        <template v-slot:cell(status)="row">
          <div class="badge-font-size" v-if="row.item.status !== 'Inactive'">
            <b-badge pill block variant="success" style="font-size: 10px;">{{
              row.item.status
            }}</b-badge>
          </div>
          <div class="badge-font-size" v-else>
            <b-badge pill block variant="danger" style="font-size: 10px;">{{
              row.item.status
            }}</b-badge>
            <!-- display for outbound; but status in db is rejected -->
          </div>
        </template>
      </b-table>

      <!-- modal add location -->
      <b-modal
        id="addPrintLoc"
        hide-footer
        header-bg-variant="success"
        header-text-variant="light"
        no-close-on-backdrop
        @close="closeAddPrintLoc"
      >
        <template v-slot:modal-title>New Print Location</template>
        <div class="d-block text-center">
          <div>
            <b-form id="locationAdd" @submit="printLocAdd">
              <b-form-group
                label="Print Location"
                style="text-align: left; font-size: 13px"
                id="printLocs"
                label-for="printLoc"
              >
                <b-form-input
                  id="printLoc"
                  v-model="printLoc"
                  style="font-size: 13px"
                  autocomplete="off"
                ></b-form-input>
              </b-form-group>

              <b-form-group
                id="location"
                label="Location"
                label-for="locations"
                style="text-align:left; font-size:13px"
              >
                <b-form-select
                  id="locations"
                  v-model="selectedLocation"
                  :options="locationOptions"
                  required
                  @change="getSelectedLocation()"
                  style="padding-left: 8px;font-size: 13px"
                  ref="locations"
                ></b-form-select>
              </b-form-group>

              <!-- <b-form-group
                id="location"
                label-for="locations"
                label="Location"
                style="text-align: left; font-size: 13px"
              >
                <vue-bootstrap-typeahead
                  id="locations"
                  style="font-size: 13px"
                  v-model="selectedLocation"
                  :data="locationOptions"
                  required
                  @hit="getSelectedLocation()"
                  ref="locations"
                />
              </b-form-group> -->

              <b-form-group id="input-group-3" style="text-align: left; font-size: 13px" label="Status" >
                <b-form-select
                  style="font-size: 13px"
                  id="status"
                  v-model="status"
                  :options="statusSelect"
                ></b-form-select>
              </b-form-group>

              <b-button
                variant="success"
                class="greenBtn"
                size="sm"
                id="save"
                type="submit"
                >Save</b-button
              >
            </b-form>
          </div>
        </div>
      </b-modal>

      <!-- modal edit print location -->
      <b-modal
        id="editPrintLoc"
        hide-footer
        header-bg-variant="success"
        header-text-variant="light"
        no-close-on-backdrop
        @close="closeAddPrintLoc"
      >
        <template v-slot:modal-title>Update Print Location</template>
        <div class="d-block text-center">
          <div>
            <b-form
              id="locationAdd"
              style="font-size: 13px"
              @submit="printLocEdit"
            >
              <b-form-group
                id="printLocs"
                label-for="printLoc"
                label="Print Location"
                style="text-align: left"
              >
                <b-form-input
                  style="font-size: 13px"
                  id="printLoc"
                  v-model="printLoc"
                  placeholder="Print Location"
                  autocomplete="off"
                ></b-form-input>
              </b-form-group>
              <!-- todo -->
              <b-form-group
                id="location"
                label="Location"
                label-for="locations"
                style="text-align:left; font-size:13px"
              >
                <b-form-select
                  id="locations"
                  v-model="selectedLocation"
                  :options="locationOptions"
                  required
                  @change="getSelectedLocation()"
                  style="padding-left: 8px;font-size: 13px"
                  ref="locations"
                ></b-form-select>
              </b-form-group>
              <!-- <b-form-group
                id="location"
                label="Location"
                label-for="locations"
                style="text-align: left; font-size: 13px"
              >
                <vue-bootstrap-typeahead
                  id="locations"
                  v-model="selectedLocation"
                  :data="locationOptions"
                  required
                  @hit="getSelectedLocation()"
                  style="font-size: 11px"
                  ref="locations"
                />
              </b-form-group> -->

              <b-form-group id="input-group-3" label="Status" style="text-align: left; font-size: 13px">
                <b-form-select
                  style="font-size: 13px"
                  id="status"
                  v-model="status"
                  :options="statusSelect"
                ></b-form-select>
              </b-form-group>
              <div>
                <b-button class="greenBtn" variant="success" size="sm" id="save" type="submit"
                  >Save</b-button
                >
              </div>
            </b-form>
          </div>
        </div>
      </b-modal>

      <!-- alerts -->
      <b-alert
        :show="showError"
        dismissible
        fade
        class="err"
        @dismiss-count-down="countDownChanged"
        >{{ errorMsg }}</b-alert
      >
      <b-alert
        :show="showSuccess"
        dismissible
        fade
        class="success"
        @dismiss-count-down="countDownChangedSuccess"
        >{{ successMsg }}</b-alert
      >
    </div>
  </div>
</template>

<script>
import axios from "axios";
import moment from "moment";
import Loading from "~/components/LoadingOverlay/Loadings.vue";
import VueBootstrapTypeahead from "vue-bootstrap-typeahead";

export default {
  components: {
    Loading,
    VueBootstrapTypeahead
  },
  data() {
    return {
      showLoading: false,
      isbusy: false,
      items: [],
      fields: [
        { key: "print_location", label: "Print Location", sortable: true },
        { key: "date_created", label: "Date Created", sortable: true, class:"text-center" },
        { key: "location", label: "Location", sortable: true, class: "text-center" },
        { key: "created_by", label: "Created By", sortable: true, class: "text-center" },
        { key: "status", label: "Status", sortable: true, class: "text-center" },
        { key: "actions", label: "Actions", class: "text-center" }
      ],
      statusSelect: ["Active", "Inactive"],
      status: "Active",
      filter: null,
      currentPage: 1,
      filterOn: [],
      perPage: 10,
      sortBy: "",
      sortDesc: false,
      sortDirection: "asc",
      totalRows: 1,
      currentPage: 1,
      showError: 0,
      showSuccess: 0,
      dismissSecs: 3,
      errorMsg: null,
      successMsg: null,
      printLoc: null,
      selectedLocation: null,
      selectedLocationId: null,
      locationOptions: [],
      locationData: [],
      selectedLocationFilter: [],
      locationFilters: [],
      toUpdateId: null // to update
    };
  },
  watch: {
    selectedLocation() {
      if (!this.selectedLocation) {
        this.selectedLocationId = null;
      }
    }
  },
  async created() {
    await this.getLocations();
    await this.getPrintLocations();
    this.totalRows = this.items.length;
  },
  methods: {
    async printLocEdit(evt) {
      try {
        evt.preventDefault();
        this.showLoading = true;
        this.isbusy = true;

        const res = await axios({
          method: "PUT",
          url: `${this.$axios.defaults.baseURL}/truck-scale/print-location/update`,
          headers: {
            authorization: `B1SESSION=${localStorage.session}`
          },
          data: {
            mode: localStorage.mode,
            userId: localStorage.id,
            printLoc: this.printLoc,
            location_id: this.selectedLocationId,
            status: this.status,
            id: this.toUpdateId
          }
        });
        this.$bvModal.hide("editPrintLoc");
        this.showLoading = false;
        this.isbusy = false;
        if (res.data.posted.status == 204) {
          // success
          this.$bvModal.hide("editPrintLoc");
          this.successMsg = "Update print location successfully";
          await this.showSuccessAlert();

          await this.getPrintLocations();
          this.location = null;
        } else {
          // error
          this.errorMsg = "Error on updating print location, please try again.";
          await this.showErrorAlert();
        }
      } catch (e) {
        console.log("Error on update: ", e);
        this.showLoading = false;
        this.isbusy = false;

        if (e.response.data) {
          this.errorMsg = e.response.data.error;
          await this.showErrorAlert();
        }
      }
    },
    async getPrintLocations() {
      try {
        if (localStorage.mode == 1) {
          //  online
          this.items = [];
          // this.showLoading = true;
          this.isbusy = true;
          const res = await axios({
            method: "POST",
            url: `${this.$axios.defaults.baseURL}/truck-scale/print-location/select`,
            headers: {
              authorization: `B1SESSION=${localStorage.session}`
            },
            data: {
              mode: localStorage.mode
            }
          });

          const data = res.data.view;

          for (let i = 0; i < data.length; i++) {
            const e = data[i];

            this.items.push({
              id: e.Code,
              print_location: this.convertCase(e.U_PRINT_LOC),
              date_created: this.formatDate(
                `${moment(e.U_TS_CREATEDATE).format(
                  "MM-DD-YY"
                )} ${this.intToTime(e.U_TS_CREATETIME)}`
              ),
              created_by: this.convertCase(e.CREATED_BY),
              location_id: e.U_LOCATION_ID,
              location: this.convertCase(e.U_LOCATIONS),
              status: this.convertCase(e.U_TS_STATUS)
            });

            // push for filter
            if (
              !this.locationFilters.includes(this.convertCase(e.U_LOCATIONS))
            ) {
              this.locationFilters.push(this.convertCase(e.U_LOCATIONS));

              this.selectedLocationFilter.push(this.convertCase(e.U_LOCATIONS));
            }
          }

          this.showLoading = false;
          this.isbusy = false;
        } else {
          //  offline
        }
      } catch (e) {
        console.log("Error fetch print locations: ", e);
      }
    },
    async getLocations() {
      try {
        if (localStorage.mode == 1) {
          //  online
          this.items = [];
          // this.showLoading = true;
          this.isbusy = true;
          const res = await axios({
            method: "POST",
            url: `${this.$axios.defaults.baseURL}/truck-scale/locations/select`,
            headers: {
              authorization: `B1SESSION=${localStorage.session}`
            },
            data: {
              mode: localStorage.mode
            }
          });

          const data = res.data.view;
          console.log("🚀 ~ file: index.vue ~ line 504 ~ getLocations ~ res.data.view", res.data.view)

          for (let i = 0; i < data.length; i++) {
            const e = data[i];

            // for vue type ahead
            // JSON
            this.locationData.push({
              value: e.Code,
              text: this.convertCase(e.U_LOCATIONS)
            });

            // array
            this.locationOptions.push(this.convertCase(e.U_LOCATIONS));
          }

          this.showLoading = false;
          this.isbusy = false;
        } else {
          //  offline
        }
      } catch (e) {
        this.showLoading = false;
        this.isbusy = false;

        console.log("Error fetch locations: ", e);
      }
    },
    async getSelectedLocation() {
      try {
        const s = this.selectedLocation;
        const data = this.locationData;

        const getId = () => {
          for (let i = 0; i < data.length; i++) {
            const e = data[i];

            const value = e.value;
            const text = e.text;

            if (s.toLowerCase() == text.toLowerCase()) {
              return value;
            }
          }
        };

        const id = await getId();
        this.selectedLocationId = id;
      } catch (e) {
        console.log("Error get location ID: ", e);
      }
    },
    async printLocAdd(evt) {
      try {
        evt.preventDefault();

        this.showLoading = true;
        this.isbusy = true;
        const res = await axios({
          method: "POST",
          url: `${this.$axios.defaults.baseURL}/truck-scale/print-location/add`,
          headers: {
            authorization: `B1SESSION=${localStorage.session}`
          },
          data: {
            mode: localStorage.mode,
            userId: localStorage.id,
            printLoc: this.printLoc,
            status: this.status,
            location_id: this.selectedLocationId
          }
        });
        this.showLoading = false;
        this.isbusy = false;
        this.selectedLocation = '';

        if (res.data.posted.status == 201) {
          // success
          this.$bvModal.hide("addPrintLoc");
          this.successMsg = "Added print location successfully";
          await this.showSuccessAlert();

          // reload
          await this.getPrintLocations();

          this.printLoc = null;
          this.selectedLocationId = null;
        } else {
          // error
          this.errorMsg = "Error on adding print location, please try again.";
          await this.showErrorAlert();
        }
      } catch (e) {
        this.showLoading = false;
        this.isbusy = false;
        this.selectedLocation = '';
        console.log("Error on adding print location: ", e);

        if (e.response.data) {
          this.errorMsg = e.response.data.error;
          await this.showErrorAlert();
        }
      }
    },
    closeAddPrintLoc() {
      // clear data;
      this.printLoc = null;
      this.selectedLocationId = null;
      this.selectedLocation = '';
    },
    async editPrintLoc(row) {
      this.$refs.selectableTable.selectRow(row.index)
      this.$bvModal.show("editPrintLoc");

      const data = row.item;

      this.printLoc = data.print_location;
      this.selectedLocation = data.location;
      this.status = data.status;
      this.toUpdateId = data.id;
      this.$refs.locations.inputValue = await data.location;
      await this.getSelectedLocation();
    },
    onFiltered(filteredItems) {
      this.totalRows = filteredItems.length;
      this.currentPage = 1;
    },
    formatDate(created_at) {
      return moment(created_at).format("MMM DD, YYYY hh:mm A ");
    },
    intToTime(i) {
      if (i) {
        const str = i.toString();
        const len = str.length;

        let time = null;

        if (len == 4) {
          const hour = str.substring(0, 2);
          const min = str.substring(2, 4);
          time = `${hour}:${min}`;
          return time;
        } else if (len == 3) {
          const hour = str.substring(0, 1);
          const min = str.substring(1, 3);
          time = `0${hour}:${min}`;
          return time;
        } else {
          return `00:00`;
        }
      } else {
        return `00:00`;
      }
    },
    convertCase(str) {
      if (str) {
        const splitStr = str.toLowerCase().split(" ");
        for (let i = 0; i < splitStr.length; i++) {
          splitStr[i] =
            splitStr[i].charAt(0).toUpperCase() + splitStr[i].substring(1);
        }
        return splitStr.join(" ");
      } else {
        return str;
      }
    },
    showErrorAlert() {
      this.showError = this.dismissSecs;
    },
    showSuccessAlert() {
      this.showSuccess = this.dismissSecs;
    },
    countDownChangedSuccess(showSuccess) {
      this.showSuccess = showSuccess;
    },
    countDownChanged(showError) {
      this.showError = showError;
    }
  },
  computed: {
    bottomLabel() {
      let end = this.perPage * this.currentPage;
      let start = end - this.perPage + 1;

      if (end > this.items.length) {
        end = this.items.length;
      }

      if (this.items.length === 0) {
        start = 0;
      }

      return `Showing ${start} to ${end} of ${this.items.length} entries`;
    },
    computedItems() {
      const pageSize = () => {
        return this.items.filter(e => {
          return this.selectedLocationFilter.includes(e.location);
        });
      };

      const pages = pageSize();
      this.totalRows = pages.length;

      return this.items.filter(e => {
        return this.selectedLocationFilter.includes(e.location);
      });
    }
  }
};
</script>

<style scoped>
.button1 {
  background-color: #00803e;
  color: white;
  border: none;
}
.err {
  background-color: #f12d2d;
  z-index: 9999999999;
  color: white;
}
.success {
  background-color: #00803e;
  z-index: 9999999999;
  color: white;
}
.color1 {
  color: #00803e;
}
.icon {
  margin-left: 0%;
  margin-right: 1%;
}
.fixed {
  position: fixed;
  bottom: 0%;
  right: 2%;
}
.page-item.active .page-link {
  background-color: #00a651 !important;
  border-color: #00a651 !important;
  transition: background-color 0.3s;
}
.page-item .page-link {
  color: black;
}
/* #inputSearch {
  height: 31px;
}
#show-btn {
  height: 31px;
} */
</style>
