<template>
  <div class="body">
    <Loading v-if="showLoading" />
    <div class="container">
      <div>
        <b-form style="width:378px;">
          <img class="logo" src="/biotech.png" />

          <h6 class="title">
            TRUCK SCALE
            <br />INTEGRATED SYSTEM
          </h6>

          <h2 class="subtitle">Version 1.0.0</h2>
          <b-form-group>
            <b-input-group-prepend>
              <input
                class="username"
                v-model="user.employee_id"
                placeholder="Employee ID"
                @keyup.enter="login()"
                id="username"
                autofocus
              />
            </b-input-group-prepend>

            <b-input-group-prepend>
              <input
                class="password mt-3"
                v-model="user.password"
                placeholder="Password"
                @keyup.enter="login()"
                type="password"
                style="margin-top: 10px"
                id="password"
              />
              <span class="pwDisplayStyle" @click="showHidePw()">
                  <span
                    v-show="pwDisplay === true"
                    style="float:right;"
                    ><i class="far fa-eye"></i
                  ></span>
                  <span
                    v-show="pwDisplay === false"
                    style="float:right;"
                    ><i class="far fa-eye-slash"></i
                  ></span>
              </span>
            </b-input-group-prepend>

            <!-- <b-input-group-prepend>
              <b-form-checkbox
                id="showhidepw"
                @change="showHidePw"
                v-model="showPw"
                switch
              >
                <b>{{ showPw ? "Hide" : "Show" }} Password</b>
              </b-form-checkbox>
            </b-input-group-prepend> -->
            <b-input-group-prepend class="mt-4">
                  <b-form-checkbox
                    id="checkbox"
                    v-model="checked"
                    class="switchMode"
                    name="check-button"
                    switch
                  >
                  </b-form-checkbox>
                  <b>{{ checked ? "Online Mode" : "Offline Mode" }}</b>
            </b-input-group-prepend>
          </b-form-group>
          <b-button
            :disabled="!hasInput"
            class="login"
            @click="login()"
            block
            id="loginButton"
            variant="none"
            >LOGIN</b-button
          >
          <p class="footerLogin">
            &copy;2020 BIOTECH FARMS INCORPORATED
          </p>
        </b-form>
      </div>
    </div>
    <!-- ALERT SUCCESSFUL -->
    <b-alert
      id="alertMessage"
      :show="dismissCountDown"
      dismissible
      fade
      class="red alert"
      @dismiss-count-down="countDownChanged"
      >{{ errorMessage }}</b-alert
    >
  </div>
</template>

<script>
import axios from "axios";
import Loading from "~/components/LoadingOverlay/Loadings.vue";
import moment from "moment";
export default {
  name: "LoginForm",
  layout: "loginLayout",
  components: {
    Loading
  },
  data() {
    return {
      // showPw: false,
      dismissSecs: 3,
      dismissCountDown: 0,
      showDismissibleAlert: false,
      pwDisplay: false,
      user: {
        employee_id: "",
        password: ""
      },
      errorMessage: "",
      test: "qweqwe",
      checked: true,
      showLoading: false
    };
  },
  computed: {
    hasInput() {
      return this.user.employee_id && this.user.password
    },
    inputValidation() {
      if (this.user.employee_id.length > 0 && this.user.name.length <= 20) {
        return true;
      } else {
        return false;
      }
    }
  },
  created() {
    localStorage.clear();
  },
  methods: {
    showHidePw() {
      this.pwDisplay = !this.pwDisplay;
      const x = document.getElementById("password");
      if (x.type === "password") {
        x.type = "text";
      } else {
        x.type = "password";
      }
    },
    async fixTime(t) {
      try {
        const arr = t.split(":", 2);
        const raw = `${arr[0]}${arr[1]}`;
        const time = raw;
        return time;
      } catch (e) {
        console.log("Error: ", e);
      }
    },
    countDownChanged(dismissCountDown) {
      this.dismissCountDown = dismissCountDown;
    },
    showAlert() {
      this.dismissCountDown = this.dismissSecs;
    },

    async rmrsLogin(){
      await axios({
        method: "POST",
        url: `${process.env.fsqrURL}/login`,
        data: {
          id: 154151589,
          password: "emp"
        }
      })
      .then((res) => {
        console.log(res);
        localStorage.token = res.data.token;
        localStorage.employee = JSON.stringify(res.data);
      })
    },

    async login() {
      try {
        this.showLoading = true;

        const res = await axios({
          method: "PUT",
          url: `${this.$axios.defaults.baseURL}/users/login`,
          data: {
            employee_id: this.user.employee_id,
            password: this.user.password,
            mode: this.checked ? "1" : "0"
          }
        });
        console.log(res, "TEST")

        if(res.status == 200){
          await this.rmrsLogin()
        }
        // online mode
        if (this.checked == true) {
          // means if no truckscale detected; configure
          if (!res.data.patched.truckscale.id) {
            localStorage.session = res.data.patched.sessiodId;
            localStorage.mode = this.checked ? "1" : "0";
            localStorage.id = res.data.patched.userId;

            this.$router.push(`/Configuration`);
            return;
          }

          // first time login
          if (
            res.data.patched.loginCount == null ||
            res.data.patched.loginCount == 0
          ) {
            localStorage.id = res.data.patched.userId;
            localStorage.session = res.data.patched.sessiodId;
            localStorage.mode = this.checked ? "1" : "0";

            this.$router.push(`/First_Login`);
            return;
          }

          // check if direct user or not
          const isDirectUser = res.data.patched.isDirectUser;

 console.log(res.data.patched.isDirectUser, "LOGIN")
 console.log(res.data.patched, "LOGIN")
          // if (isDirectUser == 0) {
            // use the session from the route
            localStorage.mode = this.checked ? "1" : "0";
            localStorage.emp_id = res.data.patched.userIdNumber;
            localStorage.id = res.data.patched.userId;
            localStorage.session = res.data.patched.sessiodId;
            localStorage.role = res.data.patched.userRole.U_TS_NAME;
            localStorage.truckscale = res.data.patched.truckscale.id;
            localStorage.tslocation = res.data.patched.truckscale.location;
            localStorage.modules = JSON.stringify(res.data.patched.modules);
            localStorage.name = res.data.patched.name;
            localStorage.tsnumber = res.data.patched.truckscale.number;

            this.showLoading = false;

            if (localStorage.role === "document controller") {
              this.$router.push(`/transaction`);
            } else if (localStorage.role === "accounting") {
              this.$router.push(`/report`);
            } else if (localStorage.role === "accounting - revive") {
              this.$router.push(`/request`);
            } else if (localStorage.role == "admin") {
              this.$router.push(`/admin/accessrights`);
            } else if (localStorage.role == "controller") {
              this.$router.push(`/default`);
            } else if (localStorage.role == "supervisor") {
              this.$router.push(`/report`);
            } else if (localStorage.role == "revive") {
              this.$router.push(`/request`);
            }

            return;
          // } 
          // else {
          //   // login sap credentials
          //   localStorage.mode = this.checked ? "1" : "0";
          //   localStorage.id = res.data.patched.userId;

          //   localStorage.role = res.data.patched.userRole.U_TS_NAME;
          //   localStorage.truckscale = res.data.patched.truckscale.id;
          //   localStorage.tslocation = res.data.patched.truckscale.location;
          //   localStorage.modules = JSON.stringify(res.data.patched.modules);
          //   localStorage.name = res.data.patched.name;
          //   localStorage.tsnumber = res.data.patched.truckscale.number;

          //   this.showLoading = false;

          //   // redirect to sap login
          //   this.$router.push(`/SAP`);

          //   return;
          // }
        } else {
          // offline mode
          if (res.data.patched.truckscale.length == 0) {
            localStorage.token = res.data.patched.token;
            this.$router.push(`/Configuration`);
            return;
          }
          // console.log(res.data.patched);
          // first time login
          if (res.data.patched.count == 0) {
            localStorage.id = res.data.patched.id;
            localStorage.token = res.data.patched.token;
            this.$router.push(`/First_Login`);
            return;
          }
          localStorage.id = res.data.patched.id;
          localStorage.token = res.data.patched.token;
          localStorage.role = res.data.patched.role;
          localStorage.truckscale = res.data.patched.truckscale[0].id;
          localStorage.modules = JSON.stringify(res.data.patched.modules);

          if (localStorage.role === "document controller") {
            this.$router.push(`/transaction`);
          } else {
            this.$router.push(`/default`);
          }
        }
      } catch (e) {
        // #
        this.showLoading = false;
        try {
          // JSON error
          const err = JSON.parse(e.response.data.error);
          this.errorMessage = err.msg;
          this.showAlert();
          return;
        } catch (er) {
          // not JSON
          this.errorMessage = e.response.data.error;
          this.showAlert();
          return;
        }
      }
    }
  }
};
</script>

<style>
.custom-control-input:checked ~ .custom-control-label::before {
  color: #fff;
  border-color: #00a651;
  background-color: #00a651;
}
.container {
  margin: 0 auto;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.title {
  font-family: "Quicksand", "Source Sans Pro", -apple-system, BlinkMacSystemFont,
    "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
  display: block;
  font-weight: 300;
  font-size: 40px;
  color: #00a651;
  letter-spacing: 1px;
}

.links {
  padding-top: 15px;
}
.logo {
  height: 80px;
  width: 80px;
  margin-bottom: 20px;
}

.red {
  color: whitesmoke;
  background-color: #f03232;
}
.alert {
  position: fixed;
  bottom: 0%;
  right: 1%;
}
</style>
