<template>
  <div class="body">
    <Loading v-if="showLoading" />

    <div class="container">
      <div>
        <b-card class="bcard">
          <b-form>
            <img class="logo" src="/biotech.png" />

            <h6 class="title">
              SAP CREDENTIALS
              <br />LOGIN
            </h6>

            <b-form-group>
              <b-input-group-prepend>
                <input
                  class="username"
                  v-model="username"
                  placeholder="Username"
                  @keyup.enter="login()"
                  id="username"
                />
              </b-input-group-prepend>

              <b-input-group-prepend>
                <input
                  class="password"
                  v-model="password"
                  placeholder="Password"
                  @keyup.enter="login()"
                  type="password"
                  style="margin-top: 20px"
                  id="password"
                />
              </b-input-group-prepend>
            </b-form-group>
            <b-button class="login" @click="login()" block id="loginButton">LOGIN</b-button>
            <b-button class="cancel" @click="cancel()" block id="cancelButton">CANCEL</b-button>

            <h2 class="subtitle" style="margin-top:30px">&copy;2019 BIOTECH FARMS INCORPORATED</h2>
          </b-form>
        </b-card>
      </div>
    </div>
    <!-- ALERT SUCCESSFUL -->
    <b-alert
      id="alertMessage"
      :show="dismissCountDown"
      dismissible
      fade
      class="red alert"
      @dismiss-count-down="countDownChanged"
    >{{ errorMessage }}</b-alert>
  </div>
</template>

<script>
import Loading from "~/components/LoadingOverlay/Loadings.vue";
import axios from "axios";

export default {
  components: {
    Loading
  },
  data() {
    return {
      username: null,
      password: null,
      showLoading: false,
      dismissSecs: 3,
      dismissCountDown: 0,
      showDismissibleAlert: false,
      errorMessage: null
    };
  },
  methods: {
    async login() {
      try {
        this.showLoading = true;

        const res = await axios({
          method: "POST",
          url: `${this.$axios.defaults.baseURL}/users/sap/login`,
          data: {
            mode: localStorage.mode,
            username: this.username,
            password: this.password
          }
        });

        const status = res.status;
        if (status == 201) {
          localStorage.session = res.data.posted;

          if (localStorage.role === "document controller") {
            this.$router.push(`/transaction`);
          } else {
            this.$router.push(`/default`);
          }
        }

        this.showLoading = false;
        return;
      } catch (e) {
        this.showLoading = false;
        try {
          // JSON error
          const err = JSON.parse(e.response.data.error);
          this.errorMessage = err.msg;
          this.showAlert();
        } catch (er) {
          // not JSON
          this.errorMessage = e.response.data.error;
          this.showAlert();
        }
      }
    },
    async cancel() {
      localStorage.clear();
      this.$router.push(`/`);
    },
    countDownChanged(dismissCountDown) {
      this.dismissCountDown = dismissCountDown;
    },
    showAlert() {
      this.dismissCountDown = this.dismissSecs;
    }
  }
};
</script>

<style scoped>
.container {
  margin: 0 auto;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.login {
  margin-top: 30px;
  border: 0px;
}
.login:hover {
  background: #00a651;
  border: 0px;
}
.cancel {
  margin-top: 30px;
  border: 0px;
}
.cancel:hover {
  background: #bb1313;
  border: 0px;
}
.title {
  font-family: "Quicksand", "Source Sans Pro", -apple-system, BlinkMacSystemFont,
    "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
  display: block;
  font-weight: 300;
  font-size: 40px;
  color: #00a651;
  letter-spacing: 1px;
}
.bcard {
  border: 0px;
}
.subtitle {
  margin-bottom: 40px;
  font-weight: 300;
  font-size: 18px;
  color: #526488;
  word-spacing: 5px;
  padding-bottom: 15px;
}
.links {
  padding-top: 15px;
}
.logo {
  height: 80px;
  width: 80px;
  margin-bottom: 20px;
}
input:focus {
  outline-width: 0px;
  border-bottom: 2px solid #00a651;
  transition: 0.4s;
  border-radius: 0px;
  border-left: 0px;
  border-right: 0px;
  border-top: 0px;
}
.username,
.password {
  transition: 0.4s;
  background: white;
  border-bottom: 2px solid gray;
  border-radius: 0px;
  border-left: 0px;
  border-right: 0px;
  border-top: 0px;
  display: block;
  width: 100%;
  text-align: center;
  line-height: 40px;
  font-family: "Quicksand", "Source Sans Pro", -apple-system, BlinkMacSystemFont,
    "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
}
.red {
  color: whitesmoke;
  background-color: #f03232;
}
.alert {
  position: fixed;
  bottom: 0%;
  right: 1%;
}
</style>