<template>
  <div class="my-3" id="requests-view">
    <Loading v-if="showLoading" />

    <h4 class="color1 ml-3">
      <font-awesome-icon icon="qrcode" class="icon" />Scan QR code
    </h4>

<!-- #region Start of Modals -->
    <b-modal
      ref="my-modal"
      header-bg-variant="success"
      header-text-variant="light"
      hide-footer
      title="Confirmation for Special Case"
      variant="warning"
      no-close-on-esc
      no-close-on-backdrop
    >
      <div class="d-block">
        <h5>
          Transaction is already completed. Are you sure you want to add another
          weight slip on this transaction?
        </h5>
      </div>
      <hr />

      <b-button
        class="mt-3 float-right greyBtn"
        variant="secondary"
        size="sm"
        style="font: size 13px;"
        @click="hideTrnModal"
        >NO</b-button
      >
      <b-button
        size="sm"
        style="font: size 13px;"
        class="mr-2 mt-3 float-right greenBtn"
        variant="success"
        @click="secondScaleEdit"
        >YES</b-button
      >
      <!-- <b-button
        size="sm"
        style="font: size 13px;"
        class="mr-2 mt-3 float-right greenBtn"
        variant="success"
        @click="TrnCompleted"
        >YES</b-button
      > -->
    </b-modal>

    <b-modal
        ref="editTransactionModal"
        id="editTransactionModal"
        header-bg-variant="success"
        header-text-variant="light"
        hide-footer
        no-close-on-backdrop
        no-close-on-esc
    >
      <template v-slot:modal-title>Confirm Data</template>
      <div class="d-block text-center">
        <div>
          <b-form id="formEditTransaction" @submit.prevent="TrnCompleted">
            <b-form-group>
              <div>
                <b-row class="my-1">
                  <b-col sm="4">
                    <label>Tracking Code:</label>
                  </b-col>
                  <b-col sm="8">
                    <b-form-input
                      id="trackingCodeInput"
                      v-model="secondScaleData.trackingCodeNo"
                      disabled
                      required
                      style="font-size: 13px"
                    />
                  </b-col>
                </b-row>

                <b-row class="my-1">
                  <b-col sm="4">
                    <label>Plate Number:</label>
                  </b-col>
                  <b-col sm="8">
                    <b-form-input
                      list="plateNumberListId"
                      v-model="secondScaleData.plateNo"
                      autocomplete="off"
                    >
                    </b-form-input>
                      <b-form-datalist id="plateNumberListId" class="datalist__container">
                        <option v-for="plate_numbers in listOfPlateNumbers">
                          {{plate_numbers}}
                        </option>
                      </b-form-datalist>
                      <!-- id="plateNumberFilter"
                      v-model="plateNumber"
                      :data="plateNumberList"
                      required
                      @hit="returnPlateNumberId()"
                      style="font-size: 11px"
                      ref="plateNumberFilter" -->
                  </b-col>
                </b-row>
                <b-row class="my-1">
                  <b-col sm="4">
                    <label>Driver:</label>
                  </b-col>
                  <b-col sm="8">
                    <b-form-input
                      list="driverListId"
                      v-model="secondScaleData.driver"
                      autocomplete="off"
                    >
                    </b-form-input>
                      <b-form-datalist id="driverListId" class="datalist__container">
                        <option v-for="drivers in listOfDrivers">
                          {{drivers}}
                        </option>
                      </b-form-datalist>
                    <p class="label">*<i>( Last name, First name )</i></p>
                  </b-col>
                </b-row>

                <b-row class="my-1">
                  <b-col sm="4">
                    <label>Supplier:</label>
                  </b-col>
                  <b-col sm="8">
                    <b-form-input
                      id="trackingCodeInput"
                      v-model="secondScaleData.supplier"
                      disabled
                      required
                      style="font-size: 13px"
                    />
                  </b-col>
                </b-row>
                <b-row class="my-1">
                  <b-col sm="4">
                    <label>Supplier Address:</label>
                  </b-col>
                  <b-col sm="8">
                    <b-form-textarea
                      id="trackingCodeInput"
                      v-model="secondScaleData.supplierAddress"
                      disabled
                      required
                      no-resize
                      :rows="3"
                      :max-rows="6"
                      style="font-size: 13px"
                    />
                  </b-col>
                </b-row>
                <b-row class="my-1">
                  <b-col sm="4">
                    <label>Item:</label>
                  </b-col>
                  <b-col sm="8">
                    <b-form-input
                      id="trackingCodeInput"
                      v-model="secondScaleData.item"
                      disabled
                      required
                      style="font-size: 13px"
                    />
                  </b-col>
                </b-row>
                <b-row class="my-1">
                  <b-col sm="4">
                    <label>Quantity:</label>
                  </b-col>
                  <b-col sm="8">
                    <b-form-input
                      id="trackingCodeInput"
                      v-model="secondScaleData.quantity"
                      disabled
                      required
                      style="font-size: 13px"
                    />
                  </b-col>
                </b-row>
                <b-row class="my-1">
                  <b-col sm="4">
                    <label>Unit of Measure:</label>
                  </b-col>
                  <b-col sm="8">
                    <b-form-input
                      id="trackingCodeInput"
                      v-model="secondScaleData.uom"
                      disabled
                      required
                      style="font-size: 13px"
                    />
                  </b-col>
                </b-row>
                <hr />
                <b-button
                  id="btnSaveTransactions"
                  type="submit"
                  variant="success"
                  class="greenBtn"
                >
                  <!-- <b-spinner v-if="isbusy === true" small></b-spinner> -->
                  &nbsp;Save
                </b-button>
              </div>
            </b-form-group>
          </b-form>
        </div>
      </div>
    </b-modal>

    <!-- Modal -->
    <b-modal id="newTruckModal" hide-footer header-bg-variant="success" header-text-variant="light" no-close-on-backdrop>
      <template v-slot:modal-title>Register Plate Number</template>
      <div class="d-block text-center">
        <div>
          <b-form @submit="addTruckInfo">
            <b-form-group
              id="input-group-2"
              label="Plate Number"
              label-for="plateNumber:"
              style="font-size:13px"
            >
              <b-form-input
                style="font-size:13px"
                id="plateNumber"
                v-model="plateNumber"
                required
                disabled
              ></b-form-input>
            </b-form-group>

            <b-form-group
              id="input-group-2"
              label="Truck Model:"
              label-for="truckModel"
              style="font-size:13px"
            >
              <b-form-select
                id="truckModel"
                v-model="truckModel"
                :options="truckModelList"
              ></b-form-select>
            </b-form-group>

            <hr />
            <b-button type="submit" class="ml-10 greenBtn" id="submit"
              >Save</b-button
            >
          </b-form>
        </div>
      </div>
    </b-modal>
    <b-modal id="secondScaleNewTruckModal" hide-footer header-bg-variant="success" header-text-variant="light" no-close-on-backdrop>
      <template v-slot:modal-title>Register Plate Number</template>
      <div class="d-block text-center">
        <div>
          <b-form @submit.prevent="addTruck">
            <b-form-group
              id="input-group-2"
              label="Plate Number"
              label-for="plateNumber:"
              style="font-size:13px"
            >
              <b-form-input
                style="font-size:13px"
                id="plateNumber"
                v-model="secondScaleData.plateNo"
                required
                disabled
              ></b-form-input>
            </b-form-group>

            <b-form-group
              id="input-group-2"
              label="Truck Model:"
              label-for="truckModel"
              style="font-size:13px"
            >
              <b-form-select
                id="truckModel"
                v-model="truckModel"
                :options="truckModelList"
              ></b-form-select>
            </b-form-group>

            <hr />
            <b-button type="submit" class="ml-10 greenBtn" id="submit"
              >Save</b-button
            >
          </b-form>
        </div>
      </div>
    </b-modal>
    <!-- #endregion -->

    <b-card
    class="mainContent"
    style="display: block; padding: none; background-color: transparent; box-shadow: none; border: none; margin: 0 .5rem;">
      <b-form @submit="onSubmit">
        <b-input-group size="lg">
          <b-form-input
            id="transactionInputField"
            autocomplete="off"
            type="search"
            @blur="searchFocus"
            ref="scan-qr-code"
            autofocus
            onkeyup="this.value = this.value.toUpperCase();"
            placeholder="Scan Transaction"
            v-model="qrResult"
            class="form-control-lg"
          ></b-form-input>
        </b-input-group>
        <!-- Code -->
      </b-form>
      <div class="my-4 mr-3 ml-4">
        <b-img
          src="image.gif"
          style="max-width:40%;"
          center
        ></b-img>
      </div>
    </b-card>
    <!-- <b-button
      id="show-btn"
      style="margin-top:20px"
      class="ml-4 button1"
      @click="$bvModal.show('newTruckModal')"
    >
      MODAL
    </b-button>-->
    <b-alert
      :show="dismissCountDownErr"
      dismissible
      fade
      class="err fixed"
      @dismiss-count-down="countDownChangedErr"
      > <font-awesome-icon icon="times-circle" /> {{ errorMsg }}</b-alert
    >
    <b-alert
        id="alertsuc"
        :show="dismissCountDown"
        dismissible
        fade
        class="button1 fixed"
        @dismiss-count-down="countDownChanged"
        ><font-awesome-icon icon="check-circle" /> {{ successMsg }}</b-alert
      >
  </div>
</template>

<script>
import axios from "axios";
import moment from "moment";
import Loading from "~/components/LoadingOverlay/Loadings.vue";
import Vue from "vue";
import VueBootstrapTypeahead from "vue-bootstrap-typeahead";

export default {
  components: {
    Loading,
    VueBootstrapTypeahead
  },
  layout: "sidebar",

  async created() {
    await this.getNotif()
    await this.getTruckTypes()
    await this.getTruckInfos()
    await this.getDrivers()
    if (!localStorage.modules) {
      localStorage.clear();
      this.$router.push(`/`);
      return;
    }
    if (localStorage.role === "document controller") {
      this.$router.push(`/transaction`);
    }
  },

  middleware: "pageValidator",
  meta: {
    access: { right: "add transaction" }
  },
  head() {
    return {
      title: this.notif+" QR Scan - TSIS",
      meta: [
        {
          hid: "description",
          name: "description",
          content: "Truck Scale Integrated System"
        }
      ]
    };
  },
  data() {
    return {
      successMsg: null,
      listOfPlateNumbers: [],
      listOfDrivers: [],
      plateNumber: null,
      driverString: null,
      showLoading: false,
      fsqrData: [],
      qrData: {},
      errorMsg: "",
      dismissCountDown: 0,
      dismissCountDownErr: 0,
      dismissSecs: 3,
      secondScaleData: {
        trackingCodeNo: null,
        plateNo: null,
        driver: null,
        supplier: null,
        supplierAddress: null,
        item: null,
        quantity: null,
        uom: null
      },
      plateNumberExist: null,
      truckModel: null,
      truckModelList: [],
      qrResult: "",
      qrData: null,
      isUnacho: null,
      focusDelay: null,
    };
  },
  computed: {},

  mounted() {},

  methods: {
    getNotif(){
      const notif = localStorage.getItem("notiCounter")
      if(notif == 0 || notif == null){
        this.notif = ""
      }else{
        this.notif = "("+notif+")"
      }
    },
    searchFocus() {
      this.focusDelay = setTimeout(() => this.$refs["scan-qr-code"].focus(), 5000);
    },
    async onSubmit(evt) {
      evt.preventDefault();

      if (localStorage.role.toLowerCase() == "napier controller") {
        // do nothing when empty
        if (!this.qrResult) {
          return;
        }

        this.showLoading = true;

        let code = "";

        // parse or manual type
        try {
          const data = JSON.parse(this.qrResult);
          if (data.SUPPLIER_CODE) {
            code = data.SUPPLIER_CODE.toString();
          }
        } catch (e) {
          code = this.qrResult.toUpperCase();
        }

        // we got the code; so request
        // on the future; do checking if code is from FSQR or TSIS

        let po; // hold PO from FSQR
        try {
          this.showLoading = true;

          const req = await axios({
            method: "POST",
            url: `${process.env.fsqrURL}/transactions/transactions/find_transaction`,
            data: {
              employee_id: "truck_scale",
              supplier_code: code,
              getWeight: true
            },
            headers: {
              authorization: `B1SESSION=${localStorage.session}`
            }
          });
          this.showLoading = false;

          const fsqr = req.data.transactions[0];
          // console.log(fsqr, "TOP FQSR DASH")
          const d = new Date().toDateString();
          const t = new Date().toTimeString();
          const date = moment(d).format("YYYY-MM-DD");
          const time = await this.fixTime(t);

          // ############
          // pass plate number incase of error
          this.plateNumber = fsqr.plate_number;

          // napier transaction is on banga only. STRICTLY!

          // auto update PO in truckscale transaction if has PO;
          po = fsqr.purchase_order_id;

          console.log(fsqr, "D");
          this.qrData = {
            transactionType: "delivery",
            plate_number: fsqr.plate_number,
            driver: fsqr.driver_name,
            trackingCode: code,
            no_of_bags: fsqr.no_of_bags,
            created_date: date,
            created_time: time,
            created_by: localStorage.id,
            mode: localStorage.mode,
            isNapier: true,
            locationDelivery: fsqr.location, //get from fsqr route
            modules: JSON.parse(localStorage.modules)
          };
        } catch (e) {
          this.showLoading = false;
          this.qrResult = null;
          console.log("e", e);
          this.errorMsg = "Transaction doesn't exist, please try again.";
          this.showAlertErr();
          return;
        }

        //# NEW; Check if the same truckscale location and delivery location of transaction;
        // Not allow to weight if different location;
        if (
          localStorage.tslocation.toLowerCase() !==
          this.qrData.locationDelivery.toLowerCase()
        ) {
          this.qrResult = null;
          this.errorMsg = "Transaction is not allowed.";
          this.showAlertErr();
          return;
        }

        // insert to truckscale transactions
        try {
          this.showLoading = true;
          const res = await axios({
            method: "POST",
            url: `${this.$axios.defaults.baseURL}/transactions/scan`,
            data: {
              ...this.qrData
            },
            headers: {
              authorization: `B1SESSION=${localStorage.session}`
            }
          });

          if (res.status == 201) {
            // if successfully insert and there is PO;
            // tag PO; when there is PO;

            if (po) {
              await axios({
                method: "POST",
                url: `${this.$axios.defaults.baseURL}/transactions/update/${code}`,
                headers: {
                  authorization: `B1SESSION=${localStorage.session}`
                },
                data: {
                  user: process.env.tsisUser,
                  pw: process.env.tsisPw,
                  mode: "1",
                  U_APP_PO_ID: po
                }
              });
            }

            this.$router.push(`/transaction/${res.data.posted.transactionId}`);
          }
          this.showLoading = false;
        } catch (e) {
          this.showLoading = false;
          console.log(e);

          try {
            // JSON error
            const err = JSON.parse(e.response.data.error);

            const code = err.code;

            if (code == 1) {
              await this.getTruckTypes();
              this.showLoading = false;
              // plate number does't exist
              this.$bvModal.show("newTruckModal");
            }

            if (code == 2) {
              // don't allow completed napier transactions special case
              this.errorMsg = "Transaction is already completed.";
              this.showAlertErr();
              return;
            }

            if (code == 3) {
              this.showLoading = false;
              this.qrResult = "";
              // wrong place to weight
              this.errorMsg = "Not allowed to transact here.";
              this.showAlertErr();
              return;
            }
            return;
          } catch (er) {
            // not JSON error
            this.errorMsg = e.response.data.error;
            this.showAlertErr();
          }
        }

        return; // exit
      } else {
        // if not napier controller
        // do this

        // do nothing when empty
        if (!this.qrResult) {
          return;
        }

        this.showLoading = true;

        let code = "";

        // parse or manual type
        console.log("If has qr code");
        try {
          const data = JSON.parse(this.qrResult);
          if (data.SUPPLIER_CODE) {
            code = data.SUPPLIER_CODE.toString();
          }
        } catch (e) {
          code = this.qrResult.toUpperCase();
        }
        console.log(code);
        this.showLoading = false;

        // we got the code; so request
        // on the future; do checking if code is from FSQR or TSIS

        let po = null;
        try {
          this.showLoading = true;

          const req = await axios({
            method: "POST",
            url: `${process.env.fsqrURL}/transactions/transactions/find_transaction`,
            data: {
              employee_id: "truck_scale",
              supplier_code: code,
              getWeight: true
            },
            headers: {
              authorization: "Bearer "
            }
          });
          this.showLoading = false;
          const fsqr = req.data.transactions[0];

          // get transaction type
          const tType = fsqr.transaction_type
            ? fsqr.transaction_type[0].name
            : null;
          if (tType) {
            const d = new Date().toDateString();
            const t = new Date().toTimeString();
            const date = moment(d).format("YYYY-MM-DD");
            const time = await this.fixTime(t);

            const tTypeLower = tType.toLowerCase();
            if (tTypeLower == "withdrawal") {
              // withdrawal transaction

              // ############
              // pass plate number incase of error
              this.plateNumber = fsqr.plate_number;

              if (fsqr.company == "unahco") {
                this.qrData = {
                transactionType: "withdrawal",
                plate_number: fsqr.plate_number,
                driver: fsqr.driver_name,
                trackingCode: code,
                no_of_bags: fsqr.no_of_bags,
                uom: fsqr.delivery_receipt[0].unit,
                // dr_number: fsqr.delivery_receipt[0].dr_id,
                created_date: date,
                created_time: time,
                created_by: localStorage.id,
                mode: localStorage.mode,
                truckscale_number: localStorage.tsnumber,
                truckscale_id: localStorage.truckscale,
                locationDelivery: fsqr.customerAddress,
                so: fsqr.SO,
                company: fsqr.company,
                supplier_name:fsqr.supplier_name,
                supplier_address:fsqr.supplier_address,
                item:fsqr.item,
                modules: JSON.parse(localStorage.modules)
              };
              }else{
                // console.log(fsqr, "WITHDRAWAL FSQR");
                this.qrData = {
                transactionType: "withdrawal",
                plate_number: fsqr.plate_number,
                driver: fsqr.driver_name,
                trackingCode: code,
                no_of_bags: fsqr.no_of_bags,
                uom: fsqr.delivery_receipt[0].unit,
                // dr_number: fsqr.delivery_receipt[0].dr_id,
                created_date: date,
                created_time: time,
                created_by: localStorage.id,
                mode: localStorage.mode,
                truckscale_number: localStorage.tsnumber,
                truckscale_id: localStorage.truckscale,
                locationDelivery: fsqr.customerAddress, 
                item:fsqr.item,
                supplier_name:fsqr.customer,
                supplier_address:fsqr.customerAddress,
                so: fsqr.SO,
                modules: JSON.parse(localStorage.modules)
              };

              }

              // insert to truckscale transactions
              try {
                this.showLoading = true;
                const res = await axios({
                  method: "POST",
                  url: `${this.$axios.defaults.baseURL}/transactions/scan`,
                  data: {
                    ...this.qrData
                  },
                  headers: {
                    authorization: `B1SESSION=${localStorage.session}`
                  }
                });
                // console.log(res, "AFTER SCAN")
                this.showLoading = false;

                // redirect
                this.$router.push(
                  `/transaction/${res.data.posted.transactionId}`
                );
              } catch (e) {
                this.showLoading = false;
                console.log(e);
                try {
                  // JSON error
                  const err = JSON.parse(e.response.data.error);

                  const code = err.code;

                  if (code == 1) {
                    await this.getTruckTypes();
                    this.showLoading = false;
                    // plate number does't exist
                    this.$bvModal.show("newTruckModal");
                  }

                  if (code == 2) {
                    // not allow special case
                    this.errorMsg = "Transaction is already completed.";
                    this.showAlertErr();
                    return;
                  }

                  return;
                } catch (er) {
                  // not JSON error
                  this.errorMsg = e.response.data.error;
                  this.showAlertErr();
                }
              }
            } else {
              // delivery transaction

              // determine if transaction is unacho or not
              // true or false only;
              this.isUnacho = this.unachoOrNot(code);

              // ############
              // pass plate number incase of error
              this.plateNumber = fsqr.plate_number;

              // if unacho; others
              // else delivery

              // auto update PO in truckscale transaction if has PO;
              po = fsqr.purchase_order_id;

              // if isUnacho is true
              if (this.isUnacho == true) {
                console.log("N");
                this.qrData = {
                  transactionType: "delivery",
                  plate_number: fsqr.plate_number,
                  driver: fsqr.driver_name,
                  trackingCode: code,
                  no_of_bags: fsqr.no_of_bags,
                  uom: fsqr.delivery_receipt[0].unit,
                  dr_number: fsqr.delivery_receipt[0].dr_id,
                  created_date: date,
                  created_time: time,
                  created_by: localStorage.id,
                  mode: localStorage.mode,
                  truckscale_number: localStorage.tsnumber,
                  truckscale_id: localStorage.truckscale,
                  isNapier: false,
                  locationDelivery: fsqr.location, //get from fsqr route
                  company: fsqr.company,
                  supplier_name: fsqr.supplier_name,
                  supplier_address: fsqr.supplier_address,
                  item: fsqr.item,
                  modules: JSON.parse(localStorage.modules)
                };
              } else {
                console.log(fsqr, "ITEMM FSQR SCANN");
                if (fsqr.item != "null") {
                  const rmrsItem = fsqr.item;
                  this.qrData = {
                    purchase_order_id: fsqr.purchase_order_id,
                    transactionType: "delivery",
                    plate_number: fsqr.plate_number,
                    driver: fsqr.driver_name,
                    trackingCode: code,
                    no_of_bags: fsqr.no_of_bags,
                    uom: fsqr.delivery_receipt[0].unit,
                    dr_number: fsqr.delivery_receipt[0].dr_id,
                    plot_code: fsqr.delivery_receipt[0].plot_code,
                    created_date: date,
                    created_time: time,
                    created_by: localStorage.id,
                    mode: localStorage.mode,
                    truckscale_number: localStorage.tsnumber,
                    truckscale_id: localStorage.truckscale,
                    isNapier: fsqr.isNapier ? true:false,
                    locationDelivery: fsqr.location, //get from fsqr route
                    company: fsqr.company,
                    supplier_name:fsqr.supplier_name,
                    supplier_address:fsqr.supplier_address,
                    item:rmrsItem,
                    modules: JSON.parse(localStorage.modules)
                };
                } else {
                  // console.log(fsqr, "MIRCP FROM")
                  const itemMicro = fsqr.bir[0].items[0].description;
                  const uomMicro = fsqr.bir[0].units[0].primary;
                  const itemUoM = uomMicro.unit;
                  this.qrData = {
                    purchase_order_id: fsqr.purchase_order_id,
                    transactionType: "delivery",
                    plate_number: fsqr.plate_number,
                    driver: fsqr.driver_name,
                    trackingCode: code,
                    no_of_bags: fsqr.no_of_bags,
                    uom: itemUoM,
                    // dr_number: fsqr.delivery_receipt[0].dr_id,
                    created_date: date,
                    created_time: time,
                    created_by: localStorage.id,
                    mode: localStorage.mode,
                    truckscale_number: localStorage.tsnumber,
                    truckscale_id: localStorage.truckscale,
                    isNapier: false,
                    locationDelivery: fsqr.location, //get from fsqr route
                    company: fsqr.company,
                    supplier_name:fsqr.supplier_name,
                    supplier_address:fsqr.supplier_address,
                    item:itemMicro,
                    modules: JSON.parse(localStorage.modules)
                };
                }
                console.log(fsqr, "FSQR SCAN");
              }

              //# NEW; Check if the same truckscale location and delivery location of transaction;
              // Not allow to weight if different location;
              if (
                localStorage.tslocation.toLowerCase() !==
                this.qrData.locationDelivery.toLowerCase()
              ) {
                this.qrResult = null;
                this.errorMsg = "Transaction is not allowed.";
                this.showAlertErr();
                return;
              }

              // insert to truckscale transactions
              try {
                this.showLoading = true;
                const res = await axios({
                  method: "POST",
                  url: `${this.$axios.defaults.baseURL}/transactions/scan`,
                  data: {
                    ...this.qrData
                  },
                  headers: {
                    authorization: `B1SESSION=${localStorage.session}`
                  }
                });

                if (res.status == 201) {
                  // if successfully insert and there is PO;
                  // tag PO; when there is PO;
                  if (po) {
                    await axios({
                      method: "POST",
                      url: `${this.$axios.defaults.baseURL}/transactions/update/${code}`,
                      headers: {
                        authorization: `B1SESSION=${localStorage.session}`
                      },
                      data: {
                        user: process.env.tsisUser,
                        pw: process.env.tsisPw,
                        mode: "1",
                        U_APP_PO_ID: po
                      }
                    });
                  }

                  // redirect
                  this.$router.push(
                    `/transaction/${res.data.posted.transactionId}`
                  );
                }
                this.showLoading = false;
              } catch (e) {
                this.showLoading = false;
                console.log(e);

                try {
                  // JSON error
                  const err = JSON.parse(e.response.data.error);
                  const code = err.code;

                  if (code === 1) {
                    await this.getTruckTypes();
                    this.$bvModal.show("newTruckModal");
                    this.showLoading = false;
                    // plate number does't exist
                  }

                  if (code == 2) {
                    if (this.isUnacho == true) {
                      // don't allow completed unacho  transactions special case
                      this.errorMsg = "Transaction is already completed.";
                      this.showAlertErr();
                      return;
                    }

                    if (err.isNapier == 1) {
                      // not allow napier special case
                      this.errorMsg = "Transaction is already completed.";
                      this.showAlertErr();
                      return;
                    }
                    this.showLoading = false;
                    // completed transaction
                    this.$refs["my-modal"].show();
                  }

                  if (code == 3) {
                    this.showLoading = false;
                    this.qrResult = "";
                    // wrong place to weight
                    this.errorMsg = "Not allowed to transact here.";
                    this.showAlertErr();
                    return;
                  }
                  return;
                } catch (er) {
                  // not JSON error
                  this.errorMsg = e.response.data.error;
                  this.showAlertErr();
                }
              }

              // end delivery
            }
          } else {
            this.errorMsg = "Transaction type is not allowed.";
            return this.showAlertErr();
          }
        } catch (e) {
          this.showLoading = false;
          this.qrResult = null;
          this.errorMsg = "Transaction doesn't exist, please try again.";
          this.showAlertErr();
          return;
        }
      }
    },
    async getTruckInfos(){
      try{
        if(localStorage.mode == 1){
          const res = await axios({
            method: "POST",
            url: `${this.$axios.defaults.baseURL}/truck-infos/select`,
            headers: {
              "Content-Type": "application/json",
              "X-HTTP-Method-Override": "GET",
              authorization: `B1SESSION=${localStorage.session}`
            },
            data: {
              mode: localStorage.mode,
              modules: JSON.parse(localStorage.modules)
            }
          })
          // console.log("getTruckInfos result", res.data.view);
          const data = res.data.view

          for(let i=0; i<data.length; i++){
            const e = data[i]

            this.listOfPlateNumbers.push(
              e.U_BFI_TS_TRINFO.U_TS_PLATE_NUM.toUpperCase()
            )
          }
          // console.log("plateNumberList data", this.listOfPlateNumbers);
        }
      }catch(e){
        console.log("Error fetching truckinfos", e);
      }
    },
    async getDrivers(){
      try {
        if(localStorage.mode == 1){
          const res = await axios({
            method: "POST",
            url: `${this.$axios.defaults.baseURL}/drivers/select`,
            headers: {
              authorization: "Bearer " + localStorage.token
            },
            headers: {
              "Content-Type": "application/json",
              "X-HTTP-Method-Override": "GET",
              authorization: `B1SESSION=${localStorage.session}`
            },
            data: {
              mode: localStorage.mode,
              modules: JSON.parse(localStorage.modules)
            }
          })
          // console.log("getDrivers result", res.data.view);
          const data = res.data.view
          
          for(let i=0;i<data.length;i++){
            const e = data[i]
            const name = this.convertCase(`${e.U_TS_LN}, ${e.U_TS_FN}`)
            this.listOfDrivers.push(
              name
            )
          }
          // console.log("drivers", this.listOfDrivers);
        }
      } catch (e) {
        console.log("Error fetching drivers", e);
      }
    },
    countDownChanged(dismissCountDown) {
      this.dismissCountDown = dismissCountDown;
    },
    countDownChangedErr(dismissCountDown) {
      this.dismissCountDownErr = dismissCountDown;
    },
    showSuccess() {
      this.dismissCountDown = this.dismissSecs;
    },
    showAlertErr() {
      this.dismissCountDownErr = this.dismissSecs;
    },
    async addTruck() {
      this.showLoading = true;
      const d = new Date().toDateString();
      const t = new Date().toTimeString();
      const date = moment(d).format("YYYY-MM-DD");
      const time = await this.fixTime(t);
      const data = {
        U_TS_TRTYPE_ID: this.truckModel,
        U_TS_PLATE_NUM: this.secondScaleData.plateNo,
        U_TS_CREATEDATE: date,
        U_TS_CREATETIME: time,
        U_TS_UPDATEDATE: date,
        U_TS_UPDATETIME: time,
        U_CREATED_BY: localStorage.id,
        U_UPDATED_BY: localStorage.id,
        mode: localStorage.mode,
        modules: JSON.parse(localStorage.modules)
      };
      return await axios({
        method: "POST",
          url: `${this.$axios.defaults.baseURL}/truck-infos/add`,
          data: {
            ...data
          },
          headers: {
            authorization: `B1SESSION=${localStorage.session}`
        }
      })
      .then((res) => {
        this.listOfPlateNumbers.unshift(this.secondScaleData.plateNo)
        this.getTruckInfos()
        this.showLoading = false
        this.$bvModal.hide('secondScaleNewTruckModal')
        if(res.data.posted.status == 201){
          this.successMsg = "Truck "+this.secondScaleData.plateNo+" has been successfully added."
          this.showSuccess()
        }else{
          this.errorMsg = "Something went wrong, try again later..."
          this.showAlertErr()
        }
      }).catch((err) => {
        console.log("Error adding truck:",err);
        this.showLoading = false
        this.errorMsg = err.response.data.error;
        this.showAlertErr();
      })
    },
    async addTruckInfo(evt) {
      evt.preventDefault();
      try {
        if (localStorage.mode == 1) {
          this.showLoading = true;

          const d = new Date().toDateString();
          const t = new Date().toTimeString();
          const date = moment(d).format("YYYY-MM-DD");
          const time = await this.fixTime(t);

          const data = {
            U_TS_TRTYPE_ID: this.truckModel,
            U_TS_PLATE_NUM: this.plateNumber,
            U_TS_CREATEDATE: date,
            U_TS_CREATETIME: time,
            U_TS_UPDATEDATE: date,
            U_TS_UPDATETIME: time,
            U_CREATED_BY: localStorage.id,
            U_UPDATED_BY: localStorage.id,
            mode: localStorage.mode,
            modules: JSON.parse(localStorage.modules)
          };

          const res = await axios({
            method: "POST",
            url: `${this.$axios.defaults.baseURL}/truck-infos/add`,
            data: {
              ...data
            },
            headers: {
              authorization: `B1SESSION=${localStorage.session}`
            }
          });

          this.showLoading = false;
          this.listOfPlateNumbers.unshift(this.secondScaleData.plateNo)
          if(this.plateNumberExist == false){
            if (res.data.posted.status == 201) {
              this.$bvModal.hide("newTruckModal");
              await this.onSubmit(evt);
            }
          }
        } else {
          let data = {
            users_id: localStorage.id,
            truck_type_id: this.truckModel,
            plate_number: this.plateNumber
          };

          axios({
            method: "POST",
            url: `${this.$axios.defaults.baseURL}/truck-infos/add`,
            data: {
              ...data
            },
            headers: {
              authorization: "Bearer " + localStorage.token
            }
          })
            .then(res => {
              if (res.status == 201) {
                axios({
                  method: "POST",
                  url: `${this.$axios.defaults.baseURL}/transactions/add`,
                  data: {
                    ...this.qrData
                  },
                  headers: {
                    authorization: "Bearer " + localStorage.token
                  }
                })
                  .then(res => {
                    if (res.status === 201) {
                      this.$router.push(
                        `/transaction/${res.data.posted.transactionId}`
                      );
                    }
                  })
                  .catch(error => {});
              }
            })
            .catch(error => {});
        }
      } catch (e) {
        this.showLoading = false
        console.log("Error add truck info", e);
        this.errorMsg = e
        this.showAlertErr()
      }
    },
    async fixTime(t) {
      try {
        const arr = t.split(":", 2);
        const raw = `${arr[0]}${arr[1]}`;
        const time = raw;
        return time;
      } catch (e) {
        console.log("Error: ", e);
      }
    },
    // previous submit on scan; delete afterwards

    async secondScaleEdit() {
      // await this.getDrivers
      clearTimeout(this.focusDelay);
      this.showLoading = true
      await this.getTruckInfos
      await this.getDrivers
      this.showLoading = false
      this.$bvModal.show('editTransactionModal')
      const data = this.qrData
      this.secondScaleData = {
        plateNo: data.plate_number,
        trackingCodeNo: data.trackingCode,
        driver: this.convertCase(data.driver),
        supplier: data.supplier_name,
        supplierAddress: data.supplier_address,
        item: data.item,
        quantity: data.no_of_bags,
        uom: data.uom
      }
    },

    async TrnCompleted() {
      this.plateNumberExist = this.listOfPlateNumbers.includes(this.secondScaleData.plateNo)
      if (this.plateNumberExist == false) {
        this.$bvModal.show('secondScaleNewTruckModal')
      } if(this.plateNumberExist) {
        this.showLoading = true;
        try {
          if (localStorage.mode == 1) {
            this.qrData.specialCaseNewTransactionFlagTrue = 1;
            console.log("qrdata", this.qrData);
            console.log("secondScaleData", this.secondScaleData);
  
            this.qrData.plate_number = this.secondScaleData.plateNo
            this.qrData.driver = this.secondScaleData.driver
  
            const ts = await axios({
              method: "POST",
              url: `${this.$axios.defaults.baseURL}/transactions/scan`,
              data: {
                ...this.qrData
              },
              headers: {
                authorization: `B1SESSION=${localStorage.session}`
              }
            });
            this.showLoading = false;
            if (ts.status == 201) {
              this.$router.push(`/transaction/${ts.data.posted.transactionId}`);
            }
          }
        } catch (e) {
          this.showLoading = false;
          console.log("Error compelete trn",e);
        }
      }
    },

    hideTrnModal() {
      this.$refs["my-modal"].hide();
    },
    async getTruckTypes() {
      try {
        if (localStorage.mode == 1) {
          this.showLoading = true;

          const res = await axios({
            method: "POST",
            url: `${this.$axios.defaults.baseURL}/truck-types/select`,
            headers: {
              "Content-Type": "application/json",
              "X-HTTP-Method-Override": "GET",
              authorization: `B1SESSION=${localStorage.session}`
            },
            data: {
              mode: localStorage.mode,
              modules: JSON.parse(localStorage.modules)
            }
          });
          this.showLoading = false;
          const data = res.data.view;

          for (let i = 0; i < data.length; i++) {
            const e = data[i];

            this.truckModelList.push({
              value: e.Code,
              text: this.convertCase(`${e.U_TS_TRTYPE} - ${e.U_TS_TRMODEL}`)
            });
          }
        } else {
          axios({
            method: "GET",
            url: `${this.$axios.defaults.baseURL}/truck-types/select`,
            headers: {
              authorization: "Bearer " + localStorage.token
            }
          })
            .then(res => {
              for (let i = 0; res.data.view.length; i++) {
                this.truckModelList.push({
                  value: res.data.view[i].id,
                  text: `${res.data.view[i].truck_type} - ${res.data.view[i].truck_model}`
                });
              }
            })
            .catch(error => {});
        }
      } catch (e) {
        this.showLoading = false;

        console.log("Error get truck types.");
      }
    },
    // convert to pascal case
    convertCase(str) {
      if (str) {
        const splitStr = str.toLowerCase().split(" ");
        for (let i = 0; i < splitStr.length; i++) {
          splitStr[i] =
            splitStr[i].charAt(0).toUpperCase() + splitStr[i].substring(1);
        }
        return splitStr.join(" ");
      } else {
        return str;
      }
    },
    unachoOrNot(str) {
      // check if transaction is unacho or not
      let bool = false;

      const s = str.split("-");

      const businessEntity = s[0];

      if (businessEntity.toLowerCase() == "unc") {
        bool = true;
      }
      return bool;
    }
  }
};
</script>

<style scoped>
.button1 {
  background-color: #00803e;
  color: white;
}
.color1 {
  color: #00803e;
}
.icon {
  margin-left: 10px;
  margin-right: 10px;
}
.fixed {
  position: fixed;
  bottom: 0%;
  right: 2%;
}
.err {
  background-color: #f12d2d;
  color: white;
}
</style>
