.label{
    font-size: 12px;
    text-align: left;
    margin-left: .3rem;
    margin-bottom: 0;
    color: red;
    i{
        color:grey;
    }
}

.pinError {
  margin: 0;
  text-align: left;
  color: red;
}
.container1 {
  display: flex;
  flex-direction: column;
  place-items: center;
  padding: 3rem 2rem 2rem;
  .pinBox {
    position: absolute;
    display: flex;
    top: 6.9rem;
    background-color: transparent;
    border: 1px solid black;
    border-radius: 5px;
    div{
      min-width: 2.6rem;
      min-height: 4rem;
      border: 1px solid black;
    }
  }
  .clearPin{
    color: grey;
    transition: 0.4s all ease;
    border-radius: 5px;
    border-style: none;
    font-size: 1.2rem;
    width: 3rem;
    &:hover{
      background: #FFEBEB;
      color: crimson;
      cursor: pointer;
      transition: 0.3s all ease;
      box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px,
      rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
    }
    &:focus {
      box-shadow: 0 0 0 0.2rem var(--transDanger) !important;
    }
    &:active {
      box-shadow: 0 0 0 0.2rem var(--transDanger) !important;
    }
  }
}
.pinEntry {
  overflow: hidden;
  margin-left: 1.5rem;
  margin-top: 1rem;
  width: 10.7rem;
  max-width: fit-content;
  font-size: 2.5rem;
  outline: none;
  letter-spacing: 1.6rem;
  background-color: transparent;
  border: none !important;
  // border: 1px solid yellowgreen !important;
  z-index: 1;
  caret-color: transparent;
}