.page-item.active .page-link {
  background-color: #00a651 !important;
  border-color: #00a651 !important;
  transition: background-color 0.3s;
  &:focus {
    box-shadow: 0 0 0 0.2rem #00a61c8e !important;
  }
}
.page-item .page-link {
  color: black;
}
