input:focus {
  outline-width: 0px;
  border-bottom: 2px solid #00a651;
  transition: 0.4s;
  // border-radius: 60px !important;
  border-left: 0px;
  border-right: 0px;
  border-top: 0px;
}
.username,
.password {
  transition: 0.4s;
  background: white;
  border-bottom: 2px solid gray;
  border-left: 0px;
  border-right: 0px;
  border-top: 0px;
  display: block;
  width: 100%;
  text-align: center;
  line-height: 35px;
  font-family: "Quicksand", "Source Sans Pro", -apple-system, BlinkMacSystemFont,
    "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
}

.pwDisplayStyle {
  display: flex;
  justify-content: center;
  align-items: center;
  float: right;
  margin-top: 15px;
  margin-left: -28px;
  position: relative;
  z-index: 2;
  background-color: transparent;
  background-repeat: no-repeat;
  border: none;
  cursor: pointer;
  overflow: hidden;
  outline: none;
  color: #363636c5;
  transition: 0.4s;
  &:hover {
    transition: 0.4s;
    color: #39a047d8;
  }
}

.subtitle {
  // margin-bottom: 40px;
  font-weight: 300;
  font-size: 14px;
  color: #526488;
  word-spacing: 5px;
  padding-bottom: 15px;
}

.footerLogin {
    margin-top: 30px;
    font-weight: 300;
    font-size: 18px;
    color: #526488;
    word-spacing: 5px;
    padding-bottom: 15px;
}

.switchMode,
.custom-control-label {
  cursor: pointer;
}

.checkboxContainer {
  display: flex;
  justify-content: center;
}

.login {
  font-family: "Quicksand", "Source Sans Pro", -apple-system, BlinkMacSystemFont,
    "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
  border-radius: 60px;
  margin-top: 24px;
  border: 0px;
  cursor: pointer;
  background: #00a650e1;
  color: white;
  box-shadow: 2px 4px 10px -6px #000000;
  &:hover {
    background: #00a651;
    border: 0px;
    color: white;
    box-shadow: 0px 15px 14px -12px #000000b0;
    transition: all 0.3s;
    position: relative;
    bottom: 0.1px;
  }
  &:focus {
    box-shadow: 0 0 0 0.2rem #00a65085;
  }
}
.btn.disabled,
.btn:disabled {
  background: grey !important;
  box-shadow: none;
  margin-bottom: 0;
  cursor: auto;
  bottom: 0px;
}
