<template>
  <div class="body">
    <Loading v-if="showLoading" />
    <div class="container">
      <b-card class="bcard">
        <img class="logo" src="/biotech.png" />

        <h6 class="title">CONFIGURE TRUCK SCALE</h6>

        <b-form @submit.prevent="addTruckScale">
          <b-form-group
            id="input-group-1"
            label-for="truckScaleName"
            label="Truckscale name"
            style="text-align: left; font-weight: bold;"
          >
            <b-form-input
              id="truckScaleName"
              v-model="truckscale_name"
              required
              autocomplete="off"
            ></b-form-input>
          </b-form-group>

          <b-form-group
            id="input-group-2"
            label-for="locations"
            label="Truckscale location"
            style="text-align: left; font-weight: bold;"
          >
            <vue-bootstrap-typeahead
              id="locations"
              v-model="selectedLocation"
              :data="locationOptions"
              required
              @hit="getSelectedLocation()"
              style="font-size:11px"
              ref="locations"
            />
          </b-form-group>

          <b-form-group
            id="input-group-3"
            label-for="TruckScaleLength"
            label="Truckscale length"
            style="text-align: left; font-weight: bold;"
          >
            <b-form-input
              id="TruckScaleLength"
              type="number"
              v-model="truckscale_length"
              required
            ></b-form-input>
          </b-form-group>

          <b-form-group
            id="input-group-4"
            label-for="Baudrate"
            label="Baud rate"
            style="text-align: left; font-weight: bold;"
          >
            <b-form-input
              id="Baudrate"
              type="number"
              v-model="baudrate"
              required
            ></b-form-input>
          </b-form-group>

          <b-form-group
            id="input-group-4"
            label-for="ts_id"
            label="Truckscale ID"
            style="text-align: left; font-weight: bold;"
          >
            <b-form-input
              id="ts_id"
              type="number"
              v-model="tsId"
              required
            ></b-form-input>
          </b-form-group>

          <div class="mt-5">
            <b-button id="btnSaveConfiguration" class="greenBtn mr-1" variant="success" type="submit">Save</b-button>
            <b-button id="btnClear" type="reset" class="redBtn" variant="danger">Clear</b-button>
          </div>
        </b-form>

        <h2 class="subtitle" style="margin-top:30px">
          &copy;2019 BIOTECH FARMS INCORPORATED
        </h2>
      </b-card>
      <!-- alert msg -->
      <b-alert
        :show="showError"
        dismissible
        fade
        class="red alert"
        @dismiss-count-down="countDownChanged"
        >{{ errorMessage }}</b-alert
      >
      <!-- success -->
      <b-alert
        :show="showSuccess"
        dismissible
        fade
        class="green alert"
        @dismiss-count-down="countDownChangedSuccess"
        >{{ successMessage }}</b-alert
      >
    </div>
  </div>
</template>

<script>
import axios from "axios";
import moment from "moment";
import Loading from "~/components/LoadingOverlay/Loadings.vue";
import VueBootstrapTypeahead from "vue-bootstrap-typeahead";

export default {
  components: {
    Loading,
    VueBootstrapTypeahead
  },
  name: "LoginForm",
  layout: "loginLayout",
  data() {
    return {
      showLoading: false,
      truckscale_name: null,
      truckscale_location: null,
      truckscale_length: null,
      baudrate: null,
      parity: "none",
      databits: "8",
      stopbits: "1",
      dismissSecs: 3,
      showError: 0,
      errorMessage: null,
      showSuccess: 0,
      successMessage: null,
      selectedLocation: null,
      selectedLocationId: null,
      locationOptions: [],
      locationData: [],
      tsId: null
    };
  },
  async created() {
    await this.getLocations();
  },
  methods: {
    async getSelectedLocation() {
      try {
        const s = this.selectedLocation;
        const data = this.locationData;

        const getId = () => {
          for (let i = 0; i < data.length; i++) {
            const e = data[i];

            const value = e.value;
            const text = e.text;

            if (s.toLowerCase() == text.toLowerCase()) {
              return value;
            }
          }
        };

        const id = await getId();
        this.selectedLocationId = id;
      } catch (e) {
        console.log("Error get location ID: ", e);
      }
    },
    async getLocations() {
      try {
        if (localStorage.mode == 1) {
          //  online
          const res = await axios({
            method: "POST",
            url: `${this.$axios.defaults.baseURL}/truck-scale/locations/select`,
            headers: {
              authorization: `B1SESSION=${localStorage.session}`
            },
            data: {
              mode: localStorage.mode
            }
          });

          const data = res.data.view;
          for (let i = 0; i < data.length; i++) {
            const e = data[i];

            // JSON
            this.locationData.push({
              value: e.Code,
              text: this.convertCase(e.U_LOCATIONS)
            });

            // array
            this.locationOptions.push(this.convertCase(e.U_LOCATIONS));
          }
        } else {
          //  offline
        }
      } catch (e) {
        console.log("Error fetch locations: ", e);
      }
    },
    countDownChangedSuccess(showSuccess) {
      this.showSuccess = showSuccess;
    },
    convertCase(str) {
      if (str) {
        const splitStr = str.toLowerCase().split(" ");
        for (let i = 0; i < splitStr.length; i++) {
          splitStr[i] =
            splitStr[i].charAt(0).toUpperCase() + splitStr[i].substring(1);
        }
        return splitStr.join(" ");
      } else {
        return str;
      }
    },
    showAlertSuccess() {
      this.showSuccess = this.dismissSecs;
    },
    countDownChanged(showError) {
      this.showError = showError;
    },
    showAlert() {
      this.showError = this.dismissSecs;
    },
    redirect() {
      localStorage.clear();
      this.$router.push(`/`);
    },
    async fixTime(t) {
      try {
        const arr = t.split(":", 2);
        const raw = `${arr[0]}${arr[1]}`;
        const time = raw;
        return time;
      } catch (e) {
        console.log("Error: ", e);
      }
    },
    async addTruckScale() {
      try {
        if (localStorage.mode == 1) {
          this.showLoading = true;
          const d = new Date().toDateString();
          const t = new Date().toTimeString();
          const date = moment(d).format("YYYY-MM-DD");
          const time = await this.fixTime(t);

          // build object
          const data = {
            U_TS_TRSCALE: this.truckscale_name,
            U_CREATED_BY: localStorage.id,
            U_UPDATED_BY: localStorage.id,
            U_TS_TR_LENGTH: this.truckscale_length,
            U_TS_BAUDRATE: this.baudrate,
            U_TS_PARITY: this.parity,
            U_TS_DATABITS: this.databits,
            U_TS_STOPBITS: this.stopbits,
            mode: localStorage.mode,
            U_TS_CREATEDATE: date,
            U_TS_CREATETIME: time,
            U_TS_UPDATEDATE: date,
            U_TS_UPDATETIME: time,
            U_LOCATION_ID: this.selectedLocationId,
            U_TS_ID: this.tsId
          };

          const res = await axios({
            method: "POST",
            url: `${this.$axios.defaults.baseURL}/truck-scale/add`,
            headers: {
              authorization: `B1SESSION=${localStorage.session}`
            },
            data: {
              ...data
            }
          });

          this.showLoading = false;

          const status = res.data.posted.status;

          if (status == 201) {
            this.successMessage = "Configured Successfully.";
            await this.showAlertSuccess();
            // after 3 sec logout
            setTimeout(async () => {
              await this.redirect();
            }, 3000);
          }
        } else {
          const res = await axios({
            method: "POST",
            url: `${this.$axios.defaults.baseURL}/truck-scale/add`,
            headers: {
              authorization: "Bearer " + localStorage.token
            },
            data: {
              truckscale_name: this.truckscale_name,
              truckscale_location: this.truckscale_location,
              truckscale_length: this.truckscale_length,
              baudrate: this.baudrate,
              parity: this.parity,
              databits: this.databits,
              stopbits: this.stopbits
            }
          });
          this.successMessage = res.data.posted.msg;
          await this.showAlertSuccess();
          // after 3 sec logout
          setTimeout(async () => {
            await this.redirect();
          }, 3000);
        }
      } catch (e) {
        if (localStorage.mode == 1) {
          this.showLoading = false;
          try {
            // JSON error
            const err = JSON.parse(e.response.data.error);
            this.errorMsg = err.msg;
            this.showAlert();
          } catch (er) {
            // not JSON
            this.errorMsg = e.response.data.error;
            this.showAlert();
          }
        } else {
          this.errorMessage = e.response.data.error;
          this.showAlert();
        }
      }
    }
  }
};
</script>

<style>
.container {
  margin: 0 auto;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.login {
  margin-top: 30px;
  border: 0px;
}
.login:hover {
  background: #00a651;
  border: 0px;
}
.title {
  font-family: "Quicksand", "Source Sans Pro", -apple-system, BlinkMacSystemFont,
    "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
  display: block;
  font-weight: 300;
  font-size: 40px;
  color: #00a651;
  letter-spacing: 1px;
}
.bcard {
  border: 0px;
}
.subtitle {
  margin-bottom: 40px;
  font-weight: 300;
  font-size: 18px;
  color: #526488;
  word-spacing: 5px;
  padding-bottom: 15px;
}
.links {
  padding-top: 15px;
}
.logo {
  height: 80px;
  width: 80px;
  margin-bottom: 20px;
}
input:focus {
  outline-width: 0px;
  border-bottom: 2px solid #00a651;
  transition: 0.4s;
  border-radius: 0px;
  border-left: 0px;
  border-right: 0px;
  border-top: 0px;
}

.red {
  color: whitesmoke;
  background-color: #f03232;
}

.green {
  color: whitesmoke;
  background-color: #00a651;
}

.alert {
  position: fixed;
  bottom: 0%;
  right: 1%;
}
</style>
