@mixin decentBtn {
  padding: 0.2rem;
  border-style: solid;
  border-radius: 0.2em;
  color: white;
}

@import "~bootstrap/scss/bootstrap.scss";
@import "~bootstrap-vue/src/index.scss";

// CUSTOM STYLES
@import "customs/customTables";
@import "customs/customButtons";
@import "customs/customLogin";
@import "customs/customPagination";
@import "customs/customModal";
@import "customs/customAlert";
@import "customs/customClasses";

//COMPONENTS
@import "components/addingContainer";
@import "components/mainContainer";
@import "components/dateRangePicker";
@import "components/searchBar";
@import "components/transactionContainer";
@import "components/toprightbar";

//LAYOUTS
@import "layouts/sidebar";
@import "layouts/navbar";
@import "layouts/input";

@font-face {
  font-family: "digital-7";
  font-style: normal;
  src: url("~/assets/fonts/digital-7.ttf");
}

@font-face {
  font-family: "7SDD";
  font-style: normal;
  src: url("~/assets/fonts/7SDD.TTF");
}

@font-face {
  font-family: "16Segments";
  font-style: normal;
  src: url("~/assets/fonts/16Segments.otf");
}

.form-control:focus {
  box-shadow: 0 0 0 0.25rem var(--transSuccess-light);
  border: none;
}

.custom-select:focus {
  box-shadow: 0 0 0 0.25rem var(--transSuccess-light) !important;
  border: none;
}

.input-group>.form-control,
.input-group>.form-control-plaintext,
.input-group>.custom-select,
.input-group>.custom-file {
  font-size: 13px;
}

:root {
  $green: #28a745 !default;
  $success: $green !default;
  $sm: 2rem !default;
  font-size: 16px;
  --green: #28a745;
  --primary: #126dc2;
  --success: #28a745;
  --lightGreen: #F0F8E6;
  --darkGreen: #00803E;
  --cyan: #007780;
  --gray-dark: #525c66;
  --gray-light: #6C757D;
  --transCyan: #007780ab;
  --transDanger: #dc354691;
  --hoverDanger: #c71f30;
  --hoverGray: #434d57;
  --transPrimary: #126dc2ab;
  --transSuccess: #28a7467e;
  --transSuccess-light: #28b823b7;
  --transGray: #525c6683;
  --hoverSuccess: #159c34;
  --bfiDarkGreen: #01401f;
}