.wrapperBody {
  margin: 0;
  padding: 0;
}
.navbar {
  width: 15rem;
  height: 100vh;
  position: fixed;
  background-color: var(--bfiDarkGreen);
  background-image: linear-gradient(#01401f, #01401f, #00a65054);
}

.nav-icon {
  max-height: 1rem !important;
}

.navbar-nav {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.nav-tabs .nav-link.active,
.nav-tabs .nav-item.show .nav-link {
  color: #00a651 !important;
  font-size: 15px;
  text-transform: uppercase;
  background-color: white !important;
  border-color: white white #00a651 white !important;
  border-width: 0px 0px 4px 0px;
  border-radius: 0px;
  font-weight: bold !important;
}

.nav-tabs .nav-link {
  color: rgb(85, 85, 85);
  margin-bottom: -1px;
  border: 1px solid transparent;
  border-top-color: transparent;
  border-right-color: transparent;
  border-bottom-color: transparent;
  border-left-color: transparent;
  border-top-left-radius: 0.25rem;
  border-top-right-radius: 0.25rem;
}

// .nav-item {
//   display: flex;
//   align-items: flex-start;
//   .nav-link {
//     display: grid;
//     grid-template-columns: 1fr 10px 3fr;
//     .item1 {
//       grid-column: 1/2;
//     }
//     .item2 {
//       grid-column: 3/4;
//     }
//   }
// }
