.adminStyle {
  border-bottom: 2px;
  // border-color: green;
}

#requests-view {
  min-width: 329px;
}

.bell {
  position: relative;
  left: 1vh;
  top: 0vh;
  padding: 0;
  border: none;
  background: none;
}

#sidebar {
  display: flex !important;
  flex-direction: column !important;
  /* don't forget to add all the previously mentioned styles here too #11634a*/
  background-color: #01401f;
  // background-image: linear-gradient(#01401f, #01401f, #01401f, #00a65054);
  background-image: linear-gradient(#01401f, #01401f, #00a65054);
  color: #fff;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  // transition: all 0.3s;
  width: 15rem;
  width: 15rem;
  // width: fit-content;
  min-height: 100vh;
  height: auto;
  position: fixed;
  /* z-index: 1; */
  top: 0;
  left: 0;
  overflow-x: hidden;
  transition: all 200ms ease;
}
.bfiIcon {
  display: none;
}

.caretStyle {
  float: right;
}

#sidebar.active {
  margin: auto;
}
#sidebar .sidebar-header {
  padding: 10px;
  /* background: linear-gradient(-90deg, #aac758, #476e03); */
}
#sidebar ul.components {
  padding: 10px 0;
  border-top: 1px solid #fff;
  font-size: 15px;
}
#sidebar ul p {
  color: #fff;
  padding: 10px;
}
#sidebar ul li a {
  padding: 10px;
  font-size: 1.1em;
  display: block;
}
#sidebar ul li a:hover {
  color: white;
  background: #01612f91;
  border-radius: 2px;
  cursor: pointer;
}

/* //*ANCHOR - Added this style to fix the active sidebar link */
a.nuxt-link-active {
  // background-color: #00803e8c;
  background-color: #00803e8c;
  border-radius: 2px !important;
  // border-left-width: 5x !;
}

.sideBarDrpdown {
  &:focus {
    background-color: #00803e8c;
  }
  &:active {
    background-color: #00803e8c;
  }
  // &:hover {
  //   background: #01612f91;
  // }
  &:focus-within {
    background-color: #00803e8c !important;
  }
}

.adminDrpdown {
  font-size: 15.6px;
  color: rgba(255, 255, 255, 0.918);
}

.smallIcon {
  font-size: 2px;
}

.icon1 {
  margin-left: 10px;
  margin-right: 5px;
}

.footerStyle {
  display: flex;
  justify-content: center;
  position: fixed;
  font-size: 12px;
  font-style: italic;
  opacity: 60%;
  bottom: 0;
  width: 240px;
}

/* //!ANCHOR - This style is for highlighting the admin dashboard submenus */
.adminSubMenusStyle {
  border-left-style: solid;
  // border-left-color: #00803eab;
  // border-left-color: rgba(245, 245, 245, 0.815);
  border-left-color: #00803e8c;
  border-left-width: 2px;
  margin: 0 15px;
  // padding-left: 5px !important;
  // &:active {
  //   background-color: none !important;
  //   border-radius: 0px !important;
  //   border-left-width: 5px !important;
  // }
  &:active {
    background-color: none !important;
    // border-radius: 0px !important;
    border-top-left-radius: 0 !important;
    border-bottom-left-radius: 0 !important;
    // border-left-width: 5px !important;
  }
  a.nuxt-link-active {
    background-color: none !important;
    // border-radius: 0px !important;
    border-top-left-radius: 0 !important;
    border-bottom-left-radius: 0 !important;
    // border-left-width: 5px !important;
  }
}

.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: #f1f3f4;
  // background-image: linear-gradient(#f1f3f4, #f1f3f4, #f1f3f4, white);
  /* display: flex;
  width: 100%;
  align-items: stretch; */
}

.custom-control-input:checked ~ .custom-control-label::before {
  color: #fff;
  border-color: #28a745;
  background-color: #28a745;
  &:focus {
    box-shadow: transparent;
  }
}

// Small screens
@media screen and (max-width: 675px) {
  #sidebar {
    width: 4rem;
    padding: 5px;
  }
  .adminDrpdown {
    display: none;
  }
  .sidebarText {
    display: none;
  }
  .adminSubMenusStyle {
    border-left-style: solid;
    border-left-color: rgba(0, 128, 62, 0.54902);
    border-left-width: 2px;
    margin: 0 3px;
  }
  .col-2 {
    padding: 0px;
  }
  .bfiIcon {
    display: block !important;
  }
  .bfiImage {
    display: none !important;
  }
  .plusIcon {
    display: block !important;
  }
  .caretIcon {
    display: none !important;
  }
  .footerStyle {
    display: none;
  }
  .userGuideText {
    display: none !important;
  }
}

@media screen and (max-width: 360px) {
  .mainContainer {
    width: auto;
    display: flex;
    padding: 3rem 0 0 3rem;
    // margin: 1rem;
    flex-direction: column;
    // margin-left: 0 !important;
  }
  .userGuideBtn {
    display: none !important;
  }
}

// Large screens
@media screen and (min-width: 675px) {
  .bfiIcon {
    display: none !important;
  }
  .plusIcon {
    display: none !important;
  }
}
