// $topBtnColor: rgba(41, 41, 41, 0.672);
// $topBtnColor: rgba(41, 41, 41, 0.672);
$topBtnColor:#343A40;
$topTxtColor: #F5F5F5;

.topRightBarContainer{
  margin-top: .4rem;
  display:flex;
  right:24px;
  justify-content: flex-center;
  align-items: center;
  width:auto;
  position:absolute;

/* Inline #14 | http://172.17.130.23:4004/request */

}
.topRightBar{
  display: flex;
  justify-content: center;
  align-items: center;
}

.loBtnContainer{
  padding-bottom:10px;
  display:grid;
  place-items: center;
}

.customBtnLO {
  margin-top: 6px;
  display: flex !important;
  justify-content: center !important;
  align-items: center !important;
  text-align: center;
  border-radius: 100%;
  border-style: none;
  height: 33px;
  width: 33px;
  background: $topBtnColor;
  background: grey;
  // background-color: rgb(173, 32, 32);
  // background: $topBtnColor;
  // background-image: linear-gradient(#01401f, #00a650);
  // background-image: linear-gradient(
  //   rgba(255, 0, 0, 0.534),
  //   rgba(128, 128, 128, 0.37)
  // );
  background-image: linear-gradient(
    #01401fb4,
    #01401f8f,
    #01401f8f,
    rgba(153, 205, 50, 0.514)
  );
  box-shadow: 2px 4px 10px -6px #000000;
  .loIcon{
    color:#fff;
    height:23px !important;
    width:23px !important;
  }
  &:hover {
    box-shadow: 0px 6px 12px -12px #000000;
    transition: all 0.3s;
    background-color: rgb(88, 88, 88) !important;
  }
  &:focus {
    box-shadow: 0px 6px 12px -12px #000000;
  }
}

.notiCounter{
  margin:0;
  border:2px solid #fff;
  width:auto !important;
  height:fit-content !important;
  font-size:10px;
  border-radius: 50%;
  position: relative;
  left:45px;
  top:-11px;
  z-index: 100;
}
.invisNotiCounter{
  background: transparent !important;
  color: transparent !important;
  border:none;
  height:auto !important;
  font-size:10px;
  border-radius: 50%;
  position: relative;
  left:40px;
  top:-10px;
  z-index: 1;
}
.notiContainer{
  display:flex;
  justify-content: center;
  align-items: center;
  margin-right: 1.2rem;
  border-radius: 100%;
  background: #212529;
  height:31px;
  width:31px;
  padding:5px;
  position:relative;
  background: $topBtnColor;
  box-shadow: 2px 4px 10px -6px #000000;
  &:hover{
  background: #212529c6;
  }
  // background-image: linear-gradient(
  //   #2D5640,
  //   #395C49,
  //   #40634B,
  //   #809C55
  // );
  .notiIcon{
    width:17px !important;
    height:80%;
    color:$topTxtColor;
    // color:red;
    margin-top: 3px;
    // left:-9px;
    position:relative;
  }
  
  .notiBellDropdown {
    transition: all 0.3s;
    .btn:focus,
    .btn.focus {
      box-shadow: none !important;
    }
  }
}

.userGuideBtnContainer{
  display:grid;
  place-items: center;
  width:50px;
  height:48px;
  position: relative;
  left:1rem;
  .userGuideBtn {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #212529;
    border: none;
    width:31px;
    height:31px;
    border-radius: 50%;
    background: $topBtnColor;
    box-shadow: 2px 4px 10px -6px #000000;
    // background-image: linear-gradient(
    //   #2D5640,
    //   #395C49,
    //   #40634B,
    //   #809C55
    // );
    padding:5px;
    .userGuideIcon{
      color:$topTxtColor;
      height:17px;
      width:17px !important;
    }
    // cursor: pointer;
    &:hover {
      // background-color: transparent;
      color: black;
      cursor: pointer;
      background: #212529c6;
    }
    &:focus {
      // background-color: transparent;
      border: none;
      color: black;
      box-shadow: none;
    }
    &:active {
      // background-color: transparent;
      border: none;
      color: black;
    }
  }
}

.userBtn{
  display: flex;
  justify-content: center;
  align-items: center;
  border:2px solid $topBtnColor;
  border-radius: 50%;
  width:31px;
  height:31px;
  margin-left:1.5rem;
  background: #F5F5F5;
  // box-shadow: 2px 4px 10px -6px #000000;
  // background-image: linear-gradient(
  //   #2D5640,
  //   #395C49,
  //   #40634B,
  //   #809C55
  // );
  padding:5px;
  .userIcon{
    color:$topBtnColor;
    width:17px !important;
    height:17px !important;
    box-shadow: 2px 4px 10px -6px #555555;
  }
}

.pendingCont{
	display:flex;
	align-items:center;
	justify-content: center;
	border-radius:100px;
	padding:.1rem;
	height:31px;
	border:none;
	width: fit-content;
	transition: all 200ms ease;
	transition-delay: .5s;
	background-image: linear-gradient(
			#2F5742,
			#395C49,
			#40634B,
			#40634B,
			#40634B,
			#799655,
			#7c965ba6
		);
	.pendingDisplay{

		cursor: default;
		display:flex;
		align-items:center;
		justify-content: center;
		border-radius:100px;
		height:27px;
		transition: all 200ms ease;
		box-shadow: 2px 4px 10px -6px #555555;
		background: #f1f3f4;
		background: white;
		background: $topTxtColor;
		// margin:.1rem 0 .1rem .03rem;
		margin-left: .03rem;
		.pendingNum{
			font-size: 1.3rem;
			font-weight: 600;
			height:28;
			cursor: default;
			// padding-left: 1rem;
			margin-bottom: .1rem;
			padding-left: .6rem;
			padding-right: .3rem;
			color: #395C49;
			color: #f23d4f;
			font-weight: bolder;
			transition: all 200ms ease;
		}
		.pendingText{
			display: block;
			color: #799655;
			font-size: 15px;
			transition: all 200ms ease;
			cursor: default;
			transition-delay: .5s;
			display: block;
			padding-right: 1rem;
		}
		.pendingText1{
			display: block;
			color: #799655;
			font-size: 15px;
			transition: all 200ms ease;
			cursor: default;
			transition-delay: .5s;
			display: block;
			padding-left: 1rem;
		}
	}
}

.fade-enter-active,
.fade-leave-active {
    transition: opacity 1s
}

.fade-enter,
.fade-leave-to {
    opacity: 0
}