<template>
  <div class="wrapper">
    <nav id="sidebar">
      <div class="sidebar-header">
        <div>
          <!-- <button class="openbtn" @click="openNav()">☰</button>   -->
          <b-img
            src="/ts.png"
            class="bfiImage"
            style="width: 100%; height: 100%"
            center
          ></b-img>
          <b-img
            src="/bfi.png"
            class="bfiIcon"
            style="width: 100%; height: 100%; display: none;"
            center
          ></b-img>
        </div>
        <hr class="hr" />
        <!--         
          <b-tab class="button1" pills v-for="(link, index) in links" :key="index" active>
            <router-link :to="link.path">
              <font-awesome-icon :icon="link.icon" class="icon" />
                {{link.description}}
            </router-link>
        </b-tab>-->

        <ul class="list-unstyled">
          <!-- <li v-if="role !== 'document controller'">
            <router-link :id="'sb-default'" to="/default">
              <font-awesome-icon icon="tachometer-alt" class="icon" />Dashboard
            </router-link>
          </li>-->

          <li v-if="checkAdmin">
            <a
              id="sb-admin"
              v-b-toggle.collapse-1
              data-toggle="collapse"
              aria-expanded="false"
              class="sideBarDrpdown mb-1"
              @click="adminwasclicked"
            >
              <!-- <font-awesome-icon icon="user-cog" class=" icon" />
              Admin Dashboard -->
              <b-row class="adminStyle">
                <b-col cols="2">
                  <span><font-awesome-icon icon="user-cog" class="icon"/></span>
                </b-col>
                <b-col>
                  <span class="ml-2 mr-2 sidebarText">Administrator</span>
                  <span class="caretIcon">
                    <span id="adminCaretToggle"class="mr-2 caretStyle"
                      ><i class="fas fa-caret-down fa-sm"></i
                    ></span>
                  </span>
                  <span class="plusIcon">
                    <span v-show="clickStatus === false"
                      ><i class="fas fa-plus fa-sm"></i
                    ></span>
                    <span v-show="clickStatus === true"
                      ><i class="fas fa-minus fa-sm"></i
                    ></span>
                  </span>
                  <!-- <span v-show="clickStatus === false"
                    ><i class="fas fa-angle-right fa-sm"></i
                  ></span>
                  <span v-show="clickStatus === true"
                    ><i class="fas fa-angle-down fa-sm"></i
                  ></span> -->
                </b-col>
              </b-row>
            </a>

            <b-collapse id="collapse-1">
              <li
                v-for="(adminsubmenu, index) in activeadminsubmenus"
                :key="index"
                class="adminSubMenusStyle"
              >
                <router-link :id="'sb-' + index" :to="adminsubmenu.path">
                  <b-row>
                    <b-col cols="2">
                      <span
                        ><font-awesome-icon
                          :icon="adminsubmenu.icon"
                          class="icon"
                        />
                      </span>
                    </b-col>
                    <span class="ml-4 adminDrpdown">{{
                      adminsubmenu.description
                    }}</span>
                  </b-row>
                </router-link>
              </li>
            </b-collapse>
          </li>
          <li v-for="(link, index) in activelinks" :key="index">
            <router-link class="my-1" :id="'sb1-' + index" :to="link.path">
              <b-row>
                <b-col cols="2">
                  <span
                    ><font-awesome-icon :icon="link.icon" class="icon"
                  /></span>
                </b-col>
                <b-col>
                  <span class="ml-2 sidebarText">{{ link.description }}</span>
                </b-col>
              </b-row>
            </router-link>
          </li>
        </ul>
      </div>
      <footer class="footerStyle">
        Copyright &copy; 2021 Biotech FARMS Inc.
      </footer>
    </nav>

    <!-- HEADER NAVIGATION BAR-->
    <div class="topRightBarContainer">
      <div v-if="role == 'supervisor'" class="pendingCont">
        <div class="pendingDisplay">
          <div name="fade" class="pendingText1">
            <b>&nbsp;You have</b>
          </div>
          <div v-if="requestCounter > 0" class="pendingNum">{{
            requestCounter
          }}</div>
          <div v-else class="pendingNum" style="color: #395C49;">{{
            requestCounter
          }}</div>
          <div v-if="requestCounter == 0" class="pendingText">
            <b>&nbsp;pending request.</b>
          </div>
          <div v-else class="pendingText">
            <b>&nbsp;pending requests!</b>
          </div>
          <!-- <transition name="fade" class="pendingText">
            <b v-if="disp">&nbsp;pending requests left</b>
            <b v-else></b>
          </transition> -->
        </div>
      </div>
      <div class="topRightBar">
        <span class="userBtn">
          <i class="fas fa-user userIcon"></i>
          <!-- <font-awesome-icon
            style="color: black; height: 26px; width: 26px"
            icon="user"
            class="icon1"
          /> -->
        </span>
        <span class="mb-1" style="position: relative; padding-left: 1.5rem">
          <b-row>
            <b style="font-size: 10px; font-size: 12px; color:#343A40"
              >{{ user }}&nbsp;</b
            >
          </b-row>
          <b-row>
            <b-badge
              class="primary"
              style="margin-top: 1px; font-size: 9px; border-radius:100px; padding: 3px 6px;"
              >{{ role }}</b-badge
            >
          </b-row>
        </span>
        <!-- user guide -->
        <div class="userGuideBtnContainer" v-b-tooltip.hover title="User Guide">
          <button
            @click="openPDF"
            class="userGuideBtn"
            variant="none"
          >
            <i class="fas fa-question userGuideIcon"></i>
          </button>
        </div>
        <!-- <b-badge
          v-if="notifCounter == 0"
          variant="danger"
          class="invisNotiCounter"
          >11</b-badge
        > -->
        <b-badge
          variant="danger"
          :class="notifCounter > 0 ? 'notiCounter':'invisNotiCounter ml-1'"
          >{{ notifCounter }}</b-badge
        >
        <span class="xspacer notiContainer">
          <b-dropdown
            class="notiBellDropdown"
            size="lg"
            variant="link"
            toggle-class="text-decoration-none"
            no-caret
            right
            ref="ndropdown"
            v-b-tooltip.hover
            title="Notifications"
          >
            <template v-slot:button-content>
              <font-awesome-icon
                title="Notifications"
                class="notiIcon"
                icon="bell"
              />
            </template>
  
            <span class="ml-2">
              <b>Notifications</b>
            </span>
  
            <!-- <b-dropdown-divider></b-dropdown-divider> -->
  
            <ul class="noti-body mt-2">
              <li v-if="notifs.length == 0" class="noti-text-read">
                You have no notifications this day.
              </li>
  
              <li
                v-for="(notif, index) in notifs"
                :key="index"
                :class="notif.is_read ? 'noti-text-read' : 'noti-text'"
                @click="notifClicked(notif)"
              >
                {{ notif.msg }}
              </li>
            </ul>
            <div class="noti-footer" @click="markAllAsRead">
              Mark all as read
            </div>
          </b-dropdown>
        </span>
        <!-- end notif bell -->
        
        <span
          id="btnLO"
          class="loBtnContainer"
          align="right"
          style="margin-top: 5px;"
          v-b-tooltip.hover
          title="Sign-out"
  
        >
          <b-button
            id="btnLogout"
            pill
            variant="none"
            class="customBtnLO"
            @click="show = true"
            v-b-modal.modal-logout
          >
            <!-- <i
              class="fas fa-sign-out-alt"
              style="color: grey; height: 22px; width: 22px"
            ></i> -->
            <i
              class="fas fa-power-off loIcon"
            ></i>
            <!-- <i
              class="fas fa-sign-out-alt fa-sm"
              style="color: white; height: 20px; width: 20px"
            ></i> -->
            <!-- <font-awesome-icon
              style="color: red; height: 22px; width: 22px"
              icon="power-off"
            /> -->
          </b-button>
          <b-modal
            id="modal-logout"
            v-model="show"
            header-bg-variant="success"
            header-text-variant="light"
            hide-header-close
            title="Do you really wish to logout?"
          >
            <p>
              Any pending changes will not be saved... Press Logout to confirm
              or press esc or click x to cancel.
            </p>
            <template #modal-footer>
              <div class="w-100">
                <b-button
                  variant="secondary"
                  size="sm"
                  class="float-right greyBtn"
                  @click="show = false"
                >
                  Cancel
                </b-button>
                <b-button
                  variant="success"
                  size="sm"
                  class="float-right greenBtn  mr-2"
                  @click="logout"
                >
                  Logout
                </b-button>
              </div>
            </template>
          </b-modal>
        </span>
      </div>
    </div>

    <div class="mainContainer">
      <nuxt />
    </div>
  </div>
</template>

<script>
import axios from "axios";
import io from "socket.io-client";
import moment from "moment";

export default {
  async created() {
    // notifs
    await this.connectSocket();

    this.role = localStorage.role;

    if (localStorage.modules) {
      this.modules = JSON.parse(localStorage.modules);
    }

    //loop adminmenus
    for (let i = 0; i < this.adminsubmenus.length; i++) {
      //loop through modules localstorage
      for (let i2 = 0; i2 < this.modules.length; i2++) {
        for (let i3 = 0; i3 < this.modules[i2].actions.length; i3++) {
          if (
            this.adminsubmenus[i].action ===
              this.modules[i2].actions[i3].actionname &&
            this.modules[i2].modulestatus === "active" &&
            this.modules[i2].actions[i3].actionstatus === "active"
          ) {
            if (localStorage.role == "supervisor") {
              this.activeadminsubmenus.push(this.adminsubmenus[i]);
              if (this.adminsubmenus[i].description == "Roles & Access") {
                this.activeadminsubmenus.pop(this.adminsubmenus[i]);
              }
            } else {
              this.activeadminsubmenus.push(this.adminsubmenus[i]);
            }
          }
        }
      }
    }

    //loop menus
    for (let i = 0; i < this.links.length; i++) {
      //loop through modules localstorage
      for (let i2 = 0; i2 < this.modules.length; i2++) {
        for (let i3 = 0; i3 < this.modules[i2].actions.length; i3++) {
          if (
            this.links[i].action === this.modules[i2].actions[i3].actionname &&
            this.modules[i2].modulestatus === "active" &&
            this.modules[i2].actions[i3].actionstatus === "active"
          ) {
            // console.log(this.links[i], "LNKS");
            // this condition let have the access rights but should not display on sidebar
            if (localStorage.role == "accounting" || localStorage.role == "revive") {
              this.activelinks.push(this.links[i]);
              if (this.links[i].description == "Trucks") {
                this.activelinks.pop(this.links[i]);
              } else if (this.links[i].description == "Drivers") {
                this.activelinks.pop(this.links[i]);
              } else if (this.links[i].description == "Transactions") {
                this.activelinks.pop(this.links[i]);
              }
            } else if (localStorage.role == "supervisor") {
              this.activelinks.push(this.links[i]);
              if (this.links[i].description == "Trucks") {
                this.activelinks.pop(this.links[i]);
              } else if (this.links[i].description == "Drivers") {
                this.activelinks.pop(this.links[i]);
              } else if (this.links[i].description == "Transactions") {
                this.activelinks.pop(this.links[i]);
              } 
            } else {
              this.activelinks.push(this.links[i]);
            }
          }
        }
      }
    }
  },
  data() {
    return {
      disp: false,
      show: false,
      myInterval: null,
      role: localStorage.role,
      user: localStorage.name,
      modules: [],
      activeadminsubmenus: [],
      activelinks: [],
      clickStatus: false,
      adminsubmenus: [
        {
          path: "/admin/modules",
          icon: "cubes",
          description: "Modules",
          action: "view modules"
        },
        {
          path: "/admin/actions",
          icon: "tasks",
          description: "Actions",
          action: "view actions"
        },
        {
          path: "/admin/accessrights",
          icon: "fingerprint",
          description: "Roles & Access",
          action: "view roles"
        },
        {
          path: "/admin/user",
          icon: "id-badge",
          description: "Users",
          action: "view users"
        },
        {
          path: "/truckscale",
          icon: "truck-loading",
          description: "Truckscale",
          action: "view truckscales"
        },
        {
          path: "/admin/activitylogs",
          icon: "mouse",
          description: "Activity Logs",
          action: "view modules"
        },
        {
          path: "/admin/printlogs",
          icon: "print",
          description: "Print Logs",
          action: "view print logs"
        }
      ],
      links: [
        {
          path: "/default",
          icon: "tachometer-alt",
          description: "Dashboard",
          action: "add transaction"
        },
        {
          path: "/transaction",
          icon: "file-signature",
          description: "Transactions",
          action: "view transactions"
        },

        {
          path: "/truck",
          icon: "truck",
          description: "Trucks",
          action: "view trucks"
        },
        {
          path: "/driver",
          icon: "user-circle",
          description: "Drivers",
          action: "view drivers"
        },
        {
          path: "/report",
          icon: "file-alt",
          description: "Reports",
          action: "view reports"
        },
        {
          path: "/request",
          icon: "user-edit",
          description: "Requests",
          action: "view requests"
        }
      ],

      notifCounter: 0,
      notifs: [],
      socket: null,
      requestCounter: 0
    };
  },
  mounted() {},
  methods: {
      notifClicked(data) {
      console.log("🚀 ~ file: sidebar.vue ~ line 498 ~ notifClicked ~ data", data)
      localStorage.setItem('request_id', data.request_id);
      // setTimeout(this.$root.$emit('selectNotiRow'), 100)
      try {
        if (!data.is_read) {
          const id = localStorage.id;

          this.socket.emit("notif read", {
            id: data.id,
            userId: id,
            session: localStorage.session
          });
        }
        this.$refs.ndropdown.hide(true);
        this.$root.$emit('selectNotiRow')
        this.$router.push(`/request`);
      } catch (e) {
        console.log("Error from sidebar.vue notifClicked",e);
      }
    },
    adminwasclicked() {
      this.clickStatus = !this.clickStatus;
      if(this.clickStatus == true){
        document.getElementById("adminCaretToggle").style.transform = "rotate(-180deg)";
        document.getElementById("adminCaretToggle").style.transition = "all .3s linear";
        // document.getElementById("adminCaretToggle").setAttribute( "style", "transition: all .3s linear; transform: rotate(180);");
      }else{
        document.getElementById("adminCaretToggle").style.transform = "rotate(0deg)";
        document.getElementById("adminCaretToggle").style.transition = "all .3s linear";
        // document.getElementById("adminCaretToggle").setAttribute( "style", "transition: all .3s linear; transform: rotate(180);");
      }
      // console.log(this.clickStatus);
    },
    
    async markAllAsRead() {
      try {
        const id = localStorage.id;

        this.socket.emit("notif all read", {
          id,
          session: localStorage.session
        });

        this.$refs.ndropdown.hide(true);
      } catch (e) {
        console.log(e);
      }
    },
    logout() {
      // stop the interval to emit to socket;
      clearInterval(this.myInterval);
      localStorage.clear();
      this.$router.push(`/`);
    },
    openPDF(){
      if (localStorage.role.toLowerCase().includes("admin")){
        window.open('/User_Guide_Admin_1.6.pdf')
      }
      else if (localStorage.role.toLowerCase().includes("controller")){
        window.open('/User_Guide_Controller_1.6.pdf')
      }
      else if (localStorage.role.toLowerCase().includes("supervisor")){
        window.open('/User_Guide_Supervisor_1.6.pdf')
      }
      else if (localStorage.role.toLowerCase().includes("accounting")){
        window.open('/User_Guide_Accounting_1.6.pdf')
      }
      else if (localStorage.role.toLowerCase().includes("revive")){
        window.open('/User_Guide_Revive.pdf')
      }
    },
    openNav() {
      document.getElementById("sidebar").style.width = "250px";
      document.getElementById("main").style.marginLeft = "250px";
    },

    async connectSocket() {
      this.notifs = []
      try {
        this.socket = io.connect(process.env.socketUrl, { secure: true }); //connect to server

        const id = localStorage.id;
        // receive new notif;
        this.socket.on(`new req - ${id}`, data => {
          const e = data.e;

          let msg = "";
          let pre = "";

          // start words of the notif
          if (localStorage.id == e.created_by) {
            pre = "Your request";
          } else {
            pre = "Request";
          }

          // if pending
          if (e.request_status === "pending") {
            msg = `Request from ${e.first_name} ${
              e.last_name
            } received at ${this.formatDate(e.date)}.`;
          }

          // if validated
          if (e.request_status === "validated") {
            msg = `${pre} for ticket ${e.ticket_number} has been ${
              e.request_status
            } by ${e.first_name_mod} ${e.last_name_mod} at ${this.formatDate(e.date)}.`;
          }

          // if approve or disapprove
          if (
            e.request_status == "approved" ||
            e.request_status == "disapproved"
          ) {
            msg = `${pre} for ticket ${e.ticket_number} has been ${
              e.request_status
            } by ${e.first_name_mod} ${e.last_name_mod} at ${this.formatDate(e.date)}.`;
          }

          // if cancelled
          if (e.request_status === "cancelled") {
            msg = `${pre} for ticket ${e.ticket_number} has been ${
              e.request_status
            } by ${e.first_name_mod} ${e.last_name_mod} at ${this.formatDate(e.date)}.`;
          }

          this.notifs.unshift({ id: e.id, msg, is_read: e.is_read, request_id: e.request_id});
          this.notifCounter = this.notifCounter + 1; // just making sure maybe ++ not gonna work
          localStorage.setItem("notiCounter", notifCounter)
        });

        // retrieve current notifs;
        this.socket.emit(`my notif`, { id });

        // get current notifs;
        this.socket.on(`my req - ${id}`, data => {
          // console.log(data.unfinishedRequestsCount, "notif");
          this.requestCounter = data.unfinishedRequestsCount;

          let temp = [];
          this.notifs = []; // clear

          const notifs = data.notifs;
          let counter = 0;

          for (let i = 0; i < notifs.length; i++) {
            const e = notifs[i];
            let msg = "";
            let pre = "";

            // start words of the notif
            if (localStorage.id == e.created_by) {
              pre = "Your request";
            } else {
              pre = "Request";
            }

            // if pending
            if (e.request_status === "pending") {
              msg = `Request from ${e.first_name} ${
                e.last_name
              } received at ${this.formatDate(e.date)}.`;
            }

            // if validated
            if (e.request_status === "validated") {
              msg = `${pre} for ticket ${e.ticket_number} has been ${
                e.request_status
              } by ${e.first_name_mod} ${e.last_name_mod} at ${this.formatDate(
                e.date
              )}.`;
            }

            // if approve or disapprove
            if (
              e.request_status == "approved" ||
              e.request_status == "disapproved"
            ) {
              msg = `${pre} for ticket ${e.ticket_number} has been ${
                e.request_status
              } by ${e.first_name_mod} ${e.last_name_mod} at ${this.formatDate(
                e.date
              )}.`;
            }

            // if cancelled
            if (e.request_status === "cancelled") {
              msg = `${pre} for ticket ${e.ticket_number} has been ${
                e.request_status
              } by ${e.first_name_mod} ${e.last_name_mod} at ${this.formatDate(
                e.date
              )}.`;
            }

            // how many notifs;
            if (!e.is_read) {
              counter++;
            }
            // console.log('eeeeeee',e);

            temp.push({ id: e.id, msg, is_read: e.is_read, date_updated: this.formatDate(e.date), request_id: e.request_id,data: e });
          }

          this.notifs = temp;

          this.notifCounter = counter;
          localStorage.setItem("notiCounter", this.notifCounter)
        });

        // done update after clicking all read
        this.socket.on(`done all read - ${id}`, data => {
          // retrieve current notifs;

          this.socket.emit(`my notif`, { id });
        });

        // this.socket.emit(`remain requests`, { id });
      } catch (e) {
        console.log(e);
      }
    },

    formatDate(created_at) {
      return moment(created_at).format("MMM DD, YYYY hh:mm A");
    }
  },

  computed: {
    checkAdmin() {
      for (let i = 0; i < this.modules.length; i++) {
        if (this.modules[i].modulename.toLowerCase() === "admin") {
          return true;
        }
      }
      return false;
    }
  }
};
</script>

<style lang="scss" scoped>
a[data-toggle="collapse"] {
  position: relative;
  /* font-size: large; */
}
.dropdown-toggle::after {
  display: fixed;
  position: absolute;
  top: 50%;
  right: 10px;
  /* transform: translateY(-50%); */
}
body {
  font-family: "Poppins", sans-serif;
  background: #fafafa;
}
p {
  font-family: "Poppins", sans-serif;
  font-size: 1.1em;
  font-weight: 300;
  line-height: 1.7em;
  color: #999;
}
.primary {
  background-color: #00a651;
}
.icon {
  margin-left: 13px;
  margin-right: 13px;
}

.hr {
  background-color: white;
}
a,
a:hover,
a:focus {
  color: inherit;
  text-decoration: none;
  transition: all 0.3s;
  border-radius: 3px;
}

ul ul a {
  font-size: 0.9em !important;
  padding-left: 30px !important;
  background: black;
}

/* On mouse-over, add a deeper shadow */
.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

/* Add some padding inside the card container */
.container {
  padding: 2px 16px;
}
.container {
  margin: 0 auto;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.notiButton {
  .btn:focus {
    box-shadow: none;
  }
}

.noti-body {
  list-style-type: none;
  margin: 0;
  padding: 0;
  max-height: 220px;
  overflow: auto;
  width: 20rem;
  border-top: 1px solid #ddd;
}

.noti-text {
  font-size: 13px;
  display: block;
  cursor: pointer;
  font: 11px normal "Helvetica Neue", Helvetica, Arial, sans-serif;
  width: 100%;
  padding: 5%;
  line-height: 15px;
  background-color: #e9eff2;
  border-bottom: 1px solid #ddd;
}

.noti-text-read {
  font-size: 13px;
  display: block;
  cursor: pointer;
  font: 11px normal "Helvetica Neue", Helvetica, Arial, sans-serif;
  width: 100%;
  padding: 5%;
  line-height: 15px;
  background-color: #fff;
  border-bottom: 1px solid #ddd;
}

.noti-footer {
  font-size: 13.5px;
  cursor: pointer;
  text-align: center;
  font: bold "Helvetica Neue", Helvetica, Arial, sans-serif;
  border-top: 1px solid #ddd;
  padding-top: 6px;
}
</style>
