<template>
  <PrintLogsTable />
</template>

<script>
import PrintLogsTable from "~/components/Admin/PrintLogsTable.vue";
export default {
  layout: "sidebar",
  components: {
    PrintLogsTable
  },
  middleware: "pageValidator",
  meta: {
    access: { right: "view print logs" }
  },
  head() {
    return {
      title: "Admin | Print Logs - TSIS",
      meta: [
        {
          hid: "description",
          name: "description",
          content: "Truck Scale Integrated System"
        }
      ]
    };
  }
};
</script>

<style scoped>
html {
  background-color: #eee;
}
.color1 {
  color: #00803e;
}
.icon {
  margin-left: 5px;
  margin-right: 10px;
}
.button1 {
  background-color: #00803e;
  color: white;
}
.button2 {
  background-color: #ff6600;
  color: white;
}
.align {
  float: right;
}
</style>
