<template>
  <div class="my-3" id="requests-view">
    <Loading v-if="showLoading" />
    <h4 class="color1 ml-4">
      <font-awesome-icon icon="mouse" class="icon" />Activity Logs
    </h4>
    <b-card class="mainContent">
      <b-row>
        <!-- search filter -->
        <b-col cols="4">
          <b-input-group size="sm">
            <b-form-input
              v-model="filter"
              type="search"
              id="searchinput"
              class="searchbar no-outline"
              placeholder="Type to Search"
            ></b-form-input>
            <b-input-group-append>
              <b-button
                id="btnClearSearch"
                :disabled="!filter"
                @click="filter = ''"
                >Clear</b-button
              >
            </b-input-group-append>
          </b-input-group>
        </b-col>

        <!-- date filter -->
        <b-col cols="3">
          <b-input-group prepend="Date" size="sm">
            <date-range-picker
              id="datepicker"
              class="date"
              ref="picker"
              :opens="opens"
              :locale-data="localeData"
              :autoApply="true"
              :singleDatePicker="false"
              :showWeekNumbers="true"
              v-model="datePicker"
              @update="updateValues"
            >
              <div slot="input" class="date__range">
                {{ datePicker.startDate }} - {{ datePicker.endDate }}
              </div>
            </date-range-picker>
            <b-input-group-append>
              <b-button
                @click="resetDate"
                id="date-reset"
                class="date__reset"
                style="font-size: 13px"
                >Reset</b-button
              >
            </b-input-group-append>
          </b-input-group>
        </b-col>

        <!-- dropdown filter -->
        <b-col cols="5" class="mb-1">
          <b-dropdown
            size="sm"
            id="dropdown-grouped"
            class="searchbar customFilter"
            style="float:right;"
            v-b-tooltip.hover
            title="Filters"
            right
          >
            <template #button-content>
              <i class="fas fa-filter"></i>
            </template>
            <b-dropdown-group header="Tables">
              <b-form-checkbox-group
                size="sm"
                v-model="selectedTableFilters"
                class="ml-4"
              >
                  <b-form-checkbox
                    size="sm"
                    :id="'tableFilters' + index"
                    v-for="(item, index) in tableFilters"
                    :key="index"
                    :value="item"
                    >{{ item }}</b-form-checkbox
                  >
              </b-form-checkbox-group>
            </b-dropdown-group>
          </b-dropdown>
        </b-col>
      </b-row>

      <!-- Main table element -->
      <div id="printTable">
        <b-table
          id="table"
          class="my-3"
          style="font-size:13px"
          show-empty
          small
          stacked="md"
          selectable
          select-mode="single"
          ref="selectableTable"
          :busy="isbusy"
          :items="computedItems"
          :fields="fields"
          :current-page="currentPage"
          :per-page="perPage"
          :filter="filter"
          :filterIncludedFields="filterOn"
          :sort-by.sync="sortBy"
          :sort-desc.sync="sortDesc"
          :sort-direction="sortDirection"
          @filtered="onFiltered"
        >
          <template #table-busy>
            <div class="text-center text-secondary my-2">
              <b-spinner class="align-middle"></b-spinner>
              <strong>&nbsp;Loading...</strong>
            </div>
          </template>
          <template v-slot:cell(created_at)="row">
            {{ formatDate(row.item.created_at) }}
          </template>

          <template v-slot:cell(user_id)="row">
            {{ returnUserName(row.item.user_id) }}
          </template>

          <template v-slot:cell(actions)="row">
            <button
              id="createDRm"
              class="viewBtn"
              @click="viewDetails(row)"
              v-b-tooltip.hover
              title="View Details"
            >
              <font-awesome-icon icon="eye" class="viewIcon" />
            </button>
          </template>

          <template v-slot:table-caption>
            <b-row align-h="end">
              <b-col cols="6">{{ bottomLabel }}</b-col>

              <b-col cols="6">
                <b-pagination
                  id="pagination"
                  pills
                  v-model="currentPage"
                  :total-rows="totalRows"
                  :per-page="perPage"
                  align="right"
                  size="sm"
                ></b-pagination>
              </b-col>
            </b-row>
          </template>
        </b-table>
      </div>

      <!-- view old and prev data -->
      <b-modal
        size="xl"
        header-bg-variant="success"
        header-text-variant="light"
        body-bg-variant="gray"
        id="view-activity-modal"
        scrollable
        hide-header-close
        no-close-on-backdrop
      >
        <template v-slot:modal-title>
          <h5>View Activity Log</h5>
        </template>
        <b-row>
          <b-col cols="12" lg="6" md="6" sm="12">
            <b-card class="log-card card-shadow">
              <label>
                <strong class="ml-3 log-label">OLD DATA</strong>
              </label>

              <ul class="list-unstyled mt-2" v-if="new_value">
                <li
                  v-for="(prevKey, i) in Object.keys(new_value)"
                  :key="i"
                  class="my-2 log-keys"
                >
                  <b-form inline v-if="old_value">
                    <font-awesome-icon
                      class="log-bullets"
                      icon="circle"
                    />&nbsp;
                    <b-form
                      class="px-2"
                      :style="
                        isNotEqual(old_value[prevKey], new_value[prevKey])
                      "
                    >
                      <strong class="log-text"
                        >{{ processKey(prevKey) }}:</strong
                      >&nbsp;
                      <span class="log-text">
                        {{ processData(old_value[prevKey], prevKey) }}
                      </span>
                    </b-form>
                  </b-form>
                  <b-form inline v-else>
                    <font-awesome-icon
                      class="log-bullets"
                      icon="circle"
                    />&nbsp;
                    <b-form
                      class="px-2"
                      :style="isNotEqual(null, new_value[prevKey])"
                    >
                      <strong class="log-text"
                        >{{ processKey(prevKey) }}:</strong
                      >&nbsp;
                      <span class="log-text"></span>
                    </b-form>
                  </b-form>
                </li>
              </ul>
            </b-card>
          </b-col>

          <b-col cols="12" lg="6" md="6" sm="12">
            <b-card class="card-shadow log-card">
              <label>
                <strong class="ml-3 log-label">NEW DATA</strong>
              </label>

              <ul class="list-unstyled mt-2" v-if="new_value">
                <li
                  v-for="(newKey, i) in Object.keys(new_value)"
                  :key="i"
                  class="my-2 log-keys"
                >
                  <b-form inline v-if="old_value">
                    <font-awesome-icon
                      class="log-bullets"
                      icon="circle"
                    />&nbsp;
                    <b-form
                      class="px-2"
                      :style="isNotEqual(old_value[newKey], new_value[newKey])"
                    >
                      <strong class="log-text">{{ processKey(newKey) }}:</strong
                      >&nbsp;
                      <span class="log-text">
                        {{ processData(new_value[newKey], newKey) }}
                      </span>
                    </b-form>
                  </b-form>
                  <b-form inline v-else>
                    <font-awesome-icon
                      class="log-bullets"
                      icon="circle"
                    />&nbsp;
                    <b-form
                      class="px-2"
                      :style="isNotEqual(null, new_value[newKey])"
                    >
                      <strong class="log-text">{{ processKey(newKey) }}:</strong
                      >&nbsp;
                      <span class="log-text">
                        {{ processData(new_value[newKey], newKey) }}
                      </span>
                    </b-form>
                  </b-form>
                </li>
              </ul>
            </b-card>
          </b-col>
        </b-row>

        <template v-slot:modal-footer="{ cancel }">
          <b-button
            id="close_view_md"
            size="sm"
            variant="secondary"
            @click="cancel()"
            class="greyBtn close-modal-button cancel-button"
            >Close</b-button
          >
        </template>
      </b-modal>
      <!-- view old and prev data -->

      <!-- error msg -->
      <b-alert
        :show="dismissCountDownErrs"
        dismissible
        fade
        class="err fixed"
        @dismiss-count-down="countDownChangedErrs"
        >{{ errorMsg }}</b-alert
      >
    </b-card>
  </div>
</template>

<script>
import moment from "moment";
import axios from "axios";
import DateRangePicker from "vue2-daterange-picker";
import "vue2-daterange-picker/dist/vue2-daterange-picker.css";
import Loading from "~/components/LoadingOverlay/Loadings.vue";
export default {
  components: { DateRangePicker, Loading },
  data() {
    return {
      showLoading: false,
      isbusy: false,
      selectedTableFilters: [],
      tableFilters: [],
      dismissSecs: 3,
      dismissCountDownErrs: 0,
      errorMsg: "",
      opens: "center",
      currentPage: 1,
      datePicker: {
        startDate: moment().format("MMM DD, YYYY"),
        endDate: moment().format("MMM DD, YYYY")
      },
      dateRange: {
        date_from: moment().format("YYYY-MM-DD"),
        date_to: moment().format("YYYY-MM-DD")
      },
      localeData: {
        direction: "ltr",
        format: moment().format("MMM DD, YYYY"),
        separator: " - "
      },

      items: [],

      fields: [
        {
          key: "table",
          label: "Table Name",
          sortable: true
        },
        {
          key: "action",
          label: "Action",
          sortable: true,
          class: "text-center"
        },
        {
          key: "user_id",
          label: "Inserted / Updated by",
          sortable: true,
          class: "text-center"
        },
        {
          key: "created_at",
          label: "Date & Time",
          sortable: true,
          class: "text-center"
        },
        {
          key: "actions",
          label: "Actions",
          class: "text-center"
        }
      ],
      perPage: 12,
      totalRows: 1,
      sortBy: "",
      sortDesc: false,
      sortDirection: "asc",
      filter: null,
      filterOn: [],
      users: [],
      old_value: null,
      new_value: null,
      sapEmployees: [],
      roles: [],
      modules: [],
      actions: [],
      locations: [],
      truckTypes: [],
      trnsTypes: [],
      truckScales: [],
      drivers: [],
      truckInfo: [],
      weightTypes: []
    };
  },
  async created() {
    this.getAllEmployees();
    this.getRoles();
    this.getModules();
    this.getActions();
    this.getLocations();
    this.getTruckTypes();
    this.getTransactionTypes();
    this.getTruckScales();
    this.getDrivers();
    this.getTruckInfos();
    this.getWeightTypes();

    // this.showLoading = true;
    // this.isbusy = true;
    await this.getUsers();
    await this.getLogs();
    // this.showLoading = false;
    // this.isbusy = false;
    this.totalRows = this.items.length;
  },
  methods: {
    returnWeightType(id) {
      for (let i = 0; i < this.weightTypes.length; i++) {
        const e = this.weightTypes[i];

        if (e.id == id) return e.weight;
      }
    },
    async getWeightTypes() {
      try {
        if (localStorage.mode == 1) {
          // online
          this.weightTypes = [];
          const res = await axios({
            method: "POST",
            url: `${this.$axios.defaults.baseURL}/weight-type/select`,
            headers: {
              "Content-Type": "application/json",
              "X-HTTP-Method-Override": "GET",
              authorization: `B1SESSION=${localStorage.session}`
            },
            data: {
              mode: localStorage.mode,
              modules: JSON.parse(localStorage.modules)
            }
          });

          const data = res.data.view;
          for (let i = 0; i < data.length; i++) {
            const e = data[i];
            this.weightTypes.push({
              id: e.Code,
              weight: this.convertCase(e.U_TS_WEIGHT)
            });
          }
        } else {
          // offline
        }
      } catch (e) {
        console.log("Error fetch truck info: ", e);
      }
    },
    returnPlateNumber(id) {
      for (let i = 0; i < this.truckInfo.length; i++) {
        const e = this.truckInfo[i];

        if (e.id == id) return e.plate_number;
      }
    },
    async getTruckInfos() {
      try {
        if (localStorage.mode == 1) {
          // online
          this.truckInfo = [];
          const res = await axios({
            method: "POST",
            url: `${this.$axios.defaults.baseURL}/truck-infos/select`,
            headers: {
              "Content-Type": "application/json",
              "X-HTTP-Method-Override": "GET",
              authorization: `B1SESSION=${localStorage.session}`
            },
            data: {
              mode: localStorage.mode,
              modules: JSON.parse(localStorage.modules)
            }
          });

          const data = res.data.view;
          for (let i = 0; i < data.length; i++) {
            const e = data[i];
            this.truckInfo.push({
              id: e.U_BFI_TS_TRINFO.Code,
              plate_number: e.U_BFI_TS_TRINFO.U_TS_PLATE_NUM.toUpperCase()
            });
          }
        } else {
          // offline
        }
      } catch (e) {
        console.log("Error fetch truck info: ", e);
      }
    },
    returnDriverName(id) {
      for (let i = 0; i < this.drivers.length; i++) {
        const e = this.drivers[i];

        if (e.id == id) return e.fullName;
      }
    },
    async getDrivers() {
      try {
        if (localStorage.mode == 1) {
          // online
          this.drivers = [];
          const res = await axios({
            method: "POST",
            url: `${this.$axios.defaults.baseURL}/drivers/select`,
            headers: {
              "Content-Type": "application/json",
              "X-HTTP-Method-Override": "GET",
              authorization: `B1SESSION=${localStorage.session}`
            },
            data: {
              mode: localStorage.mode,
              modules: JSON.parse(localStorage.modules)
            }
          });

          const data = res.data.view;
          for (let i = 0; i < data.length; i++) {
            const e = data[i];

            this.drivers.push({
              id: e.Code,
              fullName: `${e.U_TS_FN ? this.convertCase(e.U_TS_FN) : null} ${
                e.U_TS_LN ? this.convertCase(e.U_TS_LN) : null
              }`
            });
          }
        } else {
          // offline
        }
      } catch (e) {
        console.log("Error on fetch drivers: ", e);
      }
    },
    returnTruckScaleName(id) {
      for (let i = 0; i < this.truckScales.length; i++) {
        const e = this.truckScales[i];

        if (e.id == id) return e.truckscale_name;
      }
    },
    async getTruckScales() {
      try {
        if (localStorage.mode == 1) {
          this.truckScales = [];
          const res = await axios({
            method: "POST",
            url: `${this.$axios.defaults.baseURL}/truck-scale/select`,
            headers: {
              "Content-Type": "application/json",
              "X-HTTP-Method-Override": "GET",
              Authorization: `B1SESSION=${localStorage.session}`
            },
            data: {
              mode: localStorage.mode,
              modules: JSON.parse(localStorage.modules)
            }
          });

          const data = res.data.view;
          for (let i = 0; i < data.length; i++) {
            const e = data[i];

            this.truckScales.push({
              id: e.Code,
              truckscale_name: this.convertCase(e.U_TS_TRSCALE)
            });
          }
        } else {
          //  offline
        }
      } catch (e) {
        console.log("Error get truckscales: ", e);
      }
    },
    returnTransactionType(id) {
      for (let i = 0; i < this.trnsTypes.length; i++) {
        const e = this.trnsTypes[i];

        if (e.id == id) return e.text;
      }
    },
    async getTransactionTypes() {
      try {
        if (localStorage.mode == 1) {
          // online
          this.trnsTypes = [];

          const res = await axios({
            method: "POST",
            url: `${this.$axios.defaults.baseURL}/transaction-type/select`,
            headers: {
              "Content-Type": "application/json",
              "X-HTTP-Method-Override": "GET",
              authorization: `B1SESSION=${localStorage.session}`
            },
            data: {
              mode: localStorage.mode,
              modules: JSON.parse(localStorage.modules)
            }
          });
          const data = res.data.view;
          for (let i = 0; i < data.length; i++) {
            const e = data[i];
            this.trnsTypes.push({
              id: e.Code,
              text: this.convertCase(e.U_TS_TRNSTYPE)
            });
          }
        } else {
          // offline
        }
      } catch (e) {
        console.log("Error get transaction types: ", e);
      }
    },
    showAlertErr() {
      this.dismissCountDownErrs = this.dismissSecs;
    },
    countDownChangedErrs(dismissCountDown) {
      this.dismissCountDownErrs = dismissCountDown;
    },
    returnTruckTypeName(id) {
      for (let i = 0; i < this.truckTypes.length; i++) {
        const e = this.truckTypes[i];

        if (id == e.id) return e.text;
      }
    },
    async getTruckTypes() {
      try {
        if (localStorage.mode == 1) {
          // online
          this.truckTypes = [];
          const res = await axios({
            method: "POST",
            url: `${this.$axios.defaults.baseURL}/truck-types/select`,
            headers: {
              "Content-Type": "application/json",
              "X-HTTP-Method-Override": "GET",
              authorization: `B1SESSION=${localStorage.session}`
            },
            data: {
              mode: localStorage.mode,
              modules: JSON.parse(localStorage.modules)
            }
          });
          if (res.status == 200) {
            if (res.data.view.status) {
              if (res.data.view.status == 401) {
                console.log("sad", res);
                this.errorMsg = "Expired session, please login again.";
                this.showAlertErr();
                localStorage.clear();
                this.$router.push(`/`);
              }
            } else {
              const data = res.data.view;

              for (let i = 0; i < data.length; i++) {
                const e = data[i];

                this.truckTypes.push({
                  id: e.Code,
                  text: this.convertCase(e.U_TS_TRMODEL)
                });
              }
            }
          }
        } else {
          // offline
        }
      } catch (e) {
        console.log("Error on fetch truck types: ", e);
      }
    },
    returnLocationName(id) {
      for (let i = 0; i < this.locations.length; i++) {
        const e = this.locations[i];

        if (e.id == id) return e.locations;
      }
    },
    async getLocations() {
      try {
        this.locations = [];
        const res = await axios({
          method: "POST",
          url: `${this.$axios.defaults.baseURL}/truck-scale/locations/select`,
          headers: {
            authorization: `B1SESSION=${localStorage.session}`
          },
          data: {
            mode: localStorage.mode,
            isDisplay: true
          }
        });

        const data = res.data.view;
        for (let i = 0; i < data.length; i++) {
          const e = data[i];

          this.locations.push({
            id: e.Code,
            locations: this.convertCase(e.U_LOCATIONS)
          });
        }
      } catch (e) {
        console.log("Error on getting locations: ", e);
      }
    },
    getActionName(id) {
      for (let i = 0; i < this.actions.length; i++) {
        const e = this.actions[i];

        if (e.id == id) return e.ActionName;
      }
    },
    async getActions() {
      try {
        if (localStorage.mode == 1) {
          this.actions = [];
          const res = await axios({
            method: "POST",
            url: `${this.$axios.defaults.baseURL}/actions/select`,
            headers: {
              "Content-Type": "application/json",
              "X-HTTP-Method-Override": "GET",
              authorization: `B1SESSION=${localStorage.session}`
            },
            data: {
              mode: localStorage.mode,
              modules: JSON.parse(localStorage.modules)
            }
          });

          const data = res.data.view;
          for (let i = 0; i < data.length; i++) {
            const e = data[i];
            this.actions.push({
              id: e.ACTIONCODE,
              ActionName: this.convertCase(e.ACTIONDESCRIPTION)
            });
          }
        }
      } catch (e) {
        console.log("Error fetch actions: ", e);
      }
    },
    returnModuleName(id) {
      for (let i = 0; i < this.modules.length; i++) {
        const e = this.modules[i];

        if (id == e.id) return e.moduleName;
      }
    },
    async getModules() {
      try {
        if (localStorage.mode == 1) {
          this.modules = [];
          const res = await axios({
            method: "POST",
            url: `${this.$axios.defaults.baseURL}/modules/select`,
            headers: {
              "Content-Type": "application/json",
              "X-HTTP-Method-Override": "GET",
              Authorization: `B1SESSION=${localStorage.session}`
            },
            data: {
              mode: localStorage.mode,
              modules: JSON.parse(localStorage.modules)
            }
          });
          const data = res.data.view;

          for (let i = 0; i < data.length; i++) {
            const e = data[i];

            this.modules.push({
              id: e.Code,
              moduleName: this.convertCase(e.U_TS_DESC)
            });
          }
        }
      } catch (e) {
        console.log("Error getting modules: ", e);
      }
    },
    returnRoleName(id) {
      for (let i = 0; i < this.roles.length; i++) {
        const e = this.roles[i];
        if (id == e.id) return e.RoleName;
      }
    },
    async getRoles() {
      try {
        if (localStorage.mode == 1) {
          this.roles = [];
          const res = await axios({
            method: "POST",
            url: `${this.$axios.defaults.baseURL}/roles/select`,
            headers: {
              "Content-Type": "application/json",
              "X-HTTP-Method-Override": "GET",
              Authorization: `B1SESSION=${localStorage.session}`
            },
            data: {
              mode: localStorage.mode,
              modules: JSON.parse(localStorage.modules)
            }
          });

          const data = res.data.view;
          for (let i = 0; i < data.length; i++) {
            const e = data[i];
            this.roles.push({
              id: e.Code,
              RoleName: this.convertCase(e.U_TS_NAME)
            });
          }
        }
      } catch (e) {
        console.log("Error get roles: ", e);
      }
    },
    async getAllEmployees() {
      try {
        if (localStorage.mode == 1) {
          this.employees = [];

          const res = await axios({
            method: "POST",
            url: `${this.$axios.defaults.baseURL}/users/select-employeeInfos`,
            headers: {
              "Content-Type": "application/json",
              "X-HTTP-Method-Override": "GET",
              authorization: `B1SESSION=${localStorage.session}`
            },
            data: {
              mode: localStorage.mode,
              modules: JSON.parse(localStorage.modules)
            }
          });

          if (res.status == 200) {
            const data = res.data.view;
            for (let i = 0; i < data.length; i++) {
              const e = data[i];

              this.sapEmployees.push({
                employee_id: e.empID,
                fullname: `${e.lastName}, ${e.firstName}`
              });
            }
          }
          return;
        }
      } catch (e) {
        console.log("Error get all employees: ", e);
      }
    },
    getSapName(id) {
      for (let i = 0; i < this.sapEmployees.length; i++) {
        const e = this.sapEmployees[i];
        if (e.employee_id == id) return e.fullname;
      }
    },
    processData(data, key) {
      try {
        // employees name from sap;
        if (key.toUpperCase() == "U_APP_EMP_ID") {
          return this.getSapName(data);
        }

        // to fix date
        if (
          key.toUpperCase() == "U_TS_CREATEDATE" ||
          key.toUpperCase() == "U_TS_UPDATEDATE" ||
          key.toUpperCase() == "U_CREATEDATE" ||
          key.toUpperCase() == "U_UPDATEDATE" ||
          key.toUpperCase() == "CREATEDATE" ||
          key.toUpperCase() == "UPDATEDATE"
        ) {
          return this.dateOnly(data);
        }

        // to fix time
        if (
          key.toUpperCase() == "U_TS_CREATETIME" ||
          key.toUpperCase() == "U_TS_UPDATETIME" ||
          key.toUpperCase() == "U_CREATETIME" ||
          key.toUpperCase() == "U_UPDATETIME" ||
          key.toUpperCase() == "CREATETIME" ||
          key.toUpperCase() == "UPDATETIME"
        ) {
          const time = this.intToTime(data);
          return moment(time, "HH:mm").format("hh:mm A");
        }

        // get role name;
        if (key.toUpperCase() == "U_TS_ROLE_ID") {
          return this.returnRoleName(data);
        }

        // created by and updated by; employee name;
        if (
          key.toUpperCase() == "U_CREATED_BY" ||
          key.toUpperCase() == "U_UPDATED_BY" ||
          key.toUpperCase() == "U_TS_CREATEDBY" ||
          key.toUpperCase() == "U_TS_MODIFYBY" ||
          key.toUpperCase() == "U_TS_EMPLOYEE_ID" ||
          key.toUpperCase() == "U_RECEIVER_ID" ||
          key.toUpperCase() == "U_SENDER_ID" ||
          key.toUpperCase() == "U_CREATEDBY" ||
          key.toUpperCase() == "U_MODIFYBY"
        ) {
          return this.returnUserName(data);
        }

        // get module name
        if (key.toUpperCase() == "U_TS_MOD_ID") {
          return this.returnModuleName(data);
        }

        // get action name
        if (key.toUpperCase() == "U_TS_ACTION_ID") {
          return this.getActionName(data);
        }

        // get location name
        if (key.toUpperCase() == "U_LOCATION_ID") {
          return this.returnLocationName(data);
        }

        // boolean;
        if (
          key.toUpperCase() == "U_IS_READ" ||
          key.toUpperCase() == "U_IS_EDIT" ||
          key.toUpperCase() == "U_IS_REPRINT"
        ) {
          let bool = false;
          if (data > 0) bool = true;
          return bool;
        }

        // number; remove too many decimal
        if (
          key.toUpperCase() == "U_TS_TRSIZE" ||
          key.toUpperCase() == "U_TS_IB_WEIGHT" ||
          key.toUpperCase() == "U_TS_OB_WEIGHT"
        ) {
          return parseFloat(data).toFixed(2);
        }

        // truck type
        if (key.toUpperCase() == "U_TS_TRTYPE_ID") {
          return this.returnTruckTypeName(data);
        }

        // transaction type
        if (key.toUpperCase() == "U_TS_TRNS_TYPE") {
          return this.returnTransactionType(data);
        }

        // truckscale name
        if (key.toUpperCase() == "U_TS_TRKSCL_ID") {
          return this.returnTruckScaleName(data);
        }

        // driver name
        if (key.toUpperCase() == "U_TS_DRIVERID") {
          return this.returnDriverName(data);
        }

        // plate number
        if (key.toUpperCase() == "U_TS_TRKINFO") {
          return this.returnPlateNumber(data);
        }

        // weight type
        if (key.toUpperCase() == "U_TS_WEIGHT_ID") {
          return this.returnWeightType(data);
        }

        return data; // default
      } catch (e) {
        console.log("Error on proccesing data: ", e);
      }
    },
    processKey(key) {
      /*
      // starting with U_TS_
      if (key.includes("U_TS_")) {
        // Remove U_
        let processedKey = key.split("U_TS_")[1];
        if (processedKey.includes("_")) {
          // Replace all underscore with spaces
          processedKey = processedKey.replace(/_/g, " ");

          if (processedKey.includes(" ")) {
            let arrayString = processedKey.split(" ");
            let finalString = "";
            // Capitalize first letter
            for (let i = 0; i < arrayString.length; i++) {
              if (arrayString[i] != "id") {
                finalString +=
                  arrayString[i].charAt(0).toUpperCase() +
                  arrayString[i].slice(1);
              }
              finalString += " ";
            }
            processedKey = finalString;
          }
        } else {
          let finalString = "";

          if (key != "id") {
            finalString +=
              processedKey.charAt(0).toUpperCase() + processedKey.slice(1);
          }
          processedKey = finalString;
        }

        return processedKey;
      }
      // starting with U_
      if (key.includes("U_")) {
        // Remove U_
        let processedKey = key.split("U_")[1];
        if (processedKey.includes("_")) {
          // Replace all underscore with spaces
          processedKey = processedKey.replace(/_/g, " ");

          if (processedKey.includes(" ")) {
            let arrayString = processedKey.split(" ");
            let finalString = "";
            // Capitalize first letter
            for (let i = 0; i < arrayString.length; i++) {
              if (arrayString[i] != "id") {
                finalString +=
                  arrayString[i].charAt(0).toUpperCase() +
                  arrayString[i].slice(1);
              }
              finalString += " ";
            }
            processedKey = finalString;
          }
        } else {
          let finalString = "";

          if (key != "id") {
            finalString +=
              processedKey.charAt(0).toUpperCase() + processedKey.slice(1);
          }
          processedKey = finalString;
        }

        return processedKey;
      }
      */
      return key;
    },
    isNotEqual(old, newVal) {
      if (old != newVal) {
        return "background-color:#FFE77B; border-radius:2px";
      }
      return "";
    },
    returnUserName(id) {
      try {
        let name = "N/A";
        if (id) {
          for (let i = 0; i < this.users.length; i++) {
            const e = this.users[i]; // user id

            const userId = e.USERCODE;
            if (id == userId) {
              e.firstName && e.lastName ? name = `${e.firstName} ${e.lastName}` 
              : e.firstName_revive && e.lastName_revive ? name = `${e.firstName_revive} ${e.lastName_revive}`
              : name ;
              break;
            }
          }
        }

        return name;
      } catch (e) {
        console.log("Error return name: ", e);
      }
    },
    convertCase(str) {
      if (str) {
        const splitStr = str.toLowerCase().split(" ");
        for (let i = 0; i < splitStr.length; i++) {
          splitStr[i] =
            splitStr[i].charAt(0).toUpperCase() + splitStr[i].substring(1);
        }
        return splitStr.join(" ");
      } else {
        return str;
      }
    },
    async viewDetails(row) {
      this.$refs.selectableTable.selectRow(row.index)
      const item = row.item;
      this.old_value = JSON.parse(item.prev_val);
      this.new_value = JSON.parse(item.new_val);

      this.$bvModal.show("view-activity-modal");
    },
    dateOnly(s) {
      return moment(s).format("MMM DD, YYYY");
    },
    formatDate(created_at) {
      return moment(created_at).format("MMM DD, YYYY hh:mm A");
    },
    async getLogs() {
      this.isbusy = true;
      try {
        if (localStorage.mode == 1) {
          // online
          this.items = [];
          const res = await axios({
            method: "POST",
            url: `${this.$axios.defaults.baseURL}/users/select-logs`,
            headers: {
              authorization: `B1SESSION=${localStorage.session}`
            },
            data: {
              mode: 1,
              from: this.dateRange.date_from,
              to: this.dateRange.date_to
            }
          });

          if (res.status == 200) {
            this.items = res.data.view;

            for (let i = 0; i < res.data.view.length; i++) {
              const e = res.data.view[i];

              // push tables for filter
              if (!this.tableFilters.includes(e.table)) {
                this.tableFilters.push(e.table);
                this.selectedTableFilters.push(e.table);
              }
            }
            this.isbusy = false;
          }
        } else {
          // offline
          this.items = [];
          const res = await axios({
            method: "POST",
            url: `${this.$axios.defaults.baseURL}/users/select-logs`,
            headers: {
              authorization: "Bearer " + localStorage.token
            },
            data: {
              dateRange: this.dateRange,
              created_at: this.created_at
            }
          });

          if (res.status === 200) {
            // console.log(res);
            for (let i = 0; i < res.data.view.length; i++) {
              let changedVals = [];
              let name = `${res.data.view[i].users.firstname} ${res.data.view[i].users.lastname}`;
              let prevVal = JSON.parse(res.data.view[i].prev_values);
              let newVal = JSON.parse(res.data.view[i].new_values);

              //FOR COMPARISON
              //  for(let i=0; i < Object.entries(prevVal).length; i++){
              //      if(Object.entries(prevVal)[i][0] === 'role'){
              //          if(
              //              Object.entries(prevVal)[i][1].name !== Object.entries(newVal)[i][1].name
              //          ){
              //              changedVals.push(Object.entries(prevVal)[i][0])
              //          }

              //      }else if(Object.entries(prevVal)[i][1] !== Object.entries(newVal)[i][1]){

              //          changedVals.push(Object.entries(prevVal)[i][0])
              //      }
              // }

              this.items.push({
                employee: name,
                action: res.data.view[i].action_type,
                table: res.data.view[i].table_affected,
                oldValues: prevVal,
                newValues: newVal,
                changedVals,
                created_at: moment(res.data.view[i].created_at).format(
                  "MMM DD, YYYY hh:mm A"
                )
              });
            }
          }
        }
      } catch (e) {
        console.log("Error on getting logs: ", e);
      }
    },
    async getUsers() {
      this.isbusy = true;
      console.log('Supposed to busy');
      try {
        if (localStorage.mode == 1) {
          // online
          this.users = [];
          const res = await axios({
            method: "POST",
            url: `${this.$axios.defaults.baseURL}/users/select`,
            headers: {
              "Content-Type": "application/json",
              "X-HTTP-Method-Override": "GET",
              authorization: `B1SESSION=${localStorage.session}`
            },
            data: {
              mode: localStorage.mode,
              modules: JSON.parse(localStorage.modules)
            }
          });
          if (res.status == 200) {
            if (res.data.view.length > 0) {
              this.users = res.data.view;
            }
          }
        } else {
          // offline
        }
      } catch (e) {
        console.log("Error on getting users: ", e);
      }
    },
    onFiltered(filteredItems) {
      // Trigger pagination to update the number of buttons/pages due to filtering
      this.totalRows = filteredItems.length;
      this.currentPage = 1;
    },
    resetDate() {
      this.datePicker.startDate = moment().format("MMM DD, YYYY");
      this.datePicker.endDate = moment().format("MMM DD, YYYY");

      (this.dateRange.date_from = moment(this.datePicker.startDate).format(
        "YYYY-MM-DD"
      )),
        (this.dateRange.date_to = moment(this.datePicker.endDate).format(
          "YYYY-MM-DD"
        ));

      this.getLogs();
    },
    async updateValues() {
      this.datePicker.startDate = moment(this.datePicker.startDate).format(
        "MMM DD, YYYY"
      );
      this.datePicker.endDate = moment(this.datePicker.endDate).format(
        "MMM DD, YYYY"
      );
      (this.dateRange.date_from = moment(this.datePicker.startDate).format(
        "YYYY-MM-DD"
      )),
        (this.dateRange.date_to = moment(this.datePicker.endDate).format(
          "YYYY-MM-DD"
        ));

      await this.getLogs();
      this.totalRows = this.items.length;
    },
    intToTime(i) {
      if (i) {
        const str = i.toString();
        const len = str.length;

        let time = null;

        if (len == 4) {
          const hour = str.substring(0, 2);
          const min = str.substring(2, 4);
          time = `${hour}:${min}`;
          return time;
        } else if (len == 3) {
          const hour = str.substring(0, 1);
          const min = str.substring(1, 3);
          time = `0${hour}:${min}`;
          return time;
        } else {
          return `00:00`;
        }
      } else {
        return `00:00`;
      }
    }
  },
  computed: {
    bottomLabel() {
      let end = this.perPage * this.currentPage;
      let start = end - this.perPage + 1;

      if (end > this.computedItems.length) {
        end = this.computedItems.length;
      }

      if (this.computedItems.length === 0) {
        start = 0;
      }

      return `Showing ${start} to ${end} of ${this.computedItems.length} entries`;
    },
    sortOptions() {
      // Create an options list from our fields
      return this.fields
        .filter(f => f.sortable)
        .map(f => {
          return { text: f.label, value: f.key };
        });
    },
    computedItems() {
      const pageSize = () => {
        return this.items.filter(e => {
          return this.selectedTableFilters.includes(e.table);
        });
      };

      const pages = pageSize();
      this.totalRows = pages.length;

      return this.items.filter(e => {
        return this.selectedTableFilters.includes(e.table);
      });
    }
  }
};
</script>

<style>
/* .reportrange-text[data-v-1cd3ebdc] {
  background: #fff;
  cursor: pointer;
  border: 1px solid #ccc;
  height: 31px;
  width: 11rem;
  font-size: 12px;
} */

.daterangepicker.show-ranges .drp-calendar.left {
  position: relative;
  right: 8px;
}

.daterangepicker.show-ranges .drp-calendar.left {
  border-left: 0px solid #ddd;
}

.daterangepicker .ranges li.active {
  background-color: #28a745;
  color: #fff;
}
.daterangepicker td.active,
.daterangepicker td.active:hover {
  background-color: #28a745;
  border-color: transparent;
  color: #fff;
}

html {
  background-color: #eee;
}
.color1 {
  color: #00803e;
}
.icon {
  margin-left: 5px;
  margin-right: 10px;
}
.button1 {
  background-color: #00803e;
  color: white;
}
.button2 {
  background-color: #ff6600;
  color: white;
}
.align {
  float: right;
}
.table-fixed {
  width: 100%;
  background-color: #f3f3f3;
}
.printTable {
  padding: 100 !important;
  table-layout: fixed;
}
.err {
  background-color: #f12d2d;
  color: white;
}
.fixed {
  position: fixed;
  bottom: 0%;
  right: 2%;
}
</style>
