<template>
  <!-- DIVISION -->
  <div class="my-3" id="requests-view">
    <Loading v-if="showLoading" />

    <!-- HEADER NAME -->
    <h4 class="color1 ml-4">
      <font-awesome-icon icon="cubes" class="icon" />Modules
    </h4>

    <!-- HEADER NAME END-->
    <!--HEADER CARD  -->
    <div class="mainContent">
      <!-- CARD 1 -->
      <div id="div1" class="tableContainer">
        <!-- <div
          id="div1"
          class="my-2 mr-4 ml-3"
          style="width: 70%; min-width: 210px"
        > -->

        <!-- TABLE HEADER -->
        <b-form-group class="searchbar">
          <b-input-group size="sm">
            <b-form-input
              style="font-size: 13px"
              v-model="filter"
              type="search"
              id="filterInput"
              class="searchbar no-outline"
              placeholder="Type to Search"
              autocomplete="off"
            ></b-form-input>
            <b-input-group-append>
              <b-button
                id="clearSearchInput"
                :disabled="!filter"
                @click="filter = ''"
                >Clear</b-button
              >
            </b-input-group-append>
          </b-input-group>
        </b-form-group>
        <!-- TABLE HEADER END -->

        <!-- MODULE TABLE -->
        <b-table
          id="table"
          class="my-1"
          style="font-size: 13px"
          show-empty
          scrollable
          small
          fixed
          stacked="sm"
          selectable
          select-mode="single"
          ref="selectableTable"
          :busy="isbusy"
          :items="items"
          :fields="fields"
          :current-page="currentPage"
          :per-page="perPage"
          :filter="filter"
          :filterIncludedFields="filterOn"
          :sort-by.sync="sortBy"
          :sort-desc.sync="sortDesc"
          :sort-direction="sortDirection"
          @filtered="onFiltered"
        >
          <template #table-busy>
            <div class="text-center text-secondary my-2">
              <b-spinner class="align-middle"></b-spinner>
              <strong>&nbsp;Loading...</strong>
            </div>
          </template>
          <!-- ACTIONS TABLE -->
          <template v-slot:cell(actions)="row">
            <button
              id="createDRm"
              class="editBtn"
              @click="openModal(row)"
              v-b-tooltip.hover
              title="Edit Module"
            >
              <font-awesome-icon icon="edit" class="editIcon" small />
            </button>
          </template>
          <template v-slot:table-caption>
            <b-row align-h="end">
              <b-col cols="6">{{ bottomLabel }}</b-col>
              <b-col cols="6">
                <b-pagination
                  id="pagination"
                  pills
                  v-model="currentPage"
                  :total-rows="totalRows"
                  :per-page="perPage"
                  align="right"
                  size="sm"
                ></b-pagination>
              </b-col>
            </b-row>
          </template>
          <!-- ACTIONS TABLE END -->
        </b-table>
        <!-- MODULE TABLE END -->
        <!-- <b-col></b-col> -->

        <!-- PAGINATION
            <b-col sm="7" md="3" class="mr-0">
              <b-pagination
                v-model="currentPage"
                :total-rows="totalRows"
                :per-page="perPage"
                align="fill"
                size="sm"
              ></b-pagination>
            </b-col>
            -->
        <!-- TABLE FOOTER -->
        <!-- TABLE FOOTER END -->
      </div>
      <!-- CARD 1 END -->

      <!-- CARD 2 -->
      <div class="addingContainer">
        <!-- CARD 2 HEADER -->
        <b-card-text>
          <h5 class="color1">ADD NEW MODULE</h5>
        </b-card-text>
        <!-- CARD 2 HEADER END -->

        <!-- CARD 2 BODY -->
        <hr />
        <b-form-group
          id="input-group-2"
          label="Module Name:"
          label-for="input-2"
          style="font-size: 13px"
        >
          <b-form-input
            style="font-size: 13px"
            id="inputModuleName"
            v-model="moduleNameInput"
            required
            @keyup.enter="addModule"
            autocomplete="off"
          ></b-form-input>
        </b-form-group>
        <!-- CARD 2 BODY END -->

        <!-- CARD 2 FOOTER -->
        <div class="btnContainer">
          <b-button
            id="btnAddModule"
            @click="addModule"
            class="greenBtn mr-2"
            :disabled="isbusy"
            variant="success"
            style="font-size: 13px;"
          >
            Add
          </b-button>
          <button
            id="btnClearModule"
            class="greyBtn"
            @click="clearModule()"
            size="sm"
            style="font-size: 13px"
          >
            Clear
          </button>
        </div>
        <!-- CARD 2 FOOTER END -->
      </div>
      <!-- CARD 2 END -->

      <!-- MODAL MODULE -->
      <b-modal
        header-bg-variant="success"
        header-text-variant="light"
        id="modal1"
        v-model="module"
        hide-header-close
        title="Update Module"
      >
        <b-container fluid>
          <b-form-group
            id="input-group-2"
            label="Module Name:"
            label-for="input-2"
            style="font-size: 13px"
          >
            <b-form-input
              style="font-size: 13px"
              id="UpdateModule"
              v-model="moduleNameInputForUpdate"
              autocomplete="off"
              required
            ></b-form-input>

            <b-form-checkbox
              class="mt-2"
              id="checkbox"
              v-model="checked"
              name="check-button"
              switch
            >
              <b>{{ checked ? "Active" : "Inactive" }}</b>
            </b-form-checkbox>
          </b-form-group>
        </b-container>

        <template v-slot:modal-footer>
          <div>
            <b-button size="sm" id="btnUpdateModal" variant="success" class="greenBtn mr-2" @click="updateModule">
              Save
            </b-button>
            <b-button size="sm" id="btnCloseModal" @click="closeModal" class="greyBtn">
              Close
            </b-button>
          </div>
        </template>
        <!-- error msg -->
        <b-alert
          id="errorAlert2"
          :show="dismissCountDownErrs"
          dismissible
          fade
          class="err fixed"
          @dismiss-count-down="countDownChangedErrs"
          >{{ errorMsg }}</b-alert
        >
      </b-modal>
      <!-- MODAL MODULE END -->

      <!-- ALERT SUCCESSFULL -->
      <b-alert
        id="successAlert"
        :show="dismissCountDown"
        dismissible
        fade
        class="button1 fixed"
        @dismiss-count-down="countDownChanged"
        >{{ successMsg }}</b-alert
      >
      <!-- error msg -->
      <b-alert
        id="errorAlert"
        :show="dismissCountDownErr"
        dismissible
        fade
        class="err fixed"
        @dismiss-count-down="countDownChangedErr"
        >{{ errorMsg }}</b-alert
      >
      <!-- ALERT SUCCESSFULL END -->
      <br />
      <!-- <b-card-group style="background-color:white;margin-left:20px;margin-right:20px"></b-card-group> -->
    </div>
    <!-- HEADER CARD END -->
  </div>
  <!-- DIVISION END -->
</template>

<script>
import axios from "axios";
import moment from "moment";
import https from "https";
import Loading from "~/components/LoadingOverlay/Loadings.vue";

export default {
  layout: "sidebar",
  components: {
    Loading
  },
  async created() {
    await this.getModules();
    this.totalRows = this.items.length;
  },
  middleware: "pageValidator",
  meta: {
    access: { right: "view modules" }
  },
  head() {
    return {
      title: "Admin | Modules - TSIS",
      meta: [
        {
          hid: "description",
          name: "description",
          content: "Truck Scale Integrated System"
        }
      ]
    };
  },
  data() {
    return {
      showLoading: false,
      //Switch
      checked: true,
      //Modal Module
      module: false,
      //Table
      isbusy: true,
      perPage: 8,
      totalRows: 1,
      currentPage: 1,
      dismissSecs: 3,
      dismissCountDown: 0,
      indexForUpdate: null,
      moduleNameInput: "",
      moduleNameInputForUpdate: "",
      items: [],
      selected: "",
      selectedUpdate: null,
      //TABLE HEADER
      fields: [
        { key: "moduleName", label: "Module Name", sortable: true },
        { key: "status", label: "Status", sortable: true },
        { key: "createdBy", label: "Created By", sortable: true },
        { key: "createdAt", label: "Date Created", sortable: true },
        { key: "actions", label: "Actions", class: "text-center" }
      ],
      sortBy: "",
      sortDesc: false,
      sortDirection: "asc",
      filter: null,
      filterOn: [],
      successMsg: null,
      errorMsg: null,
      dismissCountDownErr: 0,
      dismissCountDownErrs: 0
    };
  },
  computed: {
    bottomLabel() {
      let end = this.perPage * this.currentPage;
      let start = end - this.perPage + 1;

      if (end > this.items.length) {
        end = this.items.length;
      }

      if (this.items.length === 0) {
        start = 0;
      }

      return `Showing ${start} to ${end} of ${this.items.length} entries`;
    },

    sortOptions() {
      // Create an options list from our fields
      return this.fields
        .filter(f => f.sortable)
        .map(f => {
          return { text: f.label, value: f.key };
        });
    }
  },
  mounted() {
    // Set the initial number of items
    // this.totalRows = this.items.length;
  },
  methods: {
    onFiltered(filteredItems) {
      this.totalRows = filteredItems.length;
      this.currentPage = 1;
    },
    countDownChanged(dismissCountDown) {
      this.dismissCountDown = dismissCountDown;
    },
    showAlert() {
      this.dismissCountDown = this.dismissSecs;
    },
    countDownChangedErr(dismissCountDown) {
      this.dismissCountDownErr = dismissCountDown;
    },
    showAlertErr() {
      this.dismissCountDownErr = this.dismissSecs;
    },
    // modal update
    countDownChangedErrs(dismissCountDown) {
      this.dismissCountDownErrs = dismissCountDown;
    },
    showAlertErrs() {
      this.dismissCountDownErrs = this.dismissSecs;
    },
    // convert to pascal case
    convertCase(str) {
      if (str) {
        const splitStr = str.toLowerCase().split(" ");
        for (let i = 0; i < splitStr.length; i++) {
          splitStr[i] =
            splitStr[i].charAt(0).toUpperCase() + splitStr[i].substring(1);
        }
        return splitStr.join(" ");
      } else {
        return str;
      }
    },
    intToTime(i) {
      if (i) {
        const str = i.toString();
        const len = str.length;

        let time = null;

        if (len == 4) {
          const hour = str.substring(0, 2);
          const min = str.substring(2, 4);
          time = `${hour}:${min}`;
          return time;
        } else if (len == 3) {
          const hour = str.substring(0, 1);
          const min = str.substring(1, 3);
          time = `0${hour}:${min}`;
          return time;
        } else {
          return `00:00`;
        }
      }
    },
    async getModules() {
      this.items = [];
      // this.showLoading = true;
      try {
        if (localStorage.mode == 1) {
          // online mode
          const res = await axios({
            method: "POST",
            url: `${this.$axios.defaults.baseURL}/modules/select`,
            headers: {
              "Content-Type": "application/json",
              "X-HTTP-Method-Override": "GET",
              Authorization: `B1SESSION=${localStorage.session}`
            },
            data: {
              mode: localStorage.mode,
              modules: JSON.parse(localStorage.modules)
            }
          });
          const data = res.data.view;

          for await (let i of data) {
            const date = i.U_TS_CREATEDATE
              ? moment(`${i.U_TS_CREATEDATE}`).format("MM-DD-YYYY")
              : "";
            const time = i.U_TS_CREATETIME
              ? this.intToTime(i.U_TS_CREATETIME)
              : "";
            const dateTime = `${date} ${time}`;

            let createdAt;
            if (date && !time) createdAt = date;
            if (!date && time) createdAt = "";
            if (!date && !time) createdAt = "";
            if (date && time)
              createdAt = moment(dateTime).format("MMM DD, YYYY hh:mm A");

            this.items.push({
              id: i.Code,
              moduleName: this.convertCase(i.U_TS_DESC),
              status: this.convertCase(i.U_TS_STATUS),
              createdBy: this.convertCase(`${i.firstName} ${i.lastName}`),
              createdAt
            });
          }
          this.isbusy = false;

          this.showLoading = false;
        } else {
          // offline mode
          const res = await axios({
            method: "GET",
            url: `${this.$axios.defaults.baseURL}/modules/select`,
            headers: {
              authorization: "Bearer " + localStorage.token
            }
          });

          if (res.status === 200) {
            for (let i = 0; i < res.data.view.length; i++) {
              this.items.push({
                id: res.data.view[i].id,
                moduleName: res.data.view[i].description,
                status: res.data.view[i].status,
                createdBy: `${res.data.view[i].created_by[0].firstname} ${res.data.view[i].created_by[0].middlename} ${res.data.view[i].created_by[0].lastname}`,
                createdAt: moment(
                  res.data.view[i].created_by[0].created_at
                ).format("MM-DD-YYYY hh:mm ")
              });
            }
          }
        }
      } catch (e) {
        this.showLoading = false;
        if (localStorage.mode == 1) {
          // bad request if no internet; display error here
          console.log("Error display all modules.", e);
        }
      }
    },
    async updateModule() {
      try {
        if (localStorage.mode == 1) {
          this.showLoading = true;
          this.isbusy = true;

          const status = this.checked ? "active" : "inactive";

          const d = new Date().toDateString();
          const t = new Date().toTimeString();
          const date = moment(d).format("YYYY-MM-DD");
          const time = await this.fixTime(t);

          const res = await axios({
            method: "PUT",
            url: `${this.$axios.defaults.baseURL}/modules/update/${this.indexForUpdate}`,
            data: {
              U_TS_STATUS: status,
              U_TS_MODIFYBY: localStorage.id,
              U_TS_DESC: this.moduleNameInputForUpdate,
              mode: localStorage.mode,
              modules: JSON.parse(localStorage.modules),
              U_TS_UPDATEDATE: date,
              U_TS_UPDATETIME: time
            },
            headers: {
              "Content-Type": "application/json",
              Authorization: `B1SESSION=${localStorage.session}`
            }
          });

          this.showLoading = false;

          const reqStatus = res.data.patched.status;

          if (reqStatus == 204) {
            this.closeModal();
            this.getModules();

            this.successMsg = "Updated module successfully.";
            this.showAlert();
          }
        } else {
          // offline mode
          const status = this.checked ? "active" : "inactive";
          const res = await axios({
            method: "PUT",
            url: `${this.$axios.defaults.baseURL}/modules/update/${this.indexForUpdate}`,
            data: {
              status: status,
              modified_by: localStorage.id,
              description: this.moduleNameInputForUpdate,
              module_id: this.selected
            },
            headers: {
              authorization: "Bearer " + localStorage.token
            }
          });

          this.closeModal();
          this.getModules();

          this.successMsg = res.data.patched.msg;
          this.showAlert();
          this.isbusy = false;
          // ANCHOR where to place isbusy so that busystate remains true until all datas are loaded
        }
      } catch (e) {
        if (localStorage.mode == 1) {
          this.showLoading = false;
          this.isbusy = false;
          try {
            // JSON error
            const err = JSON.parse(e.response.data.error);
            this.errorMsg = err.msg;
            this.showAlertErr();
          } catch (er) {
            // not JSON
            this.errorMsg = e.response.data.error;
            this.showAlertErr();
          }
        } else {
        }
      }
    },
    openModal(row) {
      this.$refs.selectableTable.selectRow(row.index)
      if (row.item.status.toLowerCase() === "active") {
        this.checked = true;
      } else {
        this.checked = false;
      }
      this.indexForUpdate = row.item.id;
      this.moduleNameInputForUpdate = row.item.moduleName;
      this.module = true;
    },
    closeModal() {
      this.moduleNameInputForUpdate = null;
      this.indexForUpdate = null;
      this.module = false;
    },

    async addModule() {
      try {
        if (localStorage.mode == 1) {
          this.showLoading = true;

          const d = new Date().toDateString();
          const t = new Date().toTimeString();
          const date = moment(d).format("YYYY-MM-DD");
          const time = await this.fixTime(t);
          const res = await axios({
            method: "POST",
            url: `${this.$axios.defaults.baseURL}/modules/add`,
            data: {
              U_TS_CREATEDBY: localStorage.id,
              U_TS_MODIFYBY: localStorage.id,
              U_TS_STATUS: `active`,
              U_TS_DESC: this.moduleNameInput,
              U_TS_CREATEDATE: date,
              U_TS_CREATETIME: time,
              U_TS_UPDATEDATE: date,
              U_TS_UPDATETIME: time,
              mode: localStorage.mode,
              modules: JSON.parse(localStorage.modules)
            },
            headers: {
              authorization: `B1SESSION=${localStorage.session}`
            }
          });
          const status = res.data.posted.status;

          this.showLoading = false;

          if (status == 201) {
            this.successMsg = "Added successfully.";
            this.moduleNameInput = "";
            this.getModules();
            this.showAlert();
          }
        } else {
          // offline mode
          const res = await axios({
            method: "POST",
            url: `${this.$axios.defaults.baseURL}/modules/add`,
            data: {
              created_by: localStorage.id,
              description: this.moduleNameInput,
              users_id: localStorage.id //for logs
            },
            headers: {
              authorization: "Bearer " + localStorage.token
            }
          });
          this.successMsg = res.data.posted.msg;
          this.moduleNameInput = "";
          this.getModules();
          this.showAlert();
        }
      } catch (e) {
        if (localStorage.mode == 1) {
          this.showLoading = false;
          try {
            // JSON error
            const err = JSON.parse(e.response.data.error);
            this.errorMsg = err.msg;
            this.showAlertErr();
          } catch (er) {
            // not JSON
            this.errorMsg = e.response.data.error;
            this.showAlertErr();
          }
        } else {
          console.log("Error: ", e);
          this.errorMsg = e.response.data.error;
          this.showAlertErr();
        }
      }
    },

    // get integer from time
    async fixTime(t) {
      try {
        const arr = t.split(":", 2);
        const raw = `${arr[0]}${arr[1]}`;
        const time = raw;
        return time;
      } catch (e) {
        console.log("Error: ", e);
      }
    },
    clearModule() {
      this.moduleNameInput = "";
    }
  }
};
</script>

<style>
.button1 {
  background-color: #00803e;
  color: white;
}
.err {
  background-color: #f12d2d;
  color: white;
}
.fixed {
  position: fixed;
  bottom: 0%;
  right: 2%;
  z-index: 99999;
}
.color1 {
  color: #00803e;
}
.icon {
  margin-left: 0%;
  margin-right: 1%;
}
.page-item.active .page-link {
  background-color: #00a651 !important;
  border-color: #00a651 !important;
  transition: background-color 0.3s;
}
.page-item .page-link {
  color: black;
}
#filterInput {
  height: 31px;
}
</style>
