<template>
  <!-- DIVISION -->
  <div id="div1" style="flex-direction:column" class="tabContent">
    <Loading v-if="showLoading" />
    <!-- TABLE HEADER -->
    <div class="tableHeader">
      <b-form-group
        class="searchbar"
        style="font-size: 13px"
        label-size="sm"
        label-for="filterInput"
      >
        <b-input-group size="sm">
          <b-form-input
            style="font-size: 13px"
            type="search"
            id="inputSearch"
            class="searchbar no-outline"
            label-align-sm="left"
            placeholder="Type to Search"
            v-model="filter"
          ></b-form-input>
          <b-input-group-append>
            <b-button
              id="buttonClearSearch"
              :disabled="!filter"
              @click="filter = ''"
              >Clear</b-button
            >
          </b-input-group-append>
        </b-input-group>
      </b-form-group>
    </div>
    <!-- TABLE HEADER END -->

    <!-- MODULE TABLE -->

    <b-table
      id="table"
      class="my-1"
      style="font-size:13px"
      show-empty
      scrollable
      small
      fixed
      stacked="md"
      selectable
      select-mode="single"
      ref="selectableTable"
      :busy="isbusy"
      :items="items"
      :fields="fields"
      :current-page="currentPage"
      :per-page="perPage"
      :filter="filter"
      :filterIncludedFields="filterOn"
      :sort-by.sync="sortBy"
      :sort-desc.sync="sortDesc"
      :sort-direction="sortDirection"
      @filtered="onFiltered"
    >
      <template #table-busy>
        <div class="text-center text-secondary my-2">
          <b-spinner class="align-middle"></b-spinner>
          <strong>&nbsp;Loading...</strong>
        </div>
      </template>
      <!-- ACTIONS TABLE -->
      <template v-slot:cell(actions)="row">
        <button
          id="createDRm"
          class="editBtn"
          @click="openModal(row)"
          v-b-tooltip.hover
          title="Edit Truckscale"
        >
          <font-awesome-icon icon="edit" small class="editIcon" />
        </button>
      </template>
      <template v-slot:table-caption>
        <b-row align-h="end">
          <b-col cols="6">{{ bottomLabel }}</b-col>

          <b-col cols="6">
            <b-pagination
              id="pagination"
              pills
              v-model="currentPage"
              :total-rows="totalRows"
              :per-page="perPage"
              align="right"
              size="sm"
            ></b-pagination>
          </b-col>
        </b-row>
      </template>
      <!-- ACTIONS TABLE END -->
    </b-table>

    <!-- MODAL Update -->
    <b-modal
      header-text-variant="light"
      header-bg-variant="success"
      v-model="tsModal"
      title="Update Truckscale"
      hide-header-close
    >
      <b-container fluid>
        <b-form-group
          id="input-group-2"
          label-for="input-2"
          style="font-size:13px"
          v-if="selectedTruckScale"
        >
          <!--  -->
          <b-form-group
            id="TruckScale"
            label="Truckscale Name"
            label-for="input-1"
          >
            <b-form-input
              id="inputTruckScaleName"
              required
              placeholder="Truckscale name"
              v-model="selectedTruckScale.truckscale_name"
              autocomplete="off"
              style="font-size: 13px"
            ></b-form-input>
          </b-form-group>

          <b-form-group
                id="location"
                label="Location"
                label-for="locations"
                style="text-align:left; font-size:13px"
              >
            <b-form-select
              id="locations"
              v-model="selectedLocation"
              :options="locationOptions"
              required
              @change="getSelectedLocation()"
              style="padding-left: 8px;font-size: 13px"
              ref="locations"
            ></b-form-select>
          </b-form-group>

          <b-form-group
            id="input-group-3"
            label="Truckscale Length"
            label-for="input-3"
          >
            <b-form-input
              id="inputTruckScaleLength"
              type="number"
              v-model="selectedTruckScale.truckscale_length"
              required
              style="font-size: 13px"
              placeholder="Truckscale length"
              autocomplete="off"
            ></b-form-input>
          </b-form-group>

          <b-form-group
            id="input-group-4"
            label="Device baudrate"
            label-for="input-4"
          >
            <b-form-input
              id="inputBaudrate"
              type="number"
              v-model="selectedTruckScale.baudrate"
              required
              style="font-size: 13px"
              placeholder="Baud rate"
            ></b-form-input>
          </b-form-group>

          <b-form-group
            id="input-group-5"
            label="Device IP Address"
            label-for="input-2"
          >
            <b-form-input
              id="inputTruckScaleIPAddress"
              required
              style="font-size: 13px"
              placeholder="Truckscale IP Address"
              v-model="selectedTruckScale.ip_address"
              autocomplete="off"
            ></b-form-input>
          </b-form-group>

          <b-form-group
            id="input-group-6"
            label="Device Name"
            label-for="input-2"
          >
            <b-form-input
              id="inputTruckScaleDeviceName"
              required
              style="font-size: 13px"
              placeholder="Truckscale Device Name"
              v-model="selectedTruckScale.device_name"
              autocomplete="off"
            ></b-form-input>
          </b-form-group>
          <!--  -->
        </b-form-group>
      </b-container>

      <template v-slot:modal-footer>
        <div>
          <b-button
            id="btnUpdateModal"
            size="sm"
            variant="success"
            class="mr-2 greenBtn"
            @click="updateTruckscale"
            >Save</b-button
          >
          <b-button
            id="btnCloseModal"
            @click="closeModal"
            variant="secondary"
            class="greyBtn"
            size="sm"
            >Close</b-button
          >
        </div>
      </template>
      <!-- ALERT SUCCESSFULL -->
      <b-alert
        :show="showError"
        dismissible
        fade
        class="red alert"
        @dismiss-count-down="countDownChanged"
        >{{ errorMsg }}</b-alert
      >

      <!-- ALERT SUCCESSFULL END -->
    </b-modal>

    <!-- success -->
    <b-alert
      :show="showSuccess"
      dismissible
      fade
      class="green alert"
      @dismiss-count-down="countDownChangedSuccess"
      >{{ successMsg }}</b-alert
    >
    <b-alert
      :show="showError"
      dismissible
      fade
      class="red alert"
      @dismiss-count-down="countDownChanged"
      >{{ errorMsg }}</b-alert
    >
    <!-- CARD 1 END -->

    <br />
    <!-- <b-card-group style="background-color:white;margin-left:20px;margin-right:20px"></b-card-group> -->
    <!-- </b-card> -->
    <!-- HEADER CARD END -->
  </div>
  <!-- DIVISION END -->
</template>

<script>
import axios from "axios";
import moment from "moment";
import Loading from "~/components/LoadingOverlay/Loadings.vue";
import VueBootstrapTypeahead from "vue-bootstrap-typeahead";

export default {
  components: {
    Loading,
    VueBootstrapTypeahead
  },
  data() {
    return {
      selectedLocation: null,
      locationOptions: [],
      locationData: [],
      selectedLocationId: null,
      showLoading: false,
      isbusy: false,
      //Modal Action
      perPage: 12,
      tsModal: false,
      //Table
      totalRows: 1,
      currentPage: 1,
      dismissSecs: 3,
      dismissCountDown: 0,
      items: [],
      selectedTruckScale: null,
      //TABLE HEADER
      fields: [
        { key: "truckscale_name", label: "Truckscale Name", sortable: true },
        {
          key: "truckscale_location",
          label: "Truckscale Location",
          sortable: true,
          class:"text-center"
        },
        {
          key: "truckscale_length",
          label: "Truckscale Length",
          sortable: true,
          class:"text-center"
        },
        { key: "created_at", label: "Date Created", sortable: true, class:"text-center" },
        { key: "actions", label: "Actions", class: "text-center" }
      ],
      sortBy: "",
      sortDesc: false,
      sortDirection: "asc",
      filter: null,
      filterOn: [],
      errorMsg: null,
      showError: 0,
      successMsg: null,
      dismissSecs: 3,
      showSuccess: 0
    };
  },
  computed: {
    bottomLabel() {
      let end = this.perPage * this.currentPage;
      let start = end - this.perPage + 1;

      if (end > this.items.length) {
        end = this.items.length;
      }

      if (this.items.length === 0) {
        start = 0;
      }

      return `Showing ${start} to ${end} of ${this.items.length} entries`;
    },

    sortOptions() {
      // Create an options list from our fields
      return this.fields
        .filter(f => f.sortable)
        .map(f => {
          return { text: f.label, value: f.key };
        });
    }
  },
  async created() {
    await this.getTruckScales();
    await this.getLocations();
    this.totalRows = this.items.length;
    this.currentPage = 1;
  },
  methods: {
    async getSelectedLocation() {
      try {
        const s = this.selectedLocation;
        const data = this.locationData;

        const getId = () => {
          for (let i = 0; i < data.length; i++) {
            const e = data[i];

            const value = e.value;
            const text = e.text;

            if (s.toLowerCase() == text.toLowerCase()) {
              return value;
            }
          }
        };

        const id = await getId();
        this.selectedLocationId = id;
      } catch (e) {
        console.log("Error get location ID: ", e);
      }
    },
    async getLocations() {
      try {
        if (localStorage.mode == 1) {
          //  online
          const res = await axios({
            method: "POST",
            url: `${this.$axios.defaults.baseURL}/truck-scale/locations/select`,
            headers: {
              authorization: `B1SESSION=${localStorage.session}`
            },
            data: {
              mode: localStorage.mode
            }
          });

          const data = res.data.view;
          for (let i = 0; i < data.length; i++) {
            const e = data[i];

            // JSON
            this.locationData.push({
              value: e.Code,
              text: this.convertCase(e.U_LOCATIONS)
            });

            // array
            this.locationOptions.push(this.convertCase(e.U_LOCATIONS));
          }
        } else {
          //  offline
        }
      } catch (e) {
        console.log("Error fetch locations: ", e);
      }
    },
    // convert to pascal case
    convertCase(str) {
      if (str) {
        const splitStr = str.toLowerCase().split(" ");
        for (let i = 0; i < splitStr.length; i++) {
          splitStr[i] =
            splitStr[i].charAt(0).toUpperCase() + splitStr[i].substring(1);
        }
        return splitStr.join(" ");
      } else {
        return str;
      }
    },
    // show success msg

    onFiltered(filteredItems) {
      this.totalRows = filteredItems.length;
      this.currentPage = 1;
    },
    countDownChangedSuccess(showSuccess) {
      this.showSuccess = showSuccess;
    },
    showAlertSuccess() {
      this.showSuccess = this.dismissSecs;
    },
    // end show msg success
    // show error msg
    countDownChanged(showError) {
      if (this.tsModal === true) {
        this.showError = showError;
      }
    },
    showAlert() {
      this.showError = this.dismissSecs;
    },
    // end show error msg
    async getTruckScales() {
      try {
        this.items = [];
        if (localStorage.mode == 1) {
          // this.showLoading = true;
          this.isbusy = true;
          const res = await axios({
            method: "POST",
            url: `${this.$axios.defaults.baseURL}/truck-scale/select`,
            headers: {
              "Content-Type": "application/json",
              "X-HTTP-Method-Override": "GET",
              Authorization: `B1SESSION=${localStorage.session}`
            },
            data: {
              mode: localStorage.mode,
              modules: JSON.parse(localStorage.modules)
            }
          });

          this.showLoading = false;
          this.isbusy = false;

          const data = res.data.view;

          for (let i = 0; i < data.length; i++) {
            const e = data[i];
            this.items.push({
              id: e.Code,
              truckscale_name: this.convertCase(e.U_TS_TRSCALE),
              truckscale_location: this.convertCase(e.U_LOCATIONS),
              truckscale_length: e.U_TS_TR_LENGTH
                ? parseFloat(e.U_TS_TR_LENGTH).toFixed(2)
                : 0,
              created_at: this.formatDate(
                `${moment(e.U_TS_CREATEDATE).format(
                  "MM-DD-YY"
                )} ${this.intToTime(e.U_TS_CREATETIME)}`
              ),
              ip_address: e.U_TS_TR_IP,
              device_name: this.convertCase(e.U_TS_DEVICE),
              baudrate: e.U_TS_BAUDRATE ? e.U_TS_BAUDRATE : 9600
            });
          }
        } else {
          const res = await axios({
            method: "GET",
            url: `${this.$axios.defaults.baseURL}/truck-scale/select`,
            headers: {
              authorization: "Bearer " + localStorage.token
            }
          });
          this.items = res.data.view;
        }
      } catch (e) {
        if (localStorage.mode == 1) {
          this.showLoading = false;
          console.log(e);
          try {
            // JSON error
            const err = JSON.parse(e.response.data.error);
            this.errorMsg = err.msg;
            this.showAlert();
          } catch (er) {
            // not JSON
            this.errorMsg = e.response.data.error;
            this.showAlert();
          }
        } else {
        }
      }
    },
    formatDate(created_at) {
      return moment(created_at).format("MMM DD, YYYY hh:mm A ");
    },
    intToTime(i) {
      if (i) {
        const str = i.toString();
        const len = str.length;

        let time = null;

        if (len == 4) {
          const hour = str.substring(0, 2);
          const min = str.substring(2, 4);
          time = `${hour}:${min}`;
          return time;
        } else if (len == 3) {
          const hour = str.substring(0, 1);
          const min = str.substring(1, 3);
          time = `0${hour}:${min}`;
          return time;
        } else {
          return `00:00`;
        }
      } else {
        return `00:00`;
      }
    },
    async openModal(row) {
      this.$refs.selectableTable.selectRow(row.index)
      const data = row.item;
      // pass data from selected row
      this.selectedTruckScale = {
        id: data.id,
        truckscale_name: data.truckscale_name,
        truckscale_location: data.truckscale_location,
        truckscale_length: data.truckscale_length,
        ip_address: data.ip_address,
        device_name: data.device_name,
        baudrate: data.baudrate,
        parity: "none",
        databits: "8",
        stopbits: "1",
        users_id: localStorage.id // for logs
      };
      this.tsModal = true;

      this.selectedLocation = data.truckscale_location;
      this.$refs.locations.inputValue = await data.truckscale_location;
      await this.getSelectedLocation();
    },
    closeModal() {
      this.selectedTruckScale = null;
      this.tsModal = false;
    },
    async fixTime(t) {
      try {
        const arr = t.split(":", 2);
        const raw = `${arr[0]}${arr[1]}`;
        const time = raw;
        return time;
      } catch (e) {
        console.log("Error: ", e);
      }
    },
    async updateTruckscale() {
      try {
        if (localStorage.mode == 1) {
          this.showLoading = true;
          this.isbusy = true;

          const d = new Date().toDateString();
          const t = new Date().toTimeString();
          const date = moment(d).format("YYYY-MM-DD");
          const time = await this.fixTime(t);

          const data = {
            U_TS_TRSCALE: this.selectedTruckScale.truckscale_name,
            U_LOCATION_ID: this.selectedLocationId,
            U_TS_TR_LENGTH: this.selectedTruckScale.truckscale_length,
            U_TS_TR_IP: this.selectedTruckScale.ip_address,
            U_TS_DEVICE: this.selectedTruckScale.device_name,
            U_TS_BAUDRATE: this.selectedTruckScale.baudrate,
            U_UPDATED_BY: localStorage.id,
            U_TS_UPDATEDATE: date,
            U_TS_UPDATETIME: time,
            mode: localStorage.mode,
            modules: JSON.parse(localStorage.modules)
          };
          const res = await axios({
            method: "PUT",
            url: `${this.$axios.defaults.baseURL}/truck-scale/update/${this.selectedTruckScale.id}`,
            headers: {
              Authorization: `B1SESSION=${localStorage.session}`
            },
            data: {
              ...data
            }
          });
          
          this.showLoading = false;
          this.isbusy = false;

          const status = res.data.patched.status;
          if (status == 204) {
            this.successMsg = "Updated successfully.";
            await this.showAlertSuccess();
            this.closeModal();
            await this.getTruckScales();
          }
        } else {
          // offline mode
          const res = await axios({
            method: "PUT",
            url: `${this.$axios.defaults.baseURL}/truck-scale/update/${this.selectedTruckScale.id}`,
            headers: {
              authorization: "Bearer " + localStorage.token
            },
            data: {
              ...this.selectedTruckScale
            }
          });
          this.successMsg = res.data.patched.msg;
          await this.showAlertSuccess();
          this.closeModal();
          await this.getTruckScales();
        }
      } catch (e) {
        if (localStorage.mode == 1) {
          this.showLoading = false;
          this.isbusy = false;
          try {
            // JSON error
            const err = JSON.parse(e.response.data.error);
            this.errorMsg = err.msg;
            this.showAlert();
          } catch (er) {
            // not JSON
            this.errorMsg = e.response.data.error;
            this.showAlert();
          }
        } else {
          this.errorMsg = e.response.data.error;
          this.showAlert();
        }
      }
    }
  }
};
</script>

<style scoped>
.button1 {
  background-color: #00803e;
  color: white;
}
.err {
  background-color: #f12d2d;
  color: white;
}
.color1 {
  color: #00803e;
}
.icon {
  margin-left: 0%;
  margin-right: 1%;
}
.fixed {
  position: fixed !important;
  bottom: 0% !important;
  right: 2% !important;
}
.page-item.active .page-link {
  background-color: #00a651 !important;
  border-color: #00a651 !important;
  transition: background-color 0.3s;
}
.page-item .page-link {
  color: black;
}
#inputSearch {
  height: 31px;
}
</style>
