<template>
  <!-- TODO: Refactor to SFC(Single File Components) -->
  <!-- <Header /> -->

  <div class="my-3" id="requests-view">
    <Loading v-if="showLoading" />

    <h4 class="color1 ml-4">TRANSACTIONS</h4>
    <b-button
      id="show-btn"
      style="margin-top:20px"
      class="ml-4 button1"
      @click="saveTransaction"
      >NEW TRANSACTION</b-button
    >

    <b-card class="my-4 mr-4 ml-4">
      <b-row>
        <b-col cols="4">
          <b-input-group size="sm">
            <b-form-input
              v-model="filter"
              type="search"
              id="inputSearch"
              placeholder="Type to Search"
            ></b-form-input>
            <b-input-group-append>
              <b-button
                id="btnClearSearch"
                :disabled="!filter"
                @click="filter = ''"
                >Clear</b-button
              >
            </b-input-group-append>
          </b-input-group>
        </b-col>
        <b-col cols="5">
          <b-input-group prepend="Date" size="sm">
            <date-range-picker
              id="datepicker"
              ref="picker"
              :opens="opens"
              :locale-data="localeData"
              :autoApply="true"
              :singleDatePicker="false"
              :showWeekNumbers="true"
              v-model="datePicker"
              @update="updateValues"
            >
              <div slot="input" style="min-width: 170px;">
                {{ datePicker.startDate }} - {{ datePicker.endDate }}
              </div>
            </date-range-picker>
            <b-input-group-append style="height:2rem; font-size:12px">
              <b-button
                @click="resetDate"
                id="date-reset"
                style="font-size:12px"
                >Reset</b-button
              >
            </b-input-group-append>
          </b-input-group>
        </b-col>
        <b-col></b-col>

        <b-col>
          <b-dropdown size="sm" id="dropdown-grouped" text="Filters">
            <b-dropdown-group header="Transaction Type">
              <b-form-checkbox-group
                size="sm"
                v-model="selectedFilters"
                class="ml-4"
              >
                <b-form-checkbox
                  size="sm"
                  :id="'statusFilter' + index"
                  v-for="(item, index) in statusFilters"
                  :key="index"
                  :value="item"
                  >{{ item }}</b-form-checkbox
                >
              </b-form-checkbox-group>
            </b-dropdown-group>
          </b-dropdown>
        </b-col>

        <!-- <b-col cols="1" >

            <b-form-select v-model="perPage" id="perPageSelect" size="sm" :options="pageOptions"></b-form-select>

        </b-col>
        -->

        <!-- <b-col cols="1" >

            <b-form-select v-model="perPage" id="perPageSelect" size="sm" :options="pageOptions"></b-form-select>

        </b-col>-->

        <!-- <b-col cols="4" style="text-align: right;">
          
          <b-button
            size="sm"
            style="font-size:15px;"
            variant="danger"
            v-b-tooltip.hover
            title="Export Report to PDF"
          >
            <font-awesome-icon style icon="file-pdf" />
          </b-button>
          <b-button
          align="right"
            size="sm"
            class="button1 "
            style="font-size:15px "
            v-b-tooltip.hover
            title="Export Report to Excel"
          >
            <font-awesome-icon icon="file-excel" />
          </b-button>
     
        </b-col>-->
      </b-row>
      <!-- Main table element -->
      <b-table
        id="Table"
        class="my-3"
        style="font-size:13px"
        show-empty
        small
        stacked="md"
        scrollable
        :items="computedTransactions"
        :fields="fields"
        :current-page="currentPage"
        :per-page="perPage"
        :filter="filter"
        :filterIncludedFields="filterOn"
        :sort-by.sync="sortBy"
        :sort-desc.sync="sortDesc"
        :sort-direction="sortDirection"
        @filtered="onFiltered"
        :tbody-tr-class="highlightRow"
      >
        <template class="font_badge" v-slot:cell(created_at)="row">{{
          formatDate(row.item.created_at)
        }}</template>
        <template v-slot:cell(name)="row"
          >{{ row.value.first }} {{ row.value.last }}</template
        >

        <template v-slot:cell(status)="row">
          <div
            class="badge-font-size"
            v-if="convertLowerCase(row.item.status) !== 'rejected'"
          >
            <b-badge
              pill
              block
              style="font-size:0.7rem;background-color:green"
              >{{ row.item.status }}</b-badge
            >
          </div>
          <div class="badge-font-size" v-else>
            <b-badge
              pill
              block
              style="font-size:0.7rem;background-color:#B22222"
              >For Outbound</b-badge
            >
            <!-- display for outbound; but status in db is rejected -->
          </div>
        </template>

        <template v-slot:cell(actions)="row">
          <div v-if="convertCase(row.item.transaction_type) === 'Delivery'">
            <!-- <b-button
              v-if="row.item.status === 'for inbound'"
              class="button1"
              size="sm"
              @click="redirect(row)"
            >Inbound</b-button>

            <b-button
              v-else-if="row.item.status === 'for outbound'"
              class="button1"
              size="sm"
              @click="redirect(row)"
            >Outbound</b-button>

            <b-button
              v-else-if="row.item.status === 'completed'"
              class="button1"
              size="sm"
              @click="redirect(row)"
            >Completed</b-button>-->
          </div>

          <div v-if="convertCase(row.item.transaction_type) === 'Withdrawal'">
            <!-- <b-button
              v-if="row.item.status === 'for inbound'"
              class="button1"
              size="sm"
              @click="redirect(row)"
            >Inbound</b-button>

            <b-button
              v-else-if="row.item.status === 'for outbound'"
              class="button1"
              size="sm"
              @click="redirect(row)"
            >Outbound</b-button>

            <b-button
              v-else-if="row.item.status === 'completed'"
              class="button1"
              size="sm"
              @click="redirect(row)"
            >Completed</b-button>-->

            <!-- <b-button
              id="btnTransmittal"
              v-if="convertCase(row.item.status) === 'For Transmittal'"
              class="button1"
              size="sm"
              @click="showTransmittalModal(row)"
              >Transmit</b-button
            >
            <b-button
              id="btnQRCode"
              v-if="convertCase(row.item.status) !== 'For Transmittal'"
              size="sm"
              align="right"
              class="button1"
              @click="openQRCodeModal(row)"
            >
              <font-awesome-icon icon="qrcode" />QR
            </b-button>-->
          </div>

          <div>
            <b-button
              id="createDRm"
              size="sm"
              style="background-color:#00805e; border-color:#00805e;"
              class="table-button mb-1"
              v-b-tooltip.hover
              title="Process"
            >
              <font-awesome-icon
                style="color:white;"
                icon="wrench"
                small
                class="icon"
              />
            </b-button>
            <b-button
              id="createDRm"
              size="sm"
              style="background-color:#00805e; border-color:#00805e;"
              class="table-button mb-1"
              v-if="convertCase(row.item.trnstype) === 'Others'"
              v-b-tooltip.hover
              title="Edit"
            >
              <font-awesome-icon
                style="color:white;"
                icon="edit"
                small
                class="icon"
              />
            </b-button>
          </div>
          <!-- <b-button
            v-if="row.item.status === 'for inbound'"
            block
            class="button1"
            size="sm"
            @click="redirect(row)"
          >Inbound</b-button>

          <b-button v-else-if="row.item.status === 'for outbound'" class="button1" size="sm" block @click="redirect(row)">Outbound</b-button>

           <b-button v-else-if="row.item.status === 'completed'" class="button1" size="sm" block @click="redirect(row)">Completed</b-button>

            <b-button v-else-if="row.item.status === 'others'" class="button1" size="sm" block @click="redirect(row)">Transact</b-button>


          <b-button v-else-if="row.item.status === 'for transmittal'" class="button1" size="sm" block @click="redirect(row)">Transmit</b-button>-->
        </template>

        <template v-slot:row-details="row">
          <b-card>
            <ul>
              <li v-for="(value, key) in row.item" :key="key">
                {{ key }}: {{ value }}
              </li>
            </ul>
          </b-card>
        </template>

        <template v-slot:table-caption>
          <b-row align-h="end">
            <b-col cols="6">{{ bottomLabel }}</b-col>

            <b-col cols="6">
              <b-pagination
                id="pagination"
                pills
                v-model="currentPage"
                :total-rows="totalRows"
                :per-page="perPage"
                align="right"
                size="sm"
              ></b-pagination>
            </b-col>
          </b-row>
        </template>
      </b-table>

      <!-- Info modal -->
      <!-- <b-modal :id="infoModal.id" :title="infoModal.title" ok-only @hide="resetInfoModal">
      <pre>{{ infoModal.content }}</pre>
      </b-modal>-->

      <!-- QR Code Modal -->

      <!-- successmsg -->
      <b-alert
        id="alertsuc"
        :show="dismissCountDown"
        dismissible
        fade
        class="button1 fixed"
        @dismiss-count-down="countDownChanged"
        >{{ successMsg }}</b-alert
      >
      <!-- errmsg -->
      <b-alert
        id="update alert"
        :show="dismissCountDownErrs"
        dismissible
        fade
        class="err fixed"
        @dismiss-count-down="countDownChangedErrs"
        >{{ errorMsg }}</b-alert
      >
    </b-card>

    <!-- End QR Code Modal -->
  </div>
</template>

<script>
import axios from "axios";
import Vue from "vue";
import VueQrcode from "@chenfengyuan/vue-qrcode";
import moment from "moment";
import DateRangePicker from "vue2-daterange-picker";
import "vue2-daterange-picker/dist/vue2-daterange-picker.css";
import Loading from "~/components/LoadingOverlay/Loadings.vue";
import VueBootstrapTypeahead from "vue-bootstrap-typeahead";

export default {
  components: {
    VueQrcode,
    DateRangePicker,
    Loading,
    VueBootstrapTypeahead
  },
  async created() {
    await this.getTransactions();
    //
  },
  data() {
    return {
      driverList: [],
      driverFilter: null,
      plateNumberFilter: null,
      showLoading: false,
      opens: "center",

      po: null,
      pos: [],

      datePicker: {
        startDate: moment().format("MMM DD, YYYY"),
        endDate: moment().format("MMM DD, YYYY")
      },
      dateRange: {
        date_from: moment().format("YYYY-MM-DD"),
        date_to: moment().format("YYYY-MM-DD")
      },
      localeData: {
        direction: "ltr",
        format: moment().format("mmm dd, yyyy"),
        separator: " - "
      },

      barcodeImage: null,
      qrData: null,
      qrplateNumber: null,
      indexForQr: null,
      qrdriver: {
        firstname: null,
        lastname: null
      },
      dismissSecs: 3,
      dismissCountDown: 0,
      showDismissibleAlert: false,
      successMsg: null,
      errorMsg: null,
      dismissCountDownErr: 0,
      dismissCountDownErrs: 0,
      selectedFilters: [],
      statusFilters: [],
      qrplateNumberOptions: [],
      qrDriverOptions: [],
      indexForTransmittal: null,
      selectedPurchaseOrder: null,
      transmittalForm: {
        supplier: null,
        raw_material: null,
        location_delivery: null,
        warehouse_location: null,
        number_of_bags: null,
        transmittal_number: null
      },
      requests: [],
      selectedItems: [],
      departments: [],
      requestTypes: [],
      filterActive: "",
      transactionType: null,
      supplier: null,
      item: null,
      trackingCode: null,
      numberOfBags: null,
      plateNumber: null,
      driver: null,
      transactionOptions: [],
      plateNumberOptions: [],
      driverOptions: [],
      options1: [
        { value: null, text: "Please select an option" },
        { value: "PDF", text: "Paddy Drying Facility" },
        { value: "PDF", text: "Rice Mill Facility" },
        { value: "CDF", text: "Corn Drying Facility" },
        { value: "FM", text: "Feedmill" }
      ],
      modalShow: false,

      items: [],

      fields: [
        {
          key: "created_at",
          label: "Date Created",
          sortable: true,
          sortDirection: "desc"
        },
        {
          key: "id",
          label: "Ticket Number",
          sortable: true,
          sortDirection: "desc"
        },
        {
          key: "tracking_code",
          label: "Tracking Code",
          sortable: true,
          sortDirection: "desc"
        },
        {
          key: "transaction_type",
          label: "Transaction Type",
          sortable: true,
          class: "text-center"
        },
        {
          key: "plate_number",
          label: "Plate Number",
          sortable: true,
          class: "text-center"
        },
        {
          key: "supplier",
          label: "Supplier",
          sortable: true,
          class: "text-center"
        },
        {
          key: "item",
          label: "Item",
          sortable: true,
          class: "text-center"
        },
        {
          key: "numBags",
          label: "Quantity",
          sortable: true,
          class: "text-center"
        },
        {
          key: "ib_weight",
          label: "Inbound",
          sortable: true,
          sortDirection: "desc"
        },
        {
          sortable: true,
          sortByFormatted: true,
          filterByFormatted: true
        },
        { key: "actions", label: "Actions", class: "text-center" }
      ],

      totalRows: 1,
      currentPage: 1,
      perPage: 8,
      // pageOptions: [5, 10, 15],
      sortBy: "",
      sortDesc: false,
      sortDirection: "asc",
      filter: null,
      filterOn: [],
      infoModal: {
        id: "info-modal",
        title: "",
        content: ""
      },
      selectedSupplier: null,
      supplierList: [],
      supplierListData: [],
      supplierAddress: null,
      itemList: [],
      itemListData: [],
      selectedItem: null,
      selectedItemCode: null,
      editOthersTrns: {},
      uomList: [],
      uom: null,
      toUpdateId: null
    };
  },
  computed: {
    computedTransactions() {
      const pageSize = () => {
        return this.items.filter(item => {
          return this.selectedFilters.includes(this.convertCase(item.company));
        });
      };

      const pages = pageSize();
      this.totalRows = pages.length;
      return this.items.filter(item => {
        return this.selectedFilters.includes(this.convertCase(item.company));
      });
    },

    bottomLabel() {
      let end = this.perPage * this.currentPage;
      let start = end - this.perPage + 1;

      if (end > this.computedTransactions.length) {
        end = this.computedTransactions.length;
      }

      if (this.computedTransactions.length === 0) {
        start = 0;
      }

      return `Showing ${start} to ${end} of ${this.computedTransactions.length} entries`;
    },
    sortOptions() {
      // Create an options list from our fields
      return this.fields
        .filter(f => f.sortable)
        .map(f => {
          return { text: f.label, value: f.key };
        });
    }
  },
  watch: {
    selectedSupplier() {
      if (!this.selectedSupplier) this.supplierAddress = null; // if null; null address too
    },
    selectedItem() {
      if (!this.selectedItem) this.selectedItemCode = null; // if null; null address too
    }
  },
  mounted() {},
  methods: {
    highlightRow(item, type) {
      if (!item || type !== "row") return;
      if (item.status.toLowerCase() === "rejected") return "table-danger";
    },
    convertLowerCase(s) {
      if (s) return s.toLowerCase();
      return s;
    },

    // convert to pascal case
    convertCase(str) {
      if (str) {
        const splitStr = str.toLowerCase().split(" ");
        for (let i = 0; i < splitStr.length; i++) {
          splitStr[i] =
            splitStr[i].charAt(0).toUpperCase() + splitStr[i].substring(1);
        }
        return splitStr.join(" ");
      } else {
        return str;
      }
    },
    countDownChanged(dismissCountDown) {
      this.dismissCountDown = dismissCountDown;
    },
    showAlert() {
      this.dismissCountDown = this.dismissSecs;
    },
    countDownChangedErr(dismissCountDown) {
      this.dismissCountDownErr = dismissCountDown;
    },
    showAlertErr() {
      this.dismissCountDownErr = this.dismissSecs;
    },
    // modal update
    countDownChangedErrs(dismissCountDown) {
      this.dismissCountDownErrs = dismissCountDown;
    },
    showAlertErrs() {
      this.dismissCountDownErrs = this.dismissSecs;
    },
    formatDate(created_at) {
      return moment(created_at).format("MMM DD, YYYY hh:mm A");
    },

    info(item, index, button) {
      this.infoModal.title = `Row index: ${index}`;
      this.infoModal.content = JSON.stringify(item, null, 2);
      this.$root.$emit("bv::show::modal", this.infoModal.id, button);
    },

    redirect(row) {
      this.$router.push(`/transaction/${row.item.id}`);
    },

    onFiltered(filteredItems) {
      this.totalRows = filteredItems.length;
      this.currentPage = 1;
    },

    intToTime(i) {
      const str = i.toString();
      const len = str.length;

      let time = null;

      if (len == 4) {
        const hour = str.substring(0, 2);
        const min = str.substring(2, 4);
        time = `${hour}:${min}`;
        return time;
      } else if (len == 3) {
        const hour = str.substring(0, 1);
        const min = str.substring(1, 3);
        time = `0${hour}:${min}`;
        return time;
      } else {
        return `00:00`;
      }
    },
    commaSeparate(num) {
      if (num) {
        num = parseFloat(num).toFixed(2);
        const num_parts = num.toString().split(".");
        num_parts[0] = num_parts[0].replace(/\B(?=(\d{3})+(?!\d))/g, ",");
        const newNum = num_parts.join(".");
        return newNum;
      } else {
        return 0;
      }
    },
    async getTransactions() {
      try {
        this.items = [];
        this.selectedFilters = [];
        this.statusFilters = [];

        this.showLoading = true;
        const res = await axios({
          method: "POST",
          url: `${this.$axios.defaults.baseURL}/transactions/select`,
          headers: {
            authorization: `B1SESSION=${localStorage.session}`
          },
          data: {
            from: this.dateRange.date_from,
            to: this.dateRange.date_to,
            mode: 1,
            modules: JSON.parse(
              `[{"modules_id":"2","modulename":"transaction","modulestatus":"active","actions":[{"modules_id":"2","actions_id":"15","actionname":"view transactions","actionstatus":"active"},{"modules_id":"2","actions_id":"16","actionname":"edit transaction","actionstatus":"active"},{"modules_id":"2","actions_id":"30","actionname":"add transaction","actionstatus":"active"},{"modules_id":"2","actions_id":"39","actionname":"process transaction","actionstatus":"active"}]},{"modules_id":"3","modulename":"truck and driver","modulestatus":"active","actions":[{"modules_id":"3","actions_id":"17","actionname":"view truck types","actionstatus":"active"},{"modules_id":"3","actions_id":"18","actionname":"add truck type","actionstatus":"active"},{"modules_id":"3","actions_id":"19","actionname":"edit truck type","actionstatus":"active"},{"modules_id":"3","actions_id":"20","actionname":"view trucks","actionstatus":"active"},{"modules_id":"3","actions_id":"21","actionname":"add truck","actionstatus":"active"},{"modules_id":"3","actions_id":"22","actionname":"edit truck","actionstatus":"active"},{"modules_id":"3","actions_id":"23","actionname":"view drivers","actionstatus":"active"},{"modules_id":"3","actions_id":"24","actionname":"add driver","actionstatus":"active"},{"modules_id":"3","actions_id":"25","actionname":"edit driver","actionstatus":"active"}]},{"modules_id":"4","modulename":"report","modulestatus":"active","actions":[{"modules_id":"4","actions_id":"26","actionname":"view reports","actionstatus":"active"},{"modules_id":"4","actions_id":"32","actionname":"print reports","actionstatus":"active"}]},{"modules_id":"5","modulename":"request","modulestatus":"active","actions":[{"modules_id":"5","actions_id":"33","actionname":"add request","actionstatus":"active"},{"modules_id":"5","actions_id":"34","actionname":"view requests","actionstatus":"active"},{"modules_id":"5","actions_id":"37","actionname":"validate requests","actionstatus":"active"},{"modules_id":"5","actions_id":"38","actionname":"cancel requests","actionstatus":"active"}]}]`
            )
          }
        });
        this.showLoading = false;

        const status = res.status;

        if (status == 200) {
          const data = res.data.view;

          for (let i = 0; i < data.length; i++) {
            const e = data[i];
            // if role is document controller

            const created_at = e.created_at;
            const separete = created_at.split(" ");
            const date = separete[0]
              ? moment(separete[0]).format("YYYY-MM-DD")
              : "2020-01-01";
            const time = separete[1]
              ? this.intToTime(separete[1])
              : this.intToTime("0810");

            let qty = "0";
            if (e.numBags) qty = e.numBags;
            if (e.uom) qty += ` ${e.uom}`;

            let ttype = "N/A";
            if (e.company) ttype = this.convertCase(e.company);
            if (e.transaction_type)
              ttype += ` (${this.convertCase(e.transaction_type)})`;

            let company = "N/A";
            if (e.company) company = e.company;

            this.items.push({
              created_at: `${date} ${time}`,
              id: e.transaction_number,
              tracking_code: e.tracking_code
                ? e.tracking_code.toUpperCase()
                : "",
              transaction_type: ttype,
              plate_number: e.platenumber ? e.platenumber.toUpperCase() : "",
              supplier: e.supplier ? e.supplier : "",
              item: e.items ? e.items : "",
              numBags: qty,
              company,
              ib_weight: e.ibWeight ? this.commaSeparate(e.ibWeight) : 0,
              status: e.status,
              trnstype: e.transaction_type,
              driver: e.driver,
              uom: e.uom,
              qty: e.numBags
            });

            // push all status for filter
            if (!this.statusFilters.includes(this.convertCase(company))) {
              this.statusFilters.push(this.convertCase(company));
              this.selectedFilters.push(this.convertCase(company));
            }
          }
        }
      } catch (e) {
        this.showLoading = false;

        console.log("Error get all transactions: ", e);
      }
    },
    async fixTime(t) {
      try {
        const arr = t.split(":", 2);
        const raw = `${arr[0]}${arr[1]}`;
        const time = raw;
        return time;
      } catch (e) {
        console.log("Error: ", e);
      }
    },
    async saveTransaction(evt) {
      try {
        this.showLoading = true;
        const d = new Date().toDateString();
        const t = new Date().toTimeString();
        const date = moment(d).format("YYYY-MM-DD");
        const time = await this.fixTime(t);

        const data = {
          t_type: "others",
          truckscale_id: 1,
          driver_id: this.driver,
          truck_info_id: this.plateNumber,
          createdby: localStorage.id,
          created_date: date,
          created_time: time,
          mode: localStorage.mode,
          supplier: this.selectedSupplier,
          supplierAddress: this.supplierAddress,
          item: this.selectedItem,
          itemCode: this.selectedItemCode,
          uom: this.uom,
          numberOfBags: this.numberOfBags
        };

        const res = await axios({
          method: "POST",
          url: `${this.$axios.defaults.baseURL}/transactions/sqa`,
          data: {
            ...data
          }
        });

        this.showLoading = false;

        if (res.status == 201) {
          await this.getTransactions();
        }
      } catch (e) {
        console.log(e);
      }
    },

    async resetDate() {
      this.datePicker.startDate = moment().format("MMM DD, YYYY");
      this.datePicker.endDate = moment().format("MMM DD, YYYY");

      this.dateRange.date_from = moment(this.datePicker.startDate).format(
        "YYYY-MM-DD"
      );
      this.dateRange.date_to = moment(this.datePicker.endDate).format(
        "YYYY-MM-DD"
      );

      await this.getTransactions();
      this.totalRows = this.items.length;
    },
    async updateValues() {
      this.datePicker.startDate = moment(this.datePicker.startDate).format(
        "MMM DD, YYYY"
      );
      this.datePicker.endDate = moment(this.datePicker.endDate).format(
        "MMM DD, YYYY"
      );
      this.dateRange.date_from = moment(this.datePicker.startDate).format(
        "YYYY-MM-DD"
      );
      this.dateRange.date_to = moment(this.datePicker.endDate).format(
        "YYYY-MM-DD"
      );

      await this.getTransactions();
      this.totalRows = this.items.length;
    }
  },

  layout: "sidebar"
};
</script>

<style>
.reportrange-text[data-v-8cc9549e] {
  background: #fff;
  cursor: pointer;
  padding: 5px 10px;
  border: 1px solid #ccc;
  width: 100%;
  height: 2rem;
  font-size: 12px;
  text-align: center;
}
.daterangepicker.show-ranges .drp-calendar.left {
  position: relative;
  right: 8px;
}

.daterangepicker.show-ranges .drp-calendar.left {
  border-left: 0px solid #ddd;
}

.daterangepicker .ranges li.active {
  background-color: #28a745;
  color: #fff;
}
.daterangepicker td.active,
.daterangepicker td.active:hover {
  background-color: #28a745;
  border-color: transparent;
  color: #fff;
}

@media print {
  #printable {
    background-color: white;
    height: 100%;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    margin: 0;
    padding: 15px;
    font-size: 14px;
    line-height: 18px;
  }
}
html {
  background-color: #eee;
}

.color1 {
  color: #00803e;
}
.icon {
  margin-left: 5px;
  margin-right: 10px;
}
.button1 {
  background-color: #00803e;
  color: white;
}
.button2 {
  background-color: #ff6600;
  color: white;
}
.err {
  background-color: #f12d2d;
  color: white;
}
.color1 {
  color: #00803e;
}
.icon {
  margin-left: 5px;
  margin-right: 10px;
}
.fixed {
  position: fixed;
  bottom: 0%;
  right: 2%;
}
.page-item.active .page-link {
  background-color: #00a651 !important;
  border-color: #00a651 !important;
  transition: background-color 0.3s;
}
.page-item .page-link {
  color: black;
}
</style>
