<template>
  <div class="tabContent">
    <Loading v-if="showLoading" />

      <div id="div1" class="tabContent__tableContainer">
        <div class="tableHeader">
          <b-form-group class="searchbar">
            <b-input-group size="sm">
              <b-form-input
                style="font-size:13px"
                v-model="filter"
                type="search"
                id="inputSearch"
                class="searchbar no-outline"
                placeholder="Type to Search"
              ></b-form-input>
              <b-input-group-append>
                <b-button
                  id="buttonClearSearch"
                  :disabled="!filter"
                  @click="filter = ''"
                  >Clear</b-button
                >
              </b-input-group-append>
            </b-input-group>
          </b-form-group>
          <b-dropdown
            id="filterTruck"
            class="searchbar customFilter"
            style="float:right;"
            size="sm"
            right
          >
            <template #button-content>
              <i class="fas fa-filter"></i>
            </template>
            <b-dropdown-group id="trucktypechoice" header="Truck Type">
              <b-form-checkbox-group
                id="trucktype"
                size="sm"
                v-model="selectedFilters"
                class="ml-4"
              >
                <b-form-checkbox
                  size="sm"
                  :id="'choice' + index"
                  v-for="(item, index) in truckTypeFilters"
                  :key="index"
                  :value="item"
                  >{{ item }}</b-form-checkbox
                >
              </b-form-checkbox-group>
            </b-dropdown-group>
          </b-dropdown>
        </div>
          <!-- Main table element -->
          <b-table
            id="tableTruck"
            class="my-1"
            style="font-size:13px"
            show-empty
            small
            fixed
            scrollable
            selectable
            select-mode="single"
            ref="selectableTable"
            stacked="md"
            :busy="isbusy"
            :items="computedItems"
            :fields="fields"
            :current-page="currentPage"
            :per-page="perPage"
            :filter="filter"
            :filterIncludedFields="filterOn"
            :sort-by.sync="sortBy"
            :sort-desc.sync="sortDesc"
            :sort-direction="sortDirection"
            @filtered="onFiltered"
          >
            <template #table-busy>
              <div class="text-center text-secondary my-2">
                <b-spinner class="align-middle"></b-spinner>
                <strong>&nbsp;Loading...</strong>
              </div>
            </template>
            <template v-slot:cell(Actions)="row">
              {{ row.value.plate_number }} {{ row.value.truck_type }}
              {{ row.value.truck_model }}
              <button
                id="createDRm"
                class="editBtn"
                @click="openModal(row)"
                v-b-tooltip.hover
                title="Edit Truck"
              >
                <font-awesome-icon icon="edit" small class="editIcon" />
              </button>
            </template>
            <template v-slot:table-caption>
              <b-row align-h="end">
                <b-col cols="6">{{ bottomLabel }}</b-col>

                <b-col cols="6">
                  <b-pagination
                    id="pagination"
                    pills
                    v-model="currentPage"
                    :total-rows="totalRows"
                    :per-page="perPage"
                    align="right"
                    size="sm"
                  ></b-pagination>
                </b-col>
              </b-row>
            </template>
          </b-table>
          <b-modal
            header-bg-variant="success"
            header-text-variant="light"
            id="Truck"
            v-model="Truck"
            hide-header-close
            title="Update Truck"
          >
            <b-container fluid>
              <b-form-group
                id="plate_number"
                label="Plate Number:"
                label-for="input-2"
                style="font-size:13px"
              >
                <b-form-input
                  style="font-size:13px"
                  id="update_platenumber"
                  v-model="PlateNumberInputForUpdate"
                  required
                ></b-form-input>
              </b-form-group>

              <b-form-group
                id="truck_type"
                label="Truck Model:"
                label-for="input-2"
                style="font-size:13px"
              >
                <vue-bootstrap-typeahead
                  id="plateNumberFilters"
                  v-model="truckModelFilters"
                  :data="truckModelArray"
                  required
                  @hit="returnTruckModelIdUpdate()"
                  style="font-size:11px"
                  ref="plateNumberFilters"
                />
              </b-form-group>
            </b-container>

            <template v-slot:modal-footer>
              <div>
                <b-button
                  id="btnUpdateModal"
                  size="sm"
                  variant="success"
                  class="mr-2 greenBtn"
                  @click="updateTruckInfo"
                  >Save</b-button
                >
                <b-button
                  id="btnCloseModal"
                  @click="closeModal()"
                  variant="secondary"
                  class="greyBtn"
                  size="sm"
                  >Close</b-button
                >
              </div>
            </template>

            <!-- error msg -->
            <b-alert
              :show="dismissCountDownErrs"
              dismissible
              fade
              class="err fixed"
              @dismiss-count-down="countDownChangedErrs"
              >{{ errorMsg }}</b-alert
            >
          </b-modal>
      </div>
      <div class="tabContent__addingContainer">
        <b-card-text>
          <h5 class="color1">ADD NEW TRUCK</h5>
        </b-card-text>
        <hr />
        <b-form-group
          id="input-group-2"
          label="Plate Number:"
          label-for="input-2"
          style="font-size:13px"
        >
          <b-form-input
            style="font-size:13px"
            id="inputPlateNumber"
            v-model="plate_numbers"
            required
          ></b-form-input>
        </b-form-group>
        <!-- <b-form-group  
          id="truckModel"
          label="Truck Model"
          label-for="locations"
          style="text-align:left; font-size:13px"
        >
          <b-form-select
            id="plateNumberFilter"
            v-model="truckModalFilter"
            :options="truckModelArray"
            required
            @change="returnTruckModelId()"
            style="padding-left: 8px;font-size: 13px"
            ref="locations"
          ></b-form-select>
        </b-form-group> -->
        <b-form-group
          id="input-group-2"
          label="Truck Model:"
          label-for="input-2"
          style="font-size:13px"
        >
          <vue-bootstrap-typeahead
            id="plateNumberFilter"
            v-model="truckModelFilter"
            :data="truckModelArray"
            required
            @hit="returnTruckModelId()"
            style="font-size:11px"
            ref="plateNumberFilter"
          />
        </b-form-group>
        <div class="btnContainer">
          <b-button
            id="buttonAddTruck"
            size="sm"
            @click="addTruck"
            class="greenBtn mr-2"
            :disabled="isbusy"
            variant="success"
            style="font-size:13px"
            >Add</b-button
          >
          <b-button
            id="buttonClearTruck"
            @click="clearTruck()"
            size="sm"
            class="greyBtn"
            >Clear</b-button
          >
        </div>
      </div>
      <!-- <alert/> -->
      <!-- ALERT SUCCESSFUL -->
      <b-alert
        :show="dismissCountDown"
        dismissible
        fade
        class="button1 fixed"
        @dismiss-count-down="countDownChanged"
        >{{ successMsg }}</b-alert
      >
      <!-- error msg -->
      <b-alert
        :show="dismissCountDownErr"
        dismissible
        fade
        class="err fixed"
        @dismiss-count-down="countDownChangedErr"
        >{{ errorMsg }}</b-alert
      >
      <!-- ALERT SUCCESSFULL END -->
    </b-card-group>

  </div>
</template>

<script>
import axios from "axios";
import Loading from "~/components/LoadingOverlay/Loadings.vue";
import moment from "moment";
import VueBootstrapTypeahead from "vue-bootstrap-typeahead";

export default {
  components: {
    Loading,
    VueBootstrapTypeahead
  },
  async created() {
    await this.getTruckInfos();
    await this.getTruckTypes();
  },
  data() {
    return {
      truckModelFilters: null,
      truckModelFilter: null,
      truckModelArray: [],
      showLoading: false,
      isbusy: false,
      truckTypeFilters: [],
      selectedFilters: [],
      totalRows: 1,
      currentPage: 1,
      perPage: 12,
      indexForUpdate: null,
      PlateNumberInputForUpdate: null,
      successMsg: "",
      errorMsg: "",
      dismissCountDownErr: 0,
      dismissCountDownErrs: 0,
      dismissSecs: 3,
      dismissCountDown: 0,
      showDismissibleAlert: false,
      firstname: "",
      middlename: "",
      lastname: "",
      Truck: false,
      truck_model: null,
      plate_numbers: null,
      truck_model1: "",
      truck_type: "",
      // truck_type_list: ["Truck", "Pick-up"],
      truck_model_list: [],
      items: [
        // {
        //   plate_number: "RCI-1220",
        //   truck_type: "Pick-Up",
        //   truck_model: "Ford"
        // },
        // {
        //   plate_number: "ASD-0190",
        //   truck_type: "Truck",
        //   truck_model: "Isuzu Travis"
        // },
        // {
        //   plate_number: "RAD-0220",
        //   truck_type: "Pick-Up",
        //   truck_model: "BAIC Freedom"
        // },
        // {
        //   plate_number: "WEI-4320",
        //   truck_type: "Pick-Up",
        //   truck_model: "Ford Tornado"
        // },
        // {
        //   plate_number: "EWQ-0430",
        //   truck_type: "Pick-Up",
        //   truck_model: "Ford Ranger"
        // }
      ],
      fields: [
        {
          key: "plate_number",
          label: "Plate Number",
          sortable: true,
          sortDirection: "desc"
        },
        { key: "truck_type", label: "Truck Type", sortable: true },
        { key: "truck_model", label: "Truck Model", sortable: true },
        { key: "Actions", label: "Actions", class: "text-center" },
        {
          sortable: true,
          sortByFormatted: true,
          filterByFormatted: true
        }
        // { key: 'actions', label: 'Actions', class: 'text-center' }
      ],
      sortBy: "",
      sortDesc: false,
      sortDirection: "asc",
      filter: null,
      filterOn: [],
      infoModal: {
        id: "info-modal",
        title: "",
        content: ""
      }
    };
  },
  computed: {
    sortOptions() {
      // Create an options list from our fields
      return this.fields
        .filter(f => f.sortable)
        .map(f => {
          return { text: f.label, value: f.key };
        });
    },
    bottomLabel() {
      let end = this.perPage * this.currentPage;
      let start = end - this.perPage + 1;

      if (end > this.computedItems.length) {
        end = this.computedItems.length;
      }

      if (this.computedItems.length === 0) {
        start = 0;
      }

      return `Showing ${start} to ${end} of ${this.computedItems.length} entries`;
    },
    computedItems() {
      const pageSize = () => {
        return this.items.filter(item => {
          return this.selectedFilters.includes(item.truck_type);
        });
      };

      const pages = pageSize();
      this.totalRows = pages.length;

      return this.items.filter(item => {
        return this.selectedFilters.includes(item.truck_type);
      });
    }
  },
  mounted() {},
  methods: {
    async returnTruckModelIdUpdate() {
      try {
        const s = this.truckModelFilters;
        const data = this.truck_model_list;

        const getId = () => {
          for (let i = 0; i < data.length; i++) {
            const e = data[i];

            const value = e.value;
            const text = e.text;

            if (s.toLowerCase() == text.toLowerCase()) {
              return value;
            }
          }
        };

        const id = await getId();
        this.truck_model1 = id;
      } catch (e) {
        console.log("Error get plate number ID: ", e);
      }
    },
    async returnTruckModelId() {
      try {
        const s = this.truckModelFilter;
        const data = this.truck_model_list;

        const getId = () => {
          for (let i = 0; i < data.length; i++) {
            const e = data[i];

            const value = e.value;
            const text = e.text;

            if (s.toLowerCase() == text.toLowerCase()) {
              return value;
            }
          }
        };

        const id = await getId();
        this.truck_model = id;
      } catch (e) {
        console.log("Error get plate number ID: ", e);
      }
    },
    // convert to pascal case
    convertCase(str) {
      if (str) {
        const splitStr = str.toLowerCase().split(" ");
        for (let i = 0; i < splitStr.length; i++) {
          splitStr[i] =
            splitStr[i].charAt(0).toUpperCase() + splitStr[i].substring(1);
        }
        return splitStr.join(" ");
      } else {
        return str;
      }
    },
    async updateTruckInfo() {
      try {
        if (localStorage.mode == 1) {
          this.showLoading = true;
          this.isbusy = true;
          const d = new Date().toDateString();
          const t = new Date().toTimeString();
          const date = moment(d).format("YYYY-MM-DD");
          const time = await this.fixTime(t);

          const res = await axios({
            method: "PUT",
            url: `${this.$axios.defaults.baseURL}/truck-infos/update/${this.indexForUpdate}`,
            data: {
              U_TS_TRTYPE_ID: this.truck_model1,
              U_TS_PLATE_NUM: this.PlateNumberInputForUpdate,
              mode: localStorage.mode,
              U_TS_UPDATEDATE: date,
              U_TS_UPDATETIME: time,
              U_UPDATED_BY: localStorage.id,
              modules: JSON.parse(localStorage.modules)
            },
            headers: {
              authorization: `B1SESSION=${localStorage.session}`
            }
          });

          this.showLoading = false;
          this.isbusy = false;

          const status = res.data.patched.status;

          if (status == 204) {
            // success
            this.getTruckInfos();
            this.Truck = false;
            this.successMsg = "Updated successfully.";
            this.showAlert();
          } else {
            // bad request
            this.errorMsg = `${res.data.patched.msg}, please try again.`;
            this.showAlertErrs();
          }
        } else {
          const res = await axios({
            method: "PUT",
            url: `${this.$axios.defaults.baseURL}/truck-infos/update/${this.indexForUpdate}`,
            data: {
              truck_type_id: this.truck_model1,
              plate_number: this.PlateNumberInputForUpdate
            },
            headers: {
              authorization: "Bearer " + localStorage.token
            }
          });

          if (res.status === 200) {
            this.getTruckInfos();
            this.Truck = false;
            this.successMsg = res.data.patched.msg;
            this.showAlert();
          }
        }
      } catch (e) {
        if (localStorage.mode == 1) {
          this.showLoading = false;
          this.isbusy = false;
          try {
            // JSON error
            const err = JSON.parse(e.response.data.error);
            this.errorMsg = err.msg;
            this.showAlertErrs();
          } catch (er) {
            // not JSON
            this.errorMsg = e.response.data.error;
            this.showAlertErrs();
          }
        }
      }
    },
    countDownChanged(dismissCountDown) {
      this.dismissCountDown = dismissCountDown;
    },
    showAlert() {
      this.dismissCountDown = this.dismissSecs;
    },
    countDownChangedErr(dismissCountDown) {
      this.dismissCountDownErr = dismissCountDown;
    },
    showAlertErr() {
      this.dismissCountDownErr = this.dismissSecs;
    },
    // modal update
    countDownChangedErrs(dismissCountDown) {
      this.dismissCountDownErrs = dismissCountDown;
    },
    showAlertErrs() {
      this.dismissCountDownErrs = this.dismissSecs;
    },
    async getTruckInfos() {
      try {
        this.items = [];

        if (localStorage.mode == 1) {
          // this.showLoading = true;
          this.isbusy = true;
          const res = await axios({
            method: "POST",
            url: `${this.$axios.defaults.baseURL}/truck-infos/select`,
            headers: {
              "Content-Type": "application/json",
              "X-HTTP-Method-Override": "GET",
              authorization: `B1SESSION=${localStorage.session}`
            },
            data: {
              mode: localStorage.mode,
              modules: JSON.parse(localStorage.modules)
            }
          });
          this.showLoading = false;
          this.isbusy = false;

          const status = res.status;
          if (status == 200) {
            if (res.data.view.status) {
              // invalid session
              if (res.data.view.status == 401) {
                this.errorMsg = "Expired session, please login again.";
                this.showAlertErr();
              }
            } else {
              const data = res.data.view;
              for (let i = 0; i < data.length; i++) {
                const e = data[i];

                this.items.push({
                  id: e.U_BFI_TS_TRINFO.Code,
                  plate_number: e.U_BFI_TS_TRINFO.U_TS_PLATE_NUM.toUpperCase(),
                  truck_type: this.convertCase(e.U_BFI_TS_TRTYPE.U_TS_TRTYPE),
                  truck_model: this.convertCase(e.U_BFI_TS_TRTYPE.U_TS_TRMODEL),
                  truck_type_id: e.U_BFI_TS_TRTYPE.Code
                });

                if (
                  !this.truckTypeFilters.includes(
                    this.convertCase(e.U_BFI_TS_TRTYPE.U_TS_TRTYPE)
                  )
                ) {
                  this.truckTypeFilters.push(
                    this.convertCase(e.U_BFI_TS_TRTYPE.U_TS_TRTYPE)
                  );
                  this.selectedFilters.push(
                    this.convertCase(e.U_BFI_TS_TRTYPE.U_TS_TRTYPE)
                  );
                }
              }
            }
          }
        } else {
          await axios({
            method: "GET",
            url: `${this.$axios.defaults.baseURL}/truck-infos/select`,
            headers: {
              authorization: "Bearer " + localStorage.token
            }
          })
            .then(res => {
              for (let i = 0; res.data.view.length; i++) {
                this.items.push({
                  id: res.data.view[i].truckinfo_id,
                  plate_number: res.data.view[i].plate_number,
                  truck_type: res.data.view[i].truckType[0].truck_type,
                  truck_model: res.data.view[i].truckType[0].truck_model,
                  truck_type_id: res.data.view[i].truckType[0].id
                });

                if (
                  !this.truckTypeFilters.includes(
                    res.data.view[i].truckType[0].truck_type
                  )
                ) {
                  this.truckTypeFilters.push(
                    res.data.view[i].truckType[0].truck_type
                  );
                  this.selectedFilters.push(
                    res.data.view[i].truckType[0].truck_type
                  );
                }
              }
            })
            .catch(error => {});
        }
      } catch (e) {
        this.showLoading = false;
        this.isbusy = false;
      }
    },
    async getTruckTypes() {
      try {
        if (localStorage.mode == 1) {
          // this.showLoading = true;
          this.isbusy = true;

          const res = await axios({
            method: "POST",
            url: `${this.$axios.defaults.baseURL}/truck-types/select`,
            headers: {
              "Content-Type": "application/json",
              "X-HTTP-Method-Override": "GET",
              authorization: `B1SESSION=${localStorage.session}`
            },
            data: {
              mode: localStorage.mode,
              modules: JSON.parse(localStorage.modules)
            }
          });
          this.showLoading = false;
          this.isbusy = false;

          if (res.status == 200) {
            if (res.data.view.status) {
              if (res.data.view.status == 401) {
                this.errorMsg = "Expired session, please login again.";
                this.showAlertErr();
              }
            } else {
              const data = res.data.view;
              console.log("🚀 ~ file: truck.vue ~ line 717 ~ getTruckTypes ~ data", data)

              for (let i = 0; i < data.length; i++) {
                const e = data[i];

                this.truck_model_list.push({
                  value: e.Code,
                  text: this.convertCase(e.U_TS_TRMODEL)
                });

                this.truckModelArray.push(this.convertCase(e.U_TS_TRMODEL));
              }
            }
          }
        } else {
          await axios({
            method: "GET",
            url: `${this.$axios.defaults.baseURL}/truck-types/select`,
            headers: {
              authorization: "Bearer " + localStorage.token
            }
          })
            .then(res => {
              for (let i = 0; res.data.view.length; i++) {
                this.truck_model_list.push({
                  value: res.data.view[i].id,
                  text: res.data.view[i].truck_model
                });
              }
            })
            .catch(error => {});
        }
      } catch (e) {
        this.showLoading = false;
        this.isbusy = false;
      }
    },
    async openModal(row) {
      this.$refs.selectableTable.selectRow(row.index)
      this.Truck = true;
      this.indexForUpdate = row.item.id;
      this.PlateNumberInputForUpdate = row.item.plate_number;
      this.truck_model1 = row.item.truck_type_id;
      this.$refs.plateNumberFilters.inputValue = await row.item.truck_model;
      this.truckModelFilters = row.item.truck_model;
    },
    closeModal() {
      this.TruckNameInputForUpdate = null;
      this.indexForUpdate = null;
      this.selectedUpdate = null;
      this.$refs.plateNumberFilters.inputValue = "";
      this.selected = [];
      this.Truck = false;
    },

    async addTruck() {
      try {
        if (localStorage.mode == 1) {
          this.showLoading = true;
          this.isbusy = true;

          const d = new Date().toDateString();
          const t = new Date().toTimeString();
          const date = moment(d).format("YYYY-MM-DD");
          const time = await this.fixTime(t);

          const res = await axios({
            method: "POST",
            url: `${this.$axios.defaults.baseURL}/truck-infos/add`,
            data: {
              U_TS_TRTYPE_ID: this.truck_model,
              U_TS_PLATE_NUM: this.plate_numbers,
              U_TS_CREATEDATE: date,
              U_TS_CREATETIME: time,
              U_TS_UPDATEDATE: date,
              U_TS_UPDATETIME: time,
              U_CREATED_BY: localStorage.id,
              U_UPDATED_BY: localStorage.id,
              mode: localStorage.mode,
              modules: JSON.parse(localStorage.modules)
            },
            headers: {
              authorization: `B1SESSION=${localStorage.session}`
            }
          });
          this.showLoading = false;
          this.isbusy = false;
          const status = res.status;
          if (status == 201) {
            this.getTruckInfos();
            this.successMsg = "Added successfully.";
            this.clearTruck();
            this.showAlert();
          }
        } else {
          const res = await axios({
            method: "POST",
            url: `${this.$axios.defaults.baseURL}/truck-infos/add`,
            data: {
              users_id: localStorage.id,
              truck_type_id: this.truck_model,
              plate_number: this.plate_numbers
            },
            headers: {
              authorization: "Bearer " + localStorage.token
            }
          });
          // .then(res => {
          //   console.log(res);
          //   if (res.status === 201) {
          this.getTruckInfos();
          this.successMsg = res.data.posted.msg;
          this.clearTruck();
          this.showAlert();
        }
      } catch (e) {
        if (localStorage.mode == 1) {
          this.showLoading = false;
          this.isbusy = false;
          try {
            // JSON error
            const err = JSON.parse(e.response.data.error);
            this.errorMsg = err.msg;
            this.showAlertErr();
          } catch (er) {
            // not JSON
            this.errorMsg = e.response.data.error;
            this.showAlertErr();
          }
        } else {
          console.log("Error: ", e.response.data.error);
          this.errorMsg = e.response.data.error;
          this.showAlertErr();
        }
      }
    },
    async fixTime(t) {
      try {
        const arr = t.split(":", 2);
        const raw = `${arr[0]}${arr[1]}`;
        const time = raw;
        return time;
      } catch (e) {
        console.log("Error: ", e);
      }
    },
    clearTruck() {
      this.plate_numbers = null;
      this.truckModelFilter = "";
      this.truck_model = null;
      this.$refs.plateNumberFilter.inputValue = "";
    },
    countDownChanged(dismissCountDown) {
      this.dismissCountDown = dismissCountDown;
    },
    showAlert() {
      this.dismissCountDown = this.dismissSecs;
    },

    onFiltered(filteredItems) {
      // Trigger pagination to update the number of buttons/pages due to filtering
      this.totalRows = filteredItems.length;
      this.currentPage = 1;
    }
  },
  watch: {
    truckModelFilters() {
      if (!this.truckModelFilters) this.truck_model1 = null;
    }
  },
  layout: "sidebar"
};
</script>

<style scoped>
.button1 {
  background-color: #00803e;
  color: white;
}
.color1 {
  color: #00803e;
}
.icon {
  margin-left: 5px;
  margin-right: 10px;
}
.fixed {
  position: fixed;
  bottom: 0%;
  right: 2%;
}
.button1 {
  background-color: #00803e;
  color: white;
}
.err {
  background-color: #f12d2d;
  color: white;
}
.color1 {
  color: #00803e;
}
.icon {
  margin-left: 0%;
  margin-right: 1%;
}
.fixed {
  position: fixed;
  bottom: 0%;
  right: 2%;
}
.page-item.active .page-link {
  background-color: #00a651 !important;
  border-color: #00a651 !important;
  transition: background-color 0.3s;
}
.page-item .page-link {
  color: black;
}
#inputSearch {
  height: 31px;
}
</style>
