<template>
  <div class="tabContent">
    <Loading v-if="showLoading" />

    <div class="tabContent__tableContainer">
      <div class="tableHeader">
        <!-- #region modal -->
        <b-modal
          header-text-variant="light"
          header-bg-variant="success"
          id="TruckType"
          v-model="truckTypeModal"
          title="Update Truck Type"
          hide-header-close
          size="m"
        >
          <b-container fluid>
            <b-form-group
              id="truckType_inputgroup"
              label="Truck Type: "
              style="font-size:13px"
            >
              <b-form-input
                style="font-size:13px"
                id="truckType_input"
                v-model="uTruckType"
                required
              ></b-form-input>
            </b-form-group>

            <b-form-group
              id="truckModel_inputgroup"
              label="Truck Model: "
              style="font-size:13px"
            >
              <b-form-input
                style="font-size:13px"
                id="truckModel_input"
                v-model="uTruckModel"
                required
              ></b-form-input>
            </b-form-group>

            <b-form-group
              id="truckSize_inputgroup"
              label="Truck Size: "
              style="font-size:13px"
            >
              <b-form-input
                style="font-size:13px"
                id="truckSize_input"
                v-model="uTruckSize"
                type="number"
                required
              ></b-form-input>
            </b-form-group>
          </b-container>

          <template v-slot:modal-footer>
            <div>
              <b-button
                id="btnUpdateModal"
                size="sm"
                variant="success"
                class="mr-2 greenBtn"
                @click="updateTruckType"
                >Save</b-button
              >
              <b-button
                id="btnCloseModal"
                @click="closeModal()"
                variant="secondary"
                class="greyBtn"
                size="sm"
                >Close</b-button
              >
            </div>
          </template>

          <!-- err msg -->
          <b-alert
            :show="dismissCountDownErrs"
            dismissible
            fade
            class="err fixed"
            @dismiss-count-down="countDownChangedErrs"
            >{{ errorMsg }}</b-alert
          >
        </b-modal>
        <!-- #endregion -->
          <b-form-group class="searchbar">
            <b-input-group size="sm">
              <b-form-input
                style="font-size:13px"
                v-model="filter"
                type="search"
                id="searchInput"
                class="searchbar no-outline"
                label-align-sm="left"
                placeholder="Type to Search"
              ></b-form-input>
              <b-input-group-append>
                <b-button id="clear" :disabled="!filter" @click="filter = ''"
                  >Clear</b-button
                >
              </b-input-group-append>
            </b-input-group>
          </b-form-group>
            <b-dropdown
              id="filterTruck"
              class="searchbar customFilter"
              style="float: right;"
              size="sm"
              right
            >
              <template #button-content>
                <i class="fas fa-filter"></i>
              </template>
              <b-dropdown-group id="trucktypechoice" header="Truck Type">
                <b-form-checkbox-group
                  id="trucktype"
                  size="sm"
                  v-model="selectedFilters"
                  class="ml-4"
                >
                  <b-form-checkbox
                    size="sm"
                    :id="'choices' + index"
                    v-for="(item, index) in truckTypeFilters"
                    :key="index"
                    :value="item"
                    >{{ item }}</b-form-checkbox
                  >
                </b-form-checkbox-group>
              </b-dropdown-group>
            </b-dropdown>
          </div>

          <!-- Main table element -->
          <b-table
            id="table"
            class="my-1"
            style="font-size:13px"
            show-empty
            small
            fixed
            scrollable
            stacked="md"
            selectable
            select-mode="single"
            ref="selectableTable"
            :busy="isbusy"
            :items="computedItems"
            :fields="fields"
            :current-page="currentPage"
            :per-page="perPage"
            :filter="filter"
            :filterIncludedFields="filterOn"
            :sort-by.sync="sortBy"
            :sort-desc.sync="sortDesc"
            :sort-direction="sortDirection"
            @filtered="onFiltered"
          >
            <template #table-busy>
              <div class="text-center text-secondary my-2">
                <b-spinner class="align-middle"></b-spinner>
                <strong>&nbsp;Loading...</strong>
              </div>
            </template>
            <template v-slot:cell(actions)="row">
              <button
                id="createDRm"
                class="editBtn"
                @click="openModal(row)"
                v-b-tooltip.hover
                title="Edit Truck Type"
              >
                <font-awesome-icon icon="edit" small class="editIcon" />
              </button>
            </template>
            <template v-slot:table-caption>
              <b-row align-h="end">
                <b-col cols="6">{{ bottomLabel }}</b-col>

                <b-col cols="6">
                  <b-pagination
                    id="pagination"
                    pills
                    v-model="currentPage"
                    :total-rows="totalRows"
                    :per-page="perPage"
                    align="right"
                    size="sm"
                  ></b-pagination>
                </b-col>
              </b-row>
            </template>
          </b-table>
        </b-row>
      </div>
      <div class="tabContent__addingContainer">
        <b-card-text>
          <h5 class="color1">ADD NEW TRUCK TYPE</h5>
        </b-card-text>
        <hr />
        <b-form-group
          id="truck_type"
          label="Truck Type"
          label-for="input-2"
          style="font-size:13px"
        >
          <b-form-input
            id="inputTruckType"
            style="font-size:13px"
            v-model="truck_type"
            required
          ></b-form-input>
        </b-form-group>
        <b-form-group
          id="truck_model"
          label="Truck Model"
          label-for="input-2"
          style="font-size:13px"
        >
          <b-form-input
            id="inputTruckModel"
            style="font-size:13px"
            v-model="truck_model"
            required
          ></b-form-input>
        </b-form-group>
        <b-form-group
          id="Truck_Size"
          label="Truck Size in meters"
          label-for="input-2"
          style="font-size:13px"
        >
          <b-form-input
            style="font-size:13px"
            type="number"
            id="inputTruckSize"
            v-model="truck_size"
            required
          ></b-form-input>
        </b-form-group>

        <div class="btnContainer">
          <b-button
            id="buttontAddTruckType"
            @click="addTruckType"
            :disabled="isbusy"
            class="greenBtn mr-2"
            variant="success"
            style="font-size:13px"
            >Add</b-button
          >
          <b-button
            id="buttonClear"
            @click="clearTruck()"
            class="greyBtn"
            style="font-size:13px"
            >Clear</b-button
          >
        </div>
      </div>
      <!-- <alert/> -->
      <!-- ALERT SUCCESSFUL -->
      <b-alert
        :show="dismissCountDown"
        dismissible
        fade
        class="button1 fixed"
        @dismiss-count-down="countDownChanged"
        >{{ successMsg }}</b-alert
      >
      <!-- error msg -->
      <b-alert
        :show="dismissCountDownErr"
        dismissible
        fade
        class="err fixed"
        @dismiss-count-down="countDownChangedErr"
        >{{ errorMsg }}</b-alert
      >
      <!-- ALERT SUCCESSFULL END -->
    </div>

  </div>
</template>

<script>
import axios from "axios";
import Loading from "~/components/LoadingOverlay/Loadings.vue";
import moment from "moment";
export default {
  components: {
    Loading
  },
  async created() {
    await this.getTruckTypes();
  },
  data() {
    return {
      showLoading: false,
      isbusy: true,
      truckTypeFilters: [],
      selectedFilters: [],
      indexForUpdate: null,
      uTruckModel: null,
      uTruckSize: null,
      uTruckType: null,
      truckTypeModal: false,
      totalRows: 1,
      currentPage: 1,
      perPage: 12,
      successMsg: "",
      errorMsg: "",
      dismissCountDownErr: 0,
      dismissCountDownErrs: 0,
      dismissSecs: 3,
      dismissCountDown: 0,
      showDismissibleAlert: false,
      firstname: "",
      middlename: "",
      lastname: "",
      modalShow: false,

      truck_model: null,
      truck_type: null,
      truck_size: null,

      //   truck_type_list: ["Truck", "Pick-up"],
      //   truck_model_list: ["Ford Ranger", "Isuzu Travis", "BAIC Freedom"],
      items: [],
      fields: [
        {
          key: "truck_type",
          label: "Truck Type",
          sortable: true,
          sortDirection: "desc"
        },
        { key: "truck_model", label: "Truck Model", sortable: true },
        { key: "truck_size", label: "Truck Size", sortable: true },
        {
          sortable: true,
          sortByFormatted: true,
          filterByFormatted: true
        },
        { key: "actions", label: "Actions", class: "text-center" }
      ],
      sortBy: "",
      sortDesc: false,
      sortDirection: "asc",
      filter: null,
      filterOn: [],
      infoModal: {
        id: "info-modal",
        title: "",
        content: ""
      }
    };
  },
  computed: {
    sortOptions() {
      // Create an options list from our fields
      return this.fields
        .filter(f => f.sortable)
        .map(f => {
          return { text: f.label, value: f.key };
        });
    },
    bottomLabel() {
      let end = this.perPage * this.currentPage;
      let start = end - this.perPage + 1;

      if (end > this.computedItems.length) {
        end = this.computedItems.length;
      }

      if (this.computedItems.length === 0) {
        start = 0;
      }

      return `Showing ${start} to ${end} of ${this.computedItems.length} entries`;
    },

    computedItems() {
      const pageSize = () => {
        return this.items.filter(item => {
          return this.selectedFilters.includes(item.truck_type);
        });
      };

      const pages = pageSize();
      this.totalRows = pages.length;

      return this.items.filter(item => {
        return this.selectedFilters.includes(item.truck_type);
      });
    }
  },
  mounted() {
    // Set the initial number of items
    // this.totalRows = this.items.length;
  },
  methods: {
    // convert to pascal case
    convertCase(str) {
      if (str) {
        const splitStr = str.toLowerCase().split(" ");
        for (let i = 0; i < splitStr.length; i++) {
          splitStr[i] =
            splitStr[i].charAt(0).toUpperCase() + splitStr[i].substring(1);
        }
        return splitStr.join(" ");
      } else {
        return str;
      }
    },
    async fixTime(t) {
      try {
        const arr = t.split(":", 2);
        const raw = `${arr[0]}${arr[1]}`;
        const time = raw;
        return time;
      } catch (e) {
        console.log("Error: ", e);
      }
    },
    async updateTruckType() {
      try {
        if (localStorage.mode == 1) {
          this.showLoading = true;
          this.isbusy = true;
          const d = new Date().toDateString();
          const t = new Date().toTimeString();
          const date = moment(d).format("YYYY-MM-DD");
          const time = await this.fixTime(t);

          const res = await axios({
            method: "PUT",
            url: `${this.$axios.defaults.baseURL}/truck-types/update/${this.indexForUpdate}`,
            data: {
              U_TS_TRTYPE: this.uTruckType,
              U_TS_TRMODEL: this.uTruckModel,
              U_TS_TRSIZE: this.uTruckSize,
              mode: localStorage.mode,
              U_TS_UPDATEDATE: date,
              U_TS_UPDATETIME: time,
              U_UPDATED_BY: localStorage.id,
              modules: JSON.parse(localStorage.modules)
            },
            headers: {
              authorization: `B1SESSION=${localStorage.session}`
            }
          });

          this.showLoading = false;
          const status = res.data.patched.status;

          if (status == 204) {
            // success
            this.getTruckTypes();
            this.Truck = false;
            this.successMsg = "Updated successfully.";
            this.showAlert();
            this.closeModal();
            this.isbusy = false;
          } else {
            // bad request
            this.errorMsg = `${res.data.patched.msg}, please try again.`;
            this.showAlertErrs();
          }
        } else {
          const res = await axios({
            method: "PUT",
            url: `${this.$axios.defaults.baseURL}/truck-types/update/${this.indexForUpdate}`,
            data: {
              truck_type: this.uTruckType,
              truck_model: this.uTruckModel,
              truck_size: this.uTruckSize
            },
            headers: {
              authorization: "Bearer " + localStorage.token
            }
          });

          if (res.status === 200) {
            this.getTruckTypes();

            this.truckTypeModal = false;
            this.successMsg = res.data.patched.msg;
            this.showAlert();
          }
        }
      } catch (e) {
        if (localStorage.mode == 1) {
          this.showLoading = false;
          this.isbusy = false;
          try {
            const err = JSON.parse(e.response.data.error);
            this.errorMsg = err.msg;
            this.showAlertErrs();
          } catch (er) {
            // not a JSON err
            const err = e.response.data.error;
            this.errorMsg = err;
            this.showAlertErrs();
          }
        }
      }
    },

    openModal(row) {
      this.$refs.selectableTable.selectRow(row.index)
      this.indexForUpdate = row.item.id;
      this.uTruckModel = row.item.truck_model;
      this.uTruckSize = row.item.truck_size;
      this.uTruckType = row.item.truck_type;

      this.truckTypeModal = true;
    },

    countDownChanged(dismissCountDown) {
      this.dismissCountDown = dismissCountDown;
    },
    showAlert() {
      this.dismissCountDown = this.dismissSecs;
    },
    countDownChangedErr(dismissCountDown) {
      this.dismissCountDownErr = dismissCountDown;
    },
    showAlertErr() {
      this.dismissCountDownErr = this.dismissSecs;
    },
    // modal update
    countDownChangedErrs(dismissCountDown) {
      this.dismissCountDownErrs = dismissCountDown;
    },
    showAlertErrs() {
      this.dismissCountDownErrs = this.dismissSecs;
    },

    async addTruckType() {
      try {
        if (localStorage.mode == 1) {
          this.showLoading = true;
          this.isbusy = true;
          const d = new Date().toDateString();
          const t = new Date().toTimeString();
          const date = moment(d).format("YYYY-MM-DD");
          const time = await this.fixTime(t);

          const res = await axios({
            method: "POST",
            url: `${this.$axios.defaults.baseURL}/truck-types/add`,
            data: {
              U_TS_TRTYPE: this.truck_type,
              U_TS_TRMODEL: this.truck_model,
              U_TS_TRSIZE: this.truck_size,
              U_TS_CREATEDATE: date,
              U_TS_CREATETIME: time,
              U_TS_UPDATEDATE: date,
              U_TS_UPDATETIME: time,
              U_CREATED_BY: localStorage.id,
              U_UPDATED_BY: localStorage.id,
              mode: localStorage.mode,
              modules: JSON.parse(localStorage.modules)
            },
            headers: {
              authorization: `B1SESSION=${localStorage.session}`
            }
          });

          this.showLoading = false;
          this.isbusy = false;
          const status = res.data.posted.status;
          if (status === 201) {
            this.successMsg = "Added successfully.";
            this.clearTruck();
            this.getTruckTypes();
            this.showAlert();
          }
        } else {
          const res = await axios({
            method: "POST",
            url: `${this.$axios.defaults.baseURL}/truck-types/add`,
            data: {
              truck_type: this.truck_type,
              truck_model: this.truck_model,
              truck_size: this.truck_size,
              users_id: localStorage.id
            },
            headers: {
              authorization: "Bearer " + localStorage.token
            }
          });

          if (res.status === 201) {
            this.successMsg = res.data.posted.msg;
            this.clearTruck();
            this.getTruckTypes();
            this.showAlert();
          }
        }
      } catch (e) {
        if (localStorage.mode == 1) {
          this.showLoading = false;
          this.isbusy = false;
          try {
            const err = JSON.parse(e.response.data.error);
            this.errorMsg = err.msg;
            this.showAlertErr();
          } catch (er) {
            // not a JSON err
            const err = e.response.data.error;
            this.errorMsg = err;
            this.showAlertErr();
          }
        } else {
          console.log("Error: ", e.response.data.error);
          this.errorMsg = e.response.data.error;
          this.showAlertErr();
        }
      }
    },

    async getTruckTypes() {
      try {
        // this.showLoading = true;
        this.isbusy = true;
        this.items = [];

        if (localStorage.mode == 1) {
          const res = await axios({
            method: "POST",
            url: `${this.$axios.defaults.baseURL}/truck-types/select`,
            headers: {
              "Content-Type": "application/json",
              "X-HTTP-Method-Override": "GET",
              authorization: `B1SESSION=${localStorage.session}`
            },
            data: {
              mode: localStorage.mode,
              modules: JSON.parse(localStorage.modules)
            }
          });

          this.showLoading = false;
          this.isbusy = false;
          const status = res.status;

          if (status == 200) {
            const data = res.data.view;
            for (let i = 0; i < data.length; i++) {
              const e = data[i];

              this.items.push({
                id: e.Code,
                truck_type: this.convertCase(e.U_TS_TRTYPE),
                truck_model: this.convertCase(e.U_TS_TRMODEL),
                truck_size: e.U_TS_TRSIZE
              });

              if (
                !this.truckTypeFilters.includes(this.convertCase(e.U_TS_TRTYPE))
              ) {
                this.truckTypeFilters.push(this.convertCase(e.U_TS_TRTYPE));
                this.selectedFilters.push(this.convertCase(e.U_TS_TRTYPE));
              }
            }
          }
        } else {
          const res = await axios({
            method: "GET",
            url: `${this.$axios.defaults.baseURL}/truck-types/select`,
            headers: {
              authorization: "Bearer " + localStorage.token
            }
          });

          if (res.status === 200) {
            for (let i = 0; i < res.data.view.length; i++) {
              this.items.push({
                id: res.data.view[i].id,
                truck_type: res.data.view[i].truck_type,
                truck_model: res.data.view[i].truck_model,
                truck_size: res.data.view[i].truck_size
              });

              if (
                !this.truckTypeFilters.includes(res.data.view[i].truck_type)
              ) {
                this.truckTypeFilters.push(res.data.view[i].truck_type);
                this.selectedFilters.push(res.data.view[i].truck_type);
              }
            }
          }
        }
      } catch (e) {
        if (localStorage.mode == 1) {
          this.showLoading = false;
          this.isbusy = false;
        }
      }
    },
    closeModal() {
      this.TruckNameInputForUpdate = null;
      this.indexForUpdate = null;
      this.selectedUpdate = null;
      this.selected = [];
      this.truckTypeModal = false;
    },

    clearTruck() {
      this.truck_type = "";
      this.truck_model = "";
      this.truck_size = "";
    },

    onFiltered(filteredItems) {
      // Trigger pagination to update the number of buttons/pages due to filtering
      this.totalRows = filteredItems.length;
      this.currentPage = 1;
    }
  },

  layout: "sidebar"
};
</script>

<style scoped>
.button1 {
  background-color: #00803e;
  color: white;
}
.color1 {
  color: #00803e;
}
.icon {
  margin-left: 5px;
  margin-right: 10px;
}
.fixed {
  position: fixed;
  bottom: 0%;
  right: 2%;
}
.err {
  background-color: #f12d2d;
  color: white;
}
.color1 {
  color: #00803e;
}
.icon {
  margin-left: 0%;
  margin-right: 1%;
}
.fixed {
  position: fixed;
  bottom: 0%;
  right: 2%;
}
.page-item.active .page-link {
  background-color: #00a651 !important;
  border-color: #00a651 !important;
  transition: background-color 0.3s;
}
.page-item .page-link {
  color: black;
}
#searchInput {
  height: 31px;
}
</style>
