<template>
  <div id="app">
    <Loading v-if="showLoading" />
    <div class="tableHeader">
      <b-form-group style="font-size: 13px" class="searchbar" label-size="sm">
        <b-input-group size="sm">
          <b-form-input
            style="font-size: 13px"
            type="search"
            id="inputSearch"
            class="searchbar no-outline"
            placeholder="Type to Search"
            v-model="filter"
          ></b-form-input>
          <b-input-group-append>
            <b-button
              id="buttonClearSearch"
              :disabled="!filter"
              @click="filter = ''"
              >Clear</b-button
            >
          </b-input-group-append>
        </b-input-group>
      </b-form-group>

      <b-button
        id="show-btn"
        style="font-size: 13px;  height: 2rem;"
        class="ml-4 greenBtn"
        variant="success"
        :disabled="isbusy"
        @click="$bvModal.show('bv-modal-example')"
      >
        <font-awesome-icon icon="plus" small /> Add Location
      </b-button>
    </div>
    <b-table
      id="table"
      class="my-1"
      style="font-size: 13px"
      show-empty
      small
      fixed
      scrollable
      stacked="md"
      selectable
      select-mode="single"
      ref="selectableTable"
      :busy="isbusy"
      :items="items"
      :fields="fields"
      :current-page="currentPage"
      :per-page="perPage"
      :filter="filter"
      :filterIncludedFields="filterOn"
      :sort-by.sync="sortBy"
      :sort-desc.sync="sortDesc"
      :sort-direction="sortDirection"
      @filtered="onFiltered"
    >
      <template #table-busy>
        <div class="text-center text-secondary my-2">
          <b-spinner class="align-middle"></b-spinner>
          <strong>&nbsp;Loading...</strong>
        </div>
      </template>
      <!-- action -->
      <template v-slot:cell(actions)="row">
        <button
          id="createDRm"
          class="editBtn"
          @click="editLocation(row)"
          v-b-tooltip.hover
          title="Edit Location"
        >
          <font-awesome-icon icon="edit" small class="editIcon" />
        </button>
      </template>

      <!-- label -->
      <template v-slot:table-caption>
        <b-row align-h="end">
          <b-col cols="6">{{ bottomLabel }}</b-col>

          <b-col cols="6">
            <b-pagination
              id="pagination"
              pills
              v-model="currentPage"
              :total-rows="totalRows"
              :per-page="perPage"
              align="right"
              size="sm"
            ></b-pagination>
          </b-col>
        </b-row>
      </template>
      <template v-slot:cell(status)="row">
        <div class="badge-font-size" v-if="row.item.status !== 'Inactive'">
          <b-badge pill block variant="success" style="font-size: 10px">{{
            row.item.status
          }}</b-badge>
        </div>
        <div class="badge-font-size" v-else>
          <b-badge pill block variant="danger" style="font-size: 10px">{{
            row.item.status
          }}</b-badge>
          <!-- display for outbound; but status in db is rejected -->
        </div>
      </template>
    </b-table>
    <!-- </b-card> -->

    <!-- modal add location -->
    <b-modal
      id="bv-modal-example"
      hide-footer
      no-close-on-backdrop
      header-bg-variant="success"
      header-text-variant="light"
      @close="closeAddLocation"
    >
      <template v-slot:modal-title>Add Location</template>
      <div class="d-block text-center">
        <div>
          <b-form id="locationAdd" @submit="locationAdd">
            <b-form-group
              label="Location"
              style="text-align: left; font-size: 13px"
              id="input-group-3"
              label-for="input-3"
            >
              <b-form-input
                id="location"
                v-model="location"
                autocomplete="off"
              ></b-form-input>
            </b-form-group>

            <b-form-group
              label="Details"
              style="text-align: left; font-size: 13px"
              id="input-group-3"
              label-for="input-3"
            >
              <b-form-input
                style="font-size: 13px"
                id="details"
                v-model="location_detail"
                autocomplete="off"
              ></b-form-input>
            </b-form-group>

            <b-form-group
              style="text-align:left; font-size: 13px"
              id="input-group-3"
              label="Status"
            >
              <b-form-input
                style="font-size: 13px"
                id="status"
                v-model="status"
                placeholder="Active"
                autocomplete="off"
                disabled
              ></b-form-input>
            </b-form-group>

            <b-button
              variant="success"
              class="greenBtn"
              size="sm"
              id="save"
              type="submit"
              >Save</b-button
            >
          </b-form>
        </div>
      </div>
    </b-modal>

    <!-- modal edit location -->
    <b-modal
      id="editLocation"
      hide-footer
      header-bg-variant="success"
      header-text-variant="light"
      no-close-on-backdrop
      @close="closeAddLocation"
    >
      <template v-slot:modal-title>Edit Location</template>
      <div class="d-block text-center">
        <div>
          <b-form id="locationUpdate" @submit="locationUpdate">
            <b-form-group
              label="Location"
              style="text-align: left; font-size: 13px"
              id="input-group-3"
              label-for="input-3"
            >
              <b-form-input
                id="location"
                v-model="location"
                placeholder="Location"
                autocomplete="off"
                style="font-size: 13px"
              ></b-form-input>
            </b-form-group>

            <b-form-group
              label="Location detail"
              style="text-align: left; font-size: 13px"
              id="input-group-3"
              label-for="input-3"
            >
              <b-form-input
                id="details"
                v-model="location_detail"
                placeholder="Details"
                autocomplete="off"
                style="font-size: 13px"
              ></b-form-input>
            </b-form-group>

            <b-form-group
              id="input-group-3"
              label="Status"
              style="text-align: left; font-size: 13px"
            >
              <b-form-select
                id="status"
                v-model="status"
                :options="statusSelect"
                style="font-size: 13px"
              ></b-form-select>
            </b-form-group>

            <b-button
              variant="success"
              class="greenBtn"
              size="sm"
              id="save"
              type="submit"
              >Save</b-button
            >
          </b-form>
        </div>
      </div>
    </b-modal>

    <!-- alerts -->
    <b-alert
      :show="showError"
      dismissible
      fade
      class="err"
      @dismiss-count-down="countDownChanged"
      >{{ errorMsg }}</b-alert
    >
    <b-alert
      :show="showSuccess"
      dismissible
      fade
      class="success"
      @dismiss-count-down="countDownChangedSuccess"
      >{{ successMsg }}</b-alert
    >
  </div>
</template>

<script>
import axios from "axios";
import moment from "moment";
import Loading from "~/components/LoadingOverlay/Loadings.vue";
import VueBootstrapTypeahead from "vue-bootstrap-typeahead";

export default {
  components: {
    Loading,
    VueBootstrapTypeahead
  },
  computed: {
    bottomLabel() {
      let end = this.perPage * this.currentPage;
      let start = end - this.perPage + 1;

      if (end > this.items.length) {
        end = this.items.length;
      }

      if (this.items.length === 0) {
        start = 0;
      }

      return `Showing ${start} to ${end} of ${this.items.length} entries`;
    }
  },
  data() {
    return {
      showLoading: false,
      isbusy: true,
      items: [],
      fields: [
        { key: "locations", label: "Locations", sortable: true },
        { key: "det_locations", label: "Details", sortable: true },
        { key: "date_created", label: "Date Created", sortable: true, class:"text-center" },
        // { key: "created_by", label: "Created By", sortable: true },
        // { key: "modified_by", label: "Modified By", sortable: true },
        {
          key: "status",
          label: "Status",
          class: "text-center",
          sortable: true
        },
        { key: "actions", label: "Actions", class: "text-center" }
      ],
      statusSelect: ["Active", "Inactive"],
      filter: null,
      currentPage: 1,
      filterOn: [],
      perPage: 8,
      sortBy: "",
      sortDesc: false,
      sortDirection: "asc",
      totalRows: 1,
      currentPage: 1,
      location: null,
      location_detail: null,
      status: "Active",
      showError: 0,
      showSuccess: 0,
      dismissSecs: 3,
      errorMsg: null,
      successMsg: null,
      updateId: null // id to update
    };
  },
  async created() {
    await this.getLocations();
    this.totalRows = this.items.length;
  },
  methods: {
    showAlert() {
      this.dismissCountDown = this.dismissSecs;
    },
    showErrorAlert() {
      this.showError = this.dismissSecs;
    },
    showSuccessAlert() {
      this.showSuccess = this.dismissSecs;
    },
    countDownChangedSuccess(showSuccess) {
      this.showSuccess = showSuccess;
    },
    countDownChanged(showError) {
      this.showError = showError;
    },
    closeAddLocation() {
      this.location = null;
      this.location_detail = null;
    },
    async locationAdd(evt) {
      try {
        evt.preventDefault();
        this.showLoading = true;
        this.isbusy = true;
        const res = await axios({
          method: "POST",
          url: `${this.$axios.defaults.baseURL}/truck-scale/locations/add`,
          headers: {
            authorization: `B1SESSION=${localStorage.session}`
          },
          data: {
            mode: localStorage.mode,
            location: this.location,
            detail: this.location_detail,
            status: this.status,
            userId: localStorage.id
          }
        });
        this.showLoading = false;
        this.isbusy = false;
        if (res.data.posted.status == 201) {
          // success
          this.$bvModal.hide("bv-modal-example");
          this.successMsg = "Added location successfully";
          await this.showSuccessAlert();

          await this.getLocations();
          this.location = null;
        } else {
          // error
          this.errorMsg = "Error on adding location, please try again.";
          await this.showAlert();
          // await this.showErrorAlert();
        }
      } catch (e) {
        this.showLoading = false;
        this.isbusy = false;

        console.log("Error on adding new location: ", e);
        if (e.response.data) {
          this.errorMsg = e.response.data.error;
          await this.showErrorAlert();
        }
      }
    },
    async locationUpdate(evt) {
      try {
        evt.preventDefault();
        this.showLoading = true;
        this.isbusy = true;
        const res = await axios({
          method: "PUT",
          url: `${this.$axios.defaults.baseURL}/truck-scale/locations/update`,
          headers: {
            authorization: `B1SESSION=${localStorage.session}`
          },
          data: {
            mode: localStorage.mode,
            location: this.location,
            detail: this.location_detail,
            status: this.status,
            userId: localStorage.id,
            id: this.updateId
          }
        });
        this.showLoading = false;
        this.isbusy = false;
        if (res.data.posted.status == 204) {
          // success
          this.$bvModal.hide("editLocation");
          this.successMsg = "Location updated successfully";
          await this.showSuccessAlert();
          await this.showAlert();

          await this.getLocations();
          this.location = null;
        } else {
          // error
          this.errorMsg = "Error on updating location, please try again.";
          await this.showErrorAlert();
        }
      } catch (e) {
        this.showLoading = false;
        this.isbusy = false;
        console.log("Error on update location: ", e);

        if (e.response.data) {
          this.errorMsg = e.response.data.error;
          await this.showErrorAlert();
        }
      }
    },
    editLocation(row) {
      this.$refs.selectableTable.selectRow(row.index)
      this.location = row.item.locations;
      this.location_detail = row.item.det_locations;
      this.status = row.item.status;
      this.updateId = row.item.id;
      this.$bvModal.show("editLocation");
    },
    onFiltered(filteredItems) {
      this.totalRows = filteredItems.length;
      this.currentPage = 1;
    },
    formatDate(created_at) {
      return moment(created_at).format("MMM DD, YYYY hh:mm A ");
    },
    intToTime(i) {
      if (i) {
        const str = i.toString();
        const len = str.length;

        let time = null;

        if (len == 4) {
          const hour = str.substring(0, 2);
          const min = str.substring(2, 4);
          time = `${hour}:${min}`;
          return time;
        } else if (len == 3) {
          const hour = str.substring(0, 1);
          const min = str.substring(1, 3);
          time = `0${hour}:${min}`;
          return time;
        } else {
          return `00:00`;
        }
      } else {
        return `00:00`;
      }
    },
    convertCase(str) {
      if (str) {
        const splitStr = str.toLowerCase().split(" ");
        for (let i = 0; i < splitStr.length; i++) {
          splitStr[i] =
            splitStr[i].charAt(0).toUpperCase() + splitStr[i].substring(1);
        }
        return splitStr.join(" ");
      } else {
        return str;
      }
    },
    async getLocations() {
      try {
        if (localStorage.mode == 1) {
          //  online
          this.items = [];
          // this.showLoading = true;
          this.isbusy = true;
          const res = await axios({
            method: "POST",
            url: `${this.$axios.defaults.baseURL}/truck-scale/locations/select`,
            headers: {
              authorization: `B1SESSION=${localStorage.session}`
            },
            data: {
              mode: localStorage.mode,
              isDisplay: true
            }
          });

          const data = res.data.view;
          for (let i = 0; i < data.length; i++) {
            const e = data[i];
            this.items.push({
              id: e.Code,
              date_created: this.formatDate(
                `${moment(e.U_TS_CREATEDATE).format(
                  "MM-DD-YY"
                )} ${this.intToTime(e.U_TS_CREATETIME)}`
              ),
              locations: this.convertCase(e.U_LOCATIONS),
              det_locations: this.convertCase(e.U_DETAILED_LOCATION),
              created_by: this.convertCase(e.CREATED_BY),
              status: this.convertCase(e.U_TS_STATUS),
              modified_by: this.convertCase(e.MODIFIED_BY)
            });
          }

          this.totalRows = this.items.length;
          this.showLoading = false;
          this.isbusy = false;
        } else {
          //  offline
        }
      } catch (e) {
        this.showLoading = false;
        this.isbusy = false;

        console.log("Error fetch locations: ", e);
      }
    }
  }
};
</script>

<style scoped>
.button1 {
  background-color: #00803e;
  color: white;
  border: none;
}
.err {
  background-color: #f12d2d;
  z-index: 9999999999;
  color: white;
}
.success {
  background-color: #00803e;
  z-index: 9999999999;
  color: white;
}
.color1 {
  color: #00803e;
}
.icon {
  margin-left: 0%;
  margin-right: 1%;
}
.fixed {
  position: fixed;
  bottom: 0%;
  right: 2%;
}
.page-item.active .page-link {
  background-color: #00a651 !important;
  border-color: #00a651 !important;
  transition: background-color 0.3s;
}
.page-item .page-link {
  color: black;
}
#inputSearch {
  height: 31px;
}
</style>
