<template>
  <RequestTable />
</template>

<script>
import RequestTable from "~/components/Request/RequestTable.vue";
export default {
  layout: "sidebar",
  components: {
    RequestTable
  },
  middleware: "pageValidator",
  meta: {
    access: { right: "view requests" }
  },
  head() {
    return {
      title: this.notif+" Requests - TSIS",
      meta: [
        {
          hid: "description",
          name: "description",
          content: "Truck Scale Integrated System"
        }
      ]
    };
  },
  data(){
    return{
      fetch: ''
    }
  },
  async created(){
    await this.getNotif()
  },
  methods: {
    getNotif(){
      const notif = localStorage.getItem("notiCounter")
      if(notif == 0 || notif == null){
        this.notif = ""
      }else{
        this.notif = "("+notif+")"
      }
      // setTimeout(this.getNotif, 1000)
    },
  } 
};
</script>

<style scoped>
html {
  background-color: #eee;
}
.color1 {
  color: #00803e;
}
.icon {
  margin-left: 5px;
  margin-right: 10px;
}
.button1 {
  background-color: #00803e;
  color: white;
}
.button2 {
  background-color: #ff6600;
  color: white;
}
.align {
  float: right;
}
</style>
