<template>
  <Truckscale />
</template>

<script>
import Truckscale from "~/components/Transaction/Truckscale.vue";

export default {
  layout: "sidebar",
  components: {
    Truckscale
  },
  middleware: "pageValidator",
  meta: {
    access: { right: "view transactions" }
  },
  head() {
    return {
      title: this.notif + " Transactions - TSIS",
      meta: [
        {
          hid: "description",
          name: "description",
          content: "Truck Scale Integrated System"
        }
      ]
    };
  },
  async created(){
    await this.getNotif()
  },
  methods: {
    getNotif(){
      const notif = localStorage.getItem("notiCounter")
      if(notif == 0 || notif == null){
        this.notif = ""
      }else{
        this.notif = "("+notif+")"
      }
    }
  }
};
</script>

<style scoped>
html {
  background-color: #eee;
}

.color1 {
  color: #00803e;
}
.icon {
  margin-left: 5px;
  margin-right: 10px;
}
.button1 {
  background-color: #00803e;
  color: white;
}
.button2 {
  background-color: #ff6600;
  color: white;
}
</style>
