<template>
  <div class="body">
    <main>
      <FirstTimeLogin />
    </main>
  </div>
</template>

<script>
import FirstTimeLogin from "@/components/Login/FirstTimeLogin";
export default {
  name: "LoginUI",
  layout: "loginLayout",
  components: {
    FirstTimeLogin
  },
  head() {
    return {
      title: "First Login - TSIS",
      meta: [
        {
          hid: "description",
          name: "description",
          content: "Truck Scale Integrated System"
        }
      ]
    };
  }
};
</script>

<style></style>
